<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="author" content="keweisoft.com" />
		<meta name="keywords" content="{$SEO[keyword]}" />
		<meta name="description" content="{$SEO[description]}" />
		<link type="text/css" rel="stylesheet" href="{CSS_PATH}official/common.css">
		<link type="text/css" rel="stylesheet" href="{CSS_PATH}official/product.css">
		<link type="text/css" rel="stylesheet" href="{CSS_PATH}official/hover.css">
		<link type="text/css" rel="stylesheet" href="{CSS_PATH}official/bootstrap.min.css">
		<script type="text/javascript" src="{JS_PATH}official/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}official/index.js"></script>
		<script type="text/javascript" src="{JS_PATH}official/scrollE.js"></script>
		<script type="text/javascript" src="{JS_PATH}official/nav.js"></script>
	<!--百度统计-->
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?862c8265e86587e91bada5e06c1e576c";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>		
	</head>
	<body>
	{template "content","header"}
		<div class="edus-banner">
			<div class="edus-banner1"></div>
			<div class="edus-banner2">
				<div class="eb-center">
					<a href="http://kf2.immivip.com/new/client.php?unique_id=&unique_name=&arg=admin&style=7" target="_blank"><div class="edus-banner-btn">点击在线咨询</div></a>
				</div>
			</div>
		</div>
		<div class="pro-sub-nav m-content">
			<div class="psn-item">
				<a href="#eb1" class="psn-link1">概述</a>
			</div>
			<div class="psn-item">
				<a href="#eb2" class="psn-link2">核心功能</a>
			</div>
			<div class="psn-item">
				<a href="#eb3" class="psn-link3">行业方案</a>
			</div>
			<div class="psn-item">
				<a href="#eb4" class="psn-link4">应用价值</a>
			</div>
			<div class="psn-item">
				<a href="#eb5" class="psn-link5">客户案例</a>
			</div>
		</div>
		<div class="h-nav-outer" style="display:none;">
			<div class="h-nav">
				<div class="psn-item hn">
					<a class="psn-link1">概述</a>
				</div>
				<div class="psn-item hn">
					<a class="psn-link2">核心功能</a>
				</div>
				<div class="psn-item hn">
					<a class="psn-link3">行业方案</a>
				</div>
				<div class="psn-item hn">
					<a class="psn-link4">应用价值</a>
				</div>
				<div class="psn-item hn">
					<a class="psn-link5">客户案例</a>
				</div>
			</div>	
		</div>			
		<div class="edus-b1 m-content" id="eb1">
			<div class="edus-b1-right"></div>
			<div class="edus-b1-left">
				<p class="ebl-con">可为edus是针对教育培训行业研发的一体化的信息化教务管理系统，结合传统教务管理系统、CRM和ERP的优势，秉承国际最先进教育培训行业管理理念，打造全新（数字化）培训学校管理系统，帮助培训机构快速实现市场、销售、客户服务、教学、教务、财务一体化，多校区多部门的多中心管理等业务全面的信息化与一体化，紧紧围绕着“学员”为核心，旨在帮助企业科学管理迅速提升服务体系，更好地为提高学员成绩服务，用一套科学的管理方法链接学员、家长、老师、机构，为教育培训机构实现全流程、可管理、可监控、可运营、可追溯的高质量信息化管理体系。</p>
				<a href="http://kf2.immivip.com/new/client.php?unique_id=&unique_name=&arg=admin&style=7" target="_blank"><div class="eb1-btn">申请产品演示</div></a>
				<a href="http://edus.keweisoft.com" target="_blank"><div class="eb1-btn" style="margin-left:70px;">查看产品详情</div></a>
			</div>
		</div>
		<a href="http://kf2.immivip.com/new/client.php?unique_id=&unique_name=&arg=admin&style=7" target="_blank"><div class="edus-ads1"></div></a>
		<div class="edus-b2 m-content" id="eb2">
			<div class="edus-b2-tit"></div>
			<ul class="tab-list">
				<li class="item1"></li>
				<li class="item2 cur"></li>
				<li class="item3"></li>
				<li class="item4"></li>
				<li class="item5"></li>
				<li class="item6"></li>
				<li class="item7"></li>
				<li class="item8"></li>
				<li class="item9"></li>
				<li class="item10"></li>
			</ul>
			<div class="tab-con">
				<div class="item1 each"  style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">多校区集团化管理</div>
						<div class="word">在集团化运营管理中，可为edus集团化管控模块主要围绕财、人、权来进行多校区的管控，总部可以轻松掌握各校区的经营状况，辅助各学校精细化管理、高效能作业，畅享云端智能教务平台，达到财务、业务一体化的集团管控。</div>
						<p class="link"><a href="http://edus.keweisoft.com/multi-campus/" target="_blank">查看详情>></a></p>
					</div>
				</div>
				<div class="item2 each">
					<div class="left">
						<div class="tit" style="margin-top:85px;">市场营销管理</div>
						<div class="word">可为EDUS精细化的销售过程管理，让线索学员到正式学员的转化尽在其中，咨询老师无需多花费时间手动整理销售数据，也不需要陷入重复操作漩涡，可为EDUS教务系统为您提供多维度过程管理信息。</div>
						<p class="link"><a href="http://edus.keweisoft.com/marketing/" target="_blank">查看详情>></a></p>
					</div>					
				</div>
				<div class="item3 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">教务管理</div>
						<div class="word">清晰透明的教务管理机制平台，让教务人员轻松排课，省事、省时、省力。能够合理有序的安排教师、教室、学员资源，统筹时间和计划，实现教学资源利用效率最大化，同时提供多维度统计报表查看和分析，更好的辅助培训机构的教务管理需求。</div>
						<p class="link"><a href="http://edus.keweisoft.com/education/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item4 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">财务管理</div>
						<div class="word">教务系统及时、准确、高效、多方位数据管理，帮助降低运营风险。财务操作灵活，面对情况较多，处理复杂，一直是培训机构管理的重要课题。可为edus教务系统拥有强大的财务管理能力，培训机构日常运作过程中的所有财务处理情况，在可为edus教务中都能找到解决方案。</div>
						<p class="link"><a href="http://edus.keweisoft.com/financial/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item5 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">学员管理</div>
						<div class="word">可为edus为教师和学员提供交流互动平台，服务体系全面升级EDUS学员管理系统提供学员基本信息、学员成绩、学员考勤、学员课程、教程回访等信息的查看，还可对课程进行预约、评价的操作；系统中学习计划模块实现学员与教师的互动。</div>
						<p class="link"><a href="http://edus.keweisoft.com/student/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item6 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">一对一</div>
						<div class="word">高效的一对一管理让企业和客户双赢，一对一管理是对教育机构整体的业务流程进行的搭建，环环相扣，教师、教务、校长的监控保障每位学员都可以被全程跟踪管控。</div>
						<p class="link"><a href="http://edus.keweisoft.com/one-on-one/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item7 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">一对多</div>
						<div class="word">一对多班课精细化管理，让机构应收利益最大化！<br>一对多班课管理解决开班、分班、班级排课、教学日志、回访学生家长等，让管理形成体系化。</div>
						<p class="link"><a href="http://edus.keweisoft.com/class/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item8 each"  style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">考勤管理</div>
						<div class="word">记录学员、老师每天、每周、每月的考勤打卡信息，能够通过系统直观的了解每个人当月考勤日志，家长随时了解学生的上课信息。科学、严谨的考勤—让学员的上课进程和老师的教学统计都尽在掌控之中，让机构无死角考勤管理不是梦。</div>
						<p class="link"><a href="http://edus.keweisoft.com/attendance/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
				<div class="item9 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">决策分析</div>
						<div class="word">不同管理岗位、角色都会有自己相应的管理报表，便于管理日常的业务和未来的业务分析指导，为企业决策提供充足的可视化的报表。通过总结分析不断的改进工作方式，提升工作效率增加机构的效益。</div>
						<p class="link"><a href="http://edus.keweisoft.com/analysis/" target="_blank">查看详情>></a></p>
					</div>					
				</div>
				<div class="item10 each" style="display:none">
					<div class="left">
						<div class="tit" style="margin-top:85px;">集成拓展</div>
						<div class="word">消除企业信息化中信息孤岛弊端，提高工作效率，可为EDUS教务管理系统不仅拥有完善的功能，从技术层面上来讲也是最先进，采用Brower-Server架构，系统设置多层结构，从软件架构上确保了系统的扩展性和适用性。</div>
						<p class="link"><a href="http://edus.keweisoft.com/Integrate/" target="_blank">查看详情>></a></p>
					</div>						
				</div>
			</div>
			<div class="edus-b2-tit2"></div>
			<div class="edus-b2-con2">
				<div class="item1">
					<div class="left">
						<p class="tit" style="margin-top:60px;">市场活动，线索一网打尽</p>
							<p class="con">各类市场活动的大小线索无法统一？无法对线索进行细化管理？<br>edus移动app版针对不同的线索来源可做细化、分级管理，市场人员不再为线下活动线索收集难而发愁，使用移动app，轻松实现线索归集、细化、统一管理。</p>	
					</div>
				</div>
				<div class="item2">
					<div class="right">
						<p class="tit" style="margin-top:60px;">外出办公，移动APP高效随行</p>
							<p class="con">edus移动app针对培训机构外出销售人员，提供了高效、便捷的管理方案。使用移动app轻松完成工作任务汇报、商机录入、线索跟进状态变更等。实时数据、动态分析，真正实现培训机构移动办公创新管理。</p>	
					</div>
				</div>	
				<div class="item3">
					<div class="left">
						<p class="tit" style="margin-top:72px;">事项提醒，重要工作不遗漏</p>
							<p class="con">edus移动app事项提醒功能，针对个人工作计划安排按任务星级的不同，做不同的消息提醒。有效的帮助培训机构工作人员提升工作效率，合理安排工作计划。</p>	
					</div>
				</div>
				<div class="item4">
					<div class="right">
						<p class="tit" style="margin-top:60px;">扫码考勤，学员签到有高招</p>
							<p class="con">移动app扫码考勤功能，为机构学员考勤签到提供了便捷的解决方案，学员上课之前扫描二维码后，确认已签到，系统会自动识别是否本人扫码后进行签到。节省机器考勤的成本的同时提高考勤管理效率，为培训机构移动办公革新思路。</p>	
					</div>
				</div>												
			</div>
			<div class="edus-line"></div>
			<div class="edus-app-func">
				<p class="tit">他们在使用edus移动app做什么？</p>
				<div class="con">
					<div class="item1">
						查看客户详情，定位客户位置，客户情况了然于胸
					</div>
					<div class="item2">
						随时添加客户记录，离线也能编辑
					</div>
					<div class="item3">
						打电话、发邮件，随时随地
					</div>
					<div class="item4">
						轻松管理每天的日程，有了它不会忘记任何一个约见或会议
					</div>
				</div>
			</div>
		</div>
		<div class="edus-b2-sec2">
			<div class="m-content">
				<div class="tit"></div>
				<div class="con">
					<div class="left">
						<p class="word">edus家校通软件是可为时代专为培训机构实现家校互通而设计，提供包括动态通知、教学评价、预约选课、学员请假、作业成绩、信息查询、资源共享等在内的相关功能模块。帮助培训机构与家长（学员）建立多元化的沟通渠道，提升彼此的信任与忠诚。是培训机构不可多得的管理改善工具。</p>
						<p class="link"><a href="http://edus.keweisoft.com/app/" target="_blank">咨询详情>></a></p>
					</div>
				</div>
				<div class="app-b2-subcon">
					<div class="app-b2-sub-left">
						<div class="app-b2-each" style="margin-top:7px;">
							学员考勤信息推送
						</div>
						<div class="app-b2-each">
							学员成绩推送
						</div>
						<div class="app-b2-each">
							课程进度推送
						</div>
						<div class="app-b2-each">
							作业情况推送
						</div>
						<div class="app-b2-each">
							校园动态通知
						</div>
						<div class="app-b2-each">
							学习资源分享
						</div>
						<div class="app-b2-each" style="border:none;">
							定期回访沟通
						</div>																							
					</div>
					<div class="app-b2-sub-right">
						<div class="app-b2-each" style="margin-top:7px;">
							查看学员考勤信息
						</div>
						<div class="app-b2-each">
							学员成绩查看
						</div>
						<div class="app-b2-each">
							作业答疑查看
						</div>
						<div class="app-b2-each">
							教师/课程评价
						</div>
						<div class="app-b2-each">
							续费消息提醒
						</div>
						<div class="app-b2-each">
							校园动态悉知
						</div>
						<div class="app-b2-each" style="border:none;">
							完成与教师沟通
						</div>					
					</div>
				</div>				
			</div>	
		</div>
		<div class="edus-b2-sec3">
			<div class="m-content">
				<div class="tit"></div>
				<div class="con">
					<div class="left">
						<p class="word">可为专为教育培训机构设计的在线选课报班系统，学员可综合考虑课程分类、适合人群、上课地点、上课时间、课程价格等多种因素，选报最合适的班级（课程）。系统全面实现与教务系统的无缝对接，轻松导入线上学员信息，同时也支持线上产品一键转化教务产品。帮助机构全面打通前后端的业务链，提升机构整体运作效率。</p>
						<p class="link"><a href="http://edus.keweisoft.com/souke/" target="_blank">咨询详情>></a></p>
					</div>
				</div>
				<div class="sub">
					<div class="item1">
						<div class="tit">在线产品管理</div>
						<p class="con">支持多样化的线上产品类型设置，同时支持产品自定义搜索标签的设置，学员可根据标签组合筛选出最适合自己的课程或班级。支持教务产品与在线产品的一键转化功能，避免多次录入的麻烦。</p>
					</div>
					<div class="item2">
						<div class="tit">在线选课报班</div>
						<p class="con">edus搜课报班系统为学员提供了简单快速的报名流程，学员可以在线选择适合自己的课程进行选班报名，选定后可在订单页面查看购买课程价格，若有套餐产品则会有相应的优惠价格显示。</p>
					</div>
					<div class="item3">
						<div class="tit">教师管理中心</div>
						<p class="con">edus搜课报班系统集成教师中心管理，可在线查看机构授课教师的基础信息及所擅长课程。学员可在线浏览选择教师下的课程，并进行报班操作。同时可在后台设置名师推荐，提高相关课程的报班率。</p>
					</div>
					<div class="item4">
						<div class="tit">校区地图</div>
						<p class="con">可为搜课报班系统为学员提供校区地图的查看和检索功能，可在线查看所选范围内的有哪些校区，点击地图上的校区标记可以查看具体校区的概况，学员可查看该校区下的所有课程，或进行选班报名。</p>
					</div>
					<div class="item5">
						<div class="tit">选课助手</div>
						<p class="con">edus搜课报班系统机构学员提供了课程选择助手的功能，针对在线学员的课程选择意向、基于问题库分析结果给出适合课程（课程组合）推荐。可在后台更新问题库内容以及匹配规则，优化推荐结果。</p>
					</div>
					<div class="item6">
						<div class="tit">机构、板块设置</div>
						<p class="con">系统支持多机构站点，为不同的机构校区设置不同的展示产品和页面风格。系统后台提供了灵活多变的板块设置功能，用户可自定义设置板块内容或跳转链接，快速、高效的搭建专属机构自己的搜课报班系统。</p>
					</div>
				</div>
			</div>	
		</div>
		<a href=""><div class="edus-ads2"></div></a>
		<div class="edus-b3 m-content" id="eb3">
			<div class="edus-b3-tit"></div>
			<div class="edus-b3-con">
				<div class="edus-b3-item1">
					<p class="eb3i-tit"><a href="http://edus.keweisoft.com/solu-primary/" target="_blank">中小学培训解决方案</a></p>
					<p class="eb3i-con">从教育培训机构市场，销售，报名，咨询，选课，分配，排班，排课，考勤，学员评价，报表统计，刷卡，短信等方面进行整体的管控......</p>
					<a href="http://edus.keweisoft.com/solu-primary/" target="_blank" class="eb3i-link">查看详情>></a>
				</div>
				<div class="edus-b3-item2">
					<p class="eb3i-tit"><a href="http://edus.keweisoft.com/solu-children/" target="_blank">少儿培训解决方案</a></p>
					<p class="eb3i-con">有课程整体规划，让管理轻松掌控。教师对课程不再有迷茫，学员的课程一目了然，让教室资源得到充分利用。有效解决了教师的课量评估，学员进......</p>
					<a href="http://edus.keweisoft.com/solu-children/" target="_blank" class="eb3i-link">查看详情>></a>
				</div>
				<div class="edus-b3-item3">
					<p class="eb3i-tit"><a href="http://edus.keweisoft.com/solu-foreign/" target="_blank">外语辅导解决方案</a></p>
					<p class="eb3i-con">随着著名品牌英语培训机构的不断进入，众多的培训机构面临着巨大挑战，如何提升教学品质、加强师资力量、进行服务创新已成为培训机构谋求长远......</p>
					<a href="http://edus.keweisoft.com/solu-foreign/" target="_blank" class="eb3i-link">查看详情>></a>
				</div>
				<div class="edus-b3-item4">
					<p class="eb3i-tit"><a href="http://edus.keweisoft.com/solu-qualification/" target="_blank">职业资格培训解决方案</a></p>
					<p class="eb3i-con">培训机构需要对学员和教师档案清晰的管理，方便查询，要求教师和学生能够方便上线查询到自己的课表以及对应的教室和上课时间......</p>
					<a href="http://edus.keweisoft.com/solu-qualification/" target="_blank" class="eb3i-link">查看详情>></a>
				</div>	
				<div class="edus-b3-item5">
					<p class="eb3i-tit"><a href="http://edus.keweisoft.com/solu-art/" target="_blank">艺术培训解决方案</a></p>
					<p class="eb3i-con">通过多样化的市场营销活动，收集更多的有效线索，对线索进行分类管理，分配到相应的咨询顾问手里，进行及时跟进......</p>
					<a href="http://edus.keweisoft.com/solu-art/" target="_blank" class="eb3i-link">查看详情>></a>
				</div>										
			</div>
		</div>
		<div class="edus-b4-tit m-content" id="eb4"></div>
		<div class="edus-b4">
			<div class="m-content edus-b4-con">
				<div class="eb4c-top">
					<div class="eb4c-top-item eli">
						<div class="eti1 float-shadow"></div>
						<p class="eti-tit">教务人员</p>
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti2 float-shadow"></div>
						<p class="eti-tit">学生</p>						
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti3 float-shadow"></div>
						<p class="eti-tit">财务人员</p>						
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti4 float-shadow"></div>
						<p class="eti-tit">老师</p>						
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti5 float-shadow"></div>
						<p class="eti-tit">销售人员</p>						
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti6 float-shadow"></div>
						<p class="eti-tit">数据分析</p>						
					</div>
					<div class="eb4c-top-item eli" style="margin-left:59px;">
						<div class="eti7 float-shadow"></div>
						<p class="eti-tit">市场人员</p>						
					</div>			
				</div>
				<div class="eb4c-bottom">
					<div class="eb4c-bottom-item1 eri">
						<p class="eri-item1">帮助教务人员整理项目-阶段-任务-活动，从项目整体状况到每人每天的工作，都很清晰。</p>
						<p class="eri-item2">记录客户反馈，及时采取措施，防止客户累积不满。</p>
						<p class="eri-item3" style="height:36px;">记录工作量、工作成果、客户反馈，量化考核教师员工，提高员工积极性。</p>
						<p class="eri-item4">帮助解决排课，排课是最头疼的，要考虑授课老师、学员某一时段是否正常上课。还经常发生变动,在Excel表格中改动后又没有产生记录，后续计算课酬也比较麻烦。</p>
						<p class="eri-item5">解决了学员咨询、学员报读方案、学员报名缴费、欠费学员、学员上课、学员续费情况、学员补课情况，这些信息都存放在不同的Excel表中，很难将一个学员的所有情况关联起来分析。</p>
						<p class="eri-item6">清楚了解任意时段机构内教师空闲的时间段情况。</p>
						<p class="eri-item7">全面了解教师的日、周、月季度工作量（预约）的情况、近期课程安排、统计已往上课记录的问题。</p>
						<p class="eri-item8">全面了解教师的日、周、月季度工作量（预约）的情况、近期课程安排、统计已往上课记录的问题。</p>
					</div>	
					<div class="eb4c-bottom-item2 eri" style="display:none;">
						<p class="eri-item1" style="margin-top:47px;">学员通过本系统可查看个人基本信息、考勤信息、课程表信息、学习信息、成绩信息等。</p>
						<p class="eri-item2">本系统为教师和学员提供交流平台，教师可以为学员制定学习计划，学员根据完成情况填写计划执行进度。</p>
						<p class="eri-item3">机构领导可根据学员评价了解教师授课能力，以提高教学服务质量。</p>
						<p class="eri-item4">家长可随时查看孩子考勤情况，以掌握孩子的学习动态。</p>
						<p class="eri-item5">一对一学员可根据个人时间在线预约课程。</p>
						<p class="eri-item6">学员和家长可及时查看学员考试成绩，以了解学习科目强弱程度。</p>
						<div class="eri-s-bottom">
							<div class="eri-s-item1"></div>
							<div class="eri-s-item2"></div>
							<div class="eri-s-item3"></div>
							<div class="eri-s-item4"></div>
							<div class="eri-s-item5"></div>
							<div class="eri-s-item6"></div>
						</div>
					</div>			
					<div class="eb4c-bottom-item3 eri" style="display:none;">
						<p class="eri-item1" style="margin-top:47px;">帮助及时发现问题，管控财务风险。</p>
						<p class="eri-item2">精确统计采购金额和历史费用情况，做好付款计划，保持盈亏平衡。</p>
						<p class="eri-item3"> 了解业务管理过程，统计各部门收支状况，提出财务战略建议。</p>
						<p class="eri-item4">统计订单的历史销售规律，根据同比环比作出宏观预测。</p>
						<div class="eri-f-bottom"></div>
					</div>	
					<div class="eb4c-bottom-item4 eri" style="display:none;">
						<p class="eri-item1" style="margin-top:48px;">系统帮助教师快速反馈，解决问题，提高服务满意度。</p>
						<p class="eri-item2"> 提高了教师的教学效率，全方面了解学员对教师授课满意度的情况。</p>
						<p class="eri-item3">清晰的了解每位学员此次上课后距离下次上课的时间，自己学员的总课时数、已上课时数、剩余课时数，参加考试时间。</p>
						<div class="eri-t-bottom"></div>					
					</div>
					<div class="eb4c-bottom-item5 eri" style="display:none;">
						<p class="eri-item1" style="margin-top:48px;">帮助销售总监实时了解销售团队的业务情况，实时保持市场理念和管理办法的高度一致，制定合理的业务流程，完美运营企业品牌。</p>
						<p class="eri-item2">帮助销售经理通过确定销售配额、目标来协调销售工作，并实时判断和监控销售人员跟进项目的过程，为销售代表制定培训项目。分析销售数据，提升销售潜力并360度监控客户的意向。</p>
						<p class="eri-item3">帮助销售专员轻松管理客户信息，提高工作效率；360度维护客户,销售过程的管控能够清晰的了解客户的跟进情况，提升客户服务满意度。</p>	
						<p class="eri-item4">软件自动生成周计划、月计划、周报告、月报告，不用特意写报告。</p>	
						<p class="eri-item5">建立规范的客户跟进流程及评估体系，降低客户流失，提高客户成交率！</p>	
						<p class="eri-item6">通过主动服务体系的建立，改善客户满意度，为你带来重复销售及转介绍客户！</p>
					</div>																					
					<div class="eb4c-bottom-item6 eri" style="display:none;">
						<p class="eri-item1">帮助校长实时了解销售团队运作状况，关注重大商机和重要交易，做出准确决策，合理制定公司运营策略，提高营业收入和市场份额，降低营销成本和经营风险，能有效提升新客户获取量和控制客户流失，全面提升企业的经营管理。</p>
						<p class="eri-item2">帮助合理分配投入，取得更高回报。</p>
						<p class="eri-item3">帮助掌控全局，实时数据，科学决策。</p>
						<p class="eri-item4">自定义报表，随时统计实时数据（销售额、回款额、费用、员工业绩等）管理驾驶舱，一个界面查看多维度。</p>
						<p class="eri-item5">帮助智能分析，多单据多维度多指标穿透式数据钻取分析。</p>
						<p class="eri-item6">可以从一个界面看到公司任何人任何时间任何地点和客户任何人做的任何事情。</p>
						<p class="eri-item7">精确的分析每次市场活动的投资回报率，确定投资的价值，为企业市场资源投入明确方向。</p>
					</div>	
					<div class="eb4c-bottom-item7 eri" style="display:none;">
						<p class="eri-item1" style="margin-top:48px;">帮助市场总监把握、寻找市场机会，制定市场营销战略和实施计划，完成企业的营销目标；协调企业内外部关系，对企业市场营销战略计划的执行进行监督和控制；对企业市场行为进行监督，对市场需求做出快速反应，使市场营销效率最大化。</p>
						<p class="eri-item2">帮助市场专员提高事务性工作的处理效率和整个市场活动的计划性。提高个人的营销投入产出比。</p>
						<p class="eri-item3">全面支持短信营销、邮件营销、会议营销等。</p>	
						<p class="eri-item4">帮助市场经理用最有效的市场手段、获取更多有效商机，提升营销能力，网罗天下商机；确定公司产品和服务的需求、竞争者和潜在客户，制定价格策略，确保公司利润最大化和客户满意度最大化。</p>	
						<p class="eri-item5"> 从申请、计划到活动推行、执行实时提醒和监控，市场活动全流程管理。</p>	
						<p class="eri-item6">活动中得到的线索统一录入系统，分配给销售人员跟进，收获更多商机。</p>	
					</div>										
				</div>
			</div>
		</div>
		<div class="edus-b5 m-content" id="eb5">
			<div class="edus-b5-tit"></div>
			<div class="edus-b5-con">
				<div class="ebc-top">
					<div class="ebc-top-left">
						<img src="{IMG_PATH}official/edus-b5-pic1.png" width="434" height="249" alt="" title="" />
					</div>
					<div class="ebc-top-right">
						<p class="etr-tit"><a href="http://edus.keweisoft.com/case/show_9_1.html" target="_blank">北京新航道教育信息化管理之路</a></p>
						<p class="etr-con">新航道国际教育集团(New Channel International Education Group Limited)是由中国英语培训界著名领军人物、英语教育专家胡敏教授率领一批国内外语言培训界精英及专家、学者共同创办，美国国际数据集团(IDG)和全球著名的教育培训机构美国KAPLAN国际教育集团参与战略投资的国际化语言教育机构......</p>
						<p class="etr-link"><a href="http://edus.keweisoft.com/case/show_9_1.html" target="_blank">查看详情>></a></p>
						<a href="http://edus.keweisoft.com/case/"><div class="etr-btn1">查看相似案例</div></a><a href="http://edus.keweisoft.com/solution/"><div class="etr-btn2">咨询行业方案</div></a>
					</div>
				</div>
				<div class="ebc-bottom">
					<div class="ebc-bottom-item">
						<a href="http://edus.keweisoft.com/case/show_1_1.html" target="_blank"><div class="ebi-pic"><img src="{IMG_PATH}official/edus-b5-pic2.png" width="324" height="180" alt="" title="" /></div></a>
						<p class="ebi-tit"><a href="http://edus.keweisoft.com/case/show_1_1.html" target="_blank">贝乐学科英语培训</a></p>
						<p class="ebi-word">可为edus教务系统结合倍乐优学教育咨询自身业务特点，进行了详细的调研和梳理，规划了各个岗位的工作流程，勾画了企业未来5年发展的蓝图，同时对于多校区教育......</p>
						<p class="ebi-link"><a href="http://edus.keweisoft.com/case/show_1_1.html" target="_blank">详情>></a></p>
					</div>
					<div class="ebc-bottom-item" style="margin-left:33px;">
						<a href="http://edus.keweisoft.com/case/show_2_1.html" target="_blank"><div class="ebi-pic"><img src="{IMG_PATH}official/edus-b5-pic3.png" width="324" height="180" alt="" title="" /></div></a>
						<p class="ebi-tit"><a href="http://edus.keweisoft.com/case/show_2_1.html" target="_blank">北京厚海教育集团</a></p>
						<p class="ebi-word">可为EDUS教务系统为厚海教育公司推出的解决方案：通过提高教务教学管理、财务管理两块内容，实时获取多层级决策分析数据，构建高效的功能平台等方面来解决厚...</p>
						<p class="ebi-link"><a href="http://edus.keweisoft.com/case/show_2_1.html" target="_blank">详情>></a></p>
					</div>
					<div class="ebc-bottom-item" style="margin-left:33px;">
						<a href="http://edus.keweisoft.com/case/show_11_1.html" target="_blank"><div class="ebi-pic"><img src="{IMG_PATH}official/edus-b5-pic4.png" width="324" height="180" alt="" title="" /></div></a>
						<p class="ebi-tit"><a href="http://edus.keweisoft.com/case/show_11_1.html" target="_blank">山东捷程教育</a></p>
						<p class="ebi-word">“以父母情怀，做教育产业”——捷程教育是一家结合了优质教育资源和先进信息技术，专注于中国教育服务领域的高科技......</p>
						<p class="ebi-link"><a href="http://edus.keweisoft.com/case/show_11_1.html" target="_blank">详情>></a></p>
					</div>										
				</div>
			</div>
		</div>
{template "content","footer"}