			<div class="sub-nav">
				<div class="m-content">
					<ul class="sub-nav-list"> 
						<li class="sub-nav-item" {if $catid == 45}style="background:#fa8032"{/if}><a href="{$CATEGORYS[45][url]}" {if $catid == 45}style="color:#fff"{/if}>企业简介</a></li>
						<li class="sub-nav-item" {if $catid == 99}style="background:#fa8032"{/if}><a href="{$CATEGORYS[99][url]}" {if $catid == 99}style="color:#fff"{/if}>企业历程</a></li>
						<li class="sub-nav-item" {if $catid == 102}style="background:#fa8032"{/if}><a href="{$CATEGORYS[102][url]}" {if $catid == 102}style="color:#fff"{/if}>精英团队</a></li>
						<li class="sub-nav-item" {if $catid == 105}style="background:#fa8032"{/if}><a href="{$CATEGORYS[105][url]}" {if $catid == 105}style="color:#fff"{/if}>企业活动</a></li>
						<li class="sub-nav-item" {if $catid == 106}style="background:#fa8032"{/if}><a href="{$CATEGORYS[106][url]}" {if $catid == 106}style="color:#fff"{/if}>联系我们</a></li>	
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="sub-nav-btn">点击咨询</div></a>
					</ul>
				</div>
			</div>
			<div class="sub-nav-down" id="snd" style="display:none;">
				<div class="m-content">
					<ul class="sub-nav-down-list"> 
						<li class="sub-nav-item" {if $catid == 45}style="background:#fa8032"{/if}><a href="{$CATEGORYS[45][url]}" {if $catid == 45}style="color:#fff"{/if}>企业简介</a></li>
						<li class="sub-nav-item" {if $catid == 99}style="background:#fa8032"{/if}><a href="{$CATEGORYS[99][url]}" {if $catid == 99}style="color:#fff"{/if}>企业历程</a></li>
						<li class="sub-nav-item" {if $catid == 102}style="background:#fa8032"{/if}><a href="{$CATEGORYS[102][url]}" {if $catid == 102}style="color:#fff"{/if}>精英团队</a></li>
						<li class="sub-nav-item" {if $catid == 105}style="background:#fa8032"{/if}><a href="{$CATEGORYS[105][url]}" {if $catid == 105}style="color:#fff"{/if}>企业活动</a></li>
						<li class="sub-nav-item" {if $catid == 106}style="background:#fa8032"{/if}><a href="{$CATEGORYS[106][url]}" {if $catid == 106}style="color:#fff"{/if}>联系我们</a></li>	
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="sub-nav-btn">点击咨询</div></a>
					</ul>				
				</div>
			</div>