<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/service.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="service-banner">
			<div class="service-banner1"></div>
			<div class="service-banner2"></div>
		</div>
		{template "content","service_sub"}
	<div class="m-content" style="margin-top:35px;">
			<p class="imple-bigtit">在软件实施部署的过程中，您可能考虑以下这些问题：</p>
			<div class="ib1-con">
				<div class="ib1-con1">
					<p class="ib1-con1-item">需求调研不明确，花钱了没有达到效果？</p>
					<p class="ib1-con1-item">没有科学的实施方法论，导致项目实施失败？</p>
					<p class="ib1-con1-item">时间规划不明确，导致系统迟迟不能上线？</p>
					<p class="ib1-con1-item">实施团队撤出后，系统遇到问题无所适从？</p>
					<p class="ib1-con1-item">实施过程无法把控，工程师想干嘛干嘛？</p>
					<div class="ib1-con1-btn">
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ib1-btn">咨询实施顾问</div></a>
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ib1-btn" style="margin-left:57px;">提交需求表单</div></a>
					</div>
				</div>
				<div class="ib1-con2">
				</div>
			</div>
			<p class="ib1-dialog">五分软件、五分实施，可为优质的实施服务确保系统成功上线！</p>
		</div>
		<div class="imple-ib2">
			<div class="m-content">
				<p class="imple-bigtit" style="padding-top:30px;position:relative;">可为EDUS实施服务优势</p>
				<p class="ib2-tit">我们一直坚持五分软件，五分实施，通过实施把企业的流程与软件流程相结合，搭建信息化平台；通过系统的培训，培养用户自己的信息管理者，从而使软件良好运作。</p>
				<div class="ib2-items" style="margin-top:40px;">
					<div class="ib2-items-left">
						<p class="ib2-item1-ico">降低成本，提高效率</p>
						<p class="ib2-item1-con">根据客户的需求，向企业提供的一种个性化的、专业化的服务，并指导用户完成管理软件的客户化工作，帮助企业实现科学管理，降低成本，提高效率。</p>
					</div>
					<div class="ib2-items-right">
						<p class="ib2-item4-ico">专业的实施方法论指导</p>
						<p class="ib2-item1-con">从项目启动、流程规划到成功上线都有对应的实施文件让客户亲自签字确认保障我们的服务真实有效 </p>					
					</div>
				</div>
				<div class="ib2-items">
					<div class="ib2-items-left">
						<p class="ib2-item3-ico">实现管理软件与企业应用</p>
						<p class="ib2-item1-con">经过对企业业务流程分析与设计、实施方案制定、系统测试、操作手册、岗位培训、系统切换、成果验收等阶段最终实现管理软件与企业应用的结合。</p>					
					</div>
					<div class="ib2-items-right">
						<p class="ib2-item5-ico">严格的服务监督流程</p>
						<p class="ib2-item1-con">可为服务团队专门设立优质服务部门实时对项目进程的服务质量进行回访；对客户有问题的事项进行及时处理，为项目成功上线保驾护航 </p>						
					</div>
				</div>
				<div class="ib2-items">
					<div class="ib2-items-left">
						<p class="ib2-item2-ico">培养自己的用户信息</p>
						<p class="ib2-item1-con">整合企业各种资源，提高 资源运作效率，培养一批用户自己的信息管理专家</p>
					</div>
					<div class="ib2-items-right">
						<p class="ib2-item6-ico"><span style="padding-top:15px;display:block">为客户创造价值是我们的至高服务宗旨，请监督我们的服务，并提出宝贵的建议...</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="imple-ads">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="consult-ads-tel">服务咨询</div></a>
		</div>
		<div class="ib3">
			<div class="m-content">
				<div class="ib3-logo"></div>
				<p class="imple-bigtit" style="padding-top:30px;">可为EDUS实施服务我们这样做... ...</p>
				<div class="ib3-bg">
					<span class="ib3-item1">项目启动</span>
					<span class="ib3-item2">产品安装</span>
					<span class="ib3-item3">流程规划</span>
					<span class="ib3-item4">系统建设</span>
					<span class="ib3-item5">用户培训</span>
					<span class="ib3-item6">系统试运行</span>
					<span class="ib3-item7">系统验收</span>
					<span class="ib3-item8"><span style="font-size:48px;color:#428aae;">项目成功上线</span><br />企业有了新的保护伞！</span>
				</div>

			</div>
		</div>		
		{template "content","footer"}	
	</body>	
</html>