<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/product.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="pro-banner" id="delink">
			<div class="m-content banner-mid">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pbanner-btn"></div></a>
			</div> 
		</div>
		{template "content","pro_subnav"}
		<div class="sales-b1">
			<div class="m-content">
				<div class="sab1-con" id="sales1">
					<p class="sab1-tit">销售机会管理</p>
					<p class="sab1-sub">如何能精准的定位销售机会？<br />怎样促单，进而形成交易？</p>
					<p class="sab1-item1">可为CRM的销售机会管理流程，从机会创建到机会跟踪，做到对销售工作的动态管理和统筹监控。</p>
					<p class="sab1-item2">为培训机构管理者提供特有的信息透视功能，管理者可以清晰查看跟进情况，并给与指导。</p>
				</div>
				<div class="sab1-pic"><img src="{IMG_PATH}crm/sales-pic1.png" width="355" height="320" alt="" /></div>
			</div>
		</div>
		<div class="sales-b2">
			<div class="m-content">
				<div class="sab2-con" id="sales2">
					<p class="sab1-tit">销售计划管理</p>
					<p class="sab1-item1">销售计划管理包括销售计划制定和销售计划分析两部分。可为CRM可按照不同的基础数据（销售订单、订单明细）进行计划的制定，并支持对计划维度的自定义设计，满足管理者在销售计划制定方面的全方位需求。</p>
				</div>
				<div class="sab2-pic"><img src="{IMG_PATH}crm/sales-pic2.png" width="320" height="320" alt="" /></div>
			</div>
		</div>	
		<div class="sales-b1">
			<div class="m-content">
				<div class="sab1-con" style="margin-top:130px;" id="sales3"> 
					<p class="sab1-tit">销售合同管理</p>
					<p class="sab1-sub">学员签订合同未能及时交付费用？<br />合同到期财务要知晓、要谈续班？</p>
					<p class="sab1-item1">可为CRM合同管理功能，关联学员的合同创建、合同自动跟踪以及执行协助与汇总分析，垂直记录项目合同和回款的所有执行状态，轻松帮您管理应收与续费问题。</p>
				</div>
				<div class="sab3-pic"><img src="{IMG_PATH}crm/sales-pic3.png" width="358" height="320" alt="" /></div>
			</div>
		</div>
		<div class="sales-b2">
			<div class="m-content">
				<div class="sab2-con" style="margin-top:120px;" id="sales4">
					<p class="sab1-tit">销售自动化</p>
					<p class="sab1-item1">销售机会合理分配，有效避免抢单、撞单，方便销售人员实时跟进，管理层及时督导。</p>
					<p class="sab1-item2">提供从销售线索开始到销售机会跟进、合同成功签订、合同执行的全生命周期管理，并且包括潜在学员管理，二次商机管理，合同管理、学员信息管理等全自动化管理，销售阶段推进一目了然，自动化管理更科学、更精准。提高销售业绩。</p>
				</div>
				<div class="sab4-pic"><img src="{IMG_PATH}crm/sales-pic4.png" width="377" height="320" alt="" /></div>
			</div>
		</div>	
		<div class="sales-b1">
			<div class="m-content">
				<div class="sab1-con" style="margin-top:130px;">
					<p class="sab1-tit">销售预测管理</p>
					<p class="sab1-sub">月度、季度、年度的销售额预计如何？<br />能否按预期顺利实现目标？</p>
					<p class="sab1-item1">可为CRM销售预测管理，全流程跟进销售目标，将销售跟单过程细分为不同阶段，通过实时销售漏斗、销售效率等数据及图表化分析，帮助销售管理者做出决定，大幅提升预测准确性，提高销售跟单赢率。</p>
				</div>
				<div class="sab5-pic"><img src="{IMG_PATH}crm/sales-pic5.png" width="361" height="320" alt="" /></div>
			</div>
		</div>
		<div class="sales-b2">
			<div class="m-content">
				<div class="sab2-con" style="margin-top:104px;">
					<p class="sab1-tit">竞争丢单管理</p>
					<p class="sab1-item1">可为CRM竞争丢单管理模块可将常见的丢单原因归档，进行阶段性的分析。</p>
					<p class="sab1-item2">及时发现销售哪些环节的丢单率高，提升销售人员熟练度，从细节上改善、提升销售。</p>
					<p class="sab1-item3">清楚掌握各类型、各区域和主要的竞争对手情况，针对性的设计竞争方案，提升整体竞争力。</p>
				</div>
				<div class="sab6-pic"><img src="{IMG_PATH}crm/sales-pic6.png" width="337" height="359" alt="" /></div>
			</div>
		</div>	
		<div class="sales-b1">
			<div class="m-content">
				<div class="sab1-con" style="margin-top:112px;">
					<p class="sab1-tit">销售报表分析</p>
					<p class="sab1-sub">销售目标有保障吗？<br />销售人员目标完成情况如何？需要什么样的支持？</p>
					<p class="sab1-item1">可为CRM报表分析功能，将销售年度目标、季度目标拆分到月，目标数据报表实时展示个人、团队实际完成业绩与销售目标的状况，强大的数据分析，报表直观呈现，帮助销售人员及管理者实时调整销售策略，业务尽在掌握。</p>
				</div>
				<div class="sab7-pic"><img src="{IMG_PATH}crm/sales-pic7.png" width="320" height="320" alt="" /></div>
			</div>
		</div>		
		<div class="m-content" style="overflow:hidden;">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn">点击在线咨询</div></a><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn" style="margin-left:153px;">点击预约演示</div></a>						
		</div>
		{template "content","footer"}	
	</body>		
</html>