<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/product.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="pro-banner" id="delink">
			<div class="m-content banner-mid">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pbanner-btn"></div></a>
			</div> 
		</div>
		{template "content","pro_subnav"}
		<div class="oa-b1">
			<div class="m-content">
				<div class="ob1-con" id="oa1">
					<p class="ob1-tit">日程管理</p>
					<p class="ob1-item1">通过可为CRM日程管理功能，来进行员工的工作安排和规划上级给下级指派，平级之间的工作协同，以及针对客户的行程安排，都可以通过日程管理来进行控制和记录。</p>
					<p class="ob1-item2">日程管理模块详细记录学员跟进情况，让销售主管对跟进过程全面掌握；销售人员通过系统对工作开始结束时间、执行任务的优先级一目了然。</p>
				</div>
				<div class="ob1-pic"><img src="{IMG_PATH}crm/oa-pic1.png" width="428" height="353" alt="" /></div>
			</div>
		</div>
		<div class="oa-b2">
			<div class="m-content">
				<div class="ob2-con" id="oa2">
					<p class="ob1-tit">工作报告管理</p>
					<p class="ob1-item1">可为CRM系统通过日程来进行员工工作的安排和规划，灵活制定工作计划、定时提醒工作计划、全生命周期管理工作行为。</p>
					<p class="ob1-item2">通过手机短信、邮箱等途径展现日、周、月的业务日程安排。</p>	
				</div>
				<div class="ob2-pic"><img src="{IMG_PATH}crm/oa-pic2.png" width="375" height="236" alt="" /></div>
			</div>
		</div>	
		<div class="oa-b1">
			<div class="m-content">
				<div class="ob1-con" style="margin-top:118px;" id="oa3">
					<p class="ob1-tit">激励管理</p>
					<p class="ob1-item1">可为CRM提供了量化分数管理来规范、细化业务数据的录入。销售人员把客户、联系人的信息填写完整，会获得一定的量化分数奖励，公司可以通过量化分数兑换奖励的方式来提高员工录入数据的积极性。</p>
					<p class="ob1-item2">通过量化分数管理形成公司内部评价机制，通过设定不同字段值来进行销售行为的评分，并以此促进激励机制，提高销售动力。</p>
				</div>
				<div class="ob3-pic"><img src="{IMG_PATH}crm/oa-pic3.png" width="366" height="352" alt="" /></div>
			</div>
		</div>		
		<div class="oa-b2">
			<div class="m-content">
				<div class="ob2-con" style="margin-top:112px;" id="oa4">
					<p class="ob1-tit">事项提醒管理</p>
					<p class="ob1-item1">可为CRM事项提醒功能可以在约定的时间提醒工作人员，什么时间做什么事，什么任务即将接近截至日期。特别是销售人员的学员跟进提醒，可以设置提醒，提前做好准备。</p>
					<p class="ob1-item2">系统提供三种提醒方式：系统通知、邮件通知和短信通知，三者可以同时选择。可为CRM事项提醒功能可以辅助您合理安排每天的工作，提高工作效率。</p>	
				</div>
				<div class="ob4-pic"><img src="{IMG_PATH}crm/oa-pic4.png" width="340" height="360" alt="" /></div>
			</div>
		</div>	
		<div class="oa-b1">
			<div class="m-content">
				<div class="ob1-con" style="margin-top:128px;">
					<p class="ob1-tit">知识管理</p>
					<p class="ob1-item1">可为CRM知识库将学员所有信息包括从线索获取、学员跟进到学员选课、考勤、课程评价等信息经过专业的整理、分析，在机构内部形成共享，从客户信息转化为客户知识。</p>
					<p class="ob1-item2">通过知识库管理可以有效地获取、发展和维系有利于客户组合的知识与经验，营销决策和资源分配是建立在客户知识库基础之上的。</p>
				</div>
				<div class="ob5-pic"><img src="{IMG_PATH}crm/oa-pic5.png" width="344" height="259" alt="" /></div>
			</div>
		</div>
		<div class="oa-b2">
			<div class="m-content">
				<div class="ob2-con" style="margin-top:110px;">
					<p class="ob1-tit">审批/申请管理</p>
					<p class="ob1-item1">可为CRM根据需要灵活自定义审批类型和审批流程，例如在销售计划制定后，对销售过程中涉及的各审批项进行管理，包括：销售计划的审批，审批流程；审批历史的查询等</p>
					<p class="ob1-item2">可为CRM的审批/申请功能，方便公司内费用审批需要，审批依据岗位职责上下级进行提交和审批，保证公司内部审核的流程可以被管控。</p>	
				</div>
				<div class="ob6-pic"><img src="{IMG_PATH}crm/oa-pic6.png" width="344" height="344" alt="" /></div>
			</div>
		</div>	
		<div class="oa-b1">
			<div class="m-content">
				<div class="ob1-con" style="margin-top:105px;">
					<p class="ob1-tit">绩效管理</p>
					<p class="ob1-item1">可为CRM绩效考核信息由每位销售人员的学员开发量、转正学员量、销售任务完成度、商机、销售积分进行统计分析，再加上日/周/月报及综合信息评价，构成绩效考核全部内容。</p>
					<p class="ob1-item2">绩效管理模块旨在形成绩效计划制定、绩效辅导沟通、绩效考核评价、绩效结果应用、绩效目标提升的持续循环过程，促进个人的、部门的绩效提升。</p>
				</div>
				<div class="ob7-pic"><img src="{IMG_PATH}crm/oa-pic7.png" width="343" height="250" alt="" /></div>
			</div>
		</div>
		<div class="m-content" style="overflow:hidden;">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn">点击在线咨询</div></a><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn" style="margin-left:153px;">点击预约演示</div></a>						
		</div>
		{template "content","footer"}	
	</body>	
</html>