<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/product.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="pro-banner" id="delink">
			<div class="m-content banner-mid">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pbanner-btn"></div></a>
			</div> 
		</div>
		{template "content","pro_subnav"}
		<div class="client-b1">
			<div class="m-content">
				<div class="cb1-con" id="client1">
					<p class="cb1-tit">线索池</p>
					<p class="cb1-item1">所有市场推广、市场活动收集得来的线索，均归入系统的线索池。线索池的客户归全体销售人员共享。</p>
					<p class="cb1-item2">一般线索池由市场部批量汇总，然后由市场主管批量分配，或者系统自动分配给对应的销售。</p>
				</div>
				<div class="cb1-pic"><img src="{IMG_PATH}crm/client-pic1.png" width="380" height="391" alt="" /></div>
			</div>
		</div>
		<div class="client-b2">
			<div class="m-content">
				<div class="cb2-con" id="client2">
					<p class="cb1-tit">私有池</p>
					<p class="cb1-item1">所有销售手中正在跟进的客户，都进入私有池，私有池中的客户信息不共享，为销售私有。</p>
					<p class="cb1-item2">当私有池客户在一段时间内如果没有及时跟进，超期的客户，会自动退回到线索池，供其他销售来跟进。</p>
				</div>
				<div class="cb2-pic"><img src="{IMG_PATH}crm/client-pic2.png" width="384" height="380" alt="" /></div>
			</div>
		</div>	
		<div class="client-b1">
			<div class="m-content">
				<div class="cb1-con" id="client3">
					<p class="cb1-tit">邀约池</p>
					<p class="cb1-item1">所有销售手中，已经成功邀请家长参加体验课（试听课）的客户，都进入邀约池。</p>
					<p class="cb1-item2">邀约池中的客户距离签约有很大的可能性，客户热度较高，这类客户需要重点的跟进。</p>
				</div>
				<div class="cb3-pic"><img src="{IMG_PATH}crm/client-pic3.png" width="392" height="380" alt="" /></div>
			</div>
		</div>	
		<div class="client-b2">
			<div class="m-content">
				<div class="cb2-con" id="client4">
					<p class="cb1-tit">订金池</p>
					<p class="cb1-item1">顾问手中缴纳订金的客户，称为订金池。</p>
					<p class="cb1-item2">一般的客户缴纳订金，距离签约可以说就是一步之遥，因此对于订金池中的客户，需要更加重视，订金池中的客户热度最高。</p>
				</div>
				<div class="cb4-pic"><img src="{IMG_PATH}crm/client-pic4.png" width="392" height="380" alt="" /></div>
			</div>
		</div>	
		<div class="client-b1">
			<div class="m-content">
				<div class="cb1-con" style="margin-top:140px;">
					<p class="cb1-tit">签约池</p>
					<p class="cb1-item1">凡是成功签约的客户，成为正式学员的客户，叫做签约池。</p>
					<p class="cb1-item2">签约池作为销售个人的业绩体现，通常用于核算销售的奖金、考核销售的绩效。</p>
				</div>
				<div class="cb5-pic"><img src="{IMG_PATH}crm/client-pic5.png" width="380" height="380" alt="" /></div>
			</div>
		</div>	
		<div class="client-b2">
			<div class="m-content">
				<div class="cb2-con" style="margin-top:140px;">
					<p class="cb1-tit">退回池</p>
					<p class="cb1-item1">所有的销售跟进过程中发现问题的、无法继续跟进的客户，统称退回池。</p>
					<p class="cb1-item2">退回池一般由销售填写原因，市场人员专门处理，确认退回原因和最终的状态。选择进行再次分配或无效处理。</p>
				</div>
				<div class="cb6-pic"><img src="{IMG_PATH}crm/client-pic6.png" width="380" height="380" alt="" /></div>
			</div>
		</div>	
		<div class="client-b1">
			<div class="m-content">
				<div class="cb1-con" style="margin-top:160px;">
					<p class="cb1-tit">无效池</p>
					<p class="cb1-item1">所有市场推广、市场活动获取的线索，经过销售跟进发现所有无法取得联系、联系方式无效，均放到无效池中,进入无效池之前，需要先进入退回池，并经由市场主管确认之后才可退回。</p>
				</div>
				<div class="cb7-pic"><img src="{IMG_PATH}crm/client-pic7.png" width="387" height="380" alt="" /></div>
			</div>
		</div>		
		<div class="client-b2">
			<div class="m-content">
				<div class="cb2-con" style="margin-top:160px;">
					<p class="cb1-tit">死单池</p>
					<p class="cb1-item1">销售跟进过程中，凡确定无法签约的客户，如已经选择其他机构、孩子不打算学习等状态的客户，均作为死单池处理。最后经由销售主管二次确认，进入死单池。</p>
				</div>
				<div class="cb8-pic"><img src="{IMG_PATH}crm/client-pic8.png" width="436" height="380" alt="" /></div>
			</div>
		</div>									
		<div class="m-content" style="overflow:hidden;">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn">点击在线咨询</div></a><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn" style="margin-left:153px;">点击预约演示</div></a>						
		</div>
		{template "content","footer"}	
	</body>	
</html>