<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/product.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/scrolltopcontrol.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="pro-banner" id="delink">
			<div class="m-content banner-mid">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pbanner-btn"></div></a>
			</div> 
		</div>
		{template "content","pro_subnav"}
		<div class="market-b1">
			<div class="m-content">
				<div class="mb1-con" id="market1">
					<p class="mb1-tit">招生线索</p>
					<p class="mb1-item1">将各种渠道获得的潜在学员信息导入到系统中，通过对线索源、获取时间、聊天记录的整合，实现高效的学员线索统一管理和分配。</p>
					<p class="mb1-item2">可为CRM系统支持自动线索分配和人工线索分配，支持审批流和自动编号。</p>
					<p class="mb1-item3">可以利用线索进行商机立项的管理，审查过滤掉无效的线索，最终将潜在学员线索转换为客户、联系人和商机给销售人员进行跟进。</p>
				</div>
				<div class="mb1-pic"><img src="{IMG_PATH}crm/market-pic1.png" width="483" height="359" alt="" /></div>
			</div>
		</div>
		<div class="market-b2">
			<div class="m-content">
				<div class="mb2-con" style="margin-top:100px" id="market2">
					<p class="mb1-tit">营销管理</p>
					<p class="mb1-item1">可为CRM整合了主动营销、效果营销和互动营销一些常见市场手段，可以帮助市场部门的员工提升工作效率，增强市场活动的计划性。</p>
					<p class="mb1-item2">帮助培训学校以最低的成本找到更优质的学员资源，并通过对营销效果进一步的评估分析，深度挖掘潜在学员。</p>
					<p class="mb1-item3">可为CRM系统能有效的组合营销资源，高效协调、组织各部门的协同配合，围绕营销活动，实现意向学员的跟踪、分析、转化。</p>
				</div>
				<div class="mb2-pic"><img src="{IMG_PATH}crm/market-pic2.png" width="480" height="276" alt="" /></div>
			</div>
		</div>	
		<div class="market-b1">
			<div class="m-content">
				<div class="mb1-con" id="market3">
					<p class="mb1-tit">市场活动</p>
					<p class="mb1-item1">通过CRM的主动推送营销工具，您可以节省大量广告预算，转而利用个性化邮件、短信等方式，吸引潜在学员，达成多次交易.</p>
					<p class="mb1-item2">可以在线捕获学员的意向需求，并将营销活动产生的潜在学员转为业务机会，有效规划、管理并跟踪网络、会议等市场营销项目，能够实时分析营销活动的投入产出，方便评估活动效果；</p>
					<p class="mb1-item3">可定制各种字段，将特殊学员标识出来，建立特殊学员群体，进行系统化和精准化推广。</p>
				</div>
				<div class="mb3-pic"><img src="{IMG_PATH}crm/market-pic3.png" width="491" height="316" alt="" /></div>
			</div>
		</div>
		<div class="market-b2">
			<div class="m-content">
				<div class="mb2-con" style="margin-top:140px" id="market4">
					<p class="mb1-tit">短信/邮件沟通方式</p>
					<p class="mb1-item1">可为CRM提供短信及邮件发送平台，只需登录系统，简单设置，即可完成发送。</p>
					<p class="mb1-item2">大幅度的提升工作人员的工作效率，加强了培训机构与学员的沟通，同时帮助培训机构更好地维系客户关系。</p>
				</div>
				<div class="mb4-pic"><img src="{IMG_PATH}crm/market-pic4.png" width="480" height="382" alt="" /></div>
			</div>
		</div>
		<div class="market-b1">
			<div class="m-content">
				<div class="mb1-con">
					<p class="mb1-tit">学员信息管理</p>
					<p class="mb1-item1">对学员信息进行全面、细致的管理，包括联系方式、地址、兴趣爱好等、生日等所有信息及相关商机，跟进活动。</p>
					<p class="mb1-item2">可为CRM系统学员信息管理功帮助培训机构：1、自动触发学员生日提醒、跟进计划提醒，做到优质服务，增强客户黏性；2、通过其他方式获取的商机，可以从外部ERP系统或office中导入学员信息，不遗漏任何渠道的线索；3、培训机构内部共享学员信息，实现培训机构内部市场、销售各部门的协同，提高工作效率。</p>
				</div>
				<div class="mb5-pic"><img src="{IMG_PATH}crm/market-pic5.png" width="480" height="294" alt="" /></div>
			</div>
		</div>	
		<div class="market-b2">
			<div class="m-content">
				<div class="mb2-con">
					<p class="mb1-tit">动态全面竞争分析</p>
					<p class="mb1-item1">可为CRM能够在销售过程中收集分析竞争对手的动态信息，如价格变化、撞单次数、丢单原因、竞争份额、销售潜力等，以此帮助决策层制定有效的竞争策略，保持竞争优势。</p>
				</div>
				<div class="mb6-pic"><img src="{IMG_PATH}crm/market-pic6.png" width="500" height="310" alt="" /></div>
			</div>
		</div>	
		<div class="market-b1">
			<div class="m-content">
				<div class="mb1-con">
					<p class="mb1-tit">市场营销效果分析</p>
					<p class="mb1-item1">可为CRM系统根据活动带来的商机和潜在学员信息评估市场活动的投入产出比。</p>
					<p class="mb1-item2">能够清晰的看到哪一种市场手段，哪一次的市场活动带来的收益和产出效果最好，以便跟踪营销活动的效果 。</p>
				</div>
				<div class="mb7-pic"><img src="{IMG_PATH}crm/market-pic7.png" width="481" height="304" alt="" /></div>
			</div>
		</div>	
		<div class="m-content" style="overflow:hidden;">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn">点击在线咨询</div></a><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-btn" style="margin-left:153px;">点击预约演示</div></a>						
		</div>
		{template "content","footer"}	
	</body>	
</html>