<!DOCTYPE html>
<html>
	<head>
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8" />
		<meta name="keywords" content="{$SEO['keyword']}" />
		<meta name="description" content="{$SEO['description']}" />
		<meta name="author" content="keweisoft.com" />
		<link href="{CSS_PATH}crm/service.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="{JS_PATH}crm/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}crm/product.js"></script>
	</head>	
	<body>
	{template "content","header"}
		<div class="service-banner">
			<div class="service-banner1"></div>
			<div class="service-banner2"></div>
		</div>
		{template "content","service_sub"}
		<div class="cblock1">			
		<div class="m-content">
				<p class="cb1-tit">您的企业是否遇到过这样的问题？</p>
				<div class="cb1-item1">公司客户服务投诉越来越多？</div>
				<div class="cb1-item2">销售业绩下降却不知如何查找原因？</div>
				<div class="cb1-item2">手工管理客户资料特别繁琐？</div>
				<div class="cb1-item2">企业员工对信息化比较抵触？</div>
				<div class="cb1-item2">员工离职带走客户资源信息？</div>
				<div class="cb1-item2">市场上管理软件太模板化，不符合公司业务流程？</div>
				<span class="cb1-tel">010-51651266</span>
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="cb1-btn">咨询可为管理顾问</div></a>
			</div>
		</div>
		<div class="m-content cblock2">
			<p class="cb2-tit">经调查表明，<span style="color:#db4d19;">80%</span>的企业在选择咨询团队的时候会考虑以下的问题：</p>
			<div style="clear:both;height:35px;"></div>
			<div class="cb2-conleft"></div>
			<div class="cb2-conright">
				<span class="cb2-item1">行业经验是否丰富?</span>
				<span class="cb2-item2">企业需求分析是否到位？</span>
				<span class="cb2-item3">咨询流程是否科学？</span>
				<span class="cb2-item4">改善方案是否可行？</span>
			</div>
			<div style="clear:both;height:35px;"></div>
			<p class="cb3-tit">可为服务团队通过对大量成功案例的研究和专业的数据分析得出，成功咨询方案必备“<span style="color:#db4d19;">四要</span>”：</p>
			<div class="cb3-con1">
				<p class="cb3-motto">清晰的时间规划</p>
			</div>
			<div class="cb3-con2">
				<p class="cb3-motto"> 企业需求确认文书</p>
			</div>
			<div class="cb3-clear"></div>
			<div class="cb3-con3">
				<p class="cb3-motto">科学的咨询方案</p>
			</div>
			<div class="cb3-con4">
				<p class="cb3-motto">专业的团队</p>
			</div>
			<div style="clear:both;margin-bottom:30px;"></div>
		</div>
		<div class="consult-ads2">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="consult-ads-tel">服务咨询</div></a>
		</div>
		<div class="m-content" style="margin-top:25px;margin-bottom:25px;">
			<p class="cb3-tit" style="margin-bottom:15px;">选择软件，搭建企业自己的信息化管理系统，我们能为你做些什么？</p>
			<p style="width:100%;font-size:20px;color:#333;margin-bottom:10px;">可为咨询之路“<span style="color:#ff6600">四部曲</span>”</p>
			<div class="cb4-con1">
				<div class="cb4-item">
					<div class="cb4-item1">
						<p class="cb4-item1-pro">第一步：</p>
						<p class="cb4-item1-tit">需求调研</p>
						<p class="cb4-item1-con">可为资深行业咨询顾问根据企业实际业务运行遇到的问题，按照岗位、业务流程进行一一的调研，并作出调研需求文档</p>
					</div>
					<div class="cb4-item2"></div>
				</div>
			</div>
			<div class="cb4-con2">
				<div class="cb4-item-op">
					<div class="cb4-item-op1"></div>
					<div class="cb4-item-op2">
						<p class="cb4-item1-pro">第二步：</p>
						<p class="cb4-item1-tit">需求分析</p>
						<p class="cb4-item1-con">根据企业真实的调研需求文档提交给行业高级工程师进行专业性的需求分析，并整理出解决方案，确保解决方案的专业性和科学性</p>
					</div>
				</div>
			</div>
			<div class="cb4-con3">
				<div class="cb4-item">
					<div class="cb4-item1">
						<p class="cb4-item1-pro">第三步：</p>
						<p class="cb4-item1-tit">需求确认</p>
						<p class="cb4-item1-con">根据行业咨询顾问整理的解决方案与企业负责人进行需求和解决方案的确认，确保方案的可行性和适用性</p>
					</div>
					<div class="cb4-item-op3"></div>
				</div>
			</div>
			<div class="cb4-con4">
				<div class="cb4-item-op">
					<div class="cb4-item-op4"></div>
					<div class="cb4-item-op2">
						<p class="cb4-item1-pro">第四步：</p>
						<p class="cb4-item1-tit">价值呈现</p>
						<p class="cb4-item1-con">资深行业顾问需求的调研，高级工程师需求的分析，并且制定出可行性方案与企业负责人进行核对，打造出属于企业自己的信息化管理系统</p>
					</div>
				</div>
			</div>
			</div>		
		{template "content","footer"}	
	</body>	
</html>