			<div class="sub-nav">
				<div class="m-content">
					<ul class="sub-nav-list"> 
						<li class="sub-nav-item" {if $catid == 43}style="background:#fa8032"{/if}><a href="{$CATEGORYS[43][url]}" {if $catid == 43}style="color:#fff"{/if}>服务概述</a></li>
						<li class="sub-nav-item" {if $catid == 93}style="background:#fa8032"{/if}><a href="{$CATEGORYS[93][url]}" {if $catid == 93}style="color:#fff"{/if}>咨询服务</a></li>
						<li class="sub-nav-item" {if $catid == 92}style="background:#fa8032"{/if}><a href="{$CATEGORYS[92][url]}" {if $catid == 92}style="color:#fff"{/if}>实施服务</a></li>
						<li class="sub-nav-item" {if $catid == 91}style="background:#fa8032"{/if}><a href="{$CATEGORYS[91][url]}" {if $catid == 91}style="color:#fff"{/if}>售后服务</a></li>
						<li class="sub-nav-item" {if $catid == 248}style="background:#fa8032"{/if}><a href="{$CATEGORYS[248][url]}" {if $catid == 248}style="color:#fff"{/if}>个性化定制开发</a></li>	
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="sub-nav-btn">点击咨询</div></a>
					</ul>
				</div>
			</div>
			<div class="sub-nav-down" id="snd" style="display:none;">
				<div class="m-content">
					<ul class="sub-nav-down-list"> 
						<li class="sub-nav-item" {if $catid == 43}style="background:#fa8032"{/if}><a href="{$CATEGORYS[43][url]}" {if $catid == 43}style="color:#fff"{/if}>服务概述</a></li>
						<li class="sub-nav-item" {if $catid == 93}style="background:#fa8032"{/if}><a href="{$CATEGORYS[93][url]}" {if $catid == 93}style="color:#fff"{/if}>咨询服务</a></li>
						<li class="sub-nav-item" {if $catid == 92}style="background:#fa8032"{/if}><a href="{$CATEGORYS[92][url]}" {if $catid == 92}style="color:#fff"{/if}>实施服务</a></li>
						<li class="sub-nav-item" {if $catid == 91}style="background:#fa8032"{/if}><a href="{$CATEGORYS[91][url]}" {if $catid == 91}style="color:#fff"{/if}>售后服务</a></li>
						<li class="sub-nav-item" {if $catid == 248}style="background:#fa8032"{/if}><a href="{$CATEGORYS[248][url]}" {if $catid == 248}style="color:#fff"{/if}>个性化定制开发</a></li>	
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="sub-nav-btn">点击咨询</div></a>
					</ul>				
				</div>
			</div>