<div class="edu-all-link">
			<div class="eal-item">
				<a href="{$CATEGORYS[144][url]}" target="_blank" class="eali1">可为CRM</a>
			</div>
			<div class="eal-item">
				<a href="{$CATEGORYS[155][url]}" target="_blank" class="eali2">可为EDUS</a>
			</div>	
			<div class="eal-item">
				<a href="{siteurl($siteid)}" target="_blank" class="eali3">解决方案</a>
			</div>
			<div class="eal-item">
				<a href="{$CATEGORYS[211][url]}" target="_blank" class="eali4">资讯中心</a>
			</div>
			<div class="eal-item" style="margin-top:3px;">
				<a href="{$CATEGORYS[228][url]}" target="_blank" class="eali5">客户案例</a>
			</div>
			<div class="eal-item" style="margin-top:3px;">
				<a href="{$CATEGORYS[229][url]}" target="_blank" class="eali6">关于可为</a>
			</div>
			<div class="eal-item" style="margin-top:3px;">
				<a href="" target="_blank" class="eali7">在线咨询</a>
			</div>
			<div class="eal-item" style="margin-top:3px;">
				<a href="{siteurl($siteid)}" target="_blank" class="eali8">站点首页</a>
			</div>																					
		</div>