		<div class="in-copyright">Copyright ©1993-2015   可为时代</div>	
		<div class="in-button">
			<a href="http://www.keweisoft.com/index.php?m=formguide&c=index&a=show&formid=27&siteid=3">
				<span class="ib-item1">免费试用</span>
			</a>
			<a href="http://www8.53kf.com/m.php?cid=72140145&style=5" >
				<span class="ib-item2">在线咨询</span>
			</a>
			<a href="javascript:void(0);" class="JS-show-share" >
				<span class="ib-item3">关注微信</span>
			</a>									
		</div>	

    <div id="JS-share-page" class="m-layer m-layer-show">
        <div class="lymask"></div>
        <table class="lytable"><tbody><tr><td class="lytd">
        <div class="lywrap">
<!--分享-->            
            <div class="lytt"><h2 class="u-tt">关注微信</h2><span class="lyclose">×</span></div>
            <div class="lyct">
                  <div class="lyct-wechat"><img src="{IMG_PATH}m/wechat.jpg" width="220" height="220" alt="可为时代" title="可为时代" /></div>
                  <p class="lyct-word">打开微信，搜索“可为时代”，关注可为</p>
            </div>
            <div class="lycancel">
                取消
            </div>
        </div></td></tr></tbody></table>
    </div>

    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/button.js#style=-1&amp;uuid=7e69fe40-5550-44e5-be51-468fae5d77db&amp;pophcol=2&amp;lang=zh"></script><a class="bshareDiv" onClick="javascript:return false;"></a>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
	</div>    
<!--侧边栏菜单-->
	<div class="sidebar-left">
		<div class="sidebar-hide-scroll-left">
			<a href="{siteurl($siteid )}" class="nav-item home-nav-icon" target="_blank">首页
			<em></em>
			</a>
			<div class="side-deco"></div>
			<div id="sub-menu-two" class="nav-item edus-nav-icon">
				产品中心
				<strong></strong>
			</div>
			<div class="sub-menu-two" style="display:none">
				<a class="sub-menu-item" href="{$CATEGORYS[155][url]}" target="_blank">教育培训erp</a>
				<a class="sub-menu-item" href="{$CATEGORYS[260][url]}" target="_blank">移动APP</a>
				<a class="sub-menu-item" href="{$CATEGORYS[261][url]}" target="_blank">EDUS家校通</a>	
				<a class="sub-menu-item" href="{$CATEGORYS[262][url]}" target="_blank">选课报名系统</a>	
				<a class="sub-menu-item" href="{$CATEGORYS[263][url]}" target="_blank">可为留学ERP</a>		
			</div>
			<div class="side-deco"></div>
			<a  href="{$CATEGORYS[202][url]}" class="nav-item solution-nav-icon">
				解决方案
				<strong></strong>
			</a>											
			<div class="side-deco"></div>
			<div id="sub-menu-five" class="nav-item case-nav-icon">
				客户案例
				<strong></strong>
			</div>
			<div class="sub-menu-five" style="display:none">
				<a class="sub-menu-item" href="{$CATEGORYS[227][url]}" target="_blank">CRM案例</a>
				<a class="sub-menu-item" href="{$CATEGORYS[228][url]}" target="_blank">教务案例</a>
			</div>
			<div class="side-deco"></div>
			<div id="sub-menu-three" class="nav-item service-nav-icon">
				服务体系
				<strong></strong>
			</div>
			<div class="sub-menu-three" style="display:none">
				<a class="sub-menu-item" href="{$CATEGORYS[264][url]}" target="_blank">服务概述</a>
				<a class="sub-menu-item" href="{$CATEGORYS[265][url]}" target="_blank">咨询服务</a>
				<a class="sub-menu-item" href="{$CATEGORYS[266][url]}" target="_blank">实施服务</a>
				<a class="sub-menu-item" href="{$CATEGORYS[267][url]}" target="_blank">售后服务</a>
				<a class="sub-menu-item" href="{$CATEGORYS[268][url]}" target="_blank">个性化定制开发</a>
			</div>
			<div class="side-deco"></div>
			<a href="{$CATEGORYS[255][url]}" class="nav-item news-nav-icon">
				资讯中心
				<strong></strong>
			</a>
			<div class="side-deco"></div>
			<a class="nav-item about-nav-icon" href="{$CATEGORYS[229][url]}" target="_blank">
				关于可为
				<em></em>
			</a>
			<div class="side-deco"></div>
		</div>
	</div> 
<!--右侧边栏-->	 
<div class="sidebar-right">
  <div class="sidebar-hide-scroll-right"  >
            <a href="http://blog.sina.com.cn/u/2947838275" class="nav-item fb-nav-icon" style="margin-top:10px;">微博<em></em></a>        	
            <div class="side-deco"></div>           
            <a href="http://www.keweisoft.com/index.php?m=formguide&c=index&a=show&formid=27&siteid=3" class="nav-item mail-nav-icon">联系<em></em></a>				
            <div class="side-deco"></div>
            <a href="tel:010-51651266" class="nav-item call-nav-icon">电话<em></em></a>				
            <div class="side-deco"></div>
            <a href="sms:010-51651266" class="nav-item text-nav-icon">短信<em></em></a>				
            <div class="side-deco"></div>
        </div>
    </div>  
</div>
	</div> 
<!--53聊天代码-->
<script>
(function() {
	  var _53code = document.createElement("script");
	  _53code.src = "//tb.53kf.com/code/code/10140145/5";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(_53code, s);
})();
</script>

	