<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro-edus.css" rel="stylesheet"/>
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
<!---->	
	    <script type="text/javascript">
	      $(function(){
	        var _x = $(window).width();
	        var _y = (_x * 264) / 640;
	        $('.auto-banner').css({
	          width : _x,
	          height : _y,
	          margin : '10px auto 0',
	          textAlign : 'center',
	          position : 'relative',
	        }).find('img').attr({
	          width : _x,
	          height : _y,
	        });
	      })
	    </script>		
	</head>
	<body>
		<div id="page-body">
		<div class="content">	
		{template "content","head_top"}
		{template "content","head_sub"}
		<div class="analysis-banner auto-banner">
			<img src="{IMG_PATH}m/edu-analysis-banner.jpg" alt="决策分析" title="决策分析" />
		</div>				

		<div class="analysis-tab-head1">
			<div class="ath1-item fth-on">运营管理层</div>
			<div class="ath1-item" style="margin-left:3px;">分支机构校长</div>
			<div class="ath1-item" style="margin-left:3px;">后端助教老师</div>
		</div>	
		<div class="analysis-tab-con1">
			<div class="ftc1 atc-item1">从人、财、权来管控各个分校及加盟校的经营状况，包括财务收支情况，教务教学情况，总结分析以后形成更好的指导型文件，指导下属分校更好的开展业务。 </div>
			<div class="ftc2 atc-item1" style="display:none;">可以很清楚的看到与自己本校区业务的经营状况，包括财务收支情况，教务教学情况,通过报表能够知道本校区过去任意一个时间段内的流水情况。</div>
			<div class="ftc3 atc-item1" style="display:none;">通过系统报表可以实时掌握各个班级的教学开展情况，协助前端老师做好后勤保障工作，督促学员完成作业，协助授课老师检查批改作业，提升学员的学习成绩，提升学员和家长对机构的满意度。</div>
		</div>	
		<div class="analysis-tab-head2">
			<div class="ath2-item fth-on">市场营销部</div>
			<div class="ath2-item" style="margin-left:3px;">教务老师</div>
			<div class="ath2-item" style="margin-left:3px;">教学老师</div>
			<div class="ath2-item" style="margin-left:3px;">财务老师</div>
		</div>
		<div class="analysis-tab-con2">
			<div class="atc1 atc-item2">通过市场营销分析招生情况，实时掌握营销效果评估，投入产出比分析以及预售班课我们的市场规划情况。</div>	
			<div class="atc2 atc-item2" style="display:none;">可以通过课时统计报表分析出哪些授课老师工作量大，哪些老师工作不饱和，通过学员信息反馈数据报表看到每一个老师的教学质量，针对不足和存在的问题及时改进。</div>	
			<div class="atc3 atc-item2" style="display:none;">通过教师课表能够清晰的看到教务老师给自己安排的课程，知道自己未来的课程时间，合理调配自己的时间。通过学员的分析报表，有针对性给学员布置作业，对一些突出的学员制定个性化的辅导计划。 </div>	
			<div class="atc4 atc-item2" style="display:none;">通过财务汇总报表，准确的查询到各项财务数据，资金收支状况，给领导决策层提供可靠的数据支持。实时掌握学员收费情况，应收情况，即使出现退费学员，也能够快速的查询出退费学员的退费金额。</div>			
		</div>
		<div class="sales-pro-head" style="margin-top:0px;">核心管控点</div>
		<div class="sales-pro-content">
			<p class="ap-pic1"></p>
			<p class="sp-tit">市场营销管理</p>
			<p class="ap-con">1、营销计划统计；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、学生记录和数据分析；<br />3、市场活动费用统计；&nbsp;&nbsp;4、市场活动成果分析；<br />5、学生来源统计分析；&nbsp;&nbsp;6、学生邀约、试听、交费；<br />7、市场活动计划统计；&nbsp;&nbsp;8、跟踪记录统计分析；<br />9、学员类别统计分析；&nbsp;10、各分校学员对比分析；</p>
		</div>
		<div class="sales-pro-content">
			<p class="ap-pic2"></p>
			<p class="sp-tit">教务一对一管理</p>
			<p class="ap-con">1、上课记录统计分析；2、课时不足/需要续费统计表；<br />3、学生评价统计分析；4、每周、月课时消耗统计分析；<br />
			5、学生来源统计分析；6、学生的邀约、试听、交费；<br />
			7、跟踪记录统计分析；8、学生记录和数据分析；<br />
			9、学员类别统计分析；10、各分校学员对比分析；<br />
			</p>
		</div>
		<div class="sales-pro-content">
			<p class="ap-pic3"></p>
			<p class="sp-tit">教务班课管理</p>
			<p class="ap-con">1、班级考勤统计分析；&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、教师上课时段统计分析；<br />
			3、学员分班情况统计分析；4、课时消耗统计分析；<br />
			5、班级学员线下/网上评价统计分析。<br />
			6、每周、月教师课时数/课时费统计分析；
			</p>
		</div>
		<div class="sales-pro-content">
			<p class="ap-pic4"></p>
			<p class="sp-tit">教学老师管理</p>
			<p class="ap-con">1、学生成绩统计分析；<br />2、教师授课计划统计分析；<br />3、教师代课、请假等异常情况统计分析；<br />
			4、分校续报数据、新生人数、新生收入等数据统计分析；<br />5、课程表（教师课程表、教室课程表、学生课程表、班级课程表）统计。
			</p>
		</div>
		<div class="sales-pro-content" style="border-bottom:none;">
			<p class="ap-pic5"></p>
			<p class="sp-tit">财务管理</p>
			<p class="ap-con">1、学员收费统计；&nbsp;&nbsp;&nbsp;2、部门/项目收入统计汇总；<br />
			3、学员退费统计；&nbsp;&nbsp;&nbsp;4、教师单节课时费/总课时费统计；<br />
			5、课程收入统计；&nbsp;&nbsp;&nbsp;6、学员续费统计分析/续保率；<br />
			7、课酬费用统计；&nbsp;&nbsp;&nbsp;8、学员学费核销实时统计分析；<br />
			9、学员欠费统计；&nbsp;&nbsp;10、活动/日常支出费用分析；<br />
			11、总部及分支机构费用盈利或支出情况；<br />
			12、收费、退费、支出、其他费用管理资金统计分析。
			</p>
		</div>
														

		<div class="p-btn">立即预约演示</div>
		{template "content","bottom"}
	</body>	
</html>