<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro-edus.css" rel="stylesheet"/>
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
<!---->		
	    <script type="text/javascript">
	      $(function(){
	        var _x = $(window).width();
	        var _y = (_x * 264) / 640;
	        $('.auto-banner').css({
	          width : _x,
	          height : _y,
	          margin : '10px auto 0',
	          textAlign : 'center',
	          position : 'relative',
	        }).find('img').attr({
	          width : _x,
	          height : _y,
	        });
	      })
	    </script>	
	</head>
	<body>
		<div id="page-body">
		<div class="content">	
		{template "content","head_top"}
		{template "content","head_sub"}
		<div class="attendance-banner auto-banner">
			<img src="{IMG_PATH}m/attendance-banner.jpg" alt="考勤管理" title="考勤管理" />
		</div>				

		<div class="attendance-tab-head">
			<div class="fth-item fth-on">学员</div>
			<div class="fth-item" style="margin-left:1px;">机构</div>
			<div class="fth-item" style="margin-left:1px;">家长</div>
		</div>	
		<div class="attendance-tab-con">
			<div class="ftc1 ftc-item">系统可以精确过滤老师预约时间。知道老师可预约的时间段；在预约提交后，系统会提示预约是否成功，并且给学员和教师发送预约短信，提高老师学生预约效率和时间准确率，及时告知老师和学生。</div>
			<div class="ftc2 ftc-item" style="display:none;">对于机构来说，通过学员卡实现对学员的考勤管理，如果正常缺勤，事后可以协调给学生补课时，如果非正常，则按照违规考勤处理。</div>
			<div class="ftc3 ftc-item" style="display:none;">家长也可通过考勤管理随时了解孩子的上课信息，课时进展、预约情况等，清晰了解学员培训动态。</div>
		</div>	
		<div class="sales-pro-head" style="margin-top:0px;">核心管控点</div>
		<div class="sales-pro-content">
			<p class="atp-pic1"></p>
			<p class="sp-tit">一对一小班考勤管理</p>
			<p class="sp-con" style="text-indent:24px;">一对一学员考勤主要是对学员学习期间上课情况的记录，根据学习状态确定学生是否准时来上课，系统可以提前提醒老师，学生是否来上课，避免企业承担风险，一对一培训考勤管理企业对预约学员上课情况的了解提供方便。</p>
		</div>
		<div class="sales-pro-content">
			<p class="atp-pic2"></p>
			<p class="sp-tit">班级考勤管理</p>
			<p class="sp-con">● 班级考勤管理是根据班级课程表对班级学员上课情况进行考勤记录，以方便教育培训机构对学员进行管理，在学员管理系统中便于家长对学员上课情况掌握。<br />● 根据上课日期可以对课程表数据进行列表显示。在进行考勤时可对学员签到、旷课、请假、迟到、早退等图标，可标识学员的考勤状态。</p>
		</div>
		<div class="sales-pro-content">
			<p class="atp-pic3"></p>
			<p class="sp-tit">学员请假管理</p>
			<p class="sp-con">● 学员可以登入学员端系统进行请假申请，教师对于学员的请假可以进行审批，家长能够通过系统随时查看学员请假原因。<br />● 学员、家长和教师都可以登入系统查看学员的请假情况，具体哪些课程请假，教师能够根据学员的请假课程对学员做一些相应的辅导，提高教学管理。
</p>
		</div>
		<div class="sales-pro-content" style="border-bottom:none;">
			<p class="atp-pic4"></p>
			<p class="sp-tit">教师考勤管理</p>
			<p class="sp-con">● 考勤管理记录辅导老师每天、每周、每月的考勤打卡信息，能够通过系统直观的了解每个人当月考勤日志。<br />● 管理人员还可通过系统考勤，统计带班费实现对教师工资绩效的管理。</p>
		</div>
		<div class="sales-pro-head" style="margin-top:0px;">制卡刷卡系统</div>														
		<p class="ap-sub-tit">制卡刷卡系统实现考勤、查询、充值缴费、消<br />费等活动的一卡通管理</p>	
		<div class="sales-pro-content">
			<p class="atp-pic5"></p>
			<p class="sp-tit">刷卡/Swipe your card</p>
			<p class="sp-con">1、学员刷卡，打印小票进行上课，课程结束后，刷卡下课，并对教师的授课情况进行评价，课时自动处理。 2.当学员只刷了上课卡，而忘记刷下课卡时，系统会根据定时器自动扫描修改学员的培训状态，如果定时器未开启，则可在教务管理系统中的培训结果处理模块进行学员培训状态的修改。</p>
		</div>
		<div class="sales-pro-content">
			<p class="atp-pic6"></p>
			<p class="sp-tit">读卡/Card reader</p>
			<p class="sp-con">制卡系统可以读取IC卡内绑定的学员信息，页面内的学员信息大致分为两类，一类为学员的基本信息，一类为学员的培训记录。</p>
		</div>
		<div class="sales-pro-content">
			<p class="atp-pic7"></p>
			<p class="sp-tit">补卡/Supplementary Card</p>
			<p class="sp-con">学员的IC卡丢失时，可以对学员进行补卡的操作，补卡后，原IC卡内的信息将自动清空，补卡操作同制卡操作相同。</p>
		</div>
		<div class="sales-pro-content" style="border-bottom:none;">
			<p class="atp-pic8"></p>
			<p class="sp-tit">统计/Statistics</p>
			<p class="sp-con">1.培训查询：查询当前刷卡学员的培训记录，查询的结果支持导出。<br />
2.预约查询：查询当前学员的预约记录，查询的结果支持导出。<br />
3.丢时查询：查询某段时间内学员的丢时记录，查询的结果支持导出。<br />
4.学员在上课期间请假或者没来上课等出勤情况的统计，方便教师及时了解学员的上课情况。</p>
		</div>						
		<div class="p-btn">立即预约演示</div>
		{template "content","bottom"}
	</body>
</html>