<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro201711.css?v={php echo rand(10,500)}" rel="stylesheet"/>
		<link type="text/css" href="{CSS_PATH}m/swiper.min.css" rel="stylesheet"/>
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!---->     
      <script type="text/javascript">
        $(function(){
          var _x = $(window).width();
          var _y = (_x * 264) / 640;
          $('.auto-banner').css({
            width : _x,
            height : _y,
            margin : '10px auto 0',
            textAlign : 'center',
            position : 'relative',
          }).find('img').attr({
            width : _x,
            height : _y,
          });
        })
      </script>
	</head>

<body>
   <div id="page-body">
      <div class="content">
      {template "content","head_top"}
      {template "content","head_sub"}
		<div class="fcrm-banner auto-banner"><img src="{IMG_PATH}m/fcrm-banner.jpg" alt="留学ERP" title="可为留学ERP" width="360" /></div>
		<p class="fcrm-tit">产品概述</p>	
		<p class="fcrm-top-word">本产品由独立专业的产品研发团队、大量的留学培训需求积累和可为研发平台开发而成，其主要包括产品体系、客户咨询、合同管理、留学服务、国际合作、佣金管理、基础库、决策分析。产品功能完善、部署灵活、轻松定制、快速实施，本地化部署数据更安全。可为留学erp它是一款产品也是一套整体解决方案，核心价值就是为留学培训企业提高工作效率降低管理成本。</p>	
		<div class="fcrm-pro-head">帮助您解决哪些方面的管理需求</div>
		<div class="fcrm-need-con">
			<div class="fcrm-need-center">
				<div class="left">
					1. 如何进行微信及其他渠道的招生？<br>
					2. 如何优化咨询师跟单过程，提升签约率？<br />
					3. 老师离职、转岗涉及的客户转接问题？<br />
					4. 从哪些方面着手，优化客户服务体验？<br />
					5. 怎样帮助教师改善教学互动、提升教学质量？<br />
					6. 随着企业扩张和业务的繁杂，如何优化内部管控？<br>
					7. 怎样帮助员工打破跨部门协作壁垒？<br />
					8. 留学申请老师写的文书终稿归档问题？<br />
					9. 学术资源如何实现共享？<br />
					10. 如何保有学员案例，做系统分析？<br />					
				</div>
				<div style="clear:both"></div>
				<a href="http://m.keweisoft.com/solu-overseas/" target="_blank"><div class="fcrm-solution-btn">点击查看行业方案</div></a>
			</div>
		</div>
		<div class="fcrm-pro-head">为什么选择可为留学ERP系统</div>
		<div class="fcrm-ad-item">
			<div class="fai-ico1"></div>
			<p class="fai-tit">产品功能丰富</p>
			<p class="fai-con">可为留学erp系统是一款功能丰富的软件，支持多机构、多校区管理、矩阵权限管理，提供从前端市场营销、客户管理到后端服务管理一体化业务管控系统。</p>
		</div>
		<div class="fcrm-ad-item">
			<div class="fai-ico2"></div>
			<p class="fai-tit">客户化开发平台</p>
			<p class="fai-con">根据客户需求灵活定制开发，制定企业个性化化业务系统，并且可自定义数据报表，细化数据分析，供企业管理层做决策支撑。</p>
		</div>
		<div class="fcrm-ad-item">
			<div class="fai-ico3"></div>
			<p class="fai-tit">数据安全性</p>
			<p class="fai-con">对企业数据进行分级管理，严格的权限控制是安全保障的基础，系统支持分布式部署，提升系统性能的同时也保障了整体的高可用性。</p>
		</div>
		<div class="fcrm-ad-item">
			<div class="fai-ico4"></div>
			<p class="fai-tit">系统集成扩展</p>
			<p class="fai-con">支持外部系统接口集成，如OA、财务、CRM、HR、官网等前后端系统的接口开发，实现了企业数据的自由流转，消除信息化孤岛弊端。</p>
		</div>
		<div class="fcrm-pro-head">功能模块</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic1"></div>
			<p class="fcrm-con-tit">产品体系</p>
			<p class="fcrm-con-word">产品是销售的基础也是目标，对产品进行统一有序管理，对产品类型、价格、标签设定，也是产品分析的数据基础。</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-pic2"></div>
			<p class="fcrm-con-tit">市场招生</p>
			<p class="fcrm-con-word">管理线下各类活动，对每场活动作计划和总结投入产出分析。对线下渠道方管理和返佣明细管理。</p>
		</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic3"></div>
			<p class="fcrm-con-tit">客户咨询管理</p>
			<p class="fcrm-con-word">管理客户档案信息，可根据客户意向级别自动生成回访计划，辅助咨询老师清晰高效的管理客户，提高签单率。</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-pic4"></div>
			<p class="fcrm-con-tit">合同管理</p>
			<p class="fcrm-con-word">包括合同档案、收款、发票、退款、优惠等管理，同时都可以设置审批流程，支持按照责权发生制计算合同收入。</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-pic5"></div>
			<p class="fcrm-con-tit">留学服务管理</p>
			<p class="fcrm-con-word">功能包括服务流程管理、申请材料管理、选校申校管理、投诉处理等。保证服务流程标准化，辅助申请老师有效管理服务进度和绩效申报。</p>
		</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic6"></div>
			<p class="fcrm-con-tit">国际合作</p>
			<p class="fcrm-con-word">主要针对留学机构的国际院校合作业务，提供合作方管理、谈判记录、信息维护、申请服务等，支持多种佣金结算方式。</p>
		</div>		
		<div class="fcrm-pro-con">
			<div class="fcrm-pic7"></div>
			<p class="fcrm-con-tit">基础库</p>
			<p class="fcrm-con-word">基础库包括国家、城市、院校库、专业库、案例库，帮助实现学术资源共享、案例沉淀整合进一步形成业务咨询闭环。</p>
		</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic8"></div>
			<p class="fcrm-con-tit">集团化管控</p>
			<p class="fcrm-con-word">通过多校区管理平台，总部可以轻松掌握各校区的经营状况，辅助各校区实现精细化管理，达到财务、业务一体化的集团管控。</p>
		</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic9"></div>
			<p class="fcrm-con-tit">工作台设置</p>
			<p class="fcrm-con-word">系统为每个工作人员提供了简洁、个性化的工作台设置功能，工作人员登录系统后可以直观的看到自己所关心的业务数据和待办事项。</p>
		</div>	
		<div class="fcrm-pro-con">
			<div class="fcrm-pic10"></div>
			<p class="fcrm-con-tit">决策分析</p>
			<p class="fcrm-con-word">提供多维度数据分析报表，支持矩阵和图表两种形式，为不同的管理岗位、不同的角色提供不同数据报表，是企业管理决策层做重要决策的数据支撑。</p>
		</div>	
		<div class="fcrm-pro-head">支持移动APP</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic1"></div>
			<p class="fcrm-con-tit">通知推送</p>
			<p class="fcrm-con-word" style="text-align:center;">最新留学资讯、院校专业排名、就业信息、往期案例等内容推送......</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic2"></div>
			<p class="fcrm-con-tit">进度查看</p>
			<p class="fcrm-con-word" style="text-align:center;">留学进度、授课进度、选校进度、文书进度、申校进度、签证进度......</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic3"></div>
			<p class="fcrm-con-tit">考试方案</p>
			<p class="fcrm-con-word" style="text-align:center;">TOFEL、GRE、GPA考试目标科目信息以及方案规划信息......</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic4"></div>
			<p class="fcrm-con-tit">实践方案</p>
			<p class="fcrm-con-word" style="text-align:center;">学习实践、活动实践、学术实践等方案的目标要求、完成时间、计划展开......</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic5"></div>
			<p class="fcrm-con-tit">问题反馈</p>
			<p class="fcrm-con-word" style="text-align:center;">授课问题、服务问题、投诉问题、常见问题、问题解决方案......</p>
		</div>
		<div class="fcrm-pro-con">
			<div class="fcrm-app-pic6"></div>
			<p class="fcrm-con-tit">个人中心</p>
			<p class="fcrm-con-word" style="text-align:center;">个人基础信息查看、个人简历、材料准备、申请文书、院校确认书......</p>
		</div>
		<div class="fcrm-pro-head">产品应用价值</div>
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<p class="value-tit"><span>高层管理</span></p>
					<ul>
						<li>掌握团队运作情况、重要商机，做出决策；</li>
						<li>优化业务流程，降低管理成本，提高效率；</li>
						<li>查看各团队的工作计划和方案执行情况；</li>
						<li>合理优化资源配置，取得更高的回报；</li>
						<li>丰富数据报表，帮助合理制定运营策略；</li>
						<li>提升分校管理，制定集团化总体运营方案；</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<p class="value-tit"><span>市场主管</span></p>
					<ul>
						<li>提高市场活动响应率，降低单个线索成本；</li>
						<li>精准策划针对性市场活动，提升有效线索数量；</li>
						<li>挖掘潜在客户，帮助制定价格策略；</li>
						<li>科学评估活动效果，合理计算投入产出比；</li>
						<li>申请、计划、执行、效果反馈，全过程管理；</li>
						<li>提升线索分配效率，提升线索二次利用率；</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<p class="value-tit"><span>销售主管</span></p>
					<ul>
						<li>掌握销售跟单情况，主动指导销售跟单；</li>
						<li>共享协同提高团队合作能力，赢单更有把握；</li>
						<li>企业内部案例库，通过案例分析，辅助咨询签单；</li>
						<li>掌握销售过程，推进销售速度，缩短销售周期；</li>
						<li>合理分配线索，根据销售机会配置最优的资源。</li>
						<li>全面联系人管理，离职无缝转接，保证不丢单；</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<p class="value-tit"><span>申请主管</span></p>
					<ul>
						<li>提升客户服务体验、提高满意度，减少退款；</li>
						<li>捕捉和跟踪服务中出现的问题，及时纠正；</li>
						<li>知识库积累，便于知识共享交流，提升服务水平；</li>
						<li>提高工作效率，重要事项提醒，提高带案量；</li>
						<li>定位风险客户，提升风险管控能力；</li>
						<li>帮助细化服务流程，缩短客户服务周期；</li>
					</ul>
				</div>
				<div class="swiper-slide">
					<p class="value-tit"><span>财务主管</span></p>
					<ul>
						<li>帮助财务主管记录收支流水，随时查看收支盈亏；</li>
						<li>按月、季度、年分析收支情况，多维度报表分析；</li>
						<li>根据合同条款约束计算客户退款金额，减少企业损失；</li>
						<li>按责权发生制计算预计收入，提供财务预估收入分析；</li>
						<li>帮助及时发现问题，提升财务风险把控能力；</li>
						<li>系统审批流设置，优化收费、退费、优惠等审批流设置；</li>
					</ul>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>

	{template "content","bottom"}
	<script type="text/javascript" src="{JS_PATH}m/swiper.min.js"></script>
	<script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: true,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
</body>
</html>