<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
    <link type="text/css" href="{CSS_PATH}m/pro-edus.css" rel="stylesheet"/>
    <script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!---->
      <script type="text/javascript">
        $(function(){
          var _x = $(window).width();
          var _y = (_x * 264) / 640;
          $('.auto-banner').css({
            width : _x,
            height : _y,
            margin : '10px auto 0',
            textAlign : 'center',
            position : 'relative',
          }).find('img').attr({
            width : _x,
            height : _y,
          });
        })
      </script>
</head>
<body>
      <div class="pagebody">
      <div class="content">
      {template "content","head_top"}
      {template "content","head_sub"}
        <div class="edus_Administrationbanner auto-banner">
          <img src="{IMG_PATH}m/edus_Administrationbanner.png" alt="可为EDUS教务系统" title="可为EDUS教务系统"/>
        </div>
             <div class="edus_AdmiDiff1" style="margin-top:15px;">
              <div class="ea-center">
                <p class="eac-tit">1、招生工作混乱，渠道信息管理难，学员流动<br />率越来越高</p>
                <p class="eac-con">内置CRM系统，实时监控招生过程，精确管理每一位学员；汇总销售机会，预测销售形势，方便企业合理分配销售资源，指导销售跟单，让销售效果事半功倍；系统自动提醒给客户回访电话，克服人脑遗忘规律。</p>
                 <div class="edus_butone">在线演示</div>
              </div>
             </div>
             <div class="edus_AdmiDiff2">
              <div class="ea-center">
                <p class="eac-titR">2、管理欠规范，员工操作随意性大，仅靠责任<br />心不堪一击</p>
                <p class="eac-conR">内置CRM系统，实时监控招生过程，精确管理每一位学员；汇总销售机会，预测销售形势，方便企业合理分配销售资源，指导销售跟单，让销售效果事半功倍；系统自动提醒给客户回访电话，克服人脑遗忘规律。</p>
                 <div class="edus_buttwo">在线演示</div>
              </div>
             </div>
             <div class="edus_AdmiDiff1" style="margin-top:15px;">
              <div class="ea-center">
                <p class="eac-tit">3、每天经手的钱票据众多，不确定是否搞错，<br />财务很头疼</p>
                <p class="eac-con">系统提供财务对账功能，确保经手人现金、信息、单据的一致；系统方便快捷的抓取各个分校的收费和支出数据，方便汇总，及时化报表统计，提供给校长进行数据决策，帮助降低机构运营风险，合理分配资金。</p>
                 <div class="edus_butone">在线演示</div>
              </div>
             </div>
            <div class="edus_AdmiDiff2">
              <div class="ea-center">
                <p class="eac-titR">4、报表反映不及时，领导决策受影响，没数据<br />决策很危险</p>
                <p class="eac-conR">系统即时生成多个维护的收支情况统计报表，看报表不用再等到月底；系统还支持客户自定义的报表功能，客户可根据自己的管理需求定义出具有自己独特管理思想的数据报表。</p>
                 <div class="edus_buttwo">在线演示</div>
              </div>
             </div>
             <div class="edus_AdmiDiff1" style="margin-top:15px;">
              <div class="ea-center">
                <p class="eac-tit">5、教务繁杂，工作量大，效率低，凭个人感觉<br />协调工作</p>
                <p class="eac-con">系统支持：让教务运转准确高效智能化，省时省心省人力；拥有清晰透明的教务管理机制平台，能够合理有序的安排教师、教室、学员资源，统筹时间和计划，实现教学资源利用效率最大化。</p>
                 <div class="edus_butone">在线演示</div>
              </div>
             </div>
             <div class="clearfix"></div>
             <div class="edus_AdminTitlebig"><p class="titlecontentbig">强大丰富的系统平台、资深权威的专家团队个性化<a class="red">优势特色</a>其他品牌无法匹及。</p></div>
             <div class="edus_AdminPro_1">
               <div class="edus_AdminPic1"> <img src="{IMG_PATH}m/edus_AdminPic1.png" width="136" alt="" title=""/></div>             
                <p class="edus_AdminPicRight1">市场、销售、教务、财务、教学、学员端的一站式实现培训机构信息化管理。</p>
                <div class="clearfix"></div>
                 <p class="edus_AdminPicRight2">强大的客户化扩展，实现企业线上线下大数据整合。</p>
                 <div class="edus_AdminPic2"> <img src="{IMG_PATH}m/edus_AdminPic2.png" width="100px" alt="" title=""/></div>
                 <div class="clearfix"></div>
                 <div class="edus_AdminPic3"> <img src="{IMG_PATH}m/edus_AdminPic3.png" width="146px" alt="" title=""/></div>
                 <p class="edus_AdminPicRight3">全面精准的决策分析，可视化的报表系统，“一拖一拽”即实现立体决策依据。</p>
               </div>
               <div class="clearfix"></div>
               <div class="edus_AdminPro_2">
                  <p class="edus_AdminPicRight4">严谨而人性化的系统自动排课管理，让排课“难”不在机构出现。</p>
                  <div class="edus_AdminPic4"><img src="{IMG_PATH}m/edus_AdminPic4.png" width="125px" alt="" title=""/></div>
                   <div class="clearfix"></div>
                   <div class="edus_AdminPic5"><img src="{IMG_PATH}m/edus_AdminPic5.png" width="144px" alt="" title=""/></div>                   <p class="edus_AdminPicRight5">先进的学员端管理，实现线下教学、线上检查，让学员、家长、机构“零”沟通障碍。</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="edus_AdminPro_3">
                   <p class="edus_AdminPicRight6">支持培训机构多业务模式管理，提供精确到位的管理方案。</p>
                  <div class="edus_AdminPic6"> <img src="{IMG_PATH}m/edus_AdminPic6.png" width="136px" alt="" title=""/></div>
                  <div class="clearfix"></div>
                  <div class="edus_AdminPic7"> <img src="{IMG_PATH}m/edus_AdminPic7.png" width="124px" alt="" title=""/></div>
                  <p class="edus_AdminPicRight7">高效的市场营销整合CRM精细管理，提升机构招生率。</p>
                  <div class="clearfix"></div>
                  <p class="edus_AdminPicRight8">制卡刷卡系统一卡通电子考勤，实现学员IC卡管理。</p>
                  <div class="edus_AdminPic8"> <img src="{IMG_PATH}m/edus_AdminPic8.png" width="122px" alt="" title=""/></div>
                  <div class="clearfix"></div>
                  <div class="edus_AdminPic9"> <img src="{IMG_PATH}m/edus_AdminPic9.png" width="102px" alt="" title=""/></div>
                  <p class="edus_AdminPicRight9">强大的数据安全体系，防止学员数据流失以及老师人员流动带来的不良后果。</p>
                   <div class="clearfix"></div>
                   <p class="edus_AdminPicRight10">具有营销思想的教务系统，应用企业超过2000+</p>
                   <div class="edus_AdminPic10"> <img src="{IMG_PATH}m/edus_AdminPic10.png" width="136px" alt="" title=""/></div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="edus_AdminPro_4">
                    <div class="edus_AdminPic11"> <img src="{IMG_PATH}m/edus_AdminPic11.png" width="120px" alt="" title=""/></div>
                    <p class="edus_AdminPicRight11">模块化产品封装，丰富的产品既可独立拆分使用，又可自由组合。</p>
                    <div class="clearfix"></div>
                     <p class="edus_AdminPicRight12">清晰明了的课程费用管理，保证费用清晰，收费退费有理有据。</p>
                    <div class="edus_AdminPic12"> <img src="{IMG_PATH}m/edus_AdminPic12.png" width="120px" alt="" title=""/></div>
                    <div class="clearfix"></div>
                    <div class="edus_AdminPic13"> <img src="{IMG_PATH}m/edus_AdminPic13.png" width="120px" alt="" title=""/></div>
                    <p class="edus_AdminPicRight13">清晰明了的课程费用管理，保证费用清晰，收费退费有理有据。</p>
                    <div class="clearfix"></div>
                   </div>
                   <div class="butbar_promotion">点击在线演示</div>
                   <div class="edus_AdminPro_5">
                     <p class="edus_Admin_title5">可为edus教务管理软件系统支持：</p>
                     <div class="edus_AdminSystem">
                       <span class="eas-item1">财务管理</span>
                       <span class="eas-item2">教务管理</span>
                       <span class="eas-item3">排课管理</span>
                       <span class="eas-item4">决策分析</span>
                       <span class="eas-item5">考勤制卡</span>
                       <span class="eas-item6">教师管理</span>
                       <span class="eas-item7">市场营销</span>
                       <span class="eas-item8">学员管理</span>
                       <span class="eas-item9">一对多管理</span>
                       <span class="eas-item10">一对一管理</span>
                       <span class="eas-item11">集成拓展</span>
                       <span class="eas-item12">多校区管理</span>
                       <span class="eas-item13">合同管理</span>
                     </div>
                   </div>
                   <div class="edus_AdminPro_6">
                   <p class="edus_Admin_title6">EDUS教务管理软件使用后和使用前对比</p>
                   <div class="edus_AdminContrast">
                     <p>财务数据报表分析率提升了<span style="font-size:14px;color:#c00a0a;font-weight:bold;">57%</span></p>
                     <p>分配学员统计教师绩效考核提升了<span style="font-size:14px;color:#c00a0a;font-weight:bold;">60%</span></p>
                     <p>销售工作效率平均提升了<span style="font-size:14px;color:#c00a0a;font-weight:bold;">45%</span></p>
                     <p>培训机构收入提升了<span style="font-size:14px;color:#c00a0a;font-weight:bold;">38%</span></p>
                   </div>
                   <p class="edus_Admin_title7">提升管理效益赢取管理红利</p>
                   </div>
          <div class="Recttab" style="margin-top:12px;">
            <div class="Rt-head">
              <div class="Rth-item Rth-on">典型成功案例</div>
              <div class="Rth-item">行业解决方案</div>
            </div>
            <div class="Rt-con">
              <div class="Rtcon-item">
                <div class="rti-left"><img src="{IMG_PATH}m/crm_proCase1.png" width="142" height="50" alt="" title="" /></div>
                <div class="rti-right"><img src="{IMG_PATH}m/crm_proCase2.png" width="142" height="50" alt="" title="" /></div>
                <div class="rti-left"><img src="{IMG_PATH}m/crm_proCase3.png" width="142" height="50" alt="" title="" /></div>
                <div class="rti-right"><img src="{IMG_PATH}m/crm_proCase4.png" width="142" height="50" alt="" title="" /></div>
                <div class="rti-left"><img src="{IMG_PATH}m/crm_proCase5.png" width="142" height="50" alt="" title="" /></div>
                <div class="rti-right"><img src="{IMG_PATH}m/crm_proCase6.png" width="142" height="50" alt="" title="" /></div>
              </div>
              <div class="Rtcon-item" style="display:none;"> 
                <p class="rti-tit">数十年软件行业解决方案积累</p>
                <div class="rti-item1">教育行业</div>
                <div class="rti-item2">金融行业</div>
                <div class="rti-item3">医疗器械<br />行业</div>
                <div class="rti-item4">房产建筑<br />行业</div>
                <div class="rti-item5">IT电商<br />行业</div>
                <div class="rti-item6">文体娱乐<br />行业</div>
                <div class="rti-item7">零售贸易<br />行业</div>
                <div class="rti-item8">餐饮旅游<br />行业</div>
              </div>
            </div>
          </div>
      </div>    
      </div>
    <div class="p-btn">立即预约演示</div>
    {template "content","bottom"}
  </body>
</html>
