<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro-edus.css" rel="stylesheet"/>
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!---->    
      <script type="text/javascript">
        $(function(){
          var _x = $(window).width();
          var _y = (_x * 264) / 640;
          $('.auto-banner').css({
            width : _x,
            height : _y,
            margin : '10px auto 0',
            textAlign : 'center',
            position : 'relative',
          }).find('img').attr({
            width : _x,
            height : _y,
          });
        })
      </script>     
	</head>

<body>
<div id="page-body">
   <div class="content">
 	{template "content","head_top"}
 	{template "content","head_sub"}
        <div class="school-banner auto-banner"><img src="{IMG_PATH}m/school_banner.png" alt="多校区管理" title="多校区管理"/></div>
   <div class="p-content">
        <div class="w-content">
        <p class="title-one">管理细点：收费、退费、转费、欠费、缴费充<br>值、合同管理、财务支出、财务分析</p>
        <div class="line-one">  </div> 
        <div class="pic1-jianying"><img src="{IMG_PATH}m/school_icon1.png" width="32" height="32" title=""/></div>
        <p class="pic1-jyleft">系统帮助企业以全局的视野构建财务管理和控<br>制体系，降低企业财务与经营风险。</p> 
        <div class="clearfix"></div>   
        <div class="pic2-jianying"><img src="{IMG_PATH}m/school_icon2.png" width="32" height="32" title=""/></div>
         <p class="pic2-jyleft">系统实时清晰掌握总部及各分支机构收入、支<br>出、费用盈利等资金流动情况，实现企业利益<br>最大化。</p>
          <div class="clearfix"></div>
           <div class="pic3-jianying"><img src="{IMG_PATH}m/school_icon3.png" width="32" height="32" title=""/></div>
         <p class="pic3-jyleft">对系统内收费管理、退费管理、支出管理、合<br>同管理、其他费用管理的资金进行统计分析。</p>
         <div class="red-title1">集团财务管控</div>
         
         
      </div>
       <div class="w-content2">
        <p class="title-two">实现内部员工级别和角色管理</p>
        <div class="line-two">  </div> 
        <p class="con2">       系统对企业员工管理，是按照系统流程和不同部门<br>角色来管理，按照不同所属机构，总部、部门、分校来<br>划分管理，每个员工档案信息和级别角色相关联，对不<br>同员工角色有不同权限划分，让内部员工管理实现级别<br>和角色管理，每一个员工等于有一个个人成长档案，让<br>我们在员工管理时，不在级别、岗位、权限混乱。 
</p>
         <div class="red-title2">集团人员管控</div>
         
         
      </div>
      <div class="w-content3">
        <p class="title-third">集团审批根据不同审批流程进行风险管控 </p>
        <div class="line-third">  </div> 
        <p class="con3">       在教育机构中，常见的审批主要是，学员进行优惠<br>申请、退费申请、班型新增、课程设置、新产品、教材<br>采购等，但是这些问题正是集团审批管控风险关键，在<br>任何企业管理中，审批是对企业内部责任风险一种有效<br>控制，明确哪些是需要申请审批，明确每个管理人员审<br>批权限，避免一些员工给客户承诺过多，造成公司不必<br>要损失。 
</p>
         <div class="red-title3">集团审批管控</div>
          
   </div>
    <div class="w-content4">
        <p class="title-four">实现从机构总部管理、部门管理、校区管理、<br>产品管理及角色权限控制等综合性管理
 </p>
        <div class="line-four">  </div> 
        <div class="pic_team1">
            <div class="school_pic1"></div>
            
		    <div class="pc-con">• 系统用户可在此定义企业内部组织机构，根据企业的内部结构进而设定企业内部的管理级别。
                                <br>• 系统可以实现企业跨行业跨地域之间的数据共享。
                                <br>• 系统可以清楚了解集团下属的分支机构情况，以及每个地域的分支机构的特点。
                                <br>• 可以不断梳理企业管理流程和架构，梳理每个流程是否合理，帮助企业高效管理，支持企业集团化发展架构。
</div>
        
        </div>
        
        <div class="pic_team2">
            <div class="school_pic2"></div>
            
		    <div class="pc-con">• 系统支持多个分校或教学区，总部可更快捷更有力的监管各分部、分校，学员档案、财务信息、教学情况。
								<br>• 校区管理很好的权限化分管理。既保证总部可以随时掌控分校区的运营状况，也可以自己独立运营。</div>
        
        </div>
        <div class="pic_team3">
            <div class="school_pic3"></div>
            
		    <div class="pc-con">• 系统管理人员可以根据企业的需求设定企业内部的部门，并可对部门进行分级管理。方便查看每个部门人员的管理情况。
								<br>• 系统内可以对企业内部的部门灵活变更。
	</div>
        
        </div>
         <div class="pic_team4">
            <div class="school_pic4"></div>
            
		    <div class="pc-con">• 系统支持开设产品科目，提供单科、产品套餐组合价格模式。
								<br>• 支持新添加产品时对产品内容，定价审批管理。
								<br>• 支持针对于不同校区，不同专业，不同班级对产品进行管理。
								<br>• 对于产品的修改，增加，删除有严格的权限控制。防止产品的单价任意修改。
</div>
        
        </div>
        <div class="pic_team5">
            <div class="school_pic5"></div>
            
		    <div class="pc-con">• 系统通过权限管理设置不同角色的人员权限。使管理更加明确，并且保证了公司的信息安全。
									<br>• 支持对于每个栏目进行权限管理。
									<br>• 支持同一个人多种角色的权限管理。
            </div>
        
        </div>
         <div class="pic_team6">
            <div class="school_pic6"></div>
            
		    <div class="pc-con">• 系统通过权限管理设置不同角色的人员权限。使管理更加明确，并且保证了公司的信息安全。
									<br>• 支持对于每个栏目进行权限管理。
									<br>• 支持同一个人多种角色的权限管理。
            </div>
        
        </div>
         <div class="red-title4">集团架构管控</div>
          
   </div>
   
   </div>

</div>
 <div class="p-btn">立即预约演示</div>
{template "content","bottom"}
</body>
</html>
