<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro-edus.css" rel="stylesheet"/>
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!---->   
      <script type="text/javascript">
        $(function(){
          var _x = $(window).width();
          var _y = (_x * 264) / 640;
          $('.auto-banner').css({
            width : _x,
            height : _y,
            margin : '10px auto 0',
            textAlign : 'center',
            position : 'relative',
          }).find('img').attr({
            width : _x,
            height : _y,
          });
        })
      </script>  
	</head>
<body>
     <div class="pagebody">
        <div class="content">
 		{template "content","head_top"}
 		{template "content","head_sub"}
        <div class="e_studentbanner auto-banner"><img src="{IMG_PATH}m/e_studentbanner.jpg" alt="" title=""/></div>
        <div class="e_studentContent">
           <div class="e_studentPic"><img src="{IMG_PATH}m/e_studentPic.png" width="258" height="176" alt=""></div>
           <div class="title_bar">核心管控点</div>
           <div class="e_content1">
                 <p class="e_studentPic1"></p>
                <h2 class="estudentPic1_tit">学员登录应用</h2>
                <div class="pc-con1">•  学员管理登录界面的主题设计风格采用了多界面切换的操作方式，学员可以更换。学员可自行设置头像，包括本地图片和摄像头采集两种不同的上传头像方式。
								<br>•  登入界面支持学员登入和家长登入两种模式：学员可以登入查看课程信息，课程安排，作业，请假，包括对于课程的评价；家长登陆能够查看学员成绩，作业情况，考试，了解学员的学习情况。</div>
               </div>
              <div class="e_content1">
                 <p class="e_studentPic2"></p>
                <h2 class="estudentPic1_tit">课程信息管理</h2>
                <div class="pc-con1">•  方便学员查看所学课程的上课日期和时间，合理安排学员学习时间。有利于提高学员的学习质量。
                               <br>•  家长随时了解学员学习课程的情况，购买课程信息，已经上课课程，剩余课程，更加全面了解学习进度。</div>
               </div>
                <div class="e_content1">
                 <p class="e_studentPic3"></p>
                <h2 class="estudentPic1_tit">课程评价管理</h2>
                <div class="pc-con1">•  学员通过系统可以对已经上过的课程进行评价，能够帮助机构提升教师的教学质量，让学员监督机构的服务。
									<br>•  学员端系统为加强学员、教师之间沟通提供一个平台，提高教师与学员之间的互动，提高学员对于机构的满意度，减少机构学员的退费现象。</div>
               </div>
               <div class="e_content1">
                 <p class="e_studentPic4"></p>
                <h2 class="estudentPic1_tit">学员考勤管理</h2>
                <div class="pc-con1">• 学员可以在学员考勤中查看自己的考勤情况，家长随时能够了解孩子的上课信息，包括上课迟到的情况，对于学员的经常迟到或者缺勤，家长能够及时了解，和学员做出及时的沟通。
					<br>• 同时机构对于学员的考勤随时了解，如果正常缺勤，事后可以协调机构给学生补课。如果不是正常，则教师按照违规考勤处理。</div>
               </div>
               <div class="e_content1">
                 <p class="e_studentPic5"></p>
                <h2 class="estudentPic1_tit">学员请假管理</h2>
                <div class="pc-con1">•  学员能够登入学员端系统进行请假申请，教师对于请假进行审批，家长能够通过系统查看学员请假原因。
							<br>•  学员、家长和教师能够登入系统查看学员的请假情况，具体哪些课程请假，教师能够根据学员的请假的课时对学员做一些相应的辅导。</div>
               </div>
               <div class="e_content1">
                 <p class="e_studentPic6"></p>
                <h2 class="estudentPic1_tit">学员成绩管理</h2>
                <div class="pc-con1">•  学员可在学员成绩模块查看自己所学课程的考试成绩，使学员和学员家长及时了解学员的学习情况。
                            <br>•  查看学员某门课程的详细成绩信息，能够帮助学员，家长和教师了解学员课程学习情况。</div>
               </div>
               <div class="e_content1">
                 <p class="e_studentPic7"></p>
                <h2 class="estudentPic1_tit">学员作业管理</h2>
                <div class="pc-con1">•  学员进入系统下载教师上传的作业附件，填写作业完成情况，并上传完成的作业附件。
                                 <br>•  教师通过学员端系统可以随时查看学员的作业，并作出批改，便于学员和教师之间的沟通。</div>
               </div>
               <div class="e_content1">
                 <p class="e_studentPic8"></p>
                <h2 class="estudentPic1_tit">教学回访管理</h2>
                <div class="pc-con1">• 机构教务人员主动回访学员对教学的评价，及时了解学员的对教学的反馈，提高机构服务质量。
   <br>• 学员家长可以登入学员端系统对教学的情况做出反馈，便于学员家长和教师之间的沟通，提高教学质量。</div>
               </div>
               <div class="e_content2">
                 <p class="e_studentPic9"></p>
                <h2 class="estudentPic1_tit">教师评估管理</h2>
                <div class="pc-con1">•  学员和家长进入学员端系统可以对某一个教师某一节课程做出评价，精细的对教师做出评估，提高教师的教学。
     <br>• 培训机构可以根据学员做出的评估，做出及时的调整，提高学员的满意度和机构的教学质量。</div>
               </div>
        </div>
        
        <div class="p-btn">立即预约演示</div>
		{template "content","bottom"}
</body>
</html>
