<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
    <link type="text/css" href="{CSS_PATH}m/pro-crm.css" rel="stylesheet" />
    <script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
    <script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
<!---->  
    <script type="text/javascript">
      $(function(){
        var _x = $(window).width();
        var _y = (_x * 264) / 640;
        $('.auto-banner').css({
          width : _x,
          height : _y,
          margin : '10px auto 0',
          textAlign : 'center',
          position : 'relative',
        }).find('img').attr({
          width : _x,
          height : _y,
        });
      })
    </script>   
	</head>
<body>
     <div class="pagebody">
     <div class="content">
     {template "content","head_top"}
     {template "content","head_sub"}
          <div class="crm_promotionbanner auto-banner">
            <img src="{IMG_PATH}m/crm_promotionbanner.png" width="360" alt="可为CRM" title="可为CRM"/>
          </div>
          <div class="crm_promotionContent">
               <div class="crm_promotion_tit1">管理难点</div>
                <div class="crm_proDiff1">
                  <img src="{IMG_PATH}m/crm_proDiff1.png" width="311" alt="可为CRM" title="可为CRM">
                </div>
                <div class="clearfix"></div>
                 <div class="crm_proDiff2">
                  <img src="{IMG_PATH}m/crm_proDiff2.png" width="311" alt="可为CRM" title="可为CRM">
                </div>
                 <div class="clearfix"></div>
               <div class="crm_proDiff3">
                <img src="{IMG_PATH}m/crm_proDiff3.png" width="311" alt="可为CRM" title="可为CRM">
              </div>
               <div class="clearfix"></div>
               <div class="crm_proDiff4">
                <img src="{IMG_PATH}m/crm_proDiff4.png" width="311" alt="可为CRM" title="可为CRM">
                </div>
               <div class="clearfix"></div>
               <div class="crm_promotion_tit2">可为CRM核心功能</div>
               <div class="crm_proFountion1"> 
                  <div class="left1">市场管理</div>
                  <div class="right">
                  <span class="rightContentTit1">用最有效的市场手段,获取更多商机</span>
                  <span class="rightContentone">招生线索管理</span>
                  <span class="rightContenttwo">营销管理</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">市场活动管理</span>
                  <div class="butcheng">咨询详情</div>
                  
                  </div>
                  </div>
                  <div class="crm_proFountion2"> 
                  <div class="left2">客户池管理</div>
                  <div class="right">
                  <span class="rightContentTit1">不同阶段的客户进入不同的客户池</span>
                  <span class="rightContentone">线索池</span>
                  <span class="rightContenttwo">邀约池</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">订金池</span>
                  <div class="butcheng">咨询详情</div>  
                  </div>
                  </div>                  
                  <div class="crm_proFountion2"> 
                  <div class="left3">销售管理</div>
                  <div class="right">
                  <span class="rightContentTit1">精细化的销售过程管理-让一切尽在掌控</span>
                  <span class="rightContentone">销售机会管理</span>
                  <span class="rightContenttwo">销售计划管理</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">销售合同管理</span>
                  <div class="butcheng">咨询详情</div>  
                  </div>
                  </div>
                  <div class="crm_proFountion2"> 
                  <div class="left4">客服管理</div>
                  <div class="right">
                  <span class="rightContentTit1">服务计划、请求、工单、回访管理</span>
                  <span class="rightContentone">教学服务请求</span>
                  <span class="rightContenttwo">学员服务计划</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">服务队列</span>
                  <div class="butcheng">咨询详情</div>
                  
                  </div>
                  </div>
                   <div class="crm_proFountion2"> 
                  <div class="left5">财务管理</div>
                  <div class="right">
                  <span class="rightContentTit1">学员收费/退费、订金/合同...</span>
                  <span class="rightContentone">订金管理</span>
                  <span class="rightContenttwo">收款管理</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">退费管理</span>
                  <div class="butcheng">咨询详情</div>
                  
                  </div>
                  </div>
                   <div class="crm_proFountion2"> 
                  <div class="left6">办公自动化</div>
                  <div class="right">
                  <span class="rightContentTit1">高效协同、组织办公系统</span>
                  <span class="rightContentone">日程管理</span>
                  <span class="rightContenttwo">工作报告管理</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">事项提醒管理</span>
                  <div class="butcheng">咨询详情</div>
                  
                  </div>
                  </div>
                  <div class="crm_proFountion2"> 
                  <div class="left7">教学服务</div>
                  <div class="right">
                  <span class="rightContentTit1">全面管理培训机构后端业务</span>
                  <span class="rightContentone">教师管理</span>
                  <span class="rightContenttwo">课程管理</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">班级管理</span>
                  <div class="butcheng">咨询详情</div>
                  </div>
                  </div>
                  <div class="crm_proFountion2"> 
                  <div class="left8">决策分析</div>
                  <div class="right">
                  <span class="rightContentTit1">灵活定制报表、图标功能，实时数据分析</span>
                  <span class="rightContentone">市场效果评估</span>
                  <span class="rightContenttwo">销售费用分析</span>
                  <div class="clearfix"></div>
                  <span class="rightContentthree">教学质量分析</span>
                  <div class="butcheng">咨询详情</div>
                  </div>
                  </div>                  
                  <div class="crm_promotion_tit3">可为CRM十大优势亮点</div>
                  <div class="rec-con">
                  <div class="RectangularOne">
                     <p class="title_1">全面精准的决策分析</p>
                     <p class="title_1_Content">报表随心剪裁、金字塔分<br>
                   析、漏斗分析、项目过程分<br>析，及时发现销售机会和项<br>目跟进的异常</p>
                  </div>                  
                  <div class="RectangularTwo">
                     <p class="title_1">全面的集成外部平台</p>
                     <p class="title_1_Content">支持Web Services实现<br>与财务、ERP、OA系统<br>办公、外部网站、呼叫中<br>心等系统的实时数据交换</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="RectangularThree">
                     <p class="title_1">深度集成沟通平台</p>
                     <p class="title_1_Content">包括：Web、E-mail、<br>手机短信、PDA、电话、<br>传真，可设置相应模版自<br>动完成批量的客户沟通</p>
                  </div>
                  <div class="RectangularFour">
                     <p class="title_1">轻松高效的移动办公</p>
                     <p class="title_1_Content">系统可放置到您的手机或<br>iPad移动终端上，重要的<br>客户、线索、商机、财务<br>收支情况一样不落</p>
                  </div>
                  <div class="clearfix"></div>
                   <div class="RectangularFive">
                     <p class="title_1">实时共通的消息提醒</p>
                     <p class="title_1_Content">业务和关键信息变化主动<br>提醒机制，通过系统消<br>息、手机短信、邮件等手<br>段帮助及时获取业务信息</p>
                  </div>
                  <div class="RectangularSix">
                     <p class="title_1">专业权威的数据安全</p>
                     <p class="title_1_Content">数据库不仅提供数据备份<br>和恢复，而且提供访问身<br>份和权限管理，保障数据<br>存储、访问的安全</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="RectangularSeven">
                     <p class="title_1">高速便捷的操作流程</p>
                     <p class="title_1_Content">简单界面：使员工挪动鼠<br>标即可快速完成；高效的<br>批量处理：大大的提高员<br>工数据批量处理的效率</p>
                  </div>
                   <div class="RectangularEight">
                     <p class="title_1">随需应变的应用模式</p>
                     <p class="title_1_Content">从目标客户到价值客户的<br>管控，从产品设计到操作<br>细节，都充分考虑企业的<br>营销管理需求</p>
                  </div>
                  <div class="clearfix"></div>
                  <div class="RectangularNine">
                     <p class="title_1">灵活设置的平台化管理</p>
                     <p class="title_1_Content">可视化的界面、平台化的<br>应用，大大提升了系统配<br>置的灵活度，多种自定义<br>的设置，见效更直接</p>
                  </div>
                  <div class="RectangularTen">
                     <p class="title_1">全面完善的产品功能</p>
                     <p class="title_1_Content">提升客户资源的企业化整<br>合，实现了资源跨区域、<br>跨部门的共享和实时维护<br>更新</p>
                  </div>
                  <div class="clearfix"></div>
                </div>
           </div>          
          <div class="Rectsubline"></div>    
          <div class="Recttab">
            <div class="Rt-head">
              <div class="Rth-item Rth-on">典型成功案例</div>
              <div class="Rth-item">行业解决方案</div>
            </div>
            <div class="Rt-con">
              <div class="Rtcon-item">
                <div class="rti-left">
                  <img src="{IMG_PATH}m/xnh.jpg" width="142" height="50" alt="" title="" />
                </div>
                <div class="rti-right">
                  <img src="{IMG_PATH}m/mjbl.jpg" width="142" height="50" alt="" title="" />
                </div>
                <div class="rti-left">
                  <img src="{IMG_PATH}m/xhd.jpg" width="142" height="50" alt="" title="" />
                </div>
                <div class="rti-right">
                  <img src="{IMG_PATH}m/jc.jpg" width="142" height="50" alt="" title="" />
                </div>
                <div class="rti-left">
                  <img src="{IMG_PATH}m/blxk.jpg" width="142" height="50" alt="" title="" />
                </div>
                <div class="rti-right">
                  <img src="{IMG_PATH}m/jhj.jpg" width="142" height="50" alt="" title="" />
                </div>
              </div>
              <div class="Rtcon-item" style="display:none;"> 
                <p class="rti-tit">数十年软件行业解决方案积累</p>
                <div class="rti-item1">k12培训</div>
                <div class="rti-item2">外语培训</div>
                <div class="rti-item3">少儿培训</div>
                <div class="rti-item4">职业资格</div>
                <div class="rti-item5">艺术培训</div>
              </div>
            </div>
          </div>
          </div>   
     </div>
    <div class="p-btn">立即预约演示</div>
    {template "content","bottom"}
  </body>
</html>
