<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/pro-crm.css" rel="stylesheet" />
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
	    <script type="text/javascript">
	      $(function(){
	        var _x = $(window).width();
	        var _y = (_x * 264) / 640;
	        $('.auto-banner').css({
	          width : _x,
	          height : _y,
	          margin : '10px auto 0',
	          textAlign : 'center',
	          position : 'relative',
	        }).find('img').attr({
	          width : _x,
	          height : _y,
	        });
	      })
	    </script> 		
<!---->			
	</head>
	<body>
		<div id="page-body">
		<div class="content">	
		{template "content","head_top"}
		{template "content","head_sub"}
		<div class="cost-banner auto-banner">
			<img src="{IMG_PATH}m/teaching-banner.jpg" alt="教学服务" title="教学服务" />
		</div>
		
		<div class="sales-pro-head" style="margin-top:0px;">核心管控点</div>
		<div class="sales-pro-content">
			<p class="cp-pic1"></p>
			<p class="sp-tit">教师管理</p>
			<p class="sp-con">1. 可为CRM可以管理教师、助教的基础信息，同时可以记录教师所带的班级信息、学员信息、授课信息、课酬薪资等，帮助培训机构提高教师任课水平，提高教学质量，增强核心竞争力。</p>
		</div>
		<div class="sales-pro-content">
			<p class="cp-pic2"></p>
			<p class="sp-tit">课程管理</p>
			<p class="sp-con">1. 体验课。可为CRM全面管理各类体验课信息，教务人员统一录入课程和课表信息，销售人员可以随时查看、访问，可以根据情况邀约家长、免费试听等。</p>
			<p class="sp-con">2. 课程信息。课程信息记录上课时间、开设班级、课程老师、课时数、课程价格等内容，机构可以实现对相关的修改、增设、删除等操作，并与排课功能结合，可灵活制定各种组合形式。</p>
			<p class="sp-con">3. 课程评价。课程评价模块收集上课学员对课程的反馈信息，包括课程的难易度、课程体系、周/月课时安排等的评价与反馈。机构可针对性的做出课程调整，教师也可就评价与学员沟通，共同提高机构的整体教学水平。</p>
		</div>
		<div class="sales-pro-content">
			<p class="cp-pic3"></p>
			<p class="sp-tit">班级管理</p>
			<p class="sp-con">1. 可为CRM实现了对培训机构新开班级、班级课程、结课班级、班级学员、班级档案、续班统计、退班率、转班率等的综合管理。</p>
			<p class="sp-con">2. 培训机构可以使用班级管理模块来管理每日、周、月的班级课程信息，可以通过短信或邮件的形式将课程信息发送给教师；班级信息也可以做为排课对象，用于自动化排课。</p>
		</div>
		<div class="sales-pro-content">
			<p class="cp-pic4"></p>
			<p class="sp-tit">学员管理</p>
			<p class="sp-con">1. 可为CRM学员管理功能主要从从学员基本信息、学员课程、学员成绩、学员考勤、学员请假、学员作业、教师评估等方面对学员进行全方位的管理。</p>
			<p class="sp-con">2. 通过可为CRM学员管理模块，家长和老师可以对学员整体学习情况有较详细的了解。帮助教务人员及时发现学员知识掌握情况，据此做出个性化的辅导计划，提升学员的知识水平，也从整体上提升了机构的教学质量。</p>
		</div>
		<div class="sales-pro-content">
			<p class="cp-pic5"></p>
			<p class="sp-tit">教室管理</p>
			<p class="sp-con">1. 可为CRM支持教室档案管理，教室占用率统计，教室状态动态管理，合理安排教室的使用资源，保障教室资源利用率最大化。也有效提高了机构的运作效率，实现了教室的分配管理。</p>
		</div>			
		<div class="sales-pro-content">
			<p class="cp-pic6"></p>
			<p class="sp-tit">排课管理</p>
			<p class="sp-con">1. 可为CRM系统强大的排课管理功能，可以设定教师、教室、课程等班级基本要素，支持大小班、VIP等多种开班及教学模式，快速创建或复制课程表，更提供课程表汇总和冲突检测功能。</p>
		</div>											
		<div class="sales-pro-content" style="border-bottom:none;">
			<p class="cp-pic7"></p>
			<p class="sp-tit">教学回访</p>
			<p class="sp-con">1. 可为CRM教学回访主要记教务人员主动回访记录以及学员对教学的评价内容。通过回访记录分析，及时了解学员对教学的反馈，提高教师和机构的服务质量。学员回访和教学评价信息也作为教师绩效考核的重要指标而存在。</p>
		</div>
		<div class="p-btn">立即预约演示</div>
	{template "content","bottom"}
	</body>	
</html>