<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<link type="text/css" href="{CSS_PATH}m/common.css" rel="stylesheet" />
		<link type="text/css" href="{CSS_PATH}m/about.css" rel="stylesheet" />
		<script type="text/javascript" src="{JS_PATH}m/jquery.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/jquery.simplesidebar.js"></script>
		<script type="text/javascript" src="{JS_PATH}m/index.js"></script>
<!--百度统计-->
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?8b6e69bf42c57a2f7c60c80875e8a700";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>
		<script type="text/javascript">
			$(function(){
				var _x = $(window).width();
				var _y = (_x * 264) / 640;
				$('.auto-banner').css({
					width : _x,
					height : _y,
					margin : '10px auto 0',
					textAlign : 'center',
					position : 'relative',
				}).find('img').attr({
					width : _x,
					height : _y,
				});
			})
		</script>		
<!---->			
	</head>
	<body>
		<div id="page-body">
		<div class="content">	
		{template "content","head_top"}
		<div class="about-banner auto-banner">
			<img src="{IMG_PATH}m/about-banner.jpg" alt="可为时代" title="可为时代" />
		</div>
		<div class="about-brief-tit a-item">  
			<a class="abt-left">可为简介</a>
			<span class="abt-active-add"></span>
		</div>
		<div class="about-brief-con" style="display:none;">
			<p style="text-indent:24px;">北京可为时代科技有限公司成立于1993年，是国内领先的提供整体解决方案的企业管理咨询公司。公司拥有近200人的专业咨询和专家团队，专注于为企业提供系统的企业管理咨询与业务解决方案。我们和客户一起，通过对企业管理过程中所遇问题的不断改进，帮助客户实现持续、稳定、健康的发展，达成战略目标。</p>
    		<p style="text-indent:24px;">公司从2001年着手研发自主品牌，EDUS教务系统和可为CRM系统，并成功将自主研发软件应用于教育培训行业，目前可为自主研发的教务系列软件、客户关系管理软件已成功应用于各行各业，为企业的发展提供了专业的信息化解决方案。</p>
    		<p style="text-indent:24px;">作为中国本土管理咨询业的先行者和领导者，我们不仅熟悉深奥的管理理论和管理规律；更是把世界上先进、成熟、实用的管理理念和工具方法软件产品迅速介绍及运用于企业，变成对管理实践有指导意义的可操作、可执行的解决方案，助力企业大有可为。</p>
    		<p style="text-indent:24px;">未来，可为软件将继续运用营销管理的最新理论，结合软件技术的深厚积淀，提供满足客户需求的信息化解决方案和服务目标，公司也将继续秉承“服务创造价值、服务创造未来”的经营理念，以专业的视角为客户提供优质服务，通过传递管理知识，推进信息化，助力企业大有可为，让每一家企业信息化管理更轻松！打造中国企业管理软件第一品牌！成就中国最具规模的综合型管理咨询服务机构！</p> 
		</div>
		<div class="about-mission-tit a-item" style="margin-top:1px;">  
			<a class="amt-left">使命愿景</a>
			<span class="abt-active-add"></span>
		</div>
		<div class="about-mission-conall" style="display:none">
		<div class="about-mission-con">
			<div class="amc-tit">公司使命：</div>
			<div class="amc-dash"></div>
			<p class="amc-con">传递管理知识 推动信息化 助力企业 大有可为</p>
		</div>
		<div class="about-mission-con">
			<div class="amc-tit">公司口号：</div>
			<div class="amc-dash"></div>
			<p class="amc-con">广阔天地 大有可为</p>
		</div>		
		<div class="about-mission-con">
			<div class="amc-tit">员工信条：</div>
			<div class="amc-dash"></div>
			<p class="amc-con">有理想、有道德、有文化、有纪律</p>
		</div>			
		<div class="about-mission-con">
			<div class="amc-tit">经营理念：</div>
			<div class="amc-dash"></div>
			<p class="amc-con">前进、行动、勤奋、学习、高效、参与、专 业、服务、科学、系统、和谐、传承</p>
		</div>	
		<div class="about-mission-con">
			<div class="amc-tit">服务宗旨：</div>
			<div class="amc-dash"></div>
			<p class="amc-con">以客为尊，卓越服务，力争第一，赢得企业信赖，做一个让最终企业用户满意的软件服务公司！</p>
		</div>	
		</div>
		<div class="about-process-tit a-item" style="margin-top:1px;">  
			<a class="apt-left">企业历程</a>
			<span class="abt-active-add"></span>
		</div>
		<div class="about-process-con" style="display:none">
			<p class="apc-year">2001年</p>
			<p class="apc-event">北京可为公司成立；创立“可为”品牌。</p>
			<p class="apc-year">2003年</p>
			<p class="apc-event">涉足教育信息化，自主开发研究“多媒体电子教室”系统并获国家专利证书。同时开始构思针对教育行业的EDUS教务管理系统、CRM系统、学员管理系统为主的产品战略布局。</p>
			<p class="apc-year">2006年</p>
			<p class="apc-event">可为研发团队历经两年的努力，可为EDUS1.0版本成功问世，主要以培训行业纵深管理与业务应用为出发点，立志为教育行业提供最全面的信息化解决方案。</p>
			<p class="apc-year">2007年</p>
			<p class="apc-event">可为CRM系统正式推向市场，CRM K6版本完美应用于企业，短期内用户过千，完美荣获“2006年度中国管理软件行业最具发展潜力企业”奖。可为教务2.0版本完美应用于教育机构，受到同行业的高度关注。 </p>
			<p class="apc-year">2008年</p>
			<p class="apc-event">针对客户复杂项目过程管控的可为CRM K8版本和可为CRM K9版本融会贯通更多重要功能，并成功上线应用于各个行业。</p>
			<p class="apc-year">2009年</p>
			<p class="apc-event">可为自主品牌研发软件+用友软件代理的业务模式，为各行各业提供全面的企业信息化解决方案，通过传递管理知识，推进信息化，助力企业大有可为，成功为上万家企业成功交付了信息化系统，并荣获“中国高新技术企业”荣誉称号。 </p>
			<p class="apc-year">2012年</p>
			<p class="apc-event">可为EDUS3.0教务系统成功推向教育培训行业，在推广应用后，得到了客户的一直好评，提高了客户管理效率和服务质量。</p>
			<p class="apc-year">2013年</p>
			<p class="apc-event">可为EDUS4.0教务系统成功发布，并为新航道国际教育集团进行一体化信息规划，大大提升了该企业运营、服务效率；可为CRM软件被广大用户称之为最实用的管理系统，助力企业信息化管理更轻松一致荣获“中国软件行业的标杆企业”称号。 </p>
			<p class="apc-year">2015年</p>
			<p class="apc-event">可为时代经过十多年的努力，凭借专业的软件产品和真诚优质的服务咨询，可为软件从2001年开始至今在中国教育市场占有率一直保持前列，成为教育行业软件标杆企业，专为教育行业提供最全面的信息化解决方案。</p>
		</div>
		<div class="about-contact-tit a-item" style="margin-top:1px;">  
			<a class="act-left">联系我们</a>
			<span class="abt-active-add"></span>
		</div>
		<div class="about-contact-con" style="display:none;">
			<p class="acc-item"><span style="font-size:14px;font-weight:bold;">工作时间：</span>周一至周五（8:30-18:00）</p>
			<p class="acc-item"><span style="font-size:14px;font-weight:bold;">电话：</span>010-51651266    400-8101006</p>
			<p class="acc-item"><span style="font-size:14px;font-weight:bold;">邮编：</span>100080</p>
			<p class="acc-item"><span style="font-size:14px;font-weight:bold;">地址：</span>北京市海淀区海淀北二街8号 中关村SOHO 910室 乘坐4号线中关村站下车，向西500米即到 </p>
			<p class="acc-item"><span style="font-size:14px;font-weight:bold;">乘车路线：</span>公交26路、47路、302路、384路、608路、641路、718路、740内、740外、751路、913路、944支、982路、983支、特9内、特9外、运通106、运通109、运通110、运通113等中关村西站下车西行至海淀西街，向南走100米即到 </p>
		</div>

		<div class="news-yanshi">
			<a href="" target="_blank"><div class="ny-btn">立即预约演示</div></a>
		</div>
		{template "content","bottom_top"}
		{template "content","bottom"}
	</body>	
</html>