/*
* version:2.0
* author:keweisoft.com
* date:2015-09-15
/*公共样式*/
html,body,div,p,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input{margin:0;padding:0;}
img{border:0 none; vertical-align: top;}
ul,li{list-style-type: none;}
h1,h2,h3,h4,h5,h6{font-size:14px;}
body,div,form,input,select,button,textarea{font-family:微软雅黑;}
button{cursor:pointer;}
body,div,a{color:#333;}
a{text-decoration: none;}
.m-content{
	width: 1040px;
	margin: 0 auto;
}
.head{
	width:1040px;
	height: 83px;
	margin:0 auto;
}
.head-logo{
	width: 175px;
	height: 54px;
	float: left;
	margin-top: 20px;
}
.head-nav{
	width:760px;
	height: 52px;
	line-height: 52px;
	margin-top: 18px;
	float: left;
	margin-left: 20px;
}
.head-right{
	display: inline-block;
	float: right;
	font-size: 14px;
	color: #fff;
	background: #fc7c4a;
	border-radius: 3px;
	padding: 2px 5px;
	margin-top: 32px;
}
.head-nav li{
	width: 108px;
	float: left;
	text-align: center;
	position: relative;
}
.head-nav li a{
	font-size: 16px;
	color:#666;
}
.head-nav li a:hover{
	color:#fa8032;
}
.head-nav li .s-nav{
	position:absolute;
	top:50px;
	left:-1px;
	list-style:none;
	display:none;
	background: #f5f5fc;
	border: 1px #cdcdcd solid;
	box-shadow: 3px 3px 3px #777;
}
.head-nav li .s-nav li{
	text-align:center;
	clear:left;
	width:120px;
	height:35px;
	line-height:35px;
	position:relative;	
}
.head-nav li .s-nav li a{
	height:34px;
	line-height:34px;
	width:120px;
	padding:0;
	display:inline-block;
	font-size: 14px;	
}
.sub-nav{
	width:100%;
	height: 59px;
	background: url(../../images/crm/pro-sub-navBg.png) left center repeat-x;
}
.sub-nav-list,.sub-nav-down-list{
	height: 56px;
	width: 100%;
	overflow: hidden;
}
.sub-nav-list li,.sub-nav-down-list li{
	width: 130px;
	height: 56px;
	float: left;
	line-height: 56px;
	text-align: center;
}
.sub-nav-list li a{
	font-size: 16px;
	color:#333;
}
.sub-nav-down{
	width:100%;
	height: 59px;
	background: url(../../images/crm/pro-sub-navDownBg.png) left center repeat-x;
}
.sub-nav-down-list li a{
	font-size:16px;
	color:#fff;
}
.sub-nav-item{
	width: 162px !important;
}
.sub-nav-btn{
	width: 121px;
	height: 40px;
	background: #fa8032;
	font-size: 16px;
	color:#fffefe;
	text-align: center;
	line-height: 40px;
	float: right;
	margin-top: 10px;
	border-radius: 3px;
}
.sub-nav-btn:hover{
	background:#EB8928;
}
.bottom{
	width:100%;
	height: 278px;
	background: #3e4758;
	overflow: hidden;
	margin-bottom:-34px;
}
.bottom-mid{
	width: 890px;
	height: 172px;
	margin: 28px auto 0px;
	border-bottom: 1px solid #fcfcfd;
}
.bottom-mid dt a{
	font-size: 18px;
	color:#fcfcfd;
}
.bottom-mid dd a{
	font-size: 14px;
	color:#fcfcfd;
	line-height: 24px;
}
.bottom-mid dl{
	width: 72px;
	float: left;
}
.bottom-mid dt,.bottom-mid dd{
	text-align: center;
}
.bottom-mid dt{
	margin-bottom: 15px;
}
.QRcode{
	width:150px;
	float: right;
	text-align: center;
	margin-right: 15px;
}
.QRcode span{
	display: inline-block;
	color:#fcfcfd;
	font-size: 12px;
	font-weight: bold;
	margin-top:15px;
}
.f-link{
	margin-top: 15px;
	text-align: center;
}
.f-link span,.f-link a{
	color:#fcfcfd;
	font-size: 14px;
	line-height: 24px;
}
.f-link a{
	display: inline-block;
	margin-right: 26px;
}
.c-right{
	font-size: 14px;
	color:#fcfcfd;
	line-height: 24px;
	text-align: center;
	margin-top: 10px;
}
/***************************/
.case-banner{
	width:100%;
	height: 560px;
	overflow: hidden;
}
.case-banner1{
	width: 100%;
	height: 280px; 
	background: url(../../images/crm/case-banner1.jpg) center center no-repeat;
}
.case-banner2{
	width: 100%;
	height: 280px; 
	background: url(../../images/crm/case-banner2.jpg) center center no-repeat;
}
.main{width:1040px;
  margin:0 auto;}
.title{width:1040px;
    height:30px;
	font-size:14px;
	color:#000;
	line-height:22px;
	 margin-top:24px;
    border-bottom:solid 3px #2e2e2f;
   }
.title a{color:#000;}
.Eng{color:#fc6e0f;font-weight:bold;float:right;}
.left{width:720px;float:left;}
.Font_Title{font-size:18px; color:#000;margin-top:15px; font-weight:normal;text-align:center;}
.Data{ background:url(../../images/edus/Information_BlueUI_1.png) left center no-repeat;
             float:left; margin-left:242px;
			 font-size:16px;
			  margin-top:20px;
			  margin-right:42px;
			  padding-left:30px;}
.Eyes{ background:url(../../images/edus/Information_BlueUI_2.png) left center no-repeat;
              float:left;
			  font-size:16px;
			  margin-top:20px;
			  padding-left:30px;}
.Text_Con{width:700px;margin:0 auto;font-size:14px;line-height:28px;margin:20px 0px;}
.Text_Con p a{color:#f60;}
.Text_desc{
	background: #eee;
	width:650px;
	line-height: 24px;
	padding:10px 20px;
	margin:10px auto;
	font-size: 12px;
}
.Text_keyword{
	margin:10px auto 25px;
}
.case-conTit1{
	width:100%;
	height: 100px;
	background: url(../../images/edus/show-problem.png) left center  no-repeat;
	margin: 30px auto;
}
.case-conTit2{
	width:100%;
	height: 100px;
	background: url(../../images/edus/show-solution.png) left center  no-repeat;
	margin: 30px auto;
}
.case-conTit3{
	width:100%;
	height: 100px;
	background: url(../../images/edus/show-value.png) left center  no-repeat;
	margin: 30px auto;
}
.case-conTit4{
	width:100%;
	height: 100px;
	background: url(../../images/edus/show-word.png) left center  no-repeat;
	margin: 30px auto;
}
.case-conTit1-right{
	width:585px;
	height: 70px;
	float: right;
	padding-top:30px;
	border-bottom: 3px solid #333;
	text-align: left;
	line-height: 30px;
	color:#FF8C00;
	font-size:28px;	
}
.case-subBtn{
	padding:10px 15px;
	background: #ff6600;
	color:#fff;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	margin-top:35px;
	display: inline-block;
}
.case-subBtn:hover{
	background: #FF8C00;
}
.case-erweima{
	width:100%;
	height: 262px;
	margin:35px 0px;
	background: url(../../images/edus/wx.jpg) center top no-repeat;
}
.right_1{width:306px;height:170px;float:right;border:solid 1px #898989;margin-top:20px;}

.Bar_1{width:296px;height:38px; background-color:#eeeeee;font-size:14px; font-weight:bold;line-height:35px;padding-left:10px;}
.One{ font-size:14px; color:#666;margin-top:15px;margin-left:10px;float:left;}
.Two{ font-size:14px; color:#666;margin-top:15px; margin-right:10px;float:right;}
.Three{font-size:14px; color:#666; margin-top:8px;margin-left:10px;float:left;}
.Four{font-size:14px; color:#666; margin-top:8px;margin-left:55px;float:left;}
.Five{ font-size:14px; color:#666; margin-top:8px;margin-right:10px;float:right;}
.Six{ font-size:14px; color:#666; margin-top:8px;margin-left:10px;float:left;}
.Seven{ font-size:14px; color:#666; margin-top:8px;margin-left:55px;float:left;}
.Eight{font-size:14px; color:#666;margin-top:8px;margin-left:10px;float:left;}
.Nine{ font-size:14px; color:#666; margin-top:8px;margin-left:55px;float:left;}
.Ton{ font-size:14px; color:#666; margin-top:8px;margin-right:10px;float:right;}
.right_2{width:306px; float:right;border:solid 1px #898989; margin:20px 0px;}
.Bar_2{width:296px;height:38px; background-color:#eeeeee;font-size:14px; color:#333; font-weight:bold; line-height:35px;padding-left:10px;}
.img_1{width:286px;height:150px;margin:0 auto; margin-top:15px;}
.LittleTit_1{text-align:center;margin-top:10px;margin-bottom:5px;}
.ConY_1{width:280px;;margin:0 auto;}
