<div class="bottom">
	<div class="m-content">
		<dl class="bottom-items">
			<dt><a href="{$CATEGORYS[107][url]}">关于可为</a></dt>
			<dd><a href="{$CATEGORYS[107][url]}">可为简介</a></dd>
			<dd><a href="{$CATEGORYS[109][url]}">企业历程</a></dd>
			<dd><a href="{$CATEGORYS[110][url]}">企业活动</a></dd>
			<dd><a href="{$CATEGORYS[108][url]}">联系我们</a></dd>
			<dd><a>资质荣誉</a></dd>
		</dl>
		<dl class="bottom-items items2">
			<dt><a href="{$CATEGORYS[125][url]}">解决方案</a></dt>
			<dd><a href="{$CATEGORYS[129][url]}">职业资格</a></dd>
			<dd><a href="{$CATEGORYS[126][url]}">中小学辅导</a></dd>
			<dd><a href="{$CATEGORYS[127][url]}">英语辅导</a></dd>
			<dd><a href="{$CATEGORYS[128][url]}">少儿培训</a></dd>
			<dd><a href="{$CATEGORYS[133][url]}">艺术培训</a></dd>
		</dl>
		<dl class="bottom-items items3">
			<dt><a>产品中心</a></dt>
			<dd><a href="{$CATEGORYS[115][url]}">营销管理</a></dd>
			<dd><a href="{$CATEGORYS[119][url]}">教务管理</a></dd>
			<dd><a href="{$CATEGORYS[116][url]}">学员端管理</a></dd>
			<dd><a href="{$CATEGORYS[120][url]}">考勤管理</a></dd>
			<dd><a href="{$CATEGORYS[121][url]}">财务管理</a></dd>
		</dl>
		<dl class="bottom-items items4">
			<dt><a href="{$CATEGORYS[140][url]}">客户案例</a></dt>
			<dd><a href="{$CATEGORYS[140][url]}">中小学辅导</a></dd>
			<dd><a href="{$CATEGORYS[140][url]}">少儿培训</a></dd>
			<dd><a href="{$CATEGORYS[140][url]}">出国留学</a></dd>
			<dd><a href="{$CATEGORYS[140][url]}">英语辅导</a></dd>
			<dd><a href="{$CATEGORYS[140][url]}">艺术培训</a></dd>
		</dl>
		<dl class="bottom-items items5">
			<dt><a href="{$CATEGORYS[134][url]}">可为服务</a></dt>
			<dd><a href="{$CATEGORYS[135][url]}">咨询服务</a></dd>
			<dd><a href="{$CATEGORYS[136][url]}">实施服务</a></dd>
			<dd><a href="{$CATEGORYS[137][url]}">售后服务</a></dd>
			<dd><a href="{$CATEGORYS[138][url]}">个性化开发服务</a></dd>
			<dd><a href="{$CATEGORYS[111][url]}">服务团队</a></dd>
		</dl>
		<div class="bottom-line"></div>
		<p style="text-align:center;color:#fff; margin-top:20px;">
			友情链接：
			{pc:link action="lists" typeid="0" siteid="$siteid" linktype="0" order="desc"  return="da"}
			{loop $da $r}
			<a href="{$r[url]}" target="_blank">{$r[name]}</a>&nbsp;&nbsp;
			{/loop}
			{/pc}
		</p>
		<p style="text-align:center;color:#fff; margin-top:20px;">
			京ICP备08006041号-3北京市公安局海淀分局网监中心备案编号：11010802015396
		</p>
	</div>
<div style="width:100%; margin:10px auto 0px;text-align:center;background:#394350">	
<!--53聊天软件代码-->
<script>
	(function() {
		  var _53code = document.createElement("script");
		  _53code.src = "//tb.53kf.com/code/code/10140145/5";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(_53code, s);
	})();
</script>	
<!--百度统计代码-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Ff04c7f91750adccf43be0882905bb320' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--免费电话代码-->
<script>
var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?f04c7f91750adccf43be0882905bb320"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script> 
<script type="text/javascript" charset="utf-8" async src="http://lxbjs.baidu.com/lxb.js?sid=2355584"></script>
</div>	
</div>
