<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/stopic.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"} 
		<div class="sr-banner">
			<div class="sr-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="sr-banner-btn">点击详细咨询</div></a>
			</div>
		</div>
		<div class="sr-block1">
			<div class="m-content">
				<div class="sr-block1-tit"></div>
				<div class="sr-block1-con">
					<div class="sr-block1-right">随着教育培训行业的发展，个性化教育开始被大家所关注，尤其是艺术培训在近几年越来越火热。家长都希望孩子能有一技之长，假期也都是在各个培训班中穿梭。伴随着市场现状，乐器、舞蹈、音乐、美术等才艺培训班铺天盖地席卷而来，行业的竞争也更加激烈。每一家培训机构所经营的课程都有所不同，具有自己的发展特色和教学模式。近几年来，艺术培训机构正以日新月异的速度在增长，据不完全统计，艺术培训机构以每年30%的速度飞快增长。随着行业产值的大规模上升，艺术培训行业存在的问题也日益突出。如何能在混乱的市场秩序中脱颖而出，提高自己的品牌竞争力，是每家艺术类培训机构都迫切需要的。</div>
					<div class="sr-block1-top">乐器、舞蹈、音乐、美术培训</div>
				</div>
			</div>
		</div>
		<div class="sr-block2">
			<div class="m-content">
				<div class="sr-block2-tit"></div>
				<div class="sr-block2-item" style="margin-top:53px;">
					<div class="list">
						<div class="pic"></div>
						<div class="sub">
							<div class="tit">招生管理困难</div>
							<p class="con">市场上五花八门的艺术培训机构遍布在大街小巷，有资质的没资质的鱼龙混杂，如何在激烈的市场竞争中拔得头筹，获得更多的生源线索，如何让这些线索学员成为你的正式学员，这是艺术培训机构面临的第一个实际问题。</p>
						</div>
					</div>
					<div class="list" style="margin-left:50px;">
						<div class="pic1"></div>
						<div class="sub">
							<div class="tit">学员相关费用问题</div>
							<p class="con">线索学员转正报名以后，如何快速的对学员分配老师，在教学过程中如何确保教学质量，使学员真实的提高学术水平和学习成绩，避免后期的教务纠纷，甚至于产生退班退课退费的严重后果。</p>
						</div>
					</div>	
					<div class="list" style="margin-left:50px;">
						<div class="pic2"></div>
						<div class="sub">
							<div class="tit">多校区的分区管理</div>
							<p class="con">连锁机构的艺术培训机构，管理层如何实现对各个分校和教学点的管理和监控，开设什么样的专业，各个专业报名什么情况。各专业的老师配比状况如何。什么时候该进行人员补充。</p>
						</div>
					</div>										
				</div>
				<div class="sr-block2-item" style="margin-top:53px;">
					<div class="list">
						<div class="pic3"></div>
						<div class="sub">
							<div class="tit">财务、教务日常运营</div>
							<p class="con">财务，教务，日常运营等数据如何进行快速的统计分析，学员对我们有什么意见和建议。总校长如何在总部清晰了解到这些重要的数据报表。从而帮助机构决策着提供有价值的数据分析依据。</p>
						</div>
					</div>
					<div class="list" style="margin-left:50px;">
						<div class="pic4"></div>
						<div class="sub">
							<div class="tit">一对一学员管理</div>
							<p class="con">如何避免一对一的学员在教学过程中被老师自己带回家去教，给机构带来生源流失和经济损失，如何合理安排老师的课程，合理调整老师的空闲度，确保教学质量。</p>
						</div>
					</div>	
					<div class="list" style="margin-left:50px;">
						<div class="pic5"></div>
						<div class="sub">
							<div class="tit">教学质量监督</div>
							<p class="con">连锁机构的艺术培训机构，管理层如何实现对各个分校和教学点的管理和监控，开设什么样的专业，各个专业报名什么情况。各专业的老师配比状况如何。什么时候该进行人员补充。</p>
						</div>
					</div>										
				</div>
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5"><div class="sr-block2-btn">点击咨询管理解决方案</div></a>
			</div>	
		</div>
		<div class="sr-block3">
			<div class="m-content">
				<div class="sr-block3-tit"></div>
				<div class="sr-block3-top">
					<div class="con">
						<div class="tit">可为EDUS教务管理系统</div>
						<p class="word">可为edus一站式学校综合管理平台，汇集上千名艺术教育和互联网技术精英近十年的努力，融ERP、CRM、轻便社交、定制电商、 O2O移动App等功能于一体，深度解决艺术培训机构运营管理、行政、市场、销售、教务、教学、财务等各版块的工作需求和痛点，深受艺术培训机构管理人员的好评。</p>
						<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5"><div class="btn">咨询可为管理解决方案</div></a>
					</div>
				</div>
				<div class="sr-block3-item1">
					<div class="item-left">
						<div class="each" style="padding-top: 25px;height: 45px;">
							<div class="tit">可为方案之招生管理</div>
							1. edus系统可有效的管理来源渠道，包括网络推广、地推、转介绍等等，并实现各种来源统计。前台也可以借助系统方便的记录和跟进潜在学员。
						</div>
						<div class="each" style="margin-top:10px;">
							2. 市场管理模块营销计划管理可帮助机构招生人员建立全面的市场活动计划，同时可对不同的市场活动做营销效果对比分析，帮助机构找到可靠的市场活动。
						</div>		
						<div class="each" style="margin-top:10px;">
							3. edus招生管理模块可对学员线索进行精细化的管理。可按不同的来源渠道对线索进行分类管理，可在系统内进行线索分配规则制定，以最大化的利用学员线索。通过进一步的回访机制，促使线索成为有商机的销售机会。
						</div>											
					</div>
				</div>
				<div class="sr-block3-item2">
					<div class="item-right">
						<div class="each">
							<div class="tit">可为方案之教务财务</div>
							1. edus教务管理平台能够合理有序的安排教师、教室、教学资源等，统筹时间和统一计划，实现各类资源的最大化利用。同时提供多维度数据报表分析，供管理层决策分析。
						</div>
						<div class="each" style="margin-top:10px;">
							2. 系统提供学员基本信息、学员成绩、学员考勤、学员课程表等信息的查看，还可对课程进行预约、评价的操作；学员通过学员端可查看个人信息，家长也可随时查看孩子考勤情况，以掌握孩子的学习动态。机构再也不怕学员信息查询难了。
						</div>
						<div class="each" style="margin-top:10px;">
							3. edus财务管理模块可以方便、快捷的抓取各个分校的收费和支出数据，方便汇总，提供给校长进行数据决策，降低了业务人员或学员与财务人员之间不必要的一些矛盾，实现了财务动态化、准确化、及时化报表统计。
						</div>	
						<div class="each" style="margin-top:10px;">
							4. 系统支持对学员合同的管理，包括合同相关的付款、收款、账户、资金消耗的关联查看等。同时能够将合同对应的定金信息、资金账户、相关的资金流动记录下来，方便财务人员对账。
						</div>												
					</div>
				</div>
				<div class="sr-block3-item3">
					<div class="item-left">
						<div class="each">
							<div class="tit">可为方案之一对一教学</div>
							<strong>1. 教师预约管理：</strong>一对一培训管理软件可以精确过滤老师预约时间，清晰显示老师的空闲度；在预约授课老师成功提交后，系统会给学员和老师发送预约短信，提高老师学生预约效率和时间准确率。
						</div>
						<div class="each" style="margin-top:10px;">
							<strong>2. 学员分配管理：</strong>一对一培训管理软件中的学员分配功能主要是在学员分配老师时，系统会自动过滤学生所报的课程、校区、所有老师，并按照学员所报的课程排序校区老师时间空闲度，最终完成学员分配。
						</div>
						<div class="each" style="margin-top:10px;">
							<strong>3. 一对一学员考勤：</strong>一对一学员考勤管理主要是对学员学习期间上课情况的记录，根据学习状态确定学生是否准时来上课，系统可以提前提醒老师，学生是否来上课。一对一学员考勤可为机构对预约学员上课情况的了解提供方便。 
						</div>	
						<div class="each" style="margin-top:10px;">
							<strong>4. 一对一教学管理：</strong>针对教师上课的反馈记录统计和教学日志记录，拥有相关权限的教务人员可以查看日志记录；可以实现教师课后对学员布置作业、批改作业等操作，查看当天学员学习成果，对教学质量做到有效把控。 
						</div>							
					</div>
				</div>
				<div class="sr-block3-item4">
					<div class="item-right">
						<div class="each">
							<div class="tit">可为方案之班课教学</div>
							<strong>1. 学员选班管理：</strong>edus针对一对多班课教学模式支持学员的选班、退班、转班的操作。系统自动过滤没有进行选班的学员，支持批量选班、退班、转班，可以自动处理退班、转班所产生的费用。
						</div>
						<div class="each" style="margin-top:10px;">
							<strong>2. 班级课表管理：</strong>教师可查询分配给自己的学员信息和预约上课情况，并需教师对课表进行确认，老师确认时间没问题，如果有问题，老师可以申请修改课程时间。
						</div>
						<div class="each" style="margin-top:10px;">
							<strong>3. 班级考勤管理：</strong>机构考勤人员可以依据班级课表对班级学员的上课情况进行考勤记录。同时班级学员的家长也可以通过学员端系统查看学员的阶段性考勤。
						</div>	
						<div class="each" style="margin-top:10px;">
							<strong>4. 作业管理：</strong>系统支持班课教师在线布置作业、批改作业，同时可以对学员做出评价。班级学员登录学员端系统下载老师布置的作业，完成后上传即可。可以及时查看自己作业的批改情况。
						</div>												
					</div>					
				</div>
				<div class="sr-block3-item5">
					<div class="item-left">
						<div class="each">
							<div class="tit">可为方案之家校互通</div>
							<strong>1. 校长端：</strong>统计、查看客户（家长）总体反馈情况。随时随地查看经营报表分析；及时督促未与家长做沟通的教师；重要信息准确推送；树立培训机构特色教育品牌。 
						</div>
						<div class="each" style="margin-top:10px;">
							<strong>2. 教师端：</strong>轻松查看学生考勤签到情况；作业情况统计与成绩推送；学生评价信息推送给家长；教学资源共享；方便定期做学生家长回访，提高家校沟通效率与质量。 
						</div>		
						<div class="each" style="margin-top:10px;">
							<strong>3. 学生端：</strong>家长可以及时了解孩子在校的考勤、以及学习进度情况；及时给教师、课程做出评价，建立评价数据体系；阶段性的学生成绩查看，充分了解学生在校的学习情况；有效促进与校方的沟通，建立良好的信任关系。
						</div>						
					</div>
				</div>
			</div>	
		</div>
		<div class="sr-block4">
			<div class="sr-block4-tit"></div>
			<div class="sr-block4-con">
				<div class="logo1">
					<a href="http://edus.keweisoft.com/case/show_20_1.html" target="_blank"><p>青岛维申教育</p></a>
				</div>
				<div class="line"></div>
				<div class="logo2">
					<a href="http://edus.keweisoft.com/case/show_15_1.html" target="_blank"><p>北京曼安迪</p></a>
				</div>
				<div class="line"></div>
				<div class="logo3">
					<a href="javascript:void(0)" target="_blank"><p>九拍音乐教育</p></a>
				</div>				
			</div>
		</div>
{template "content","footer"}	
	</body>
</html>