<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/stopic.css" />
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/slick.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/slick.js"></script>
  </head>
  <body>  
    {template "content","head"} 
		<div class="sp-banner">
			<div class="sp-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5"><div class="sp-banner-btn">点击详细咨询</div></a>
			</div>	
		</div>
		<div class="m-content">
			<div class="sp-block1">
				<div class="sp-block1-con">
					<div class="sp-block1-tit"></div>
					<div class="sp-block1-pic"></div>
					<div class="sp-block1-right">据近年来的官方统计结果显示，教育支出以7.4%的比例占家庭消费的第一位，其中尤以子女的课外辅导突出。据可参考的数据显示，中小学培训市场的潜在市场规模达5000亿元，并仍然保持着迅猛的发展态势。一个运行良好的中小学培训机构，其利润率均在30%以上，有些甚至能达到70%。教育培训行业是一个永远不会消失的行业，而且是未来行业中最具发展潜力的行业无论市场如何变化，需求如何变化，学习、培训这些基本的需求永远都会存在。</div>
				</div>
			</div>
			<div class="sp-block2">
				<div class="sp-block2-tit">贵机构的授课模式是什么类型？是否存在以下的管理需求？</div>
				<div class="sp-block2-item1">
					<div class="left">
						<p class="each">1、学员上课没有凭证，导致上课记录、考勤信息、评价信息都通过教务人员手动管理，无法实现信息共享与统计分析；</p>
						<p class="each" style="margin-top:8px;">2、需要系统的生成每周、月课时消耗统计表。每周、月汇总教师课时数、课时费;</p>
						<p class="each" style="margin-top:8px;">3、根据学员成绩生成成绩报表;</p>
						<p class="each" style="margin-top:8px;">4、校方排课或调课后短信通知家长;</p>
						<p class="each" style="margin-top:8px;">5、对教师授课质量的定期反馈;</p>
						<p class="each" style="margin-top:8px;">6、学员可对教师进行评价，系统自动统计;</p>
						<p class="each" style="margin-top:8px;">7、学员课时不足10课时，系统自动提醒，进行续费阶段;</p>
						<p class="each" style="margin-top:8px;">8、能否根据教师的排课安排，为学员生成课程表信息。</p>
					</div>
					<div class="right">
						<div class="top">一对一教学模式</div>
						<div class="pic"></div>
					</div>
				</div>
				<div class="sp-block2-item2">
					<div class="left">
						<div class="top">班课教学模式</div>
						<div class="pic"></div>
					</div>
					<div class="right">
						<p class="each">1、学员分班情况记录不明确，需要进行系统的记录</p>
						<p class="each">2、现阶段排课为手动方式，无法解决教师学员时段冲突问题</p>
						<p class="each">3、手动记录上课考勤和评价信息，无法实现数据灵活统计共享</p>
						<p class="each">4、需要生成生成每周、月课时消耗统计表。每周、月汇总教师课时数、课时费</p>
						<p class="each">5、根据学员成绩生成成绩报表</p>
						<p class="each">6、排课或调课后短信通知家长</p>
						<p class="each">7、教师授课教案、授课计划可上传</p>
						<p class="each">8、学生可以在网络上实现评课，教师满意度评选等，自动生成</p>
						<p class="each">9、可随时更新本周续报数据，新生人数，新生收入等数据，每周自动进行分校内部排名;对业绩不好的员工及时提醒;</p>
						<p class="each">10、授课教师临时发生变更时，记录代课教师情况</p>
					</div>
				</div>
				<div class="sp-block2-tit1">相信您无论是怎么样的教学模式，必定有以下的基本需求：</div>
				<div class="sp-blcok2-subcon">
					<div class="subcon-btn">培训机构基本需求</div>
					<div class="item1">
						<p><span class="tit">教师管理</span></p>
						<p class="con">教师基本档案管理，授课计划管理，所授课程课时费的管理；教学日志与教师评价；教师薪资管理等。</p>
					</div>
					<div class="item2">
						<p><span class="tit">学员管理</span></p>
						<p class="con">学员基本信息管理；学员考勤与课消管理；学员各阶段任务目标管理，可根据完成情况设置奖惩规则。</p>						
					</div>
					<div class="item3">
						<p><span class="tit">课程管理</span></p>
						<p class="con">课程类型由机构总部和各分部协商制定，根据情况制定不同的课程组合，基于课程类型的学费优惠。</p>						
					</div>
					<div class="item4">
						<p><span class="tit">考勤管理</span></p>
						<p class="con">学员考勤、请假信息的详细记录；教师考勤管理；机构教务人员考勤状况汇总分析。</p>		
					</div>
					<div class="item5">
						<p><span class="tit">排课管理</span></p>
						<p class="con">需要高效的排课管理工具，能够自动解决排课管理中出现的冲突和异常，合理配置教师资源。</p>		
					</div>			
					<div class="item6">
						<p><span class="tit">审核管理</span></p>
						<p class="con">需要系统来自定义审批流，对物料消耗、学员优惠、课程套餐等能够有效的进行审核、审批。</p>		
					</div>							
				</div>
			</div>
		</div>
		<div class="sp-block3">
			<div class="sp-block3-center"></div>
			<p class="sp-block3-tit">可为EDUS是这样的一款管理软件</p>
			<div class="sp-block3-bottom">
				<div class="m-content">
					<div class="top">
						<div class="item">
							<div class="tit">CRM</div>
							<div class="pic"></div>
							<div class="con">市场招生、销售管理</div>
						</div>
						<div class="item" style="margin-left:46px;">
							<div class="tit">教务管理系统</div>
							<div class="pic1"></div>
							<div class="con1">教师、班级、学员、课程、<br>排课等</div>					
						</div>
						<div class="item" style="margin-left:46px;">
							<div class="tit">OA办公系统</div>
							<div class="pic2"></div>
							<div class="con1">协同办公、事项提醒、工<br>作计划、申请审批</div>
						</div>
						<div class="item" style="margin-left:47px;">
							<div class="tit">财务管理系统</div>
							<div class="pic3"></div>
							<div class="con1">收费退费、优惠管理、合同<br>管理、进销存、财务报表</div>		
						</div>
					</div>
					<p class="sub">可为edus集4大管理系统于一体，是针对教育行业的管理和教学特点而设计的一款高效协同的综合管理系统，从教育培训机构市<br>场，销售，报名，咨询，选课，分配，排班，排课，考勤，学员评价，报表统计，刷卡，短信等方面进行整体的管控。</p>
				</div>
			</div>
		</div>
		<div class="sp-block4">
			<div class="m-content">
				<div class="sp-block4-tit">针对中小学培训机构的管理需求，可为EDUS从多层面出发，为教育培训机构的发展提供强有力的保障：</div>
				<div class="sp-block4-con1">
					<p class="tit"><strong>前端业务管理：</strong>CRM管理模块除包含营销计划，市场活动，线索的录入，分配，跟进，转正等管理外，还有物<br>料管理，定金管理等。</p>
					<div class="pic"></div>
					<p class="last"><span>相关功能模块详解：</span><a href="" target="_blank">市场营销</a></p>
				</div>
				<div class="sp-block4-con2">
					<p class="tit"><strong>后端业务管理：</strong>可为EDUS系统可以全面管理中小学培训机构后端业务流程，从学员智能化选班、分班到学员预约<br>管理模块，再到教师的分配、预约，以及相关的排课与考勤管理，深入业务流程细节，提升机构信息化管理效率。</p>		
					<div class="item1">
						<div class="each">
							<div class="each1-pic"></div>
							<p class="title">学员分配&选班、分班</p>
							<p class="content">系统自动把空闲率最高的老师排在最前面，分配时只需要拖拽就可以合理分配老师。系统支持两种方式给学员分配班级：a. 教务人员随机分配；b. 学员自主选班。</p>
						</div>
						<div class="each" style="margin-left:40px;">
							<div class="each2-pic"></div>
							<p class="title">预约管理</p>
							<p class="content">学员通过学员端系统可以查询老师的空闲时间，进行预约，预约成功，失败都有提醒。预约成功后系统将会把上课时间、教室等信息一并发给学员。</p>
						</div>		
						<div class="each" style="margin-left:40px;">
							<div class="each3-pic"></div>
							<p class="title">排课管理</p>
							<p class="content">可为EDUS支持可视化排课流程，拖拽式操作对课程表中所有课程快速调整，同时排课系统自动化处理排课冲突和异常。让教务工作简单，便捷。</p>
						</div>											
					</div>
					<div class="item2">
						<div class="each">
							<div class="each4-pic"></div>
							<p class="title">考勤管理</p>
							<p class="content">考勤管理记录学员和教师每天、每周、每月的考勤打卡信息，系统考勤日志详细记录学生、教室考勤记录、请假原因等信息。管理人员可以通过系统做日常考勤信息规整。</p>
						</div>				
						<div class="each" style="margin-left:40px;">
							<div class="each5-pic"></div>
							<p class="title">产品管理</p>
							<p class="content">可为EDUS产品体系模块为机构提供了灵活的产品（课程）管理方式，机构可根据学员的学习情况制定不同的产品组合模式。</p>
						</div>	
						<div class="each" style="margin-left:40px;">
							<div class="each6-pic"></div>
							<p class="title">学员回馈、分析</p>
							<p class="content">系统可以通过评分器来收集学员对老师授课情况的动态评价。针对学生或者教师违约，提供违约处理的解决方案，帮助机构提升业内教学口碑与教学质量。</p>
						</div>															
					</div>
					<div class="item3"></div>	
					<p class="last"><span>相关功能模块详解：</span><a href="http://edus.keweisoft.com/marketing/" target="_blank" style="margin-left:28px;">市场营销</a><a href="http://edus.keweisoft.com/student/" target="_blank" >学员管理</a><a href="http://edus.keweisoft.com/one-on-one/" target="_blank" >一对一</a><a href="http://edus.keweisoft.com/class/" target="_blank">一对多</a><a href="http://edus.keweisoft.com/attendance/" target="_blank">考勤管理</a></p>		
				</div>
				<div class="sp-block4-con3">
					<p class="tit"><strong>财务管理与报表分析：</strong>系统为机构提供了包括学员收费、退费、合同管理在内的学员相关费用管理功能，同时可全面管理机构进销存、收支分析、财务流水等财务相关工作。提供了丰富的报表数据，供机构领导层做决策支撑。</p>
					<div class="item1">
						<div class="left">
							<p class="title">收费退费管理</p>
							<p class="content">机构总部可以制定相应的收费标准，系统自动根据该学员的购买课时+优惠政策+收费标准，计算出应缴费用。财务人员无需细算学员的各项费用，根据系统提供的内容打印单据即可。退费时系统也会自动结合课消+考勤+优惠政策+收费标准计算学员的应退金额，可以制定系统用户为审核人员，进行退费审核。</p>
						</div>
					</div>
					<div class="item2">
						<div class="right">
							<p class="title">合同管理</p>
							<p class="content">合同管理模块支持合同相关的付款、应收、账户、消耗情况的关联查看，不仅能够记录学生的合同基本信息，同时能够将合同和对应的定金信息、资金账户、相关的资金流动记录、应收款追踪下来，方便财务人员进行对账，打开合同，能看到与合同相关的各类信息。</p>
						</div>
					</div>
					<div class="item3">
						<div class="left">
							<p class="title">统计报表分析</p>
							<p class="content">通过财务汇总表，校长，教务，财务，老师可以很清楚的知道各校区一段时间内的流水情况，并可以把各校区的财务汇总，支出多少，收入多少一目了然。通过可视化的图表分析工具，决策层可以更好的做出调整，合理配置资源，提升机构运营业绩，降低管理成本。</p>
						</div>
					</div>
					<div class="item4"></div>
					<p class="last"><span>相关功能模块详解：</span><a href="http://edus.keweisoft.com/financial/" target="_blank" style="margin-left:28px;">财务管理</a><a href="http://edus.keweisoft.com/analysis/" target="_blank" >决策分析</a></p>
				</div>
			</div>
		</div>
		<div class="sp-block5">
			<div class="m-content">
				<div class="sp-block5-tit">中小学培训机构典型客户案例：</div>
				<div class="con slider autoplay">
					<div class="each">
						<div class="logo8">
							<a target="_blank"><p class="tit">国际私塾教育</p></a>
						</div>					
					</div>					
					<div class="each">
						<div class="logo7">
							<a target="_blank"><p class="tit">唐山思维教育</p></a>
						</div>					
					</div>					
					<div class="each">
						<div class="logo1">
							<a href="http://edus.keweisoft.com/case/show_11_1.html" target="_blank"><p class="tit">捷程教育</p></a>
						</div>					
					</div>
					<div class="each">
						<div class="logo2">
							<a href="http://edus.keweisoft.com/case/show_10_1.html" target="_blank"><p class="tit">新年华教育</p></a>
						</div>	
					</div>	
					<div class="each">
						<div class="logo3">
							<a href="http://edus.keweisoft.com/case/show_16_1.html" target="_blank"><p class="tit">卓越优才教育</p></a>
						</div>	
					</div>
					<div class="each">
						<div class="logo4">
							<a href="http://edus.keweisoft.com/case/show_12_1.html" target="_blank"><p class="tit">潍坊瀚晨教育</p></a>
						</div>	
					</div>
					<div class="each">
						<div class="logo5">
							<a href="http://edus.keweisoft.com/case/show_7_1.html" target="_blank"><p class="tit">北京润莘泽教育</p></a>
						</div>
					</div>			
					<div class="each">
						<div class="logo6">
							<a href="http://edus.keweisoft.com/case/show_14_1.html" target="_blank"><p class="tit">石家庄智城教育</p></a>
						</div>
					</div>								
				</div>
			</div>
		</div>
	{template "content","footer"}	
	</body>
	<script type="text/javascript">
		$('.autoplay').slick({
		  slidesToShow: 5,
		  slidesToScroll: 1,
		  autoplay: true,
		  autoplaySpeed: 2000,
		});
	</script>
</html>