<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/stopic.css" />
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/slick.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/slick.js"></script>
  </head>
  <body>  
    {template "content","head"} 
		<div class="abr-banner">
			<div class="m-content abr-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="abr-banner-btn">点击详细咨询</div></a>	
			</div>
		</div>
		<div class="abr-block1 m-content">
			<p class="abr-block-tit"><span class="tit-con">留学培训行业概述</span></p>
			<div class="abr-block1-con">
				<div class="abc-con">
					<p class="abc-con-tit">行业概述：</p>
					<p class="abc-con-sub">近年来，中国出国留学人数以每年24%以上的速度快速增长，统计数字显示，2011年，中国出国留学规模超过33万人次，这一强劲需求带动了中国留学中介行业的快速发展。然而随着市场规模的扩大，留学中介机构的服务质量和水平不断下滑，各类非法留学中介机构越来越多，消费者真假难辨，因此而引发的消费纠纷也逐年递增。针对留学服务行业的市场现状，国家及地方陆续出台了留学服务行业相关规范政策，相信不久留学服务行业将逐步规范化，品牌化。</p>
				</div>
				<div class="abc-pic"></div>
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="abc-btn">点击咨询最新行业解决方案</div></a>
			</div>
			<p class="abr-block-tit"><span class="tit1-con">留学培训行业管理难点</span></p>
			<div class="abr-block2-con">
				<div class="abr-block2-item">
					<div class="abr-block2-num">01</div>
					<div class="abr-block2-tit">客户信息分散且难以共享</div>
					<div class="abr-block2-sub">在留学中介企业中，学员的核心信息分散在各个咨询顾问与材料员手中，一旦发生人员流动，很可能影响合同的签订和留学申请的执行，管理者也难以获得全面完整的客户信息资料以及需求信息。企业在和学员的互动及接触中，付出了成本却没有得到收益。</div>
				</div>
				<div class="abr-block2-item" style="margin-left:50px;">
					<div class="abr-block2-num">02</div>
					<div class="abr-block2-tit">部门间信息传递及反馈不畅</div>
					<div class="abr-block2-sub">在留学申请中，每个项目一般都需要多人协作完成，包括咨询部和材料部等多部门的配合，很多工作互为前提。由于某个关键点的耽误往往会拖延项目的执行，同时责任人很难认定，造成项目进展拖延，影响了项目质量和客户满意度。</div>
				</div>				
				<div class="abr-block2-item" style="margin-left:50px;">
					<div class="abr-block2-num">03</div>
					<div class="abr-block2-tit">一线人员管理松散缺乏业绩导向考核</div>
					<div class="abr-block2-sub">留学企业的咨询与合同执行的管理模式比较粗放，比如在开展留学业务时，咨询顾问的任务管理、指标考核等，在经理级一层无法得到真实准确的统计；在各个部门和客户层面缺乏客户满意度的正向激励，以及相关绩效指标，比如潜在学员、响应率、留学申请推进效率的指标衡量等。</div>
				</div>					
				<div class="abr-block2-clear"></div>
				<div class="abr-block2-item">
					<div class="abr-block2-num">04</div>
					<div class="abr-block2-tit">缺乏统一的学员服务平台</div>
					<div class="abr-block2-sub">留学企业中，学员的培训成果与成绩都需要及时的与家长做沟通与交流。学员的成绩、作业、日常考勤课消都需要给家长做及时的推送。另外学员对培训结果的满意度也需要一个平台来做出评价和反馈。</div>
				</div>	
				<div class="abr-block2-item" style="margin-left:50px;">
					<div class="abr-block2-num">05</div>
					<div class="abr-block2-tit">繁琐、混乱的财务管理</div>
					<div class="abr-block2-sub">财务人员每天经手的钱、票据众多，在人工处理的过程中，时长会发生错误；如何及时了解各个校区的财务支出情况；对教师考勤缺乏依据，每月工资核算麻烦；如何快速查看学员欠费情况，方便提醒及时缴费。</div>
				</div>			
				<div class="abr-block2-item" style="margin-left:50px;">
					<div class="abr-block2-num">06</div>
					<div class="abr-block2-tit">教务工作管理困难</div>
					<div class="abr-block2-sub">班级、学员、授课老师太多，排课需考虑因素复杂，很难排出科学合理的课表；对授课老师的业绩及工资的核算、能力考核，工作量巨大，且容易出错，压力超大；优惠申请材料多，流程复杂；收费、退费、学生换课、课时记录难；月底报表统计不及时，不准确的问题。</div>
				</div>									
			</div>
		</div>
		<div class="abr-ads">
			<div class="m-content" style="position:relative">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="abr-ads-btn">点击咨询</div></a>
			</div>
		</div>
		<div class="abr-block2 m-content">
			<p class="abr-block-tit"><span class="tit2-con">可为留学机构管理方案</span></p>
			<div class="abr-block2-top">
				<div class="abr-block2-top-con">
					<p>北京可为时代科技有限公司咨询顾问从留学培训机构业务角度出发，非常专业的对留学机构一对一考试辅导管理做了分析。在我国留学机构一对一考试辅导快速发展的大环境下，管理粗放、信息环节薄弱、决策依据不充分已经成为一对一考试辅导发展的主要障碍之一。哪里有需求哪里就会有系统，为了实现最优化管理目标，有效进行教务教学管理、财务管理等核心的管理，运用edus教务管理系统真正让留学机构的业务并行运行，实现企业的信息化管理，已经势在必行。</p>
					<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="abr-block2-top-btn1">点击咨询解决方案</div></a>
					<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="abr-block2-top-btn2">点击演示教务系统</div></a>
				</div>
			</div>
			<div class="abr-block2-role">
				<div class="abr-block2-role-item">
					<p class="tit">市场</p>
					<div class="con">edus市场管理模块有效帮助培训机构建立市场活动。可以根据不同的营销计划合理分配物料、资源；也可以通过区分不同的营销学员来规划网络推广和地域推广的层次。获得的学员线索也可以按照规则进行分配，系统也支持批量分配。</div>
				</div>
				<div class="abr-block2-role-item" style="margin-left:50px;">
					<p class="tit">教务</p>
					<div class="con">帮助机构教务人员轻松管理教务相关工作，从学员的选班分班、到教师预约、排课管理，都提供相应的支持。课程相关的教材、教室管理，学员考勤管理及相应的学员作业、成绩管理等。</div>
				</div>	
				<div class="abr-block2-role-item" style="margin-left:50px;">
					<p class="tit">财务</p>
					<div class="con">edus系统提供财务对账功能，确保经手人现金、信息、单据的一致；系统即时生成多个维度的收支情况统计报表，要看报表不用再等到月底；系统提供工资管理模块，一些业绩数据可自动从系统中获取；系统在多个环境会提醒相关人员跟进处理欠费学员。</div>
				</div>							
			</div>
			<div class="abr-block2-line"></div>
			<div class="abr-block2-con-item1">
				<div class="abr-block2-pic1"></div>
				<div class="abci-con1">
					<p class="tit">学员管理</p>
					<p class="con">学员管理系统查看学员的综合情况，包括学员基础信息维护；在学员报名、分班后帮助学员进行教师预约管理，自动化排课引擎自动生成学员课表，学员可以通过学员端系统随时查看自己的课程；同时学员可以通过系统查看教师布置的作业以及成绩信息的查看，更好的帮助机构提升学员满意度。</p>
					<p class="sub">相关功能模块详解： </p>
					<a href="http://edus.keweisoft.com/education/" target="_blank"><div class="btn1">教务管理</div></a>
					<a href="http://edus.keweisoft.com/student/" target="_blank"><div class="btn2">学员管理</div></a>
				</div>
			</div>
			<div class="abr-block2-con-item2">
				<div class="abr-block2-pic2"></div>
				<div class="abci-con2">
					<p class="tit">报表管理</p>
					<p class="con">收费列表、退费列表、费用申请审核、合同管理、账户资金管理，完整的留学业务、服务、财务报表，全方位留学信息化系统，轻松驾驭高效管理。</p>
					<p class="sub">相关功能模块详解：</p>
					<a href="http://edus.keweisoft.com/financial/" target="_blank"><div class="btn1">财务管理</div></a>				
				</div>
			</div>
			<div class="abr-block2-con-item3">
				<div class="abr-block2-pic3"></div>
				<div class="abci-con3">
					<p class="tit">考勤管理</p>
					<p class="con">可为edus考勤管理功能从学员考勤、教师考勤、请假管理，都提供完整的考勤管理方案。系统会自动生成学员考勤日志，详细记录学员的签到、旷课、请假、迟到、早退的记录，可对考勤状态进行特殊的标识。帮助机构建立完整的考勤档案。</p>
					<p class="sub">相关功能模块详解：</p>
					<a href="http://edus.keweisoft.com/attendance/" target="_blank"><div class="btn1">考勤管理</div></a>
				</div>
			</div>
			<div class="abr-block2-con-item4">
				<div class="abr-block2-pic4"></div>
				<div class="abci-con4">
					<p class="tit">事项提醒</p>
					<p class="con">edus事项提醒功能可以在约定的时间提醒销售人员当日的工作安排，以及计划任务的最近截至时间，帮助销售人员做学员跟进提醒。系统提供了内部提醒、邮件提醒、短信提醒三种方式。有效帮助机构办公人员提升工作效率。</p>
					<p class="sub">相关功能模块详解：</p>
					<a href="http://edus.keweisoft.com/education/" target="_blank"><div class="btn1">教务管理</div></a>					
				</div>
			</div>
			<div class="abr-block2-line" style="margin-top:75px;"></div>
		</div>
		<div class="abr-block3">
			<div class="m-content">
				<p class="abr-block-tit"><span class="tit3-con">可为留学机构管理方案</span></p>
				<div class="abr-block3-con slider autoplay">
					<div class="each">
						<div class="abr-block3-logo6">
							<a href="http://edus.keweisoft.com/special/shitong/" target="_blank"><p>世通美嘉</p></a>
						</div>
					</div>
					<div class="each">
						<div class="abr-block3-logo5">
							<a href="#"><p>新通教育</p></a>
						</div>
					</div>
					<div class="each">
						<div class="abr-block3-logo1">
							<a href="http://edus.keweisoft.com/case/show_4_1.html"><p>前程百利</p></a>
						</div>
					</div>	
					<div class="each">
						<div class="abr-block3-logo2">
							<a href="#"><p>嘉华世达</p></a>
						</div>
					</div>
					<div class="each">	
						<div class="abr-block3-logo3">
							<a href="#"><p>广州振亚教育</p></a>
						</div>
					</div>
					<div class="each">
						<div class="abr-block3-logo4">
							<a href="#"><p>北京斯芬克教育</p></a>
						</div>
					</div>		
				</div>
			</div>
		</div>
{template "content","footer"}
	</body>
	<script type="text/javascript">
		$('.autoplay').slick({
		  slidesToShow: 4,
		  slidesToScroll: 1,
		  autoplay: true,
		  autoplaySpeed: 2000,
		});
	</script>	
</html>