<!DOCTYPE html>
<html>
	<head>
		<title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
		<link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
        <meta name="keywords" content="{$SEO['keyword']}" />
        <meta name="description" content="{$SEO['description']}" />		
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/souke.css" />
		<script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
	</head>
	<body>	
		{template "content","head"}	
		<div class="souke-banner">
			<div class="souke-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="souke-banner-btn">点击咨询</div></a>
			</div>
		</div>	
		<div class="souke-block1">
			<div class="m-content">
				<p class="souke-block1-tit"></p>
				<div class="souke-block1-con">
					<div class="souke-block1-left">
						<div class="souke-b1-ltit">系统简介</div>
						<p class="souke-b1-con">随着培训机构业务的发展，为了给客户提供更优质的服务，企业需要打造一个在线选课报名系统。可为专为教育培训机构设计的在线选课报名系统，学员可综合考虑课程分类、适合人群、上课地点、上课时间、课程价格等多种因素，选报最合适的班级（课程）。系统全面实现与教务系统的无缝对接，轻松导入线上学员信息，同时也支持线上产品一键转化教务产品。帮助机构全面打通前后端的业务链，提升机构整体运作效率。</p>
					</div>
				</div>
				<div class="souke-b1-subtit">全新机构招生模式，开启互联网招生新时代</div>
				<div class="souke-b1-subcon">
					<div class="left">
						<p class="tit">传统招生模式</p>
						<div class="con">
							<ul style="margin-left:18px;">
								<li>* 渠道推广</li>
								<li>* 电话销售</li>
								<li>* 续费、转介绍</li>
							</ul>
							<ul style="margin-left:23px;">
								<li>* 百度网络推广</li>
								<li>* 报纸、电视广告</li>
								<li>* 免费试听课程活动</li>
							</ul>
							<ul style="margin-left:23px;">
								<li>* 线下课程促销活动</li>
								<li>* 定期在高校召开讲座</li>
								<li>* 地域性的传单、广告派发</li>
							</ul>														
						</div>
						<div class="narrow"></div>
						<div class="bottom">计划性差，学员转化率低，推广成本高，缺乏精准营销</div>
					</div>
					<div class="right">
						<p class="tit">选课报名系统招生</p>
						<div class="con">
							<p style="margin-top:8px;">1. 全新在线选课报班模式，以学员导向取代市场导向；</p>					
							<p>2. 多条件筛选组合功能，帮助学员快速、准确找到适合自己的课程。</p>
							<p>3. 提供不同产品组合，可根据业务和需要制定个性化课程/班级产品内容。</p>
							<p>4. 快速便捷的报名流程，支持学员信息导入教务系统，全面保有学员信息。</p>
							<p>5. 特色标签管理功能，为学员选择和检索课程提供更为多元化的选择。</p>
						</div>
						<div class="narrow"></div>
						<div class="bottom">提高招生效率，降低推广成本，提升学员转化率</div>		
					</div>
				</div>
			</div>	
		</div>
		<div class="souke-ads">
			<div class="souke-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="btn">点击咨询</div></a>
			</div>
		</div>
		<div class="souke-block2">
			<div class="m-content">
				<p class="souke-block2-tit"></p>
				<div class="souke-b2-con1">
					<div class="left">
						<p class="tit">在线产品管理</p>
						<p class="con">可为搜课报班系统可灵活设置线上课程（产品）类型，支持班型产品、班级产品和一对一产品的设置。系统后台可详细设置课程描述、价格、课时、学习周期等内容。系统支持强大的标签管理功能，可自定义产品相关标签，学员可根据标签组合筛选出最适合自己的课程或班级。同时系统支持关联产品的设置，促进机构套餐产品的打包销售。支持教务产品与在线产品的一键转化功能，避免多次录入的麻烦。</p>
					</div>
				</div>
				<div class="souke-b2-con2">
					<div class="right">
						<p class="tit">选课报班</p>
						<p class="con">可为搜课报班系统为学员提供了简单快速的报名流程，学员可以在线选择适合自己的课程进行选班报名，选定后可在订单页面查看购买课程价格，若有套餐产品则会有相应的优惠价格显示。学员也可以在快速报班入口直接输入班号进行报班。单个账号可为多个学员进行选课报班。学员报名后可在系统后台查看状态，同时可以与教务系统进行学员关联，若是新学员则自动转化为系统学员。</p>
					</div>					
				</div>
				<div class="souke-b2-con3">
					<div class="left">
						<p class="tit">教师中心</p>
						<p class="con">为给学员更好的提供课程服务和资源信息，可为搜课报班系统集成教师中心模块，学员可以通过系统查看老师的基础信息、擅长课程等内容，可以试播选定教师的课程，也可以在擅长课程列直接选课报班。系统后台支持教师信息的详细录入，也可以将教务系统的老师导入搜课报班教师中心，避免重复录入的繁琐。可在后台设置名师推荐，在首页、产品页等做教师宣传。教师中心能为学员在线提供可靠的教师信息，同时也能很好的凸显机构师资力量。</p>
					</div>					
				</div>	
				<div class="souke-b2-con4">
					<div class="right">
						<p class="tit" style="margin-top:40px;">校区地图</p>
						<p class="con">可为搜课报班系统为学员提供校区地图的查看和检索功能，可在线查看所选范围内的有哪些校区，基于地图提供常见的路线查询、周边服务、全景视图等功能。点击地图上的校区标记可以查看具体校区的概况，包括校区的基本信息、联系方式、交通、校区环境等。学员可查看该校区下的所有课程，或进行选班报名。</p>
					</div>					
				</div>		
				<div class="souke-b2-con5">
					<div class="left">
						<p class="tit" style="margin-top:66px;">个人中心</p>
						<p class="con">学员注册、登录系统后，可在个人中心进行账户相关操作，包括余额查询、常用学员信息设置、转班/退班操作、消费记录查看等；学员报班成功后还可在线查看自己的课程表、课时消耗等信息，还可对特定的课程进行授课质量评估；同时系统支持会员积分制，学员可通过个人中心查看自己的积分，学员可消费积分来抵消部分课程消费或进行礼品换购等。</p>
					</div>					
				</div>
				<div class="souke-b2-con6">
					<div class="right">
						<p class="tit" style="margin-top:8px;">选课小助手</p>
						<p class="con">可为搜课报班系统独具特色的选课小助手功可以帮助学员轻松找到最适合自己的课程或班级。针对不明确选什么课程的学员，可为搜课报班系统可在学员登录后，通过简单的问卷调查，智能匹配出最适合该学员的课程组合。机构人员可在后台设置选课助手问题库，系统通过多维度意向分析与学员聚类分析，为学员推荐最适合的课程。</p>
					</div>					
				</div>	
				<div class="souke-b2-con7">
					<div class="left">
						<p class="tit" style="margin-top:8px;">机构、板块设置</p>
						<p class="con">系统支持多机构站点，可为不同的机构校区设置不同的产品类型和页面风格。系统后台提供了灵活多变的板块设置功能，针对不同校区的首页，可根据需求进行个性化的调整，通过拖拽的方式即可轻松实现页面布局，用户可自定义设置板块内容或跳转链接，快速、高效的搭建专属机构自己的搜课报班系统。</p>
					</div>					
				</div>																		
			</div>
		</div>
{template "content","footer"}	
	</body>
</html>