<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}		
	{template "content","pro-conhead"}
		<div class="m-content">
		<div class="pro-stuTit">
			<p class="pro-titTop" style="line-height:26px;">学员管理系统查看学员综合情况，帮助机构、家长随时随地掌握全局，助力机构轻松<br>管理一把抓</p>
			<p class="pro-titBottom">EDUS学员管理系统提供学员基本信息、学员成绩、学员考勤、学员课程、教程回访等信息的查看，还可对课程进行预约、评价的操作</p>
		</div>	
		<div class="pro-stub1">
			 <div class="pro-stub1-left">
			 	<div class="psb1-top">
			 		功能完备，全面加速服务体系升级
			 	</div>
			 	<div class="psb1-sub">
			 		<span class="psb1-sub-item" style="top:30px;left:134px;">课程评价</span>
			 		<span class="psb1-sub-item" style="top:65px;left:294px;">学员请假</span>
			 		<span class="psb1-sub-item" style="top:215px;left:360px;">教师评估</span>
			 		<span class="psb1-sub-item" style="top:350px;left:288px;">教学回访</span>			 				
			 		<span class="psb1-sub-item" style="top:375px;left:125px;">学员考勤</span>
			 		<span class="psb1-sub-item" style="top:285px;left:20px;">学员成绩</span>
			 		<span class="psb1-sub-item" style="top:140px;left:10px;">学员作业</span>			 					 			
			 	</div>
			 </div>
			 <div class="pro-stub1-left">
			 	<div class="psb2-top">
			 		角色互动，实时掌握学习动向
			 	</div>
				<div class="psb2-bottom">
					<span class="psb2-sub-item" style="top:400px;left:90px;">家长</span>
					<span class="psb2-sub-item" style="top:400px;left:210px;">学员</span>
					<span class="psb2-sub-item" style="top:385px;left:333px;">学科<br />老师</span>	
					<span class="psb2-sub-item" style="top:385px;left:453px;">学习<br />助教</span>	
				</div>
			 </div>
		</div>
		<div class="pro-stub2">
			<div class="pro-stub2-item1">
				<div class="psi1-top" onmouseover="document.getElementById('psi1').style.color='#48a3e1'" onmouseout="document.getElementById('psi1').style.color='#666'"></div>
				<div class="psi1-bottom" id="psi1">培养<br />创新思维</div>
			</div>
			<div class="pro-stub2-item2">
				<div class="psi2-top" onmouseover="document.getElementById('psi2').style.color='#48a3e1'" onmouseout="document.getElementById('psi2').style.color='#666'"></div>
				<div class="psi1-bottom" id="psi2">加强<br />求职欲望</div>
			</div>
			<div class="pro-stub2-item2" style="margin-left:120px;">
				<div class="psi3-top" onmouseover="document.getElementById('psi3').style.color='#48a3e1'" onmouseout="document.getElementById('psi3').style.color='#666'"></div>
				<div class="psi1-bottom" id="psi3">提高<br />分析能力</div>
			</div>
			<div class="pro-stub2-item2" style="margin-left:120px;">
				<div class="psi4-top" onmouseover="document.getElementById('psi4').style.color='#48a3e1'" onmouseout="document.getElementById('psi4').style.color='#666'"></div>
				<div class="psi1-bottom" id="psi4">建立<br />管理体制</div>
			</div>
			<div class="pro-stub2-item2" style="margin-left:120px;">
				<div class="psi5-top"></div>
				<div class="psi1-bottom" style="color:#48a3e1;">打造<br />未来团队</div>
			</div>												
		</div>	
		</div>
		 <a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="prostudent-ads"></div></a>
		 <div class="m-content">
		 	<div class="ps-conb1">
		 		<div class="ps-conb1-right"></div>
		 		<div class="ps-conb1-left">
		 			<div class="ps-conb1-leftTit">学员登录应用</div>
		 			<p class="ps-conb1Con"> 学员管理登录界面的主题设计风格主要采用了多界面切换的操作方式，根据学员的审美观不同，学员自己可以更换。</p>
		 			<p class="ps-conb1Con">根据用户不同的需求，学员管理端登入界面支持学员登入和家长登入两种模式：学员可以登入系统查看课程信息，课程安排，作业，请假，包括对于课程的评价；家长通过系统能够查看学员成绩，作业情况，考试，了解学员的学习情况。</p>
		 			<p class="ps-conb1Con">系统根据学员的需求允许学员自行设置头像，包括本地图片和摄像头采集两种不同的上传头像方式。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>
		 	<div class="ps-conb2">
		 		<div class="ps-conb2-left"></div>
		 		<div class="ps-conb2-right">
		 			<div class="ps-conb1-leftTit" style="margin-top:30px;">课程信息管理</div>
		 			<p class="ps-conb1Con"> 方便学员查看所学课程的上课日期和时间，合理安排学员学习时间。有利于提高学员的学习质量。</p>
		 			<p class="ps-conb1Con">家长随时了解学员学习课程的情况，购买课程信息，已经上课课程，剩余课程，更加全面了解学习进度。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>
		 	<div class="ps-conb3">
		 		<div class="ps-conb3-right"></div>
		 		<div class="ps-conb1-left">
		 			<div class="ps-conb1-leftTit">课程评价管理</div>
		 			<p class="ps-conb1Con" style="width:490px;"> 学员通过EDUS系统可以对已经上过的课程进行评价，能够帮助机构提升教师的教学质量，让学员监督机构的服务。机构可以根据学员提出的意见和评价更加合理的做出教学调整。</p>
		 			<p class="ps-conb1Con" style="width:490px;">学员端系统为加强学员、教师之间沟通提供一个平台，提高教师与学员之间的互动，同时提升教师的教学质量，提高学员对于机构的满意度，减少机构学员的退费现象。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>
		 	<div class="ps-conb4">
		 		<div class="ps-conb4-left"></div>
		 		<div class="ps-conb2-right">
		 			<div class="ps-conb1-leftTit" style="margin-top:30px;">学员考勤管理</div>
		 			<p class="ps-conb1Con"> 学员可以在学员考勤中查看自己的考勤情况，学员家长随时能够了解孩子的上课信息。</p>
		 			<p class="ps-conb1Con">学员及家长可以在学员考勤中了解学员在某一天上课迟到的情况，让家长监督学生的学习。对于学员的经常迟到或者缺勤，家长能够及时了解，和学员做出及时的沟通。</p>
		 			<p class="ps-conb1Con">同时机构对于学员的考勤随时了解，如果正常缺勤，事后可以协调机构给学生补课。如果不是正常，则教师按照违规考勤处理。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>	
		 	<div class="ps-conb5">
		 		<div class="ps-conb5-right"></div>
		 		<div class="ps-conb1-left" style="margin-top:40px;">
		 			<div class="ps-conb1-leftTit">学员请假管理</div>
		 			<p class="ps-conb1Con" style="width:490px;">学员能够登入学员端系统进行请假申请，教师对于学员的请假可以进行审批，提高教学管理，家长能够通过系统随时查看学员请假原因。</p>
		 			<p class="ps-conb1Con" style="width:490px;">学员，家长和教师能够登入系统查看学员的请假情况，具体哪些课程请假，教师能够根据学员的请假的课时对学员做一些相应的辅导。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>
		 	<div class="ps-conb6">
		 		<div class="ps-conb6-left"></div>
		 		<div class="ps-conb2-right" style="margin-top:40px;">
		 			<div class="ps-conb1-leftTit" style="margin-top:30px;">学员成绩管理</div>
		 			<p class="ps-conb1Con"> 学员可在学员成绩模块查看自己所学课程的考试成绩，使学员和学员家长及时了解学员的学习情况。</p>
		 			<p class="ps-conb1Con">查看学员某门课程的详细成绩信息，能够帮助学员，家长和教师了解学员课程学习情况，对于某一门学习成绩落下做重点的课程辅导。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>
		 	<div class="ps-conb7">
		 		<div class="ps-conb7-right"></div>
		 		<div class="ps-conb1-left">
		 			<div class="ps-conb1-leftTit" style="margin-top:70px;">学员作业管理</div>
		 			<p class="ps-conb1Con">学员进入系统下载教师上传的作业附件，填写作业完成情况，并上传完成的作业附件。</p>
		 			<p class="ps-conb1Con">教师通过学员端系统可以随时查看学员的作业，并作出批改，便于学员和教师之间的沟通，同时能够提高学员的学习质量。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>	
		 	<div class="ps-conb8">
		 		<div class="ps-conb8-left"></div>
		 		<div class="ps-conb2-right">
		 			<div class="ps-conb1-leftTit" style="margin-top:50px;">教学回访管理</div>
		 			<p class="ps-conb1Con"> 机构教务人员主动回访学员对教学的评价，及时了解学员的对教学的反馈，提高机构服务质量。</p>
		 			<p class="ps-conb1Con">学员家长可以登入学员端系统对教学的情况做出反馈，便于学员家长和教师之间的沟通，提高教学质量。</p>
		 		</div>
		 	</div>
		 	<div class="ps-conLine"></div>	
		 	<div class="ps-conb9">
		 		<div class="ps-conb9-right"></div>
		 		<div class="ps-conb1-left">
		 			<div class="ps-conb1-leftTit" style="margin-top:70px;">教师评估管理</div>
		 			<p class="ps-conb1Con">学员和家长进入学员端系统可以对某一个教师某一节课程做出评价，更加精细的对教师做出评估，提高教师的教学。</p>
		 			<p class="ps-conb1Con">培训机构可以根据学员做出的评估，做出及时的调整，提高学员的满意度和机构的教学质量。</p>
		 		</div>
		 	</div>		 		 		 	
		 </div>
		<div class="promarket-ads" style="margin-top:0px">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>
		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>	
</html>