<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
	{template "content","pro-conhead"}
		<div class="m-content">
			<div class="more-tit">
				<p class="more-tit-top">一对多班课精细化管理，让机构应收利益最大化！</p>
				<p class="more-tit-sub">一对多班课管理解决开班、分班、班级排课、教学日志、回访学生家长等工作，让班级教学管理体系化，从而提高培训机构一对多班课管理效率和质量。</p>
			</div>
			<div class="one-b1">
				<div class="one-b1-item">
					学员报名
				</div>
				<div class="one-b1-item">
					预约课程
				</div>
				<div class="one-b1-item">
					预约班型
				</div>
				<div class="one-b1-item">
					签订合同
				</div>
				<div class="one-b1-item">
					收费
				</div>
				<div class="one-b1-item">
					制卡
				</div>
				<div style="clear:both"></div>	
				<div class="one-b1-item" style="margin-top:150px;">
					培训结构处理
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					刷卡下课
				</div>	
				<div class="one-b1-item" style="margin-top:150px;">
					刷卡上课
				</div>																									
				<div class="one-b1-item" style="margin-top:150px;">
					预约教师
				</div>	
				<div class="one-b1-item" style="margin-top:150px;">
					分配教师
				</div>					
				<div class="one-b1-item" style="margin-top:150px;">
					分班排课
				</div>																									
			</div>

		</div>
		<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ana-ads" style="margin-top:57px;"></div></a>
			<div class="m-content more-con">
				<div class="more-con1Right"></div>
				<div class="more-con1Left">
					<p class="more-conTit">班级管理</p>
					<p class="more-conCon">1、主要是对班级信息的管理，客户可建立对应班级，制定班级课程，设定班级招生人数限制；</p>
					<p class="more-conCon">2、可以设定班级最少人数开班，提前设定班级学时和班级上课时间，也就是提前排课、查看班级学员信息，以便销售人员推销班课。</p>					
				</div>
				<div class="clearfix"></div>
				<div class="more-con2Left"></div>
				<div class="more-con2Right">
					<p class="more-conTit">学员选班管理</p>
					<p class="more-conCon">1、学员选班管理是对所有学员进行选班、退班、转班等功能的操作模块；<p/>
					<p class="more-conCon">2、系统可以自动过滤哪些学员没选班，可批量选班，帮助老师准确提高学员分班效率；<p/>
					<p class="more-conCon">3、退班主要解决学员退班不退费，把退班费，退班费可以补转班的班级差价，也可直接退费，也可以把退班费暂存机构，以后报课抵消使用；<p />
					<p class="more-conCon">4、可支持批量选班、退班、转班，提高教务人员复杂选班、退班、转班补差价；
					</p>
				</div>
				<div class="clearfix"></div>
				<div class="more-con3Right"></div>	
				<div class="more-con3Left">
					<p class="more-conTit">课程表管理</p>
					<p class="more-conCon">教师可查询分配给自己的学员信息和预约上课情况，并需教师对课表进行确认，老师确认时间没问题，如果有问题，老师可以申请修改课程时间。</p>					
				</div>
				<div class="clearfix"></div>				
				<div class="more-con4Left"></div>
				<div class="more-con4Right">
					<p class="more-conTit">班级考勤管理</p>
					<p class="more-conCon">1、班级考勤管理是根据班级课程表对班级学员上课情况进行考勤记录，以方便培训机构对学员进行管理；</p>
					<p class="more-conCon">2、在学员管理系统中便于家长对学员上课情况掌握；</p>
					<p class="more-conCon">3、根据上课日期可以对课程表数据进行列表显示；</p>
					<p class="more-conCon">4、在进行考勤时可对学员签到、旷课、请假、迟到、早退等图标，可标识学员的考勤状态。</p>
				</div>
				<div class="clearfix"></div>
				<div class="more-con5Right"></div>	
				<div class="more-con5Left">
					<p class="more-conTit">班课作业管理</p>
					<p class="more-conCon">1、班课作业模块主要是教师对课后对学员布置作业、批改作业等操作，教师可在此模块对学员进行课后的作业管理；</p>
					<p class="more-conCon">2、教师可在批改作业时对学员做出评价，学员可以看见老师批改结果，解决学员课堂课下教学质量把控，提升企业竞争力。</p>					
				</div>
				<div class="clearfix"></div>
				<div class="more-con6Left"></div>
				<div class="more-con6Right">
					<p class="more-conTit">班课教学日志管理</p>
					<p class="more-conCon">主要是对老师上课的反馈记录统计，老师每次上完课，要写今天教学日志，教了什么，哪些学员在上课时有问题，哪些学员在知识点还不太懂，可很好记录每节课学员上课情况，同时也可通过此处对学员的每节课评价进行查看，提高老师责任心。</p>
				</div>	
				<div class="clearfix"></div>
				<div class="more-con7Right"></div>	
				<div class="more-con7Left">
					<p class="more-conTit">教学回访记录管理</p>
					<p class="more-conCon">1、回访记录主要是通过教务人员对学员、家长回访的记录，通过回访记录可以查看相应员工的服务工作情况，拥有操作权限的员工可对回访记录进行查看、添加、删除等操作。</p>
					<p class="more-conCon">2、可以解决我们老师给学生上课和服务过程是否满意，学员、家长有哪些建议，提高我们服务质量和问题把控，降低退费率。</p>
				</div>	
				<div class="clearfix"></div>
				<div class="more-con8Left"></div>
				<div class="more-con8Right">
					<p class="more-conTit">满意度调查管理</p>
					<p class="more-conCon">满意度调查管理主要是通过调查问卷的形式对学员、家长进行调研。看看学员、家长对我们的服务是否满意，也是提高服务质量的一种。</p>					
				</div>																
			</div>
		<div class="promarket-ads" style="margin-top:0px">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>

		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>		
</html>