<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/pro-tab.js"></script>
  </head>
  <body>  
    {template "content","head"} 
		<div class="mapp-banner">
			<div class="mapp-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank">
					<div class="mb-btn">点击咨询</div>
				</a>
			</div>
		</div>
		<div class="mapp-block1">
			<div class="m-content">
				<div class="mapp-b1-tit"></div>
				<div class="mapp-b1-con">
					<div class="mapp-b1-left">
						<p class="tit">可为教务移动APP</p>
						<p class="con">教务移动APP应用是可为软件从广大用户移动办公需求角度出发而定制开发的一款APP产品，主要包含市场招生、销售管理、教学教务、财务管理、课程产品等功能模块，全力帮助机构业务人员提升工作效率，随时随地轻松办公，真正实现无纸化办公。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mapp-ads1">
			<div class="mapp-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="mapp-ads-btn">点击咨询详情</div></a>
			</div>
		</div>
		<div class="mapp-block2">
			<div class="m-content">
				<div class="mapp-b2-tit"></div>
				<div class="mapp-b2-top">
					<div class="item1"></div>
					<div class="item2"></div>
					<div class="item3"></div>
					<div class="item4"></div>
				</div>
				<div class="mapp-b2-dv"></div>
				<div class="mapp-b2-sub">
					<div class="item1">
						<div class="con1">
							<div class="tit1">市场活动</div>
							<div class="word1">机构教务人员可通过edus移动app全面管理市场活动相关事项。从活动模板创建、到活动准备、活动过程、活动结果等，都有细致的管理，帮助机构市场人员轻松管理各类活动，不再因工作场地的限制而出现线索丢失或错误的情况，全面提升管理效率。</div>
						</div>
					</div>
					<div class="item2">
						<div class="con2">
							<div class="tit2">线索分配</div>
							<div class="word2">市场机构人员可利用edus移动app有效的进行线索分配的工作，从市场活动获得来的线索，经过初次回访、确认有效后，将线索分配给销售人员。edus移动app支持线索的手动分配和自动分配，可按预先设定好的分配规则自动分配学员线索。</div>
						</div>
					</div>	
					<div class="item3">
						<div class="con1">
							<div class="tit1">回访跟进</div>
							<div class="word1">机构销售人员可及时将学员回访、跟进信息通过edus移动app录入系统，包括回访内容、回访时间、回访计划等。同时，针对潜在学员的跟进状态也可以通过app做实时的记录、更新，销售主管可总体把控销售人员的跟进过程，有效提升成单率。</div>
						</div>
					</div>	
					<div class="item4">
						<div class="con2">
							<div class="tit2">多维度报表分析</div>
							<div class="word2">edus移动app为机构管理人员提供了丰富的报表分析功能，通过市场活动转化率分析，帮助机构合理配置资源，做最有效的市场投放；通过线索跟进分析，及时调整营销策略，缩短销售周期；通过销售业绩分析，掌握阶段性的目标完成情况，轻松规划下一步的工作计划。</div>
						</div>
					</div>													
				</div>
			</div>
		</div>
		<div class="mapp-ads2">
			<div class="mapp-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><span class="mapp-ads-btn2">点击咨询详情</span></a>
			</div>
		</div>
		<div class="mapp-block3">
			<div class="m-content">
				<div class="mapp-b3-tit"></div>
				<div class="mapp-b3-con">
					<div class="item1">
						<div class="con1">
							<p class="tit1">考勤管理</p>
							<p class="word1">edus移动app全面记录教师、学员的考勤信息。全面支持二维码扫码考勤，教师可实时、动态掌握学员考勤状态；机构管理人员也可以通过移动app考勤日志对教师、学员的考勤信息做系统分析，为学员成绩、教师绩效提供数据支撑。</p>
						</div>
					</div>
					<div class="item2">
						<div class="con2">
							<p class="tit2">课程预约</p>
							<p class="word1">edus移动app支持学员课程预约功能。学员通过登录移动app学员端进行课程预约操作，机构教务人员通过移动app系统查看系统的预约处理结果；可针对特定教师的空闲度做出调整，提升学员课程预约的效率。</p>
						</div>
					</div>
					<div class="item3">
						<div class="con1">
							<p class="tit1" style="margin-top:40px;">消息提醒</p>
							<p class="word1">事项提醒可以在约定的时间提醒教师/教务人员的工作安排，有效帮助机构教师提前规划课程安排工作，避免不必要的遗漏造成时间资源浪费。提醒类型包括课程安排提醒、学员请假提醒、作业完成提醒、课程评价提醒等。</p>		
						</div>						
					</div>
					<div class="item4">
						<div class="con2">
							<p class="tit2" style="margin-top:50px;">产品体系</p>
							<p class="word1">edus教务app全面支持pc端教务系统产品体系的设定，包括班课产品、一对一产品、套餐产品等，并可以通过app实现产品相关的课程、课时、教材、优惠；同时支持学员的转班、退班等操作。帮助机构实现产品体系的灵活定制。</p>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<div class="mapp-ads3">
			<div class="mapp-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><span class="mapp-ads-btn3">点击咨询详情</span></a>
			</div>
		</div>
		<div class="mapp-block4">
			<div class="m-content">
				<p class="mapp-b4-tit"></p>
				<div class="mapp-b4-con">
					<div class="item1">
						<div class="con1">
							<p class="tit1">收费退费</p>
							<p class="word1">机构财务人员通过edus移动app能够轻松记录学员每一笔的财务费用，同时app系统可以通过系统预设的收费标准，结合优惠、课程类型等自动计算出应收或应退金额。省去人工计算及人员沟通的成本，高效、安全。</p>
						</div>		
					</div>
					<div class="item2">
						<div class="con1" style="float:right">
							<p class="tit1" style="margin-top:70px;">优惠管理</p>
							<p class="word1">机构管理人员制定属于自己的优惠标准，包括常规课程优惠、不同产品套餐优惠、赠课时优惠、特殊申请优惠（针对学员）以及预留自定义优惠，实现企业全方位优惠管理。</p>
						</div>							
					</div>
					<div class="item3">
						<div class="con1">
							<p class="tit1" style="margin-top:40px;">申请审批</p>
							<p class="word1">针对财务相关的优惠申请、费用申请、以及针对学员的特殊申请，可通过edus移动app制定申请/审批流程，领导人员可登陆app申请中心查看相应审批项，需要多级审批的类项也只有按系统流程逐级审批，才能最终被系统允许通过。</p>
						</div>							
					</div>
				</div>
			</div>
		</div>
{template "content","footer"}
<script type="text/javascript" src="js/scrol.js"></script>		
	</body>
</html>