<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
	{template "content","pro-conhead"}
		<div class="m-content">
		<div class="pro-groupTit">
			<div class="pro-gtTop">在集团化运营管理中，多校区集团管理系统围绕三点来管控，包括财、人、权的管控</div>
			<div class="pro-gtSub">通过多校区管理模式，总部可以轻松掌握各校区的经营状况，辅助各学校精细化管理、高效能作业，畅享云端智能教务平台，达到财务、业务一体化的集团管控</div>	
		</div>
		<div class="pro-groupCon1">
			<div class="pro-gConItem1"> 集团<br />财务管控</div>
			<div class="pro-gConItem1" style="margin-left:148px;">集团<br />人员管控</div>
			<div class="pro-gConItem1" style="margin-left:148px;">集团<br />审批管控</div>
			<div class="pro-gConItem1" style="margin-left:148px;">集团化<br />架构管理</div>
		</div>
		<p class="pro-groupSubCon"><span style="color:#f59d2b">管理细点：</span>收费、退费、转费、欠费、缴费充值、合同管理、财务支出、财务分析<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank" class="pro-groupSubbtn">了解详情</a></p>	
		<div class="pro-groupCon2">
			<p class="pro-gC2Tit">数据分析</p>
			<div class="pro-gC2Con1">
				<p style="font-size:14px;margin-top:8px;">学员欠费统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Students in arrears</span></p>
				<p style="font-size:14px;margin-top:8px;">课程收入统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">The course of income</span></p>
				<p style="font-size:14px;margin-top:8px;">学员退费统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Student refund</span></p>
				<p style="font-size:14px;margin-top:8px;">课酬费用统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Class return cost</span></p>
			</div>
			<div class="pro-gC2Con2">
				<p style="font-size:14px;margin-top:8px;">学员基本收费统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">The basic charge</span></p>
				<p style="font-size:14px;margin-top:8px;">学员续费统计分析/续保率&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Students renewal</span></p>
				<p style="font-size:14px;margin-top:8px;">学员学费核销实时统计分析&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Tuition verification</span></p>
				<p style="font-size:14px;margin-top:8px;">其他费用管理资金统计分析&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Management of funds</span></p>
			</div>
			<div class="pro-gC2Con2" style="margin-left:110px;">
				<p style="font-size:14px;margin-top:8px;">教师单节课时费以及总课时费统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Class fee</span></p>
				<p style="font-size:14px;margin-top:8px;">课酬费用统计&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Class return cost</span></p>
				<p style="font-size:14px;margin-top:8px;">总部及分支机构费用盈利或支出情况&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">Branch</span></p>
				<p style="font-size:14px;margin-top:8px;">活动支出费用及所有日常支出项统计分析&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#a4a4a4;font-size:12px;">expenditure</span></p>
			</div>
			<div class="clearfix"></div>
		</div>	
		<div class="clearfix"></div>
		<div class="pro-gC2Con3-left">
			<p class="pro-gClCon">财务管理系统，帮助企业以全局的视野构建企业财务管理和控制体系，加强对企业各项业务的精细化掌控，从财务的角度洞悉企业经营全局，降低企业财务与经营风险。</p>
			<p class="pro-gClCon" style="margin-top:10px;">财务管理系统实时清晰掌握总部及各分支机构收入、支出、费用盈利等资金流动情况，实现对资金的实时管控，帮助企业制定预算，将有限的资金用在更需要的地方，实现企业利益最大化。</p>
			<p class="pro-gClCon" style="margin-top:10px;">对系统内收费管理、退费管理、支出管理、合同管理、其他费用管理的资金进行统计分析，为机构领导提供决策依据。</p>
		</div>
		<div class="pro-gC2Con3-right">
			<p class="pgr-Tit">提高财务管理效率<br />实现精细化的财务核算</p>
			<p class="pgr-Tit">实现财务职能转变</p>
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank"><div class="pgr-btn">
				点击预约产品演示
			</div></a>
		</div>
		<div class="clearfix"></div>
		<div class="pro-groupCon3">
			企业内部员工管理实现级别和角色管理，每一个员工都有一个个人成长档案
		</div>
		<div class="clearfix"></div>
		<div class="pro-con3Left">
			企业人员如何管控，我们可为edus教务管理系统对企业员工管理，是按照系统流程和不同部门角色来管理，按照不同所属机构，总部、部门、分校来划分管理，每个员工档案信息和级别角色相关联，对不同员工角色有不同权限划分，让我们企业内部员工管理实现级别和角色管理，每一个员工等于有一个个人成长档案，让我们在员工管理时，不在级别、岗位、权限混乱。
		</div>
		<div class="pro-con3Right">
			<p class="pgr-Tit">通过集团人员管理让企业</p>
			<p class="pgr-Tit">人才管理占率更精准</p>
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank"><div class="pgr-btn" style="margin-top:10px;">
				点击预约产品演示
			</div></a>			
		</div>
		<div class="clearfix"></div>
		<div class="pro-groupCon4">
			系统在集团审批可根据不同审批流程来进行风险管控
		</div>
		<div class="clearfix"></div>
		<div class="pro-con4Left">
		在我们教育机构中，常见的审批主要是，学员进行优惠申请、退费申请、班型新增、课程设置、新产品、教材采购，还有就是给客户特殊优惠申请等，这些在我们日常教育培训中是很常见的，但是这些问题往往就是集团审批管控风险关键，企业内部审批，是企业对风险把控重要环节，在任何企业管理中，审批是对企业内部责任风险一种有效控制，明确哪些是需要申请审批，明确每个管理人员审批权限，明确员工哪些需要申请审批，避免一些员工给客户承诺过多，造成公司不必要损失。
		</div>
		<div class="pro-con4Right">
			<p class="pgr-Tit">用权限来控制风险确保每一个校</p>
			<p class="pgr-Tit">区、每一位员工都能在公司统一分</p>
			<p class="pgr-Tit">配的权限范围内，开展业务体系。</p>
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank"><div class="pgr-btn" style="margin-top:10px;">
				点击预约产品演示
			</div></a>			
		</div>
		<div class="clearfix"></div>
		<div class="pro-groupCon5">
			可为EDUS教务系统多校区管理模式实现从机构总部管理、部门管理、校区管理、产品管理及人员角色权限控制等方面对整个机构进行综合性管理。
		</div>	
		<div class="prg-C5-item1Right"></div>
		<div class="prg-C5-item1Left">
			<p class="pc5iTit">机构管理</p>
			<p class="pc5iCon">EDUS教务系统用户可在此定义企业内部组织机构，可以根据企业的内部结构进而设定企业内部的管理级别。</p>
			<p class="pc5iCon">机构的管理可以实现企业跨行业跨地域之间的数据共享。</p>
			<p class="pc5iCon">机构管理可以清楚了解集团下属的分支机构情况，以及每个地域的分支机构的特点。</p>
			<p class="pc5iCon">可以不断梳理企业管理流程和架构，梳理每个流程是否合理，帮助企业高效管理，支持企业集团化发展架构。</p>
		</div>
		<div class="clearfix"></div>	
		<div class="prg-C5-item2Left"></div>
		<div class="prg-C5-item2Right">
			<p class="pc5iTit">校区管理</p>
			<p class="pc5iCon">EDUS教务系统支持多个分校或教学区，总部可更快捷更有力的监管各分部、分校，学员档案、财务信息、教学情况等。</p>
			<p class="pc5iCon">校区管理很好的权限化分管理。既保证总部可以随时掌控分校区的运营状况，也可以自己独立运营。</p>			
		</div>
		<div class="clearfix"></div>
		<div class="prg-C5-item3Right"></div>
		<div class="prg-C5-item3Left">
			<p class="pc5iTit">部门管理</p>
			<p class="pc5iCon">EDUS教务系统管理人员可以根据企业的需求设定企业内部的部门，并可对部门进行分级管理。方便查看每个部门人员的管理情况。</p>
			<p class="pc5iCon">系统内可以对企业内部的部门灵活变更。</p>
		</div>
		<div class="clearfix"></div>	
		<div class="prg-C5-item4Left"></div>
		<div class="prg-C5-item4Right">
			<p class="pc5iTit">产品管理</p>
			<p class="pc5iCon">EDUS教务系统支持开设产品科目，提供单科、产品套餐组合价格模式。</p>
			<p class="pc5iCon">EDUS教务系统支持新添加产品时对产品内容，定价审批管理。</p>
			<p class="pc5iCon">EDUS教务系统支持针对于不同校区，不同专业，不同班级对产品进行管理。</p>
			<p class="pc5iCon">EDUS教务系统对于产品的修改，增加，删除有严格的权限控制。防止产品的单价任意修改。</p>			
		</div>
		<div class="clearfix"></div>
		<div class="prg-C5-item5Right"></div>
		<div class="prg-C5-item5Left">
			<p class="pc5iTit">权限管理</p>
			<p class="pc5iCon">EDUS教务系统通过权限管理设置不同角色的人员权限。使管理更加明确，并且保证了公司的信息安全。</p>
			<p class="pc5iCon">EDUS教务系统也支持对于每个栏目进行权限管理。</p>
			<p class="pc5iCon">EDUS教务系统也支持同一个人多种角色的权限管理。</p>
		</div>
		<div class="clearfix"></div>
		<div class="prg-C5-item6Left"></div>
		<div class="prg-C5-item6Right">
			<p class="pc5iTit">角色管理</p>
			<p class="pc5iCon">用户可以通过选择角色来快速地为同一类型的人员设置权限，便于管理，简化操作。</p>
			<p class="pc5iCon">不同校区可以自定义设置人员的相关行政角色。</p>			
		</div>
		<div class="clearfix"></div>									
		</div>
		<div class="promarket-ads">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>

		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>	
</html>