<!DOCTYPE html>
<html>
	<head>
		<title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
		<link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
        <meta name="keywords" content="{$SEO['keyword']}" />
        <meta name="description" content="{$SEO['description']}" />		
		<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/abroad.css" />
		<script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="{JS_PATH}edus/abroad.js"></script>
	</head>
	<body>	
	{template "content","head"}	
	<div class="abroad-banner"></div>
	<div class="abroad-block1 block" id="block1">
		<div class="m-content">
			<div class="abroad-b1-tit"></div>
			<p class="abroad-b1-subtit">高效一体化业务管控系统，保障执行层、管理层、决策层的数据流、信息流、财务流准确清晰及时的展现出来，<br>让管理即决策、决策即数据成为现实</p>
			<div class="abroad-b1-con">
				<div class="abroad-b1-right">
					<p class="content">本产品由独立专业的产品研发团队、大量的留学培训需求积累和可为研发平台开发而成，其主要包括产品体系、客户咨询、合同管理、留学服务、国际合作、佣金管理、基础库、决策分析。产品功能完善、部署灵活、轻松定制、快速实施，本地化部署数据更安全。可为留学erp它是一款产品也是一套整体解决方案，核心价值就是为留学培训企业提高工作效率降低管理成本。<br>
					<a href="javascript:void(0)" class="btn1 ab1-btn" id="ab1-btn">申请试用</a><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank" class="btn2 ab1-btn">在线咨询</a>
					</p>
				</div>
				<div class="abroad-b1-left1">
					<div class="abl1-top">海外服务</div>
					<div class="abl1-sub">
						<p class="abl1-sub-text"><span>校园学习</span><span style="margin-left: 29px;">海外生活</span><span style="margin-left: 29px;">职场准备</span><span style="margin-left: 29px;">实习就业</span></p>
					</div>
				</div>
				<div class="abroad-b1-left2">
					<div class="abl2-top">高端直申</div>
					<div class="abl2-sub">
						<p class="abl2-sub-text">
							<span>申请时间规划</span>
							<span style="margin-left:33px;">确定院校专业</span>
							<span style="margin-left:33px;">设计展示文书</span>
							<span>准备申请材料</span>
							<span style="margin-left:45px;">申请学校</span>
							<span style="margin-left:57px;">获得offer</span>
							<span style="margin-left:12px;">申请专业</span>
							<span style="margin-left:60px;">准备行前</span>
							<span style="margin-left:60px;">飞往美国</span>
						</p>
					</div>
				</div>
				<div class="abroad-b1-left3">
					<div class="abl3-top">背景提升</div>
					<div class="abl3-sub">
						<p class="abl3-sub-text">
							<span>背景提升和时间规划</span>
							<span style="margin-left: 32px;">硬件提升</span>
							<span style="margin-left: 32px;">软件提升</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="abroad-block2 block" id="block2">
		<div class="abroad-b2-tit"></div>
		<div class="abroad-b2-top">
			<div class="m-content">
				<div class="ab2-left">
					<p class="con-text" style="margin-top: 47px;">1. 如何进行微信及其他渠道的招生？</p>
					<p class="con-text" style="margin-top: 24px;">2. 如何优化咨询师跟单过程，提升签约率？</p>
					<p class="con-text" style="margin-top: 24px;">3. 老师离职、转岗涉及的客户转接问题？</p>
					<p class="con-text" style="margin-top: 24px;">4. 从哪些方面着手，优化客户服务体验？</p>
					<p class="con-text" style="margin-top: 24px;">5. 怎样帮助教师改善教学互动、提升教学质量？</p>
				</div>
				<div class="ab2-center"></div>
				<div class="ab2-right">
					<p class="con-text" style="margin-top: 47px;">6. 随着企业扩张和业务的繁杂，如何优化内部管控？</p>
					<p class="con-text" style="margin-top: 24px;">7. 怎样帮助员工打破跨部门协作壁垒？</p>
					<p class="con-text" style="margin-top: 24px;">8. 留学申请老师写的文书终稿归档问题？</p>
					<p class="con-text" style="margin-top: 24px;">9. 学术资源如何实现共享？</p>
					<p class="con-text" style="margin-top: 24px;">10. 如何保有学员案例，做系统分析？</p>
				</div>
			</div>
		</div>
		<div class="abroad-b2-solution">
			<a href="http://edus.keweisoft.com/solu-overseas/" target="_blank"><div class="abroad-b2-solution-btn">点击咨询行业方案</div></a>
		</div>
	</div>
	<div class="abroad-block3 block" id="block3">
		<div class="m-content">
			<div class="abroad-b3-tit"></div>
			<div class="abroad-b3-con">
				<div class="each" style="margin-left: 0px;">
					<div class="ico1"></div>
					<p class="tit">产品功能丰富</p>
					<p class="con">可为留学erp系统是一款功能丰富的软件，支持多机构、多校区管理、矩阵权限管理，提供从前端市场营销、客户管理到后端服务管理一体化业务管控系统。</p>
				</div>
				<div class="each">
					<div class="ico2"></div>
					<p class="tit">强大的客户化开发平台</p>
					<p class="con">根据客户需求灵活定制开发，制定企业个性化化业务系统，并且可自定义数据报表，细化数据分析，供企业管理层做决策支撑。</p>
				</div>
				<div class="each">
					<div class="ico3"></div>
					<p class="tit">数据安全性</p>
					<p class="con">对企业数据进行分级管理，严格的权限控制是安全保障的基础，系统支持分布式部署，提升系统性能的同时也保障了整体的高可用性。</p>
				</div>
				<div class="each">
					<div class="ico4"></div>
					<p class="tit">系统集成扩展</p>
					<p class="con">支持外部系统接口集成，如OA、财务、CRM、HR、官网等前后端系统的接口开发，实现了企业数据的自由流转，消除信息化孤岛弊端。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="abroad-block4 block" id="block4">
		<div class="m-content">
			<div class="abroad-b4-tit"></div>
			<div class="abroad-b4-thumb">
				<a href="#pro1">
					<div class="item1">
						<p class="text">产品管理</p>
					</div>
				</a>
				<a href="#pro2">
					<div class="item2">
						<p class="text">市场招生</p>
					</div>
				</a>
				<a href="#pro3">
					<div class="item3">
						<p class="text">客户管理</p>
					</div>
				</a>
				<a href="#pro4">
					<div class="item4">
						<p class="text">合同管理</p>
					</div>
				</a>
				<a href="#pro5">
					<div class="item5">
						<p class="text">服务管理</p>
					</div>
				</a>
				<a href="#pro6">
					<div class="item6">
						<p class="text">国际合作</p>
					</div>
				</a>
				<a href="#pro7">
					<div class="item7">
						<p class="text">基础库</p>
					</div>
				</a>
				<a href="#pro8">
					<div class="item8">
						<p class="text">集团化管控</p>
					</div>
				</a>
				<a href="#pro9">
					<div class="item9">
						<p class="text">工作台设置</p>
					</div>
				</a>
				<a href="#pro10">
					<div class="item10">
						<p class="text">决策分析</p>
					</div>
				</a>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="abroad-b4-gray pro-block" id="pro1" style="margin-top: 80px;">
			<div class="abroad-b4-pro1">
				<div class="abroad-b4-gray-text">
					<p class="tit">产品体系</p>
					<p class="subtit">优化产品体系，确保产品的服务进度及质量</p>
					<p class="content">产品是销售的基础也是目标，对产品进行统一有序管理，企业管理的重要内容之一，留学erp系统能具有统一管理留学产品、自由设置产品标签功能。便于企业统一管理产品类型、价格等信息，统一维护产品信息；产品字段可以根据企业的需求，自由更改。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-white pro-block" id="pro2">
			<div class="abroad-b4-pro2">
				<div class="abroad-b4-white-text">
					<p class="tit">市场招生</p>
					<p class="subtit">业务链能够共享市场资源</p>
					<p class="content">线下管理各类活动（如：校园巡展、校园讲座、考点活动），对每场活动作计划，分析投入产出比。对线下渠道方管理和返佣明细管理。线上网站接口对接和朋友圈活动推广、公众号对接推广活动，准确找到线索、培育线索、转化线索。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-gray pro-block" id="pro3">
			<div class="abroad-b4-pro3">
				<div class="abroad-b4-gray-text">
					<p class="tit">客户咨询管理</p>
					<p class="subtit">高效客户管理提升签约率</p>
					<p class="content">管理客户档案针对留学行业内置基本信息、联系信息、地域信息、意向信息、背景信息、申请信息、文书材料等还可以根据需求定制其他信息板块。可以针对不同客户咨询倾向分类管理，对客户的意向级别不同自动生成不同频率的回访计划，辅助咨询老师清晰高效的管理客户，提高签单率。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-white pro-block" id="pro4">
			<div class="abroad-b4-pro4">
				<div class="abroad-b4-white-text">
					<p class="tit" style="margin-top: 113px;">合同管理</p>
					<p class="subtit">按照责权发生制计算合同收入</p>
					<p class="content">合同管理包括合同档案、收款、发票、退款、优惠。收款根据留学行业收费特性支持多次收费，并记录每次的收费金额，收费方式等。发票记录开票金额、发票代码、发票抬头、发票类型和开票日期明细。退款可以按照合同条款约束的服务关键节点计算出预计退费，减少企业损失。优惠可以根据机构校区制定不同的优惠标准，包括折扣、减免。同时收费、退费、优惠都可以设置审批流程。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-gray pro-block" id="pro5">
			<div class="abroad-b4-pro5">
				<div class="abroad-b4-gray-text">
					<p class="tit" style="margin-top: 117px;">留学服务管理</p>
					<p class="subtit">协调统一各个服务节点工作的服务流程标准化</p>
					<p class="content">留学服务包括服务流程管理、申请材料管理、选校申校管理、投诉处理。保证服务流程标准化，辅助申请老师有效管理客户的服务进度和绩效申报。申请材料分类归档提示上传份数，辅助申请老师有效管理申请材料。选校个数、选校时间预警、申校进度管理。投诉处理流程管理，支持投诉问题统计分析。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-white pro-block" id="pro6">
			<div class="abroad-b4-pro6">
				<div class="abroad-b4-white-text">
					<p class="tit" style="margin-top: 116px;">国际合作 </p>
					<p class="subtit">国际合作及佣金管理</p>
					<p class="content">主要针对留学机构的国际院校合作业务，提供全方位的管理解决方案。合作方档案管理主要解决合作方谈判信息零散的问题，记录谈判内容和佣金，定期进行维护；学员入读两个月内可发起佣金结算，结算方式支持按照比例结算、固定额度结算、多次结算、台阶结算等。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-gray pro-block" id="pro7">
			<div class="abroad-b4-pro7">
				<div class="abroad-b4-gray-text">
					<p class="tit" style="margin-top: 117px;">基础库</p>
					<p class="subtit">学术资源共享、案例沉淀整合进一步形成咨询业务闭环</p>
					<p class="content">基础库包括国家、城市、院校库、专业库、案例库，一通过基础库建设学术资源保证学术资源共享提高组织工作效率。二可以纵深学术资源建设学术壁垒提高竞争力。三通过案例库做案例保有多维度搜索，咨询师可以讲案例展示实力，申请师也可学习经验。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-white pro-block" id="pro8">
			<div class="abroad-b4-pro8">
				<div class="abroad-b4-white-text">
					<p class="tit" style="margin-top: 109px;">集团化管控</p>
					<p class="subtit">集团化多校区业务轻松掌握</p>
					<p class="content">通过多校区管理模式，总部可以轻松掌握各校区的经营状况，辅助各学校精细化管理、高效能作业，畅享云端智能教务平台，达到财务、业务一体化的集团管控。多组织架构的实现，通过权限过滤实现集中式管理，进而达到全国一盘棋的运营。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-gray pro-block" id="pro9">
			<div class="abroad-b4-pro9">
				<div class="abroad-b4-gray-text">
					<p class="tit" style="margin-top: 116px;">决策分析</p>
					<p class="subtit">多维数据报表提供决策支撑</p>
					<p class="content">系统提供了多维度数据分析报表，支持矩阵和图表两种形式的数据报表。报表类型包括产品分析报表、营销分析报表、合同分析报表、服务分析报表以及合作方分析报表等，为不同的管理岗位、不同的角色提供不同的管理报表，便于管理日常业务，为未来业务分析做指导，是企业管理决策层做管理决策的数据支撑。</p>
				</div>
			</div>
		</div>
		<div class="abroad-b4-white pro-block" id="pro10">
			<div class="abroad-b4-pro10">
				<div class="abroad-b4-white-text">
					<p class="tit" style="margin-top: 112px;">工作台设置</p>
					<p class="subtit">实时了解员工业余跟进进度</p>
					<p class="content">系统为每个工作人员提供了简洁、个性化的工作台设置功能，工作人员登录系统后可以直观的看到自己所关心的业务数据和待办事项，系统可根据每个人员所属的系统角色设置不同的显示内容，例如咨询师可以看到重点跟进客户及跟进过程，申请规划老师可以看到留学申请服务进度，课程教师可以看到每日课程安排等，各部门业务主管也可实时了解员工工作计划、进度、完成情况。</p>
				</div>
			</div>
		</div>
	</div>
	<div class="abroad-block5 block" id="block5">
		<div class="m-content">
			<div class="abroad-b5-tit"></div>
			<div class="abroad-b5-con">
				<div class="item1 item">
					<p class="tit">通知推送</p>
					<p class="con">最新留学资讯、院校专业排名、就业信息、往期案例等内容推送......</p>
				</div>
				<div class="item2 item">
					<p class="tit">进度查看</p>
					<p class="con">留学进度、授课进度、选校进度、文书进度、申校进<br>度、签证进度......</p>
				</div>
				<div class="item3 item">
					<p class="tit">考试方案</p>
					<p class="con">TOFEL、GRE、GPA考试目标科目信息以及方案规<br>划信息......</p>
				</div>
				<div class="item4 item">
					<p class="tit">实践方案</p>
					<p class="con">学习实践、活动实践、学术实践等方案的目标要求、<br>完成时间、计划展开......</p>
				</div>
				<div class="item5 item">
					<p class="tit">问题反馈</p>
					<p class="con">授课问题、服务问题、投诉问题、常见问题、问题<br>解决方案......</p>
				</div>
				<div class="item6 item">
					<p class="tit">个人中心</p>
					<p class="con">个人基础信息查看、个人简历、材料准备、申请文书、<br>院校确认书......</p>
				</div>
			</div>
		</div>
	</div>
	<div class="abroad-block6 block" id="block6">
		<div class="m-content">
			<div class="abroad-b6-tit"></div>
			<div class="abroad-b6-con">
				<div class="tab-head">
					<div class="head-item head-item-active">高层管理</div>
					<div class="head-mid"></div>
					<div class="head-item">市场主管</div>
					<div class="head-mid"></div>
					<div class="head-item">销售主管</div>
					<div class="head-mid"></div>
					<div class="head-item">申请主管</div>
					<div class="head-mid"></div>
					<div class="head-item">财务主管</div>
				</div>
				<div class="tab-sub">
					<div class="tab-sub-item">
						<p style="height: 16px;">
							<span>帮助管理层掌握团队运作情况，关注重要商机，做出准确决策；</span>
							<span style="margin-left: 99px;">合理优化资源配置，取得更高的回报；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>优化企业业务流程，降低管理成本，提高组织效率；</span>
							<span style="margin-left: 179px;">丰富数据报表提供决策依据，帮助合理制定公司运营策略；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>帮助查看各团队的工作计划和方案执行情况；</span>
							<span style="margin-left: 227px;">提升对各分校机构的管理，帮助制定集团化总体运营方案；</span>
						</p>
					</div>
					<div class="tab-sub-item" style="display:none">
						<p style="height: 16px;">
							<span>提高市场活动响应率，获取更多线索，降低单个线索成本；</span>
							<span style="margin-left: 131px;">科学评估活动效果，合理计算投入产出比，选择最有效的活动方式；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>精准策划针对目标客户的市场活动，提升有效线索的产量；</span>
							<span style="margin-left: 131px;">从申请、计划到活动推行、效果反馈，市场活动全流程管理；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>帮助了解市场端需求、竞争者和潜在客户，帮助制定价格策略；</span>
							<span style="margin-left: 99px;">提升线索分配的效率，进一步挖掘客户、提升二次利用率；</span>
						</p>
					</div>
					<div class="tab-sub-item" style="display:none">
						<p style="height: 16px;">
							<span>掌握销售跟单情况，主动指导销售跟单；</span>
							<span style="margin-left: 259px;">掌握销售过程，推进销售速度，缩短销售周期，提高成单率；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;" style="display:none">
							<span>利用共享与协作，提高销售团队合作能力，赢单更有把握；</span>
							<span style="margin-left: 131px;">合理分配线索，根据销售机会配置最优的资源。</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>企业内部案例库，通过案例分析，辅助咨询签单；</span>
							<span style="margin-left: 195px;">客户联系纪要完整，一个销售跳槽也可快速转给别人，保证不丢单；</span>
						</p>
					</div>
					<div class="tab-sub-item" style="display:none">
						<p style="height: 16px;">
							<span>提升客户服务体验、提高客户满意度，减少客户退款；</span>
							<span style="margin-left: 165px;">提高工作效率，重要事项提醒，提高带案量；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>系统容易捕捉和跟踪服务中出现的问题，及时纠正；</span>
							<span style="margin-left: 181px;">查看客户服务进度，定位风险客户，提升风险管控能力；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>服务知识积累，便于知识共享和交流，提升团队服务水平；</span>
							<span style="margin-left: 132px;">帮助细化服务流程，改善服务过程，缩短客户服务周期；</span>
						</p>
					</div>
					<div class="tab-sub-item" style="display:none">
						<p style="height: 16px;">
							<span>帮助财务主管记录收支流水，随时查看收支盈亏；</span>
							<span style="margin-left: 198px;">按责权发生制计算企业预计收入，提供财务预估收入分析；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>按月、季度、年分析财务收支情况，提升管理层对收入多维度分析；</span>
							<span style="margin-left: 70px;">帮助及时发现问题，提升财务风险把控能力；</span>
						</p>
						<p style="height: 16px;margin-top: 27px;">
							<span>根据合同条款约束计算客户退款金额，减少企业损失；</span>
							<span style="margin-left: 166px;">系统审批流设置，优化收费、退费、优惠等费用审批流程设置；</span>
						</p>
					</div>
				</div>
				<p class="abroad-b6-subtit">共享服务实践规模效益，使每个角色能够贯穿每个客户整个服务始末<br>了解留学机构整体解决方案</p>
				<a href=""><div class="abroad-b6-btn">点击咨询解决方案</div></a>
			</div>
		</div>
	</div>
	<div class="abroad-block7 block" id="block7">
		<div class="m-content">
			<div class="abroad-b7-tit"></div>
			<div class="abroad-b7-con">
				<div class="item1 item">
					<p class="tit">北京世通美嘉</p>
				</div>
				<div class="item2 item">
					<p class="tit">前程百利</p>
				</div>
				<div class="item3 item">
					<p class="tit">新通教育</p>
				</div>
				<div class="item4 item">
					<p class="tit">嘉华世达</p>
				</div>
				<div class="item5 item">
					<p class="tit">振亚教育</p>
				</div>
			</div>
		</div>
	</div>
	<!--侧边栏-->
	<div id="menu">
		<ul>
			<li class="menu-cur"><a href="#block1" class="menu-brief">产品概述</a></li>
			<li><a href="#block2" class="menu-need">管理需求</a></li>
			<li><a href="#block3" class="menu-advantage">系统优势</a></li>
			<li class="menu-product-all"><a href="#block4" class="menu-product">产品功能</a>
				<div class="menu-product-wrap" style="display:none;">
					<ul id="product-list">
						<li><a href="#pro1">产品体系</a></li>
						<li><a href="#pro2">市场招生</a></li>
						<li><a href="#pro3">咨询管理</a></li>
						<li><a href="#pro4">合同管理</a></li>
						<li><a href="#pro5">服务管理</a></li>
						<li><a href="#pro6">国际合作</a></li>
						<li><a href="#pro7">基础库</a></li>
						<li><a href="#pro8">集团化管控</a></li>
						<li><a href="#pro9">决策分析</a></li>
						<li style="border-bottom:none !important;"><a href="#pro10">工作台设置</a></li>
					</ul>
					<div class="product-triangle"></div>
				</div>				
			</li>
			<li><a href="#block5" class="menu-app">移动APP</a></li>
			<li><a href="#block6" class="menu-value">应用价值</a></li>
			<li><a href="#block7" class="menu-case">客户案例</a></li>
			<li id="menu-backtop"><a href="#top" class="menu-top">回顶部</a></li>
		</ul>
	</div>
	{template "content","fcrm_footer"}	
	</body>
</html>