<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"} 	
	{template "content","pro-conhead"}
		<div class="m-content">
		<div class="pro-eduTit">
			<div class="pro-eduTit-top">
				清晰透明的教务管理机制平台，让教务人员轻松排课，省事、省时、省人力
			</div>
			<div class="pro-eduTit-bottom">
				能够合理有序的安排教师、教室、学员资源，统筹时间和计划，实现教学资源利用效率最大化，同时提供多维度统计报表查看和分析，更好的辅助培训机构的教务管理需求。
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="pro-eduCon1"></div>
		<div class="pro-eduCon2"></div>
		<div class="clearfix"></div>
		<div class="pro-eduCon3">
			<div class="pro-eduCon3-item1">整体统筹</div>
			<div class="pro-eduCon3-item1" style="margin-left:120px;">分层规划</div>
			<div class="pro-eduCon3-item1" style="margin-left:120px;">多模式支持</div>
			<div class="pro-eduCon3-item1" style="margin-left:120px;">综合评价</div>
			<div class="pro-eduCon3-item2" style="margin-left:114px; width:120px;height:120px;"></div>
		</div>
		</div>
		<div class="pro-edu-ads">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn" style="margin-top:20px;">在线咨询</div></a>
			</div>
		</div>
		<div class="m-content">
			<div class="pro-edu-con">
				<div class="pro-ec1Right"></div>
				<div class="pro-ec1Left">
					<p class="pro-ec1lTit">排课管理</p>
					<p class="pro-ec1lCon">可为EDUS支持可视化排课流程，拖拽式操作对课程表中所有课程快速调整，大大缩短了排课周期，提高排课准确性，提高了教务人员管理效率，通过系统合理安排教师资源，教室资源，支持教师课时统计、空闲度统计，老师课表，学生课表，教室课表，班级课表查看，让课程管理和日常排课清晰有序，排课系统自动化处理排课冲突和异常。让教务工作简单，便捷。保障了培训机构经营运转及时，准确，高效，智能化。</p>
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec2Left"></div>
				<div class="pro-ec2Right">
					<p class="pro-ec1lTit">教师管理</p>
					<p class="pro-ec1lCon">可为edus系统快速实现对教师工作量统计管理，可为EDUS支持教师、助教档案管理，教师课程表，所带班级学员信息，任课时间段统计，空闲时间段管理，教师授课评估，上课日志管理，高效辅助教师的任课水平，提高了机构的教学质量，增强了机构的核心竞争力。</p>					
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec3Right"></div>
				<div class="pro-ec3Left">
					<p class="pro-ec1lTit">教室管理</p>
					<p class="pro-ec1lCon">可为EDUS支持教室档案管理，教室占用率统计，教室状态动态管理，合理安排教室的使用资源，保障教室资源利用率最大化。也有效提高了机构的运作效率，实现了教室的分配管理。</p>
				</div>
				<div class="clearfix"></div>	
				<div class="pro-ec4Left"></div>
				<div class="pro-ec4Right">
					<p class="pro-ec1lTit">考勤管理</p>
					<p class="pro-ec1lCon">考勤管理记录学员和教师每天、每周、每月的考勤打卡信息，能够通过系统直观的了解每个人当月考勤日志。管理人员还可通过系统考勤，统计带班费实现对教师工资绩效的管理。</p>					
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec5Right" style="margin-right:0px;"></div>
				<div class="pro-ec5Left">
					<p class="pro-ec1lTit">班级管理</p>
					<p class="pro-ec1lCon">记录班级详情，对安排的课程查询，可以查看每天、每周、每月的课程，并与短信结合可以将今日的课程发给对应的教师；排课信息，关联所有的班级学员；智能化排课，批量一次性排课，能够查看正在进行中的和已结业的班级；总之就是对新开班级、开课班级、结课班级、班级学员、班级档案、班级统计续班率、退费率、转班率的综合管理。</p>
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec6Left" style="margin-top:0px;"></div>
				<div class="pro-ec6Right">
					<p class="pro-ec1lTit">教材管理</p>
					<p class="pro-ec1lCon">可为EDUS支持建立教材资料库，详细列示教材明细，快速统计教材销售情况，学员购买情况，库存情况。更好的辅助机构掌握动态教材管理，提高了教材管理精度。</p>					
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec7Right" style="margin-right:0px;"></div>
				<div class="pro-ec7Left">
					<p class="pro-ec1lTit">作业管理</p>
					<p class="pro-ec1lCon">为了保障机构的培训效果，可为EDUS系统支持班级作业管理、一对一作业管理，了解学员学习进展，知识掌握情况。提高了老师教学质量，帮助学员快速提高学习成绩，家长和学员满意度得到了很大的提升。</p>
				</div>
				<div class="clearfix"></div>
				<div class="pro-ec8Left" style="margin-top:0px;"></div>
				<div class="pro-ec8Right">
					<p class="pro-ec1lTit">教学回访</p>
					<p class="pro-ec1lCon">培训机构对教务人员主动回访学员对教学的评价，及时了解学员对教学的反馈，提高教师和机构的服务质量。学员家长也可以登入系统对教学的情况做出反馈，便于家长学员和教师之间的沟通，提高教学质量。</p>					
				</div>
				<div class="clearfix"></div>				
			</div>
			<div class="pro-eduBottom">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-edubBtn">
					在线咨询产品
				</div></a>
			</div>
		</div>
		<div class="promarket-ads" style="margin-top:0px">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>

		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>	
</html>