<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"} 
	{template "content","pro-conhead"}
		<div class="m-content">
			<div class="one-tit">
				<p class="one-tit-top">高效的edus一对一个性化辅导管理系统让企业和客户双赢！</p>
				<p class="one-tit-sub">一对一管理是对教育培训机构整体的业务流程进行的搭建，环环相扣，系统任意模块数据更改，其对应的数据都会自动更改。当一个流程走完，都会自动进入下一个流程。教师、教务、校长的监控，保障每位学员都可以被全程跟踪管控。</p>
			</div>
			<div class="one-b1">
				<div class="one-b1-item">
					学员报名
				</div>
				<div class="one-b1-item">
					预约课程
				</div>
				<div class="one-b1-item">
					预约班型
				</div>
				<div class="one-b1-item">
					签订合同
				</div>
				<div class="one-b1-item">
					收费
				</div>
				<div class="one-b1-item">
					制卡
				</div>
				<div style="clear:both"></div>																		
				<div class="one-b1-item" style="margin-top:150px;">
					培训结果处理
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					刷卡下课
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					刷卡上课
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					预约教师
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					分配教师
				</div>
				<div class="one-b1-item" style="margin-top:150px;">
					分班排班
				</div>									
			</div>
			<div class="one-b1-sub">
				<div class="one-b1-subRight">
				</div>
				<div class="one-b1-subLeft">
					<p class="one-b1-Leftitem" style="margin-top: 50px;">可对学生全程进行跟踪和管控；</p>
					<p class="one-b1-Leftitem">教师可以随时查询每个学员的培训进展情况；</p>
					<p class="one-b1-Leftitem">教务可以全盘掌控机构内所有教师的授课情况及时间分配情况；</p>
					<p class="one-b1-Leftitem">管理人员可以管控企业的所有流程。可查询任意时间段，任意部门，任意产品的授课量情况及机构的学员情况。</p>
				</div>
			</div>
		</div>
		<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ana-ads"></div></a>
		<div class="m-content">
			<div class="one-conb1">
				<div class="one-item1-right">	
				</div>
				<div class="one-item1-left">
					<p class="one-conbTit">教师时间管理</p>
					<p class="one-conbCon">
						系统可以精确过滤老师预约时间。知道老师哪些时间可以预约，可看到教师可预约时段；在预约提交后，系统会提示预约是否成功，并且给学员和教师发送预约短信，提高老师学生预约效率和时间准确率，及时告知老师和学生。
					</p>	
				</div>
				<div class="clearfix"></div>
				<div class="one-item2-left"></div>
				<div class="one-item2-right">
					<p class="one-conbTit">学生分配管理</p>
					<p class="one-conbCon">
						学员分配主要是一对一学员分配老师，学员分配老师时，系统会自动过滤这个学生所报的课程校区所有老师，系统按照学员报的课程排序校区老师时间空闲度，这样便于我们合理给老师安排学员，如果学员以前分配过老师，系统会有分配过老师记录，学员分配成功后，并可对学员、教师发送短信；教师可通过“教师分配学员列表”查看分配到的学员信息；分配教师后学员会在“学员分配列表”模块内显示，方便对应人员了解学员分配情况。

					</p>
				</div>				
			</div>
			<div class="one-conb2">
				<div class="one-item3-right"></div>
				<div class="one-item3-left">
					<p class="one-conbTit">课程表管理</p>
					<p class="one-conbCon">
						教师可查询分配给自己的学员信息和预约上课情况，并需教师对课表进行确认，老师确认时间没问题，如果有问题，老师可以申请修改课程时间。
					</p>					
				</div>
				<div class="clearfix"></div>
				<div class="one-item4-left"></div>
				<div class="one-item4-right">
					<p class="one-conbTit">一对一考勤</p>
					<p class="one-conbCon">
						一对一学员考勤主要是对学员学习期间上课情况的记录，根据学习状态确定学生是否准时来上课，系统可以提前提醒我们老师，学生是否来上课，避免企业承担风险，一对一学员考勤可为企业对预约学员上课情况的了解提供方便。
					</p>					
				</div>
			</div>
			<div class="one-conb3">
				<div class="one-item5-right"></div>
				<div class="one-item5-left">
					<p class="one-conbTit">一对一教学日志</p>
					<p class="one-conbCon">
						一对一教学日志主要是对老师上课的反馈记录统计，老师每次上完课，要写今天教学日志，教了什么，哪些学员在上课时有问题，哪些学员在知识点还不太懂，可很好记录每节课学员上课情况，同时也可通过此处对学员的每节课评价进行查看，提高老师责任心。
					</p>					
				</div>
				<div class="clearfix"></div>
				<div class="one-item6-left"></div>
				<div class="one-item6-right">
					<p class="one-conbTit">一对一作业管理</p>
					<p class="one-conbCon">
						一对一作业模块主要是教师对课后对学员布置作业、批改作业等操作；老师上完课，可针对今天所讲的内容布置作业，查看今天学员学习成果，也是对教学质量把控；学员登陆系统下载作业，学员做完作业上传系统，老师可以批改；学员可以看见老师批改结果，把控学员课堂课下教学质量，提升企业竞争力。
					</p>					
				</div>
			</div>
			<div class="one-conb4">
				<div class="one-item7-right"></div>
				<div class="one-item7-left">
					<p class="one-conbTit">培训结果处理</p>
					<p class="one-conbCon">						
						培训结果处理即当学员在规定的时间内没来上课或者学员在上完课以后忘记打卡以及对教师的授课不满意等情况，进行处理；主要解决老师上课是否负责任，让学生来监督老师教学质量，也是老师绩效考核参照数据。
					</p>
				</div>
			</div>									
		</div>
		<div class="promarket-ads" style="margin-top:0px">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>
		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>		
</html>