<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
	{template "content","pro-conhead"}
		<div class="m-content">
			<div class="pro-inteTit">
				<p class="pro-inteTit-top">消除教育信息化中信息孤岛弊端，提高工作效率</p>
				<p class="pro-inteTit-bottom">可为EDUS教务管理系统不仅拥有完善的功能，从技术层面上来讲也是最先进，采用Brower-Server架构，系统设置多层结构，从软件架构上确保了系统的扩展性和适用性。</p>
			</div>
			<div class="pro-inteb1">
				<div class="pro-inteb1-left">
					<div class="pro-ilpic"></div>
					<div class="pro-ilbtn">获得更专业的讲解</div>
					<div class="pro-iltel"></div>
				</div>
				<div class="pro-inteb1-right">
					<div class="pro-inteb1-ritem">
						<p class="priR1">多维业务界面整合</p>
						<p class="priR1-con">对外可以集成其他业务系统，应用系统集成功能使教务系统与其他业务系统各个数据可以相互关联，相互传递，减少了人工干预，从而减少了出错率，提高了工作效率。</p>
					</div>
					<div class="pro-inteb1-ritem" style="margin-top:19px;">
						<p class="priR2">关联系统整合</p>
						<p class="priR1-con">可以实现单点登录功能，可以避免多次登陆多个系统，教务产品作为一个入口连接到别的系统中去，减少人员操作的时间。</p>	
					</div>
					<div class="pro-inteb1-ritem" style="margin-top:19px;">
						<p class="priR3">整合消息流程</p>
						<p class="priR1-con">整合消息、流程、文档接口，实现了不同系统里或者外部的与教务有关的文件，集成到教务产品系统中
去，提高了消息，流程，文档集中度和处理速度和使用价值。</p>						
					</div>
					<div class="pro-inteb1-ritem" style="margin-top:19px;">
						<p class="priR4">标准插件技术</p>
						<p class="priR1-con">教务系统提供采用标准插件规范，使用更加友好，难度大大降低，提供的标准插件有NC，U8，微信，短信插件等，标准插件轻松实现了系统与外部系统的对接。</p>						
					</div>
				</div>
			</div>
		</div>	
		<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ana-ads"></div></a>
		<div class="m-content">
			<div class="pro-icon1">
				<div class="pro-icon1-left">
					<div class="proiLeft-pic"></div>
					<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ilbtn" style="margin-top:100px;">获得更专业的讲解</div></a>
					<div class="pro-iltel" style="margin-top: 105px;"></div>					
				</div>
				<div class="pro-icon1-right">
					<p class="proiRight-item1"></p>
					<p class="proiRight-con">教务产品的集成功能提供了与企业官网对接和其他一些网站的对接，从官网和其他网站关联数据，提供移动端的实现，也提供与业务系统对接，例如与NC，U8，SAP，ORCLE对接，实现了数据的自由流转，结束了以前的业务操作系统与财务系统和人事系统等众多系统对接问题，真正使企业信息化达到了无缝对接。</p>
					<p class="proiRight-item2"></p>
					<p class="proiRight-con">对于不同业务的教育培训行业我们提供客户化开发平台，可以进行定制化开发，满足教育培训行业的管理需求，拓展了与微信和微博等社交平台的关联，紧跟社交潮流，以提供多种、多方式入口，系统还预留了与其他平台的接口。</p>
				</div>
			</div>
			<div class="pro-iconLine"></div>
			<div class="pro-icon2">
				<div class="pro-icon2-left"></div>
				<div class="pro-icon2-right">
					<p class="pro-i2Top">可为教务系统拓展性如图，通过交换平台和接口实现教务核心应用和其他系统的对接。</p>
					<p class="pro-i2Item">外部接口封装为WebService服务，易于集成</p>
					<p class="pro-i2Item">接口数据标准采用XML格式描述</p>
					<p class="pro-i2Item">承载在HTTP/HTTPS协议上</p>
					<p class="pro-i2Item">内外部接口标准统一</p>
				</div>
			</div>
			<p class="pro-icon3">可为教务系统提供了一整套教育行业信息化解决方案，信息化的无缝对接为教育培训机构的带来数据分析的全面，完整，准确，及时的好处，使教育培训机构信息化管理提高到了一个新的阶段，给教育培训机构带来了管理的优化和提升，使教育培训机构更加顺畅的执行公司的战略，并且通过无缝的信息化平台执行战略，获取数据以检验公司战略执行，进而对公司战略进行调整。</p>
		</div>
		<div class="promarket-ads" style="margin-top:0px">
			<div class="promarket-ads-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="pro-ads-btn">在线咨询</div></a>
			</div>
		</div>

		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>		
</html>