<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link type="text/css" rel="stylesheet" href="{CSS_PATH}edus/advantage.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/advt-tab.js"></script>
  </head>
  <body>  
    {template "content","head"} 				
		<div class="advt-banner">
			<div class="advt-banner1"></div>
			<div class="advt-banner2">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="advt-banner-btn">在线预约演示</div></a>	
			</div>
		</div>
		<div class="m-content">
		<div class="advt-tit1">
			<div class="advt-wl">可为EDUS---</div>
			 <div class="advt-wr">实现全流程、可管理、可监控、可运营、可追溯的高质量信息化支撑体系</div>
		</div>
		<div class="advt-titSubline"></div>
		<div class="advt1">
			<div class="advt1-left">EDUS---针对教育培训行业研发的一体化的信息化教务管理系统，兼容传统教务管理系统、CRM和ERP的优势，结合国际最先进教育培训行业管理理念，打造全新（数字化）培训学校管理系统,帮助培训机构快速实现市场、销售、客户服务、教学、教务、财务一体化，多校区多部门的多中心管理等业务全面的信息化与一体化，紧紧围绕着“学员”为核心，旨在帮助企业科学管理迅速提升服务体系，更好地为提高学员成绩服务，用一套科学的管理方法链接学员、家长、老师、机构，为教育培训机构实现全流程、可管理、可监控、可运营、可追溯的高质量信息化管理体系。
			</div>
			<div class="advt1-right">
				<img src="{IMG_PATH}edus/advt-b1-img.jpg" class="adv1-rpic" alt="可为edus培训机构管理软件" alt="可为edus培训机构管理软件" />
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" rel="nofollow" target="_blank"><div class="advt1-btn">点击预约产品演示</div></a>
			</div>
		</div>
		<div class="advt-tit2">
			<div class="advt-wl">可为EDUS---</div>
			 <div class="advt-wr">灵活的设置，针对不同类型的教育培训机构准备了不同的细分行业版本，适用于各类教育培训机构</div>
		</div>
		<div class="advt-titSubline"></div>
		</div>
		<div class="advt2">
			<div class="m-content">
				<div class="tab-list">
					<ul>
						<li class="cur1"></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="tab-con">
					<div class="tab-con1">
						<p class="tab-con1-tit">幼儿培训</p>
						<p class="tab-con1-con">通过对市场销售、教学教务等资源进行资源整合和优化配置，实现了资源的利用效率的提高和成本可控，并解决了K12教育行业因预存款式“圈耗”模式带来的财务风险和资源浪费问题。
						</p>
						<a href="http://edus.keweisoft.com/case/show_13_1.html" target="_blank" class="tab-con1-link">北京知行上德</a><a href="http://edus.keweisoft.com/case/show_1_1.html" target="_blank" class="tab-con1-link" style="margin-left:150px;">贝乐学科英语</a>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">语言培训</p>
						<p class="tab-con1-con">语言培训行业面临“三国鼎立”局面：外资培训巨头抢滩中国市场+国内出版社介入英语培训市场+本土原有的英语培训机构纷纷起而应战。随着著名品牌英语培训机构的不断进入，众多的培训机构面临着巨大挑战，如何提升教学品质、加强师资力量、进行服务创新已成为培训机构谋求长远发展需要应对的难题！
						</p>
						<a href="http://edus.keweisoft.com/case/show_9_1.html" class="tab-con1-link" target="_blank">新航道教育</a><a href="http://edus.keweisoft.com/case/show_8_1.html" class="tab-con1-link" style="margin-left:150px;" target="_blank">金汉嘉教育</a>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">文体艺术培训</p>
						<p class="tab-con1-con">如何实现一位学员、一份计划、一种方法的独特教学服务体系，快速服务体系升级，满足众多艺术学员学习需求，提升口碑影响力，增加老学员转介绍数量。
						</p>
						<a href="http://edus.keweisoft.com/case/show_15_1.html" class="tab-con1-link" target="_blank">曼安迪国际教育</a><a href="http://edus.keweisoft.com/case/show_3_1.html" class="tab-con1-link" style="margin-left:150px;" target="_blank">北京华彩龙韵</a>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">留学移民</p>
						<p class="tab-con1-con">留学、移民“中介”如何深入出国热、移民热的客户心中是各个机构互相抢夺市场的核心，学员全程式跟踪服务、录签offer成功率提升、帮助企业让学员“走出去”是硬道理。
						</p>
						<a href="http://edus.keweisoft.com/case/show_9_1.html" target="_blank" class="tab-con1-link">新航道教育</a><a href="http://edus.keweisoft.com/case/show_4_1.html" target="_blank" class="tab-con1-link" style="margin-left:150px;">前程百利教育</a>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">中小学培训</p>
						<p class="tab-con1-con">在庞大的中小学培训市场“学生成绩、家长放心”最重要课题，可为EDUS培训机构管理系统为您管控企业运营基本问题，深度攻克重要课题。
						</p>
						<a href="http://edus.keweisoft.com/case/show_10_1.html" target="_blank" class="tab-con1-link">北京新年华教育</a><a href="http://edus.keweisoft.com/case/show_11_1.html" target="_blank" class="tab-con1-link" style="margin-left:150px;">淄博捷程教育</a>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">成人教育培训</p>
						<p class="tab-con1-con">由于成人教育的特殊情况，复杂的排班排课是管理重点，财务、教学管控每一个细节，帮助机构管理学员在训期间的全过程。
						</p>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">企业管理培训</p>
						<p class="tab-con1-con">市场活动的开展，营销评估招生是企业的重要竞争点，巡展活动培训类型
						</p>
					</div>
					<div class="tab-con1" style="display:none;">
						<p class="tab-con1-tit">资格认证培训</p>
						<p class="tab-con1-con">在庞大的中小学培训市场“学生成绩、家长放心”最重要课题，可为EDUS培训机构管理系统为您管控企业运营基本问题，深度攻克重要课题
						</p>
					</div>				
				</div>
			</div>			
		</div>
		<div class="m-content">
		<div class="advt-tit3">
			<div class="advt-wl">可为EDUS---</div>
			 <div class="advt-wr">行业纵深是我们最大的服务优势，全国最优秀的培训机构、2000多家分支机构使用是我们产品最好的验证。
             </div>
		</div>
		<div class="advt-titSubline"></div>	
		<div class="advt3">
			<div class="advt3-left">
				<div class="advt3-item1">
					<p class="advt3-item1-con">涉及教育培训机构日常业务运转中的每一个环节,从市场营销、招生、学员收费、财务、合同优惠管理、教务、教学排课、排版、学员、老师考勤、多校区管理、行政人力资源等各个链条都有精细化管控，确保整个机构服务体系升级，打通学员、家长、机构之间的无缝信息沟通，旨在提高学员成绩、员工工作效率；减少核心教学人员流动率、降低机构运营成本。
					</p>
					<div class="advt3-item1-pic">
						<div class="advt3-item1-pword">市场、销售、教务、财务、教学、学员端的一站式实现培训机构信息化管理
						</div>
					</div>
				</div>
				<div class="advt3-item2">
					<p class="advt3-item1-con">可为EDUS培训机构管理系统报表分析，能够有效的管理多校区集团的实时数据，领导可以从不同的纬度选择不同的分析指标，进行同比环比的数据统计，尽请查看各校区业务情况、老师教学情况、财务盈亏情况、市场投入产出比、人员绩效管理情况等，我们提供更多的分析模型，利用成熟的方法进行分析决策。
					</p>
					<div class="advt3-item2-pic">
						<div class="advt3-item1-pword">全面精准的决策分析，可视化的报表系统，“一拖一拽”即可实现立体决策依据
						</div>
					</div>
				</div>
				<div class="advt3-item2">
					<p class="advt3-item1-con">通过学生端平台学员可在线查询自己的课程信息和成绩，老师可在线对学生指导，实现通过系统布置作业，学生也可上传作业，老师进行检查指导，通过便捷的在线教学交流提高教学质量。家长可以看见自己孩子学习进度和对老师机构进行评价，查看孩子目前课程消耗、布置的作业，提高学生回家再次有针对性吸收今天学的知识，增加校方、学员、家长三方的互动功能。
					</p>
					<div class="advt3-item3-pic">
						<div class="advt3-item1-pword">先进的学员端管理，实现线下教学、线上检查，让学员、家长、机构“零”沟通障碍
						</div>
					</div>
				</div>
				<div class="advt3-item3">
					<p class="advt3-item1-con">系统可以为不同的课程按课时添加费用，也可对产品组合设定价格，班级课程可设置统一价格或者按课程收费。保证费用清晰，收费退费有理有据。
					</p>
					<div class="advt3-item4-pic">
						<div class="advt3-item1-pword" style="text-align:center;line-height:56px;">清晰明了的课程费用管理
						</div>
					</div>
				</div>
				<div class="advt3-item4">
					<p class="advt3-item1-con">可为edus制卡刷卡系统实现考勤、查询、充值缴费、消费等活动的一卡通管理。IC卡的引入，创造了新的考勤管理模式、充值预存模式和电子化的学员管理模式。此举不仅大幅提升了管理效率，而且为培训机构创造了新的盈利点。
					</p>
					<div class="advt3-item5-pic">
						<div class="advt3-item1-pword" style="text-align:center;line-height:56px;">一卡通电子考勤，实现学员IC卡管理
						</div>
					</div>
				</div>
				<div class="advt3-item3">
					<p class="advt3-item1-con">系统全方位、整体性、多层次的安全体系，提供了多级权限管理、细粒度访问控制和详细安全审计，同时支持多种认证方式，有效地保护网络资源和服务。
					</p>
					<div class="advt3-item6-pic">
						<div class="advt3-item1-pword" style="text-align:center;line-height:26px;">强大的数据安全体系，防止学员数据流失以及老师人员流动带来的不良后果。
						</div>
					</div>
				</div>
				<div class="advt3-item2" style="margin-top:30px;">
					<p class="advt3-item1-con">可为edus培训机构管理系统源于实施众多教育培训机构信息化项目过程中，不断学习、分析、提炼、重构而逐渐形成。它不仅仅是一个教育培训机构管理工具，而是众多教育行业营销管理最佳实践的固化方案，让你轻松实现管理创新。超过上万家企业的应用，让我们拒绝任何瑕疵，精心打磨的细节设计让你感受到我们的专业。
					</p>
					<div class="advt3-item7-pic">
						<div class="advt3-item1-pword" style="text-align:center;line-height:56px;">具有营销思想的教务系统，应用企业超过2000+
						</div>
					</div>
				</div>																								
			</div>
			<div class="advt3-right">
				<div class="advt3-item5" style="margin-top:180px;">
					<p class="advt3-item1-con" style="margin-left:20px;">从线上客户端的真实数据，与线下学员及员工的数据进行无缝整合，通过大数据分析功能定位下一步企业体系升级方向，以及扩展招生渠道，给企业带来更多商机；系统的集成功能提供了丰富的对接接口，可与OA、呼叫中心、CRM、用友NC，U8，SAP，ORCLE对接，数据间的自由流转，结束了以前的业务操作系统与财务系统和人事系统等众多系统对接问题，真正使企业信息化达到了无缝对接。
					</p>
					<div class="advt3-item8-pic">
						<div class="advt3-item1-pword" style="text-align:center;line-height:56px;">强大的客户化扩展，实现企业线上线下大数据整合
						</div>
					</div>
				</div>
				<div class="advt3-item5" style="margin-top:75px;">
					<p class="advt3-item1-con" style="margin-left:20px;">系统按照提前输入的排课规则，结合教师、学员的时间，上课地点，课程时长等信息排课，第一次排课后下发至教师，教师可根据情况进行确认或者申请调课，最后排课完成。并且可依据老师的排课量以及调换次数分析老师在企业中的成长和高绩效员工的业务提升，整个过程全部自动化和审批流程化，让排课老师从痛的EXCEL表格中解脱出来，提高整个机构运营效率。
					</p>
					<div class="advt3-item9-pic">
						<div class="advt3-item1-pword">严谨而人性化的系统自动排课管理，让排课“难”不在机构出现
						</div>
					</div>
				</div>	
				<div class="advt3-item6" style="margin-top:75px;">
					<p class="advt3-item1-con" style="margin-left:20px;margin-top:15px;">可为edus培训机构管理系统针对一对一高端培训，一对多学员管理，学员端管理，卡次课程，短信发布平台等提供更精确到位的管理方案，目前在业内处于绝对领先地位。
					</p>
					<div class="advt3-item10-pic">
						<div class="advt3-item1-pword" style="line-height:56px;text-align:center;">支持培训机构多业务模式管理
						</div>
					</div>
				</div>
				<div class="advt3-item6" style="margin-top:70px;">
					<p class="advt3-item1-con" style="margin-left:20px;">可为edus培训机构管理系统是唯一一家将CRM客户关系管理理念引入教育培训行业，从营销计划的制定，到线索学员的记录、分配、回访跟踪、试听试讲、公开课、模考等多种形式，用最科学的跟进过程管控，提升咨询老师招生率，以便用最低的成本找到更优质的学员资源。
					</p>
					<div class="advt3-item11-pic">
						<div class="advt3-item1-pword">高效的市场营销整合CRM精细管理，提升机构招生率
						</div>
					</div>
				</div>
				<div class="advt3-item6" style="margin-top:45px;">
					<p class="advt3-item1-con" style="margin-left:20px;margin-top:15px;">丰富的产品既可独立拆分使用，又可自由组合，完全适应“统一规划、分步实施”的建设理念，客户购买以后可根据自己实际业务进行流程优化。
					</p>
					<div class="advt3-item12-pic">
						<div class="advt3-item1-pword" style="line-height:56px;text-align:center;">模块化产品封装
						</div>
					</div>
				</div>
				<div class="advt3-item7" style="margin-top:35px;">
					<p class="advt3-item1-con" style="margin-left:20px;margin-top:15px;">可为edus培训机构管理系统短信发布平台支持自定义收件人、批量群发、适用于日放假通知，节日短信问候等。学生打卡上课或下课刷卡后，信息中心可及时短信通知其家长和监护人。预约客户，紧急事件退约，课时费用不足时及时提醒通知。
					</p>
					<div class="advt3-item13-pic">
						<div class="advt3-item1-pword" style="line-height:56px;text-align:center;">短信发布平台、自动系统消息管理
						</div>
					</div>
				</div>																								
			</div>
		</div>	
		<div class="advt4-line"></div>
		<p class="advt4-tit">
		可为EDUS培训学校管理系统采用企业级oracle数据库，为企业提供了全面的安全性解决方案来保护数据隐私，防范内部威胁，企业无需对现有应用程序做任何改变即可部署可靠的数据安全性解决方案，从而节省时间和金钱。	
		</p>
		<div class="advt4">
			<div class="advt4-left">
				<img src="{IMG_PATH}edus/advt4-pic1.png" alt="" title="" style="float:left;" />
				<div class="advt4-left-con">
					<p class="advt4-lcon-tit">1、审计库和数据库防火墙</p>
					<p class="advt4-lcon-con">可为edus培训机构管理系统使用oracle审计库和数据库防火墙实现了对培训机构自己数据库的实时监控，同时也实现了最基础的数据检测和威胁阻止,从而改善了数据库的整体审核功能，最终确保重要信息不外泄。</p>
				</div>
			</div>
			<div class="advt4-right">
				<img src="{IMG_PATH}edus/advt4-pic2.png" alt="" title="" style="float:left;margin-top:15px; margin-left:15px;" />
				<div class="advt4-left-con">
					<p class="advt4-lcon-tit">2、透明的数据加密和修订</p>
					<p class="advt4-lcon-con">可为EDUS培训机构管理系统采用先进的数据库加密功能，为培训机构提供全面的数据保护和最具成本效益的解决方案，在加密数据的时候阻塞数据库进程，从而使数据库加密程序对数据库本身透明，给企业数据安全最高级别的防护。</p>
				</div>				
			</div>
		</div>
		<div class="advt4">
			<div class="advt4-left">
				<img src="{IMG_PATH}edus/advt4-pic3.png" width="148" alt="" title="" style="float:left;margin-top:15px;" />
				<div class="advt4-left-con">
					<p class="advt4-lcon-tit">3、安全的配置管理</p>
					<p class="advt4-lcon-con">可为EDUS培训学校管理系统提供最全面的数据库生命周期管理，数据库企业管理器为企业提供无缝的数据库管理和端到端的数据库生命周期解决方案，节省了数据库管理的时间精力，降低了通过将数据库嵌入到企业和行业标准规范的风险。</p>
				</div>
			</div>
			<div class="advt4-right" style="margin-top:20px;">
				<img src="{IMG_PATH}edus/advt4-pic4.png" alt="" title="" style="float:left;margin-top:15px; margin-left:10px;" />
				<div class="advt4-left-con">
					<p class="advt4-lcon-tit">4、数据屏蔽功能</p>
					<p class="advt4-lcon-con">利用oracle数据屏蔽功能,可为EDUS教务系统帮助培训机构提高数据隐私和保护措施，尤其是针对企业用户的敏感信息，可以被替换为实际的无序值，因而可以防止信息在业务流程中遗失。数据库管理人员可以自行定制屏蔽规则，以确保私密数据的绝对安全。</p>
				</div>				
			</div>
		</div>	
		<div class="advt5">
			<div class="advt5-tit"></div>
			<ul class="at-list" style="width: 1040px;margin:0 auto;">
				<li class="advt5-item1"></li>
				<li class="advt5-item2"></li>
				<li class="advt5-item3"></li>
				<li class="advt5-item4"></li>
				<li class="advt5-item5"></li>
				<li class="advt5-item6"></li>
				<li class="advt5-item7"></li>
			</ul>
			<ul class="at-con">
				<li class="at-con1 at-conb" style="display:none">
					<ul class="at-mlist">
						<li>※ 帮助市场总监把握、寻找市场机会，制定市场营销战略和实施计划，完成企业的营销目标；协调企业内外部关系，对企业市场营销战略计划的执行进行监督和控制；对企业市场行为进行监督，对市场需求做出快速反应，使市场营销效率最大化。</li>
						<li>※ 帮助市场专员提高事务性工作的处理效率和整个市场活动的计划性。提高个人的营销投入产出比。</li>
						<li>※ 全面支持短信营销、邮件营销、会议营销等。 </li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px;">
						<li>※ 帮助市场经理用最有效的市场手段、获取更多有效商机，提升营销能力，网罗天下商机；确定公司产品和服务的需求、竞争者和潜在客户，制定价格策略，确保公司利润最大化和客户满意度最大化。 </li>
						<li>※ 从申请、计划到活动推行、执行实时提醒和监控，市场活动全流程管理。</li>
						<li>※ 活动中得到的线索统一录入系统，分配给销售人员跟进，收获更多商机。</li>
					</ul>										
				</li>
				<li class="at-con2 at-conb" style="display:none">
					<ul class="at-mlist">
						<li>※ 帮助销售总监实时了解销售团队的业务情况，实时保持市场理念和管理办法的高度一致，制定合理的业务流程，完美运营企业品牌。</li>
						<li>※ 帮助销售经理通过确定销售配额、目标来协调销售工作，并实时判断和监控销售人员跟进项目的过程，为销售代表制定培训项目。分析销售数据，提升销售潜力并360度监控客户的意向。 </li>
						<li>※ 帮助销售专员轻松管理客户信息，提高工作效率；360度维护客户,销售过程的管控能够清晰的了解客户的跟进情况，提升客户服务满意度。</li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px;">
						<li>※ 软件自动生成周计划、月计划、周报告、月报告，不用特意写报告。 </li>
						<li>※ 建立规范的客户跟进流程及评估体系，降低客户流失，提高客户成交率！ </li>
						<li>※ 通过主动服务体系的建立，改善客户满意度，为你带来重复销售及转介绍客户！</li>
					</ul>					
				</li>
				<li class="at-con3 at-conb" style="display:none">
					<ul class="at-mlist"  style="margin-top:60px;">
						<li>※ 帮助及时发现问题，管控财务风险。 </li>
						<li>※ 精确统计采购金额和历史费用情况，做好付款计划，保持盈亏平衡。</li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px; margin-top:60px;">
						<li>※ 了解业务管理过程，统计各部门收支状况，提出财务战略建议。</li>
						<li>※ 统计订单的历史销售规律，根据同比环比作出宏观预测。 </li>
					</ul>					
				</li>
				<li class="at-con4 at-conb">
					<ul class="at-mlist">
						<li>※ 帮助教务人员整理项目-阶段-任务-活动，从项目整体状况到每人每天的工作，都很清晰。 </li>
						<li>※ 记录客户反馈，及时采取措施，防止客户累积不满。 </li>
						<li>※ 记录工作量、工作成果、客户反馈，量化考核教师员工，提高员工积极性。</li>
						<li>※ 帮助解决排课，排课是最头疼的，要考虑授课老师、学员某一时段是否正常上课。还经常发生变动,在Excel表格中改动后又没有产生记录，后续计算课酬也比较麻烦。</li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px;">
						<li>※ 解决了学员咨询、学员报读方案、学员报名缴费、欠费学员、学员上课、学员续费情况、学员补课情况，这些信息都存放在不同的Excel表中，很难将一个学员的所有情况关联起来分析。 </li>
						<li>※ 清楚了解任意时段机构内教师空闲的时间段情况。</li>
						<li>※ 全面了解教师的日、周、月季度工作量（预约）的情况、近期课程安排、统计已往上课记录的问题。</li>
						<li>※ 全面掌握所有教师的（日、周、月、季度）的课时数量情况，并且可随机查询任意时间点，任意教师授课情况。</li>
					</ul>										
				</li>
				<li class="at-con5 at-conb" style="display:none">
					<ul class="at-mlist" style="margin-top:60px;">
						<li>※ 系统帮助教师快速反馈，解决问题，提高服务满意度。 </li>
						<li>※ 提高了教师的教学效率，全方面了解学员对教师授课满意度的情况。 </li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px; margin-top:60px;">
						<li>※ 清晰的了解每位学员此次上课后距离下次上课的时间，自己学员的总课时数、已上课时数、剩余课时数，参加考试时间。 </li>
					</ul>					
				</li>
				<li class="at-con6 at-conb" style="display:none">
					<ul class="at-mlist">
						<li>※ 学员通过本系统可查看个人基本信息、考勤信息、课程表信息、学习信息、成绩信息等。</li>
						<li>※ 本系统为教师和学员提供交流平台，教师可以为学员制定学习计划，学员根据完成情况填写计划执行进度。</li>
						<li>※ 机构领导可根据学员评价了解教师授课能力，以提高教学服务质量。 </li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px;">
						<li>※ 家长可随时查看孩子考勤情况，以掌握孩子的学习动态。 </li>
						<li>※ 一对一学员可根据个人时间在线预约课程。 </li>
						<li>※ 学员和家长可及时查看学员考试成绩，以了解学习科目强弱程度。 </li>
					</ul>					
				</li>
				<li class="at-con7 at-conb" style="display:none">
					<ul class="at-mlist">
						<li>※ 帮助校长实时了解销售团队运作状况，关注重大商机和重要交易，做出准确决策，合理制定公司运营策略，提高营业收入和市场份额，降低营销成本和经营风险，能有效提升新客户获取量和控制客户流失，全面提升企业的经营管理。 </li>
						<li>※ 帮助合理分配投入，取得更高回报。</li>
						<li>※ 帮助掌控全局，实时数据，科学决策。 </li>
						<li>※ 自定义报表，随时统计实时数据（销售额、回款额、费用、员工业绩等）管理驾驶舱，一个界面查看多维度。</li>
					</ul>
					<ul class="at-mlist" style="margin-left:30px;">
						<li>※ 帮助智能分析，多单据多维度多指标穿透式数据钻取分析。 </li>
						<li>※ 可以从一个界面看到公司任何人任何时间任何地点和客户任何人做的任何事情。 </li>
						<li>※ 精确的分析每次市场活动的投资回报率，确定投资的价值，为企业市场资源投入明确方向。 </li>
					</ul>					
				</li>
			</ul>
		</div>		
		</div>
		{template "content","pro-conblock"}	
		{template "content","footer"}
<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>		
</html>