<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
   	<link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/product.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/pro-tab.js"></script>
  </head>
  <body>  
    {template "content","head"} 
		<div class="app-banner">
			<div class="m-content" style="position:relative">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="app-banner-btn">点击在线咨询</div></a>
			</div>
		</div>
		<div class="app-b1 m-content">
			<p class="app-b1-tit">可为EDUS家校通</p>
			<p class="app-b1-subtit">迄今为止最好用的培训机构管理系统</p>
			<div class="app-b1-con">
				<div class="app-b1-img"><img src="{IMG_PATH}edus/app-pic1.png" alt="" width="544" height="241" /></div>
				<div class="app-b1-word">可为EDUS家校通，率先推出iPhone版和Android版，为教育机构办公人员提供方便、快捷的移动办公体验。同时做为家校沟通的神器，促进了家长和校方的有效沟通，及时了解学生的考勤和学习进度，并做出教师评价。还为企业管理层提供了丰富的数据报表分析功能，给机构管理人员提供包括市场营销、教学教务、学生考勤成绩、财务收入支出等在内的各项报表视图。</div>
			</div>	
		</div>
		<div class="app-ads1">
			<div class="m-content" style="position:relative">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="app-ads1-btn">立即咨询</div></a>
			</div>
		</div>
		<div class="app-b2 m-content">
			<div class="app-b2-tit">家校互通</div>
			<div class="app-b2-subtit">促进了家长和校方的有效沟通</div>
			<div class="app-b2-con">
				<div class="app-b2-item">
					<div class="app-b2-pic1">
						<div class="b2-pic-tit">家长</div>
					</div>
					<div class="app-b2-sub">
						家长可以及时了解孩子在校的考勤、以及学习进度情况；及时给教师、课程做出评价，建立评价数据体系；阶段性的学生成绩查看，充分了解学生在校的学习情况；有效促进与校方的沟通，建立良好的信任关系。
					</div>
				</div>
				<div class="app-b2-item" style="margin-left:50px;">
					<div class="app-b2-pic2">
						<div class="b2-pic-tit">教师</div>
					</div>
					<div class="app-b2-sub">
						轻松查看学生考勤签到情况；作业情况统计与成绩推送；学生评价信息推送给家长；教学资源共享；方便定期做学生家长回访，提高家校沟通效率与质量。
					</div>
				</div>		
				<div class="app-b2-item" style="margin-left:50px;">
					<div class="app-b2-pic3">
						<div class="b2-pic-tit">校长</div>
					</div>
					<div class="app-b2-sub">
						统计、查看客户（家长）总体反馈情况。随时随地查看经营报表分析；及时督促未与家长做沟通的教师；重要信息准确推送；树立培训机构特色教育品牌。
					</div>
				</div>							
			</div>
			<div class="app-b2-subcon">
			</div>
		</div>
		<div class="app-ads2">
			<div class="m-content" style="position:relative">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="app-ads1-btn">立即咨询</div></a>
			</div>			
		</div>
		<div class="app-b3 m-content">
			<div class="app-b3-tit">报表视图</div>
			<div class="app-b3-subtit">可为edus移动应用为教育机构管理层决策人员提供了丰富的报表统计视图功能，机构校长通过手机即可随<br />时查看各类分析报表，通过可视化的报表视图可以充分的掌握机构内部的运营状况。</div>
			<div class="app-b3-con">
				<div class="app-b3-pic1"></div>
				<div class="app-b3-item1">
					<p class="abi-tit">市场营销报表</p>
					<p class="abi-con">提供市场营销相关各类报表分析功能，可视化报表视图清晰展示不同市场活动的多维度对比分析，帮助机构管理人员全面把控市场招生细节，合理配置资源，改进营销策略。</p>
					<p class="abi-con-item"><span>市场活动费用统计</span><span style="margin-left:32px;">市场活动效果统计</span><span style="margin-left:32px;">学员邀约试听分析</span></p>
					<p class="abi-con-item"><span>分校学员对比分析</span><span style="margin-left:32px;">丢失学员机会分析</span></p>
				</div>
			</div>
			<div class="app-b3-con" style="margin-top:78px;">
				<div class="app-b3-pic2"></div>
				<div class="app-b3-item2">
					<p class="abi-tit">销售分析</p>
					<p class="abi-con">通过销售管理图表&报表分析功能，机构管理人员可以及时掌握销售人员对意向学员的跟进情况，全面了解销售部门阶段性整体业绩情况。把握每一条线索商机，全面带动销售业绩。</p>
					<p class="abi-con-item"><span>销售计划分析</span><span style="margin-left:32px;">销售机会分析</span><span style="margin-left:32px;">销售目标分析</span></p>
					<p class="abi-con-item"><span>销售费用分析</span><span style="margin-left:32px;">跟进记录分析</span><span style="margin-left:32px;">竞争丢单分析</span></p>
				</div>
			</div>	
			<div class="app-b3-con" style="margin-top:73px;">
				<div class="app-b3-pic3"></div>
				<div class="app-b3-item3">
					<p class="abi-tit">教学质量反馈分析</p>
					<p class="abi-con">EDUS移动应用将收集到的课程或教师评价信息以统计图表的形式展示给企业管理人员，针对具体课程、教学内容、授课方式，做出直观满意度的评价分析，可有效帮助企业提升服务满意度。</p>
					<p class="abi-con-item"><span>教师评价分析</span><span style="margin-left:32px;">课程评价分析</span></p>
				</div>
			</div>	
			<div class="app-b3-con" style="margin-top:48px;height:344px;">
				<div class="app-b3-pic4"></div>
				<div class="app-b3-item4">
					<p class="abi-tit">学员统计分析</p>
					<p class="abi-con">通过学员统计分析报表视图，可以清晰查看学员考勤、成绩、课消、作业等统计信息，针对特定课程的阶段性测评成绩反馈，教务人员可以对学员做出个性化辅导计划，以提升成绩。</p>
					<p class="abi-con-item"><span>成绩统计分析</span><span style="margin-left:60px;">考勤统计分析</span><span style="margin-left:32px;">课消统计分析</span></p>
					<p class="abi-con-item"><span>教师授课计划统计</span><span style="margin-left:32px;">分校排名统计</span></p>
				</div>
			</div>	
			<div class="app-b3-con" style="margin-top:48px;margin-bottom:60px;">
				<div class="app-b3-pic5"></div>
				<div class="app-b3-item5">
					<p class="abi-tit">财务报表分析</p>
					<p class="abi-con">通过财务汇总报表分析，能够准确的查询各项资金收支状况，给领导决策层提供可靠的数据支持。实时反应学生的账户余额，及时发出续费提醒。应收情况，针对退费学员，也能够快速的查询出申请退费学员的退费金额。</p>
					<p class="abi-con-item"><span>学员收费统计</span><span style="margin-left:32px;">课程收入统计</span><span style="margin-left:32px;">机构总部费用支出统计</span></p>
					<p class="abi-con-item"><span>学员退费统计</span><span style="margin-left:32px;">学员续费统计</span><span style="margin-left:32px;">机构总部费用盈利统计</span></p>
				</div>
			</div>										
		</div>	
		<div class="pro-bottom-bg">
			<div class="pro-bottom">
				<p>他们中包括IT、金融、房地产、教育等各类行业，您也将成为他们中的一员，现在开始，成为佼佼者。</p>
			</div>
		</div>
		{template "content","footer"}
		<script type="text/javascript" src="{JS_PATH}edus/scrol.js"></script>		
	</body>		
</html>