		<div class="banner">
			<div class="banner1"></div>
			<div class="banner2">
				<div class="m-content">
					<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="banner-btn1">点击在线咨询</div></a>
					<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="banner-btn2">点击预约演示</div></a>
				</div>				
			</div>
		</div>
		<div class="sub-nav">
			<div class="m-content">
				<div class="sub-nav-item1">
					<a href="{$CATEGORYS[134][url]}"><div class="sub-nav-item1-pic"></div></a>
					<div class="sub-nav-item1-motto"><a href="{$CATEGORYS[134][url]}" target="_blank">服务概述</a></div>
				</div>
				<div class="sub-nav-item2">
					<a href="{$CATEGORYS[135][url]}"><div class="sub-nav-item2-pic"></div></a>
					<div class="sub-nav-item1-motto"><a href="{$CATEGORYS[135][url]}" target="_blank">咨询服务</a></div>
				</div>
				<div class="sub-nav-item2">
					<a href="{$CATEGORYS[136][url]}"><div class="sub-nav-item3-pic"></div></a>
					<div class="sub-nav-item1-motto"><a href="{$CATEGORYS[136][url]}" target="_blank">实施服务</a></div>
				</div>
				<div class="sub-nav-item2">
					<a href="{$CATEGORYS[137][url]}"><div class="sub-nav-item4-pic"></div></a>
					<div class="sub-nav-item1-motto"><a href="{$CATEGORYS[137][url]}" target="_blank">售后服务</a></div>
				</div>
				<div class="sub-nav-item2">
					<a href="{$CATEGORYS[138][url]}"><div class="sub-nav-item5-pic"></div></a>
					<div class="sub-nav-item1-motto"><a href="{$CATEGORYS[138][url]}" target="_blank">个性化定制开发</a></div>
				</div>
			</div>
		</div>