<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />    
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/case-show.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}edus/solution.css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
    <script src='{JS_PATH}edus/tagscloud.js' type="text/javascript"></script>    
  </head>
  <body>  
    {template "content","head"}               
    <div class="solution-banner">
      <div class="solution-banner1"></div>
      <div class="solution-banner2"></div>
    </div>
  <div class="main">
  <div class="title"><a href="{siteurl($siteid)}">首页</a> <span id="dt">&nbsp;>&nbsp;</span> <a href="{$CATEGORYS[26][url]}">解决方案</a>&nbsp;>&nbsp;{$title}<div class="Eng">Solution</div></div>
  <div class="left">
    <div left_Con>
    <h1 class="Font_Title">{$title}</h1>
    <div class="Data">{date('Y-m-d',strtotime($inputtime))}</div>
    <div class="Eyes"><span id="hits"><script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script></span></div>
    <div style="clear:both;"></div>
    <div class="Text_Con">
    <span style="font-weight:bold;color:#ff6600;font-size:16px;margin:15px 0px;display:inline-block;">行业介绍：</span>
　  <p>{$kstatus}</p>
<span style="font-weight:bold;color:#ff6600;font-size:16px;margin:15px 0px;display:inline-block;">管理难点：</span>
　   <p>{$diffcult}</p>
    <p class="caseCon-line"></p>  
<span style="font-weight:bold;color:#ff6600;font-size:16px;margin:15px 0px;display:inline-block;">可为解决方案：</span>
     <p>{$content}</p>
   </div>  
      </div>
</div>
                 <div class="right_1">
                       <div class="Bar_1">热门标签：</div>
                       {loop $keywords $keyword}<a href="{APP_PATH}index.php?m=content&c=tag&a=lists&tag={urlencode($keyword)}" class="tags-blue">{$keyword}</a>{/loop}
                 </div>
                 <div class="right_2">
                 <div class="Bar_2">最近更新:</div>
                 {pc:content action="lists" catid="140" order="listorder DESC" num="5"} 
                 {loop $data $r}
                 <div class="img_1"><a href="#"><img src="{$r[thumb]}" width="286" height="150" alt="{$r[title]}" title="{$r[title]}"/></a></div>
                 <p class="LittleTit_1"><a href="{$r[url]}" style="font-size:14px;color:#666; font-weight:bold;">{str_cut($r[title],30,'...')}</a></p>
                 <div class="ConY_1"><p class="Con_1"><a href="{$r[url]}" style="font-size:12px;color:#666; line-height:20px;">{str_cut($r[description],85,'...')}</p></a></div>
                 {/loop}
                 {/pc}
               
                 </div>
          </div> 
           <div style="clear:both"></div>          
    <div class="s-ads">
      <div class="m-content">
        <div class="s-ads-tit">更多了解可为？<br />请联系我们</div>
        <img src="{IMG_PATH}edus/process_bottom_arrow.png" alt="" title="" style="margin-top:55px;float:left;" />
        <div class="s-ads-btn1"><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5">告诉我们您的需求</a></div>
        <div class="s-ads-btn2"><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5">预约演示</a></div>
        <div class="s-ads-btn1"><a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5">在线咨询可为</a></div>
        <div class="s-ads-tel"></div>
      </div>
    </div>    
<!--********************************************************************-->   
{template "content","footer"}
  </body>   
</html>
