@charset "utf-8";
/*CSS Document*/
/**************************************************************************************************
*Author:  kewei
*Version:  2.0
*Level:  global
*Explain:  关于我们
*******************************************************************************/
.banner-top{
	width:100%;
	height:280px;
	background: url(../../images/edus/ab_banner1.jpg) center 0px no-repeat;
}
.banner-bottom{
	width:100%;
	height:280px;
	background: url(../../images/edus/ab_banner2.jpg) center 0px no-repeat;
}
.top-link{
	height:55px;
	line-height:55px;
}
.top-link a{
	color:#666;
	font-size:16px;
}
.contact-con{
	width:100%;
	height:844px;
	margin-top:50px;
}
.contact-tit{
	width:100%;
	height:250px;
	background: #eee;
}
.contact-time{
	width:800px;
	height:50px;
	background: url(../../images/edus/contact-time.png) 35px 5px no-repeat;
	padding-left:90px;
	line-height: 50px;
	letter-spacing: 1px;
}

.contact-tel{
	width:800px;
	height:50px;
	background: url(../../images/edus/contact-tel.png) 35px 15px no-repeat;
	padding-left:90px;
	line-height: 50px;
	letter-spacing: 1px;
	margin-top:5px;
}

.contact-add{
	width:800px;
	height:50px;
	background: url(../../images/edus/contact-add.png) 35px 10px no-repeat;
	padding-left:90px;
	line-height: 50px;
	letter-spacing: 1px;
	margin-top:5px;
}

.contact-bus{
	height:59px;
	background: url(../../images/edus/contact-bus.png) 35px 10px no-repeat;
	padding-left:90px;
	line-height: 29px;
	letter-spacing: 1px;
	margin-top:15px;
}
.about-con-all{
	width: 100%;
	line-height: 14px;
	text-align: left;
	color: #343434;
	font-size: 14px;
	margin-top: 20px;
}
#allmap{
	width:1180px;
	height:497px;
	margin:30px auto;
}

.s-ads{
	width:100%;
	height:120px;
	background: url(../../images/edus/process_bottom_bg.jpg) repeat-x;
}
.s-ads-tit{
	width:180px;
	margin-top:35px;
	font-size:24px;
	color:#46464a;
	float: left;
}
.s-ads-btn1{
	width:180px;
	height:51px;
	text-align:center;
	line-height:51px;
	font-size:18px;
	color:#fff;
	letter-spacing: 1px;
	background: url(../../images/edus/process_bottom_btn.png) no-repeat;
	float:left;
	margin:43px 0px 0px 20px;
	cursor:pointer;
}
.s-ads a{
	color:#fff;
}
.s-ads-btn1:hover{
	background: url(../../images/edus/process_bottom_btn_hover.png) no-repeat;
}
.s-ads-btn2{
	width:143px;
	padding-left:37px;
	height:51px;
	text-align:left;
	line-height:51px;
	font-size:18px;
	color:#fff;
	letter-spacing: 1px;
	background: url(../../images/edus/process_bottom_btn2.png) no-repeat;
	float:left;
	margin:43px 0px 0px 20px;
	cursor:pointer;
}
.s-ads-btn2:hover{
	background: url(../../images/edus/process_bottom_btn2_hover.png) no-repeat;
}
.s-ads-tel{
	width:183px;
	height:54px;
	float: right;
	margin:40px 0px 0px;
	background: url(../../images/edus/process_bottom_btn_tel.png) no-repeat;
}
.bottom{
	width:100%;
	height:353px;
	background:#394350;
}
.bottom-items{
	width:119px;
	height:172px;
	float:left;
	margin-top:30px;
}
.bottom-items dt{
	width:100%;
	height:42px;
	line-height:42px;
	text-align: left;
}
.bottom-items dt a{
	color:#fff;
	font-size:18px;
	background: url(../../images/edus/bottom_pic1.png) left 6px no-repeat;
	padding-left:24px;
}
.bottom-items dd{
	width:100%;
	height:31px;
	line-height:31px;
	text-align: center;
}
.bottom-items dd a{
	color:#fff;
	font-size:14px;
}
.items2{
	margin-left:110px;
}
.items2 dt a{
	background: url(../../images/edus/bottom_pic2.png) left 6px no-repeat;
	padding-left:26px;
}
.items3{
	margin-left:110px;
}
.items3 dt a{
	background: url(../../images/edus/bottom_pic3.png) left 6px no-repeat;
	padding-left:26px;
}
.items4{
	margin-left:110px;
}
.items4 dt a{
	background: url(../../images/edus/bottom_pic4.png) left 6px no-repeat;
	padding-left:26px;
}
.items5{
	margin-left:110px;
}
.items5 dt a{
	background: url(../../images/edus/bottom_pic5.png) left 6px no-repeat;
	padding-left:26px;
}
.bottom-line{
	width:100%;
	height:38px;
	padding-top:220px;
	border-bottom: 1px solid #fff;
}
.bottom p a{
	color:#fff;
	font-size:13px;
}
.bottom p{
	font-size:14px;
}