		<div style="display:none;" id="rocket-to-top">
			<div style="opacity:1;display:block;" class="level-2"></div>
			<div class="level-3"></div>
		</div>			
		<div class="header">
			<div class="m-content">
				<div class="header-left">
					<img src="{IMG_PATH}edus/logo.png" alt="可为edus培训机构管理软件" title="可为edus培训机构管理软件">
				</div>
				<ul class="header-nav">
					<li><a href="{siteurl($siteid)}" target="_blank">首页</a></li>
					<li><a href="javascript:void(0)" target="_blank">产品中心</a>
						<ul class="s-nav" id="product">
							<div class="left">
								<div class="item" style="margin-top:20px;"><a href="{$CATEGORYS[124][url]}" target="_blank">edus培训机构管理软件</a></div>
								<div class="item"><a href="{$CATEGORYS[256][url]}" target="_blank">EDUS:移动APP</a></div>
								<div class="item"><a href="{$CATEGORYS[257][url]}" target="_blank">可为在线搜课报班系统</a></div>
								<div class="line"></div>
								<p class="con">了解可为edus如何在企业业务流程中应用，被众多客户所青睐</p>
								<div class="pic"><img src="{IMG_PATH}edus/nav-pic.png" alt="" title="" ></div>
								<p class="link"><a href="" target="_blank">查看产品视频演示>></a></p>
							</div>
							<div class="right">
								<div class="each">
									<div class="item"><a href="{$CATEGORYS[114][url]}" target="_blank">多校区管理</a>
										<span>集团化业务管控</span>
									</div>
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[115][url]}" target="_blank">市场营销</a>
										<span>市场招生、学员跟进</span>
									</div>	
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[119][url]}" target="_blank">教务管理</a>
										<span>学员分班排课、教师管理</span>
									</div>													
								</div>
								<div class="each" style="margin-top:30px;">
									<div class="item"><a href="{$CATEGORYS[116][url]}" target="_blank">学员管理</a>
										<span>学员课程、成绩、考勤</span>
									</div>
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[120][url]}" target="_blank">考勤管理</a>
										<span>学员请假考勤、教师考勤</span>
									</div>	
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[117][url]}" target="_blank">一对一</a>
										<span>全面管理一对一辅导业务</span>
									</div>														
								</div>
								<div class="each" style="margin-top:30px;">
									<div class="item"><a href="{$CATEGORYS[118][url]}" target="_blank">一对多</a>
										<span>一对多业务全面涵盖</span>
									</div>
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[121][url]}" target="_blank">财务管理</a>
										<span>学员合同、收费退费</span>
									</div>	
									<div class="item" style="margin-left:50px;"><a href="{$CATEGORYS[122][url]}" target="_blank">决策分析</a>
										<span>多维度报表分析</span>
									</div>																	
								</div>	
								<div class="each" style="margin-top:30px;">
									<div class="item"><a href="{$CATEGORYS[123][url]}" target="_blank">集成拓展</a>
										<span>外部系统无缝对接</span>
									</div>																
								</div>																
							</div>	
						</ul>
					</li>
					<li><a href="{$CATEGORYS[125][url]}" target="_blank">解决方案</a>
						<ul class="s-nav" id="solution">
							<a href="{$CATEGORYS[126][url]}" target="_blank" style="margin-top:10px;">中小学辅导</a>
							<a href="{$CATEGORYS[127][url]}" target="_blank">外语辅导</a>
							<a href="{$CATEGORYS[128][url]}" target="_blank">少儿培训</a>
							<a href="{$CATEGORYS[129][url]}" target="_blank">职业资格培训</a>
							<a href="{$CATEGORYS[130][url]}" target="_blank">留学培训</a>
							<a href="{$CATEGORYS[133][url]}" target="_blank">艺术培训</a>
						</ul>
					</li>
					<li><a href="{$CATEGORYS[140][url]}" target="_blank">成功案例</a></li>
					<li><a href="{$CATEGORYS[134][url]}" target="_blank">服务体系</a>
						<ul class="s-nav" id="service">
							<a href="{$CATEGORYS[135][url]}" target="_blank" style="margin-top:10px;">咨询服务</a>
							<a href="{$CATEGORYS[136][url]}" target="_blank">实施服务</a>
							<a href="{$CATEGORYS[137][url]}" target="_blank">售后服务</a>
							<a href="{$CATEGORYS[138][url]}" target="_blank">个性化定制开发</a>
						</ul>
					</li>
					<li><a href="javascript:void(0)" target="_blank">帮助中心</a>
						<ul class="s-nav" id="help">
							<a href="" target="_blank" style="margin-top:10px;">产品视频讲解</a>
							<a href="{$CATEGORYS[139][url]}" target="_blank">产品资讯</a>
						</ul>
					</li>
					<li><a href="{$CATEGORYS[107][url]}" target="_blank">关于我们</a>
						<ul class="s-nav" id="about">
							<a href="{$CATEGORYS[107][url]}" target="_blank" style="margin-top:10px;">企业简介</a>
							<a href="{$CATEGORYS[109][url]}" target="_blank">企业历程</a>
							<a href="{$CATEGORYS[111][url]}" target="_blank">精英团队</a>
							<a href="{$CATEGORYS[110][url]}" target="_blank">企业活动</a>
							<a href="{$CATEGORYS[108][url]}" target="_blank">联系我们</a>
						</ul>
					</li>
				</ul>
				<a href="{siteurl($siteid)}/#flag7" target="_blank" class="header-right">申请试用</a>
			</div>
		</div>