<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="hps-banner"></div>
		<div class="hps-block1">
			<div class="m-content">
				<div class="hps-b1-tit"></div>
				<div class="hps-b1-con">
					<p class="single"><b>公司名称：</b>汉普森英语</p>
					<p class="single" style="margin-top: 30px;"><b>所属行业：</b>语言培训</p>
					<p class="single" style="margin-top: 30px;"><b>公司规模：</b>2000人以上</p>
					<p class="single" style="margin-top: 30px;"><b>应用模块：</b>多校区管理、学员管理、财务管理、教务APP</p>
					<p class="parag">
						<b>公司简介：</b>高端英语培训品牌，于2002年3月成立，是中国较早的"洋家教"个性化外语研究及教学机构， 拥有市教委授权民办教育机构资质，并取得国家外专局权威颁发的外国专家聘用许可证。经过近14年的不断发展，汉普森英语已经在全国建立了30家分支教学机构，聘用外教人数达800多位，成为目前国内较大的"洋家教"外语培训基地，为社会培养了2万名专业外语人才，学员包括儿童、青少年、成人及企业定制培训。其独特的"一对一洋家教"教学方式，受到包括中央电视台、北京电视台及各大报纸、网络媒体的关注和报道。
					</p>
				</div>
			</div>
		</div>
		<div class="hps-block2">
			<div class="hps-b2-tit"></div>
			<div class="hps-b2-con">
				<div class="hps-b2-center">
					<div class="item1">
						<p class="tit">多校区管理难点</p>
						<div class="each-con">
							随着汉普森英语机构规模的不断扩大，目前已在全国拥有30余家分校，营业规模扩大了，但是相关的管理问题却接踵而至，各校区的运营现状如何、总校资源如何调度、如何实现统一管理都是难题，急需要改善粗放式的管理现状。
						</div>
					</div>
					<div class="item2">
						<p class="tit">服务管理难点</p>
						<div class="each-con">
							汉普森提英语供给学员全生命周期的服务体验，自然有学员整个服务管理的需求，以提升整体的服务质量、规范服务体系。其中包括其中包括学习培养方案、学员的听课记录、班级测评、成绩、回访、投诉等相关管理点。
						</div>
					</div>
					<div class="item3">
						<p class="tit">财务管理难点</p>
						<div class="each-con">
							需要系统的规范学员合同的审批流程，以及优惠、退费等财务相关的申请和审批流；同时需要系统来帮助财务人员计算学员收费、退费、订单相关的财务金额，以此来减轻生源旺季时财务工作的压力负担，提高财务工作的运转效率。
						</div>
					</div>
					<div class="item4">
						<p class="tit">教务管理难点</p>
						<div class="each-con">
							汉普森学员可以转介绍其他学员获得赠课，赠送课程、课时、审批状态等，都需要通过系统来记录；教务人员需管理各自校区的教室信息，学员众多，管理起来较繁琐，需要管理班课的学员课表、班级课程教案等，以及一对一的排课、预约等问题。
						</div>
					</div>
					<div class="item5">
						<p class="tit">教师管理难点</p>
						<div class="each-con">
							汉普森英语需要对教师进行全面的管理，包括教师的基础信息管理、教师奖惩、师资认证、请假、上课、审批、报销、薪资核算等，需要有管理工具系统的记录、分析、规划、疏导以上这些教师管理中存在的问题。
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hps-block3">
			<div class="m-content">
				<div class="hps-b3-tit"></div>
				<div class="hps-b3-top">
					<div class="item1">
						<div class="tit">教务教学</div>
						<p class="con">可为团队从汉普森英语的管理需求出发，为汉普森提供了全面的erp系统解决方案。针对教务教学管理，按授课方式分为班课管理和一对一管理，可通过系统创建预开班级（班型）,设定相关的开班人数、课程、课次等信息，需要开设什么班级可通过班型进行灵活设定。系统支持一对一模式的课程排课、课程预约等，同时支持教学相关的学员作业、成绩、考勤、教学评价、教学日志等的管理。</p>
					</div>
					<div class="item2">
						<div class="tit">教师管理</div>
						<p class="con">汉普森英语是在国内规模较大的“洋外教”基地，教师管理主要针对外教的管理。可为erp系统提供了全面的全面的教师管理解决方案。教师的基础信息、所属校区、相关课程、教师等级都有记录和管理。针对教师奖励、请假的审批流程，可以通过系统进行设定和执行；教师的绩效考核和薪资的核算，以及机票的报销都有相关的管理。</p>
					</div>
					<div class="item3">
						<div class="tit">财务管理</div>
						<p class="con">针对财务管理，首先是学员订单管理，包括订单相关的金额、产品的类型、购买课时、相关学员等，通过系统修改相关属性以及订单审批等操作；其次针对学员的收费退费，可预先在系统中设定相关的标准，在进行相关操作的时候可自动核算出应收/应退金额，支持各类金额的申请审批操作，最后，针对各类的续费订单、补充合同等都有相应的管理。</p>
					</div>
				</div>
				<div class="hps-b3-sub">
					<div class="item1">
						<div class="tit">服务管理</div>
						<p class="con">为了更好的规范服务体系、提升服务质量，可为erp系统提供了强大的服务管理模块。教师可以通过系统建立学习规划培养方案，为特定学员制定培养计划，可通过系统确定不同阶段的课时目标、课程、级别等内容。同时系统的记录了学员听课记录、考勤、测评成绩等信息，通过系统查看教师的回访记录，以及学员的反馈信息。</p>
					</div>
					<div class="item2">
						<div class="tit">进销存管理</div>
						<p class="con">可为ERP支持教材、教具、活动物料等教学相关物品的进销存管理，可按校区分开进行管理。可以通过系统查看相关教材的入库、出库记录，以及教材、教具等的基础信息，可查看上述物品的库存数量，并可设置库存预警。教材出库与相关的学员订单相关联，通过系统可查看订单相关教材的出库记录。</p>
					</div>
					<div class="item3">
						<div class="tit">移动APP</div>
						<p class="con">手机端APP支持不同角色的使用，支持教师手机端、业务人员手机端、学员手机端。业务人员通过移动APP系统可管理学员线索、记录学员跟进过程、回访等操作。教师通过APP可查看课表信息、班级进度、预约信息、布置作业、查看考勤等。学员通过APP可查看作业批示、请假、打卡、做教学评价等操作。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="hps-block4">
			<div class="hps-b4-tit"></div>
			<div class="hps-b4-con">
				<div class="m-content">
					<div class="dev" style="margin-top:47px;">
						<div class="dev-each" style="float: left;">
							<div class="tit1"></div>
							<div class="con">
								<p class="tit">教师</p>
								<p class="word">课程、班级、教材等信息都得到了良好的管理，有迹可循。学员的培养计划更加的系统具体，教学日志有记录。学生的成绩提高了，教学质量也得到了改善。</p>
							</div>
						</div>
						<div class="dev-each" style="float: right;">
							<div class="tit2"></div>
							<div class="con">
								<p class="tit">教务人员</p>
								<p class="word">班课排课工具十的分方便，课程、教师、教室资源都被合理的利用了。学员的服务水平得到了全面的改善、服务质量慢慢提升中。</p>
							</div>
						</div>
					</div>
					<div class="dev" style="margin-top: 43px;">
						<div class="dev-each" style="float: left;">
							<div class="tit3"></div>
							<div class="con">
								<p class="tit">财务</p>
								<p class="word">学员收费、退费金额自动计算，节省了许多人工计算的时间成本。同时学员的订单、合同可管理，收费标准能够灵活的制定。</p>
							</div>
						</div>
						<div class="dev-each" style="float: right;">
							<div class="tit4"></div>
							<div class="con">
								<p class="tit">管理层</p>
								<p class="word">能够清晰的看到各校区的运营情况，可更好进行资源调度、管理决策。丰富的报表展现提供了全面的数据分析功能。</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hps-block5">
			<div class="hps-block5-tit"></div>
			<div class="hps-b5-con">
				<div class="hps-b5-logo"></div>
				<div class="hps-b5-right">
					“在与可为erp实施团队的合作中，针对实际业务流程的系统化、软件化，我们也存在着各自的分歧，但经过不断的调整和优化后，现在的erp系统已经能够很好的运作起来了，并逐步开始规范和提升我们的管理。感谢可为实施团队的努力和专业态度，愿我们能有更多的合作。”
					<p class="company">——汉普森英语</p>
				</div>
			</div>
		</div>
{template "special","footer"} 