<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="zhuomei-banner">
			<div class="zhuomei-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="btn1">点击咨询</div></a>
				<a href="http://edus.keweisoft.com/case" target="_blank"><div class="btn2">更多案例</div></a>
			</div>
		</div>
		<div class="zhuomei-block1">
			<div class="m-content">
				<div class="zhuomei-b1-tit"></div>
				<div class="zhuomei-b1-con">
					<div class="left">
						<p class="item1"><b>公司名称：</b>北京卓美品致</p>
						<p class="item2"><b>所属行业：</b>艺术培训</p>
						<p class="item3"><b>公司规模：</b>300-500人</p>
						<p class="item4"><b>应用模块：</b>市场管理、销售管理、教务管理、财务管理</p>
					</div>
					<div class="right">
						<p class="tit"></p>
						<p class="con">卓美教育成立于2010年， 以戏剧促进中国教育进步为使命，专注于为中国的未来培育高感性、多元智能人才。由著名导演冯小刚注资，引入全球领先的海伦·奥格雷迪（Helen O' Grady）英文教育戏剧（Drama in Education）课程体系，结合中国孩子和家长对教育的需求，为3-18岁的中国青少年儿童带来了全新的成长体验。卓美教育主张尊重每一个孩子的独特性，引导他们通过戏剧发现自己，感知世界，建立同理心，探索多样化及一切可能性，始终保持热情积极的人生态度！</p>
					</div>
				</div>
			</div>
		</div>
		<div class="zhuomei-block2">
			<div class="zhuomei-b2-tit"></div>
			<div class="zhuomei-b2-con">
				<div class="m-content">
					<div class="item" style="margin-top:92px;">
						<div class="tit1">
							<p class="word">市场营销管理难点</p>
						</div>
						针对各类市场活动，没有系统工具来统计分析到底哪种市场活动的效果最佳，无法准确评估投入产出比。线索信息分配繁琐，市场人员工作效率不高。针对销售的跟单过程，无法做到较好的管控，是否及时跟进了客户、是否对信息进行了回访没有系统的统计和分析。
					</div>
					<div class="item" style="margin-top:90px;margin-left:60px;">
						<div class="tit2">
							<p class="word">教务管理难点</p>
						</div>
						学员的档案信息不规范，人工维护成本较高，教师的时间管理是一大问题，由于专职老师和兼职老师都有很多，教师的空闲度管理很难做起来。排课管理紊乱，如何有效的协调教师的空闲度、课程、教室，给学生合理的规划课表。考勤管理，传统的考勤管理模式不仅成本高，同时容易出现差错，学生的课消、财务统计教师工资等都会受到相应的影响。
					</div>
					<div class="clearfix"></div>
					<div class="item" style="margin-top:79px;">
						<div class="tit3">
							<p class="word">财务管理难点</p>
						</div>
						学生报名的正常收费、优惠、套餐等的费用管理，尤其是学生退费时，退费的金额计算是一大问题，涉及优惠政策、套餐课程等，在退费时，经常会引起不必要的财务纠纷。如何充分满足企业管理层、财务人员对企业财务与业务的精细管理需求，也是亟需解决的问题。
					</div>
					<div class="item" style="margin-top:79px;margin-left:60px;">
						<div class="tit4">
							<p class="word">集团运营管理难点</p>
						</div>
						集团总部需要对各分校区的运营状况进行准确的了解和掌握，每月招收了多少学生、季度的营销报表、整体盈利情况，都需要有个整体的把控，需要根据实际的运营情况制定整体的运营规划、资源调度、人力调整等。
					</div>
				</div>
			</div>
		</div>
		<div class="zhuomei-block3">
			<div class="m-content">
				<div class="zhuomei-b3-tit"></div>
				<div class="con">
					<div class="item">
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico1"></div>
							<p class="item-con">市场管理功能详细的记录了各市场活动的过程信息，通过系统分析，可以清晰的看出各类项的投入产出比，哪种市场活动效果较好一目了然，以针对较好的渠道投放更多的资源。市场部可以根据角色权限的设置，批量导入线索信息，设置判断条件，用以对线索信息跟进记录进行跟踪。</p>
							<div class="btn">市场管理</div>
						</div>
					</div>
					<div class="item" style="margin-left:13px;">
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico2"></div>
							<p class="item-con">可为erp系统销售管理功能可以对销售的线索跟进做全过程管控，销售主管可对跟进记录及时进行查询，以便发现跟进过程总存在的问题，及时给与建议或资源支持。同时系统生成的月度报表、季度报表、年度报表可以帮助决策层清晰掌握营销利润和成本支出，更好做出下一阶段的销售预测。</p>
							<div class="btn">销售管理</div>
						</div>
					</div>
					<div class="item" style="margin-left:13px;">
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico3"></div>
							<p class="item-con">系统提供了学员全生命周期管理，从学员基础档案、报名、分班、排课、考勤、作业、成绩都有详细的记录，节省人工维护成本的同时降低了学员管理的难度。系统强大的智能排课引擎可极大的提高排课效率。同时系统支持指纹打卡和二维码考勤两种考勤方式，系统后台也对教师学员的考勤信息做详细的记录。</p>
							<div class="btn">教务管理</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="item" style="margin-top:70px;"> 
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico4"></div>
							<p class="item-con">erp教育培训管理系统为机构提供了完整的收费退费解决方案，可针对不同的优惠措施自动计算出应收费用，并自动区分定金和学费。退费时也可根据学员的课时消耗自动生成学员的应退金额。同时可清晰的记录财务每一笔流水，并自动生成记账凭证，降低财务人员的工作强度的同时大大提高了财务核算的精准度。</p>
							<div class="btn">财务管理</div>
						</div>
					</div>
					<div class="item" style="margin-top:70px;margin-left:13px;">
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico5"></div>
							<p class="item-con">可为学员端管理系统为提供了学员作业、成绩、考勤、预约、回访、评价等管理点，可通过学员端上传自己的作业，教师可做出作业批改和作业回复。同时学员可针对特定的课程和教师做出教学评价，校方可以收集学生评价信息并根据情况做出教学回访，有效促进家校沟通并提高机构服务质量。</p>
							<div class="btn">学员端管理</div>
						</div>
					</div>
					<div class="item" style="margin-top:70px;margin-left:13px;">
						<div class="topline"></div>
						<div class="subcon">
							<div class="ico6"></div>
							<p class="item-con">系统提供了多校区集团化管理平台，解决多校区机构运营管理难点。集团总部可以制定统一的学员优惠标准，各分校区可以在标准基础上确定各自的优惠政策。同时可以实现各分校的跨地域、跨校区的数据共享。同时丰富的报表统计为机构总校提供了数据透视功能，供企业做决策支撑。</p>
							<div class="btn">集团化运营管理</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zhuomei-block4">
			<div class="zhuomei-b4-tit"></div>
			<div class="zhuomei-b4-con">
				<div class="zhuomei-b4-center">
					<div class="item1">
						<div class="ico1"></div>
						市场活动反馈和结果能够更好的进行量化分析，从而可以投入更多的资源给线索质量高的活动渠道。同时线索也能分配的效率也得到了显著的提升。销售跟单过程得到了良好的记录和把控，成单率也随之获得了较好的提升。
					</div>
					<div class="item2">
						<div class="ico1"></div>
						机构排课工作获得了极大的改善，通过系统智能排课引擎，大大的提高了空闲资源的利用率。教师空闲度管理很好的解决了机构教师排课紊乱的难题，同时也是对空闲教室资源的有效管理。系统的考勤管理模块完美的代替了低效的纸质考勤方式，并为教师绩效考核提供了考勤依据。
					</div>
					<div class="item3">
						<div class="ico1"></div>
						系统高效的财务管理功能极大的提高了机构财务人员的工作效率，收费退费可预先在系统里设置相关的标准，自动结算应收应退金额，有理有据，有效的减少了不必要的财务纠纷。同时丰富的报表功能详细展示了机构每一笔的财务流水，帮助机构管理层更好的掌握收支情况。
					</div>
				</div>
			</div>
		</div>
		<div class="zhuomei-block5">
			<div class="m-content">
				<div class="zhuomei-b5-tit"></div>
				<div class="zhuomei-b5-con">
					<div class="zhuomei-b5-rcon">
						<div class="zhuomei-b5-pic"></div>
						“可为erp培训机构管理系统帮助我们更好的改善经营管理，系统很灵活，我们的需求都一一通过系统较好实现，目前已正式上线使用。可为实施团队的小伙伴很可靠、很负责任，项目实施期间，每周都有实施进度汇报，从而保证了系统正式上线。希望我们和可为的合作越来越好！”
						<p class="zhuomei-b5-last">——卓美教育</p>
					</div>
				</div>
			</div>	
		</div>
{template "special","footer"} 