<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
	<div class="baili-banner">
		<div class="baili-banner-center">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="baili-banner-btn">点击咨询详情</div></a>
		</div>
	</div>
		<div class="baili-block1">
			<div class="m-content">
				<p class="baili-b1-tit"></p>
				<div class="baili-b1-con">
					<div class="baili-b1-left">
						<div class="each">
							<div class="left">公司名称：</div>
							<div class="right">北京环球百利教育科技有限公司</div>
						</div>
						<div class="each" style="margin-top:15px;">
							<div class="left">所属行业：</div>
							<div class="right">留学培训</div>
						</div>	
						<div class="each" style="margin-top:15px;">
							<div class="left">公司规模：</div>
							<div class="right">1000-1500人</div>
						</div>
						<div class="each" style="margin-top:15px;">
							<div class="left">应用规模：</div>
							<div class="right">edus一对一教务管理系统、财务管理、教师管理、学员端系统、crm客户管理</div>
						</div>
						<div class="sub"><span style="color:#c51025;font-size:18px;">公司简介：</span>北京环球百利教育科技有限公司(以下简称环球百利)，具有雄厚的国际教育资源优势，以出国留学咨询、留学职业规划、留学申请、留学签证、在线教育为核心，现有1000余名工作人员，办公面积12000余平米，在中国电子大厦、中关村SOHO分别设立办公区域。是北京环球百利教育科技有限公司旗下留学品牌，创办于2004年，专注高端申请，以留学咨询、留学职业规划、留学申请、留学签证为主营业务，申请范围涵盖美国、加拿大、英国、日本等国家。通过经验丰富的师资团队和科学合理的专业细分，为不同背景的学生提供留学整体解决方案，即背景提升+高端直申，开启了留学4.0时代。</div>
					</div>
				</div>
			</div>
		</div>
		<div class="baili-block2">
			<div class="m-content">
				<p class="baili-b2-tit"></p>
				<div class="baili-b2-con">
					<div class="each1">
						<p class="tit">前台</p>
						<div class="con">每天接听众多咨询电话、接待上门客户，我很忙却很难把控客户；我也不清楚我经手的客户后续分配给了谁，跟进结果如何；每个月底我都需要编制大量的报表，上报给领导，而且还不能出错，压力巨大。</div>
					</div>
					<div class="each2">
						<p class="tit">教务</p>
						<div class="con">面对激烈市场竞争，无法及时调整产品竞争策略，包括课程体系及产品价格的定义；排课非常复杂，很难排出科学合理的课表；对授课老师业绩及工资的核算、能力考核，工作量巨大容易出错；优惠申请材料多，流程复杂；收费、退费、学生换课、课时记录难；月底报表统计不及时，不准确的问题。</div>
					</div>
					<div class="each3">
						<p class="tit">管理经理</p>
						<div class="con">我的客户应该分给谁？我怎么知道哪个老师的时间最匹配？老师的任务量无法控制，部门任务的开展困难，不知道哪个老师哪个时间是没有课的。教师的授课质量无法评估，学员信息共享能力差，查询，汇总，分析难。</div>
					</div>
					<div class="each4">
						<p class="tit">教师</p>
						<div class="con">我有多少学生？学生的课怎么安排？各个学生的学习情况和学习进度怎样？学生作业怎么管理？学生之前的上课信息我从哪里查？</div>
					</div>
					<div class="each5">
						<p class="tit">学生、家长</p>
						<div class="con">我忘记上课时间怎么办？我忘了上的课时怎么办？从哪里可以查看我的学习信息？这么多作业，邮箱好乱啊。</div>
					</div>
					<div class="each6">
						<p class="tit">财务</p>
						<div class="con">每天经手的钱、票据众多，不确定是否搞错；如何及时了解各个校区的财务支出情况；对教师考勤缺乏依据，每月工资核算麻烦；如何快速查看学员欠费情况，方便提醒及时缴费。</div>
					</div>
				</div>
			</div>
		</div>
		<div class="baili-block3">
			<p class="baili-b3-tit"></p>
			<div class="baili-b3-con">
				<div class="baili-b3-center">
					<div class="pic"></div>
					<div class="con">
						<div class="right">
							<p class="lt1"></p>
							<p class="word">在我国留学机构一对一考试辅导快速发展的大环境下，管理粗放、信息环节薄弱、决策依据不充分已经成为一对一考试辅导发展的主要障碍之一。哪里有需求哪里就会有系统，为了实现最优化管理目标，有效进行教务教学管理、财务管理等核心的管理，运用edus教务管理系统真正让系统与公司的业务并行运行，实现企业的信息化管理，已经势在必行。</p>
							<p class="lt2"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="baili-block3-sub">
			<div class="baili-b3-center" style="width: 1040px;">
				<div class="item1">
					<p class="item1-pic"></p>
					<div class="item1-con">edus系统提供财务对账功能，确保经手人现金、信息、单据的一致；系统即时生成多个维度的收支情况统计报表，要看报表不用再等到月底；系统提供工资管理模块，一些业绩数据可自动从系统中获取；系统在多个环境会提醒相关人员跟进处理欠费学员。</div>
				</div>
				<div class="item2">
					<p class="item2-pic"></p>
					<div class="item2-con">从学员管理中的基本信息录入—签订合同—收费—制卡—分配教师—预约时段设置—预约教师—刷卡上课—刷卡下课—培训结果处理，通过这一整套的教务管理流程来把机构的业务流程全部打通。每当一个流程走完，都会自动进入下一个流程，让企业服务的每位学生都可以全程进行跟踪和管控。教务可以全盘掌控机构内所有教师的授课情况及时间分配情况，如果有人员离职，离职后任何一名教师接收都能清楚了解前一名教师人员下学生的授课情况。</div>
				</div>	
				<div class="item3">
					<p class="item3-pic"></p>
					<div class="item3-con">根据排课课表，老师准备上课，课后给学生发布作业。教师课程表，所带班级学员信息，任课时间段统计，空闲时间段管理，教师授课评估，上课日志管理，高效辅助教师的任课水平，提高了机构的教学质量，增强了机构的核心竞争力。</div>
				</div>
				<div class="item4">
					<p class="item4-pic"></p>
					<div class="item4-con">管理者可以管控企业的所有流程，查询任意时间段，任意部门，任意产品的授课量情况及机构的学员情况。把控部门各项数据，针对各种异常数据给出解决方案。</div>
				</div>
				<div class="item5">
					<p class="item5-pic"></p>
					<div class="item5-con">edus教务软件拥有强大的学员端管理系统，学生登录系统，可以查看管理自己的学习信息。学员可在学员成绩模块查看自己所学课程的考试成绩，使学员和学员家长及时了解学员的学习情况。</div>
				</div>
				<div class="item6">
					<p class="item6-pic"></p>
					<div class="item6-con">edus系统控制各环节重复录入，避免录入过程中出错，客户记录快捷方便；系统自动生成各类统计报表，无须人工计算。</div>
				</div>																		
			</div>
		</div>
		<div class="baili-block4">
			<div class="m-content">
				<p class="baili-b4-tit"></p>
				<div class="item" style="margin-top:45px;">
					<div class="pic1"></div>
					<div class="con1">通过edus教务软件的实施，实现了前程百利的信息化管理，摒弃了低效落后的手工管理模式，全面实现电子化流程，彻底摆脱了种类繁多的Excel表格；通过系统流程引导各环节员工业务操作，并由系统控制降低出错机率，业务管理更规范、更可控。</div>
					<div class="tit1"></div>
				</div>
				<div class="item" style="margin-top:22px;">
					<div class="pic2"></div>
					<div class="con2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统对于前台、财务人员应用效果：<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;①录入学员信息比以前Excel更简单方便，录入错误系统会提示，大大降低了我们录入时的出错机率。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;②日常业务所需的报表在系统中都即时自动生成了，再也不用忙于应付领导做报表了。</div>
					<div class="tit2"></div>
				</div>	
				<div class="item" style="margin-top:22px;">
					<div class="pic3"></div>
					<div class="con3">系统对于机构领导、教务应用效果：<br>①不同级别、不同岗位的员工因其职责权责不同，其可操作的功能，可访问和操作的数据权限也不同，这一点在edus教务系统中有很好的体现。这较之前是个很大的进步，Excel无法实现这种数据安全的控制。<br>②Edus教务系统的图形数据报表直观易懂，可从不同的维度对业务指标进行分析。最重要的是，要获取这些数据，再也不用等，随时都可以看到最新的统计数据。将教育机构管理者从琐事中解放出来，让管理回归管理本身。</div>
					<div class="tit3"></div>
				</div>								
			</div>
		</div>
		<div class="baili-block5">
			<div class="m-content">
				<p class="baili-b5-tit"></p>
				<div class="baili-b5-con">
					<div class="baili-b5-logo"></div>
			       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;多领域：双方既有产品和服务方面的合作，也包括了管理者思想的交流，包括了行业发展经验和教训的交流，因此是多领域的合作与交流。深层次：一方面产品专业，使用户能够分享软件产品中蕴含的本企业之外的管理思想的成果；另一方面用户在自身行业管理方面的认识提升，对软件本身的需求也会持续升级，反过来也会促进EDUS教务管理系统产品的品质提升。这正是双方能够长期合作的深层次本源。宽覆盖：从EDUS教务管理系统，百利天下运用可为时代的产品已经有了广泛的覆盖，包括财务管理、教务管理、刷卡系统，短信中心等，对实现百利天下的管理者目标，提升管理水平起到了促进作用。
			       <p class="baili-b5-sub">——北京环球百利教育副总裁杜鸿旋</p>
				</div>
			</div>
		</div>
{template "special","footer"} 