<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-activity.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}     
  <div class="ZH_banner">
     <div class="ZH_banner_center">
        <a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="banner_btn">点击查看详情</div></a>
     </div>
  </div>
  <div class="ZH_Content">
       <div class="ZH_company">
           <div class="ZH_company_tit"></div>
           <div class="ZH_company_Con">
              <p class="ZH_company_content">      可为edus2016教育培训三亚年会与您一起相约三亚，会议以“关注行业发展、展示优质项目、助力机构成长”为主办宗旨，为广大教育培训机构带来全新的管理理念，和先进的管理工具。可为时代有十余年的教育行业管理经验。拥有一套成熟的管理思想作支撑，针对教育培训机构管理难点现状，自主研发edus教务管理系统、CRM系统、选课报名系统、家校通、移动APP等软件，为机构提供一站式的解决方案。可为期待与您一起学习、交流、分享、共赢！</p>
            </div>
       </div>
       <div class="ZH_product">
           <div class="ZH_product_Tit"></div>
           <div class="ZH_product_Con">
                 <div class="product_content1">
                     <div class="content1_left">
                         <a href="http://edus.keweisoft.com/advantage" target="_blank"><p class="title11">EDUS教务管理系统</p></a>
                         <p class="content11">可为edus提供市场、销售、教务、财务、教学、报表分析一站式软件解决方案，帮助教育机构搭建全流程、可管控、可运营，可追溯的高质量信息化管理系统。</p>
                     </div>
                     <img src="{IMG_PATH}edus/special/ZH_product_big1.jpg" alt="" width="" style="float:right;margin-right:130px;">
                     <div class="clear"></div>
                 </div>
                 
                 <div class="product_content1" style="margin-top:62px;">
                    <img src="{IMG_PATH}edus/special/ZH_product_big2.jpg" alt="" width="" style="float:left;margin-left:130px;">
                     <div class="content1_left" style="float:right;">
                       
                         <a href="http://edus.keweisoft.com/app" target="_blank"><p class="title11">家校通学员端管理软件</p></a>
                         <p class="content11">edus家校通是教育机构老师的家校互通神器，有效增强校方与家长的沟通交流，囊括学员考勤、作业、成绩、课表、教学评价等，移动互联网时代不可或缺的管理工具。</p>
                     </div>
                      <div class="clear"></div>
                 </div>
                  <div class="product_content1" style="margin-top:62px;">
                     <div class="content1_left">
                         <a href="http://edus.keweisoft.com/souke" target="_blank"><p class="title11">在线选课报名系统</p>
                         <p class="content11">专为教育培训机构设计的在线选课报名系统，学员可综合考虑课程分类、适合人群、上课地点、时间、价格等多种因素，选报最合适的班级。实现与教务系统的无缝对接。</p></a>
                     </div>
                     <img src="{IMG_PATH}edus/special/ZH_product_big3.jpg" alt="" width="" style="float:right;margin-right:110px;">
                     <div class="clear"></div>
                 </div>
                 <div class="product_content1" style="margin-top:62px;">
                    <img src="{IMG_PATH}edus/special/ZH_product_big4.jpg" alt="" width="" style="float:left;margin-left:90px;">
                     <div class="content1_left" style="float:right;">
                       
                         <a href="http://edus.keweisoft.com/mapp" target="_blank"><p class="title11" >移动APP系统</p></a>
                         <p class="content11">edus移动app是教务系统的移动版本，拥有一切你想要的重要信息，并实现了与pc端系统的信息同步与实时分析，充分发挥系统的可扩展优势，全力打造最好的教育app系统。</p>
                     </div>
                      <div class="clear"></div>
                 </div>
                    <div class="product_content1" style="margin-top:62px;">
                     <div class="content1_left">
                         <p class="title11" >可为留学CRM</p>
                         <p class="content11">可为留学CRM，专门为留学移民等服务型企业量身打造的管理工具，秉承“以客户为中心”的管理思想，为留学机构的客户管理带来全面改善,全面提高机构管理水平、服务质量及签约率。</p>
                     </div>
                     <img src="{IMG_PATH}edus/special/ZH_product_big5.jpg" alt="" width="" style="float:right;margin-right:130px;">
                     <div class="clear"></div>
                 </div>    
           </div>
       </div>
       <div class="line"></div>
       <div class="ZH_solution">
           <div class="solution_Tit"></div>
           <div class="solution_Con">
             <p class="solution_conT" style="top:46px; left:688px;">中小学培训解决方案</p>
             <p class="solution_conT" style="top:200px; left:764px;">外语培训解决方案</p>
             <p class="solution_conT" style="top:356px; left:709px;">少儿培训解决方案</p>
             <p class="solution_conT" style="top:356px; left:69px;">职业资格培训解决方案</p>
             <p class="solution_conT" style="top:205px; left:58px;">留学培训解决方案</p>
             <p class="solution_conT" style="top:46px; left:136px;">艺术培训解决方案</p>
           </div>
       </div>   
       <div class="ZH_successful">
         <div class="successful_Title"></div>
         <div class="successful_Con">
              <div class="line_one">
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_XHD.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_BLTX.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_XNH.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_BLXK.png" alt="" width="" height=""></div>
                <div class="img01" style="float:right"><img src="{IMG_PATH}edus/special/ZH_success_RHKJ.png" alt="" width="" height=""></div>
              </div>
               <div class="line_two">
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_HNYG.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_JPJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_GJSS.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_SJWD.png" alt="" width="" height=""></div>
                <div class="img01" style="float:right"><img src="{IMG_PATH}edus/special/ZH_success_HPS.png" alt="" width="" height=""></div>
              </div>
               <div class="line_two">
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_JCJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_YCJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_SYJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_HNWB.png" alt="" width="" height=""></div>
                <div class="img01" style="float:right"><img src="{IMG_PATH}edus/special/ZH_success_QDZY.png" alt="" width="" height=""></div>
              </div>
               <div class="line_two">
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_JHJ.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_ZYJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_ACG.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_YSJY.png" alt="" width="" height=""></div>
                <div class="img01" style="float:right"><img src="{IMG_PATH}edus/special/ZH_successTTJY.png" alt="" width="" height=""></div>
              </div>
              <div class="line_two">
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_TSSW.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_ZHJ.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_HHJY.png" alt="" width="" height=""></div>
                <div class="img01"><img src="{IMG_PATH}edus/special/ZH_success_MAD.png" alt="" width="" height=""></div>
                <div class="img01" style="float:right"><img src="{IMG_PATH}edus/special/ZH_success_JHSD.png" alt="" width="" height=""></div>
              </div>
         </div>          
       </div>           
  </div>        
{template "special","footer"} 
