<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="jhj-banner">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="jhj-banner-btn">点击咨询详情</div></a>
		</div>
		<div class="jhj-block1">
			<div class="m-content">
				<div class="jhj-b1-tit"></div>
				<div class="jhj-b1-con">
					<div class="jhj-b1-right">
						<div class="jhj-br-tit">公司简介</div>
						<p class="item"><font color="#ef5824">公司名称：</font>北京金汉嘉教育咨询有限公司</p>
						<p class="item" style="margin-top:10px;"><font color="#ef5824">所属行业：</font>外语辅导</p>
						<p class="item" style="margin-top:10px;"><font color="#ef5824">公司规模：</font>200-500人</p>
						<p class="item" style="margin-top:10px;"><font color="#ef5824">应用模块：</font>edus一对一教务管理系统、学员管理系统、财务管理、crm客户管理</p>
						<p class="item" style="margin-top:5px;line-height:28px;"><font color="#ef5824">公司介绍：</font>北京金汉嘉教育咨询有限公司，简称金汉嘉英语，成立于2003年，是国内最早从事外教一对一教学的培训机构之一，首创“老外家教”服务品牌，随后将其专业化、市场化、产业化。成立10年多以来，金汉嘉英语凭借着一流的师资队伍、专业的服务团队、先进的教辅系统、独特的教育方法和完善的管理模式，已为全国上万名各行业人士成功提供了英语及其他语种的个性化语言培训，并且为很多知名企业提供了量身定制的英语培训服务。金汉嘉英语拥有良好的行业口碑，成为了社会各界人士及各大企业英语培训的首选，是行业中的知名品牌。2007年被授予北京市最具专业特色教育培训机构和北京市优秀师资力量教育培训机构。</p>
					</div>
				</div>
				
			</div>
		</div>
		<div class="jhj-block2">
			<div class="m-content">
				<div class="jhj-b2-tit"></div>
				<div class="jhj-b2-con">
					<div class="jhj-b2-right">
						<div class="item">
							<span class="tit">01</span>
							<p class="con">各个城市大街小巷培训机构数不胜数，生源竞争日趋激烈，盲目投资于市场宣传，可是收效甚微。面对与日俱增的竞争压力与市场压力，淡旺季招生差异大。</p>
						</div>
						<div class="item" style="margin-top:10px;">
							<span class="tit">02</span>
							<p class="con" style="line-height:84px;">合同管理、学员收费、退费、财务分析难。</p>
						</div>
						<div class="item" style="margin-top:10px;">
							<span class="tit">03</span>
							<p class="con" style="margin-top:5px;">学员分配、预约课时、统计课时、量化排课等繁琐的操作问题很头疼。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="jhj-block3">
			<div class="m-content">
				<div class="jhj-b3-tit"></div>
			</div>
			<div class="jhj-b3-con">
				<div class="jhj-b3-inner">
				      可为时代咨询师根据金汉嘉英语遇到的以上管理问题，设计了以学员管理为核心，招生管理，排课管理，财务管理为重点的解决方案。可促进教务部，市场部，财务部的信息交互流转和沟通协作，其应用将大幅提高教务教学效率，优化管理，大大提高机构竞争力。 
				</div>
				<div class="jhj-b3-ico"></div>
			</div>
			<div class="jhj-b3-subcon">
				<div class="m-content">
					<div class="section1">
						<div class="head-tit"></div>
						<div class="section1-con">
							<div class="line"></div>
							<div class="each">
								<div class="left">01</div>
								<div class="right">可为软件的招生管理模块就是一个CRM客户关系管理系统，学校通过有效的市场宣传活动收集客户信息，将资源合理进行分配，销售人员按客户的重要性快捷筛选，追踪回访，为销售提供无限动力。</div>
							</div>
							<div class="each" style="margin-top:29px;">
								<div class="left" style="z-index:2;position:relative">02</div>
								<div class="right" style="line-height:50px;">记录跟踪回访内容，有针对性的回访提高转化率，市场统计报表帮助分析，自动统计咨询师业绩排名等。</div>
							</div>							
						</div>
					</div>
					<div class="section2">
						<div class="head-tit"></div>
						<div class="section2-con">
							<div class="each">
								<div class="left">报名<br>缴费</div>
								<div class="right">可为edus教务软件在财务管理层面拥有超强的能力，优势突出。报名缴费：收钱—充入课次、时间段—打印票据简单，快速。</div>
							</div>
							<div class="each" style="margin-left:20px;">
								<div class="left">欠费<br>提醒</div>
								<div class="right">上课课时费消费情况自动统计，提前对学员欠费提醒。提醒我们的收费人员，及时对学员进行催费续报下期。</div>
							</div>
							<div class="each" style="margin-top:24px;">
								<div class="left">学费<br>记录</div>
								<div class="right" style="margin-top:25px;">记录每一笔学费收入，按姓名，票据，班级，校区备注等快速查询到交费情况，没有权限不可随意修改，监督管理力度更加严厉。</div>
							</div>
							<div class="each" style="margin-top:24px;margin-left:20px;">
								<div class="left">流水账<br>管理</div>
								<div class="right" style="margin-top:15px;">记录企业每天的支出、收入等资金流动情况，记录企业每天收费、支出、退费三种类型的资金流动情况，对记录的详细信息进行随时查看，可以按照日期段对收费、退费、支出等相关的费用进行查询统计。</div>
							</div>
						</div>
					</div>
					<div class="section3">
						<div class="head-tit"></div>
						<div class="section3-con">
							<div class="each">
								<div class="top">自动排课</div>
								<div class="narrow"></div>
								<div class="con">
									通过可为edus教育培训机构管理软件，各部门之间实现了信息快速传递。教务人员可轻松进行排课并自动生成课程表供教师和学员共同查阅。管理人员还可通过系统进行考勤，统计带班费实现对教师工资绩效的管理。
								</div>
							</div>
							<div class="each" style="margin-left:24px;">
								<div class="top">完善的排课系统</div>
								<div class="narrow"></div>
								<div class="con">
									支持课程表的手工、批量编排，支持教室管理，课程表、授课教师、教室等互相组合，支持冲突检测，自动检测课程表中存在的时间、教室、教师冲突，避免排课错误。
								</div>								
							</div>
							<div class="each" style="margin-left:23px;">
								<div class="top">分配学生预约课时</div>
								<div class="narrow"></div>
								<div class="con">
									分配学生了解学生上课时间，对教师的需求;再看老师剩余课时，均衡老师的任务量;查询老师空闲时间，定位合适老师。
								</div>									
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
		<div class="jhj-block4">
			<div class="m-content">
				<div class="jhj-b4-tit"></div>
				<div class="jhj-b4-con">
					<div class="each1">
						<div class="each1-tit"></div>
						<p class="each1-con">通过可为edus教务系统的实施，实现了金汉嘉培训机构的信息化管理，摒弃了低效落后的手工管理模式，全面实现电子化流程;彻底摆脱了种类繁多的Excel表格。通过系统流程引导各环节员工业务操作，并由系统控制降低出错机率，业务管理更规范、更可控，新员工也更容易上手了。</p>
					</div>
					<div class="each2" style="margin-left:24px;">
						<div class="each2-tit"></div>
						<p class="each1-con">完善的财务管理模块让所有的财务账目、库存清晰明了;强大完善的统计报表，方便管理者查看和对比。领导可以随时随地查看学校的财务信息，对分校的运营、财务状况了如指掌，为分校的管理节省大量的电话、传真、会议等管理费用和人工。</p>
					</div>	
					<div class="each3" style="margin-left:23px;">
						<div class="each3-tit"></div>
						<p class="each1-con">各种营销途径投入产出效果如何，上了edus教务系统后，一眼可见。任一时刻都可看到实时的营销途径所带来的生源分析饼图，数据及时，直观，省事。可以随时分析某段时间各种营销渠道带来多少客户，已成交的学员中，分别来源于哪些营销渠道，再也不用安排每月文员统计了。</p>
					</div>										
				</div>
			</div>
		</div>
		<div class="jhj-block5">
			<div class="m-content">
				<div class="jhj-b5-tit"></div>
				<div class="jhj-b5-con">
					<div class="jhj-b5-pic"></div>
				        EDUS教务系统不仅追求丰富灵活深入的功能，更投入巨大精力改进用户体验，在保持系统先进功能的同时，让用户的操作简单直观，快捷清晰。可为时代售前顾问和新领导层进行了充分的沟通交流，了解学校的战略管控需求，借鉴交流管理经验，根据学校的真实需求制定切合客户本身的教务管控方案。未来企业的竞争，在很大程度上取决于管理的竞争，归根结底是信息的竞争。这就需要开发与应用事前有预测、决策，事中有规划、控制，事后有核算、分析的信息化企业管理系统。相信金汉嘉英语在搭乘可为EDUS教务信息化的快轨后，将更快实现企业管理高效化发展的进程，最终实现华丽的管理转型升级! 
				    <p class="jhj-b5-sub">——北京金汉嘉教育咨询有限公司</p>    
				</div>
			</div>
		</div>
{template "special","footer"} 