<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="zhuoyue-banner">
			<div class="zhuoyue-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="zhuoyue-banner-btn">点击咨询详情</div></a>
			</div>
		</div>
		<div class="zhuoyue-block1">
			<div class="m-content">
				<p class="zhuoyue-b1-tit"></p>
				<div class="zhuoyue-b1-con">
					<div class="left">
						<div class="item1">
							<span class="tit">公司名称：</span><span class="info">北京卓越优才教育科技有限公司</span>
						</div>
						<div class="item2">
							<span class="tit">所属行业：</span><span class="info">中小学辅导</span>
						</div>
						<div class="item3">
							<span class="tit">公司规模：</span><span class="info">500-1000人</span>
						</div>
						<div class="item4">
							<span class="tit">应用模块：</span><span class="info">edus一对多教务管理系统、<br>教务管理、教学管理、crm客户管理</span>
						</div>																
					</div>
					<div class="right">
						<span class="tit">公司介绍：</span>北京优卓越教育科技有限公司，简称优才教育，是北京市培训界30多位名师发起成立的一家高端教育机构，是国内领先的中、小学课外辅导教育机构。优才教育一切以学生为中心，充分发挥其在数学科目方面的优势，以多样化多层次的教学手段，为各类孩子研发最适合的培养模式。数学学习不仅能锻炼学生发现问题、分析问题、解决问题的能力，而且其中涉及的数学方法、数学思想、数学工具还能提高学生学习新知识和新技能的水平。优才教育的名师团队大都通过全国高中数学或物理联赛奖项获得保送北大、清华等顶尖名校的资格，他们自身正是数学思维专业培训的直接受益者。桃李不言下自成蹊，优才教育的老师们用十年光阴帮助3000余名学生完成从优秀到卓越的华丽蜕变。
					</div>
				</div>
			</div>
		</div>
		<div class="zhuoyue-block2">
			<div class="m-content">
				<p class="zhuoyue-b2-tit"></p>
				<div class="zhuoyue-b2-con">
					<div class="item">
						<div class="tit">01</div>
						<div class="con1">如何管控销售跟单，怎么知道销售今天有没有回访客户，信息来了有没有及时回访。</div>
					</div>
					<div class="item" style="margin-left:7px;">
						<div class="tit">02</div>
						<div class="con2">如何把学员分配老师快捷、准确化，如何知道哪个老师的时间最匹配。</div>
					</div>
					<div class="item" style="margin-left:6px;">
						<div class="tit">03</div>
						<div class="con3">如果老师没有清晰的岗位职责和检查，仅靠责任心的管理不堪一击，家长对于学员在机构的培训效果，对机构老师的教学质量不清楚，害怕担忧被糊弄。</div>
					</div>
					<div class="item" style="margin-left:7px;">
						<div class="tit">04</div>
						<div class="con4">市场变化迅速，目前无系统支撑的情况下，很难实现机构盈利，需要强大的系统支撑。</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zhuoyue-block3">
			<div class="m-content">
				<p class="zhuoyue-b3-tit"></p>
				<div class="zhuoyue-b3-contop">
					<div class="inner">
						经过可为时代咨询师与优才教育的沟通，可为时代为优才教育打造了一个集市场、销售、教务教学为一体的企业管理系统，引导优才教育真正走上企业信息管理的国际化之路。
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="zhuoyue-b3-each" style="margin-top:40px;">
					<div class="left">01</div>
					<div class="right">在可为时代为优才教育量身定做的edus教育培训平台上，优才教育可以轻松得知每场活动的市场效应，通过统计报表准确算出投入产出比，并且通过对市场活动的跟踪获得潜在学员，从而进一步开展销售追踪。</div>
				</div>
				<div class="zhuoyue-b3-each" style="margin-top:19px;">
					<div class="left">02</div>
					<div class="right" style="margin-top:-15px;">系统管理销售流程，课程模式，合同管理，销售提醒，帮助销售人员在追踪学员；强大的教务管理可以灵活地设定教师、教室、课程等要素，学员人数达标或开课日期临近时，系统会自动告知相关部门及负责人进行准备，配置相应资源，实施班级运营。系统以学员为工作核心的售前、售中、售后服务的集合，信息有效传递、整合，有效管控，及时创新，帮助优才教育推进信息化管理提升竞争力。</div>
				</div>
				<div class="zhuoyue-b3-each" style="margin-top:19px;">
					<div class="left">03</div>
					<div class="right" style="margin-top:-16px;">培训质量方面，edus系统通过制定学员学习计划，课程管理，学员成绩，学员作业，学员评价，教学回访等方式进行监督。统计每次测试成绩，系统根据学员成绩出统计报表，区分在校成绩和辅导成绩。可以批量导入成绩，可出具成绩数据表(学科成绩统计、走向图、目标成绩与实际成绩数据图)，教学过程、教学成果可发送给家长，解决了家长对教学培训的担忧。</div>
				</div>	
				<div class="zhuoyue-b3-each" style="margin-top:19px;">
					<div class="left">04</div>
					<div class="right">学员分配管理：系统帮助教务进行学员分配，可以联系学生确定上课时间，上课频率，对老师的要求;看老师剩余课时，均衡老师的任务量；查询老师空闲时间，定位合适老师。</div>
				</div>											
			</div>
		</div>
		<div class="zhuoyue-block4">
			<div class="m-content">
				<p class="zhuoyue-b4-tit"></p>
				<div class="zhuoyue-b4-con">
					<div class="each">
						<div class="pic1"></div>
						<div class="sub">系统帮助教务清楚了解任意时段机构内教师空闲的时间段情况，方便学员分配管理，同时，对教学管理有严格的把控，系统有老师备课管理，也就是学员规划，教学日志，学员可以评价老师，作业管理，老师批改结果，监管老师课堂和学员课下，从而把控教学质量。系统省了优才教育机构教务人员很多事，也解决了家长对机构老师教学的不信任问题。</div>
					</div>
					<div class="each" style="margin-left:28px;">
						<div class="pic2"></div>
						<div class="sub">可为教务系统的市场管理助力优才教育对企业举办的各种市场活动做出正确的市场评估，精确算出每场活动的投入产出比。追踪活动获得潜在学员的后续跟进工作，在线进行查询。销售管理的提醒功能，有效地避免了学员的流失。全程跟踪销售流程，及时录入学员信息数据，有针对性地为学员设定教学模式及方案。系统管理报名及入学等事宜，将优才教育真正推上信息化管理的道路。</div>
					</div>
				</div>
			</div>
		</div>
		<div class="zhuoyue-block5">
			<div class="m-content">
				<div class="zhuoyue-b5-tit"></div>
				<div class="zhuoyue-b5-con">
					<div class="zhuoyue-b5-logo"></div>
					优才教育培训机构说到最终与可为时代签订信息化协议时，是欲借助可为edus教务软件，在培训行业的丰富经验、专业技术及成功案例为企业进行全面的信息化布局，加速企业的国际化发展，将企业全力打造成为全国乃至全球的中、小学课外辅导教育机构的佼佼者。使用edus软件之后，我们再也不需要每天去记录老师的考勤和学员的课时计算，学员分配老师，市场营销，教学质量等再也不用担心了，给我们的学校管理提高了许多效率。并且工作人员态度积极认真负责，服务很满意，衷心祝愿可为软件越做越好! 
					<p class="sub">——北京卓越优才教育科技有限公司</p>
				</div>
			</div>
		</div>
{template "special","footer"}