<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
        <div class="banner-top"></div>
        <div class="banner-Bom"></div>
        <div class="bg-content">
        <div class="conference">
            <div class="meeting">
                <div class="meeting-subject"><img src="{IMG_PATH}edus/special/meeting-subject.gif" class="" alt="" title=""/></div>     
           </div>
            <div class="meeting-img1"><img src="{IMG_PATH}edus/special/meeting-img1.gif" class="" alt="" title=""/></div>
            <div class="meeting-right">
                 <p class="right-title">会议主题:</p>
                 <p class="Tit-con">教育培训行业经过了过去十年的“野蛮生长”，呈现出各种参差不齐的现状。如何在优胜劣汰的环境中存活下来甚至发展的更好？如何才能规避行业动荡带来的风险？<br>
2015是教育政策全面调整的一年：争议数年的盈利性身份确定；政府向社会机构购买教育服务开闸；重视素质教育与职业教育发展的东风已到。机遇来临，如何重新审视自己、调整步伐，开创新局面？<br>
可为EDUS培训机构管理系统与您携手郑州春季会议 — 以更先进的管理思想务实基础；从更开阔的视角加速发展；用更有力的武器迎接挑战！</p>
            </div>
        </div>
        <div class="company">
              <div class="company-subject">
                <img src="{IMG_PATH}edus/special/company-subject.gif" class="" alt="" title=""/>
              </div>
             <p class="company-profile">北京可为时代科技有限公司，主营业务EDUS教务系统旨在为教育机构提供专业的一站式教务运营管理系统，为业界公认的最优秀的专注于教育培训机构的解决方案提供商。EDUS系统兼容传统教务管理系统、CRM和ERP的优势，结合国际先进的教育信息化管理理念与国内新航道国际教育集团、百利天下教育集团等国内大型知名培训机构的一线经营管理理念及教学经验，打造全新（现代化）学校教育管理系统，帮助培训机构快速实现市场、销售、客户服务、教学、教务、财务一体化，多校区多部门的多中心管理等业务全面的信息化与一体化，实现教学、教务各环节数据的无缝对接，贯穿学生的整个学习生命周期，科学的规范学校招生和运营流程，提高学校管理的稳定性和效率，大幅度节省运营管理成本，让教育行业信息化管理更轻松，为客户提供最优服务，不断超越客户期望！</p>
             <div class="meeting-imgRight">
                <img src="{IMG_PATH}edus/special/company-img01.jpg" class="" alt="展会图片" title=""/>
                <div class="meetImg-Bottom">参加展会会展中心展示</div>
             </div>
             <div class="meet-imgCenter"><br>可为参加<br>2015年<br>郑州教育<br>会议</div>
             <div class="meet-imgLeft">
                <div class="meetImg-TP">参加展会会展中心</div>
                <img src="{IMG_PATH}edus/special/company-Img03.gif" class="company-Img03" alt="" title=""/>
             </div>
        </div>
        <div class="system">
              <div class="system-subject"><img src="{IMG_PATH}edus/special/system-subject.gif" class="" alt="" title=""/></div>
             <div class="subject-tit">可为EDUS教务管理软件系统支持：</div>
             <img src="{IMG_PATH}edus/special/system-Img01.gif" class="system-img" alt="" title=""/>
             <div class="conrast">
             <div class="systemImg2"><img src="{IMG_PATH}edus/special/system-Img02.gif" class="system-img2" alt="" title=""/></div>
             <p class="contrast-tit">提升管理效益赢取管理红利</p>
             <img src="{IMG_PATH}edus/special/system-Img03.gif" class="contrast-Img01" alt="" title="">
             <img src="{IMG_PATH}edus/special/system-Img04.gif" class="contrast-Img01" alt="" title="">
           
        </div>
       </div> 
        </div> 
        <div class="mobile-app">
       <div class="app-con"> 
           <div class="mobile-subject"><img src="{IMG_PATH}edus/special/mobile-subject.gif" class="mobile-subject" alt="" title=""/></div>
             <div class="mobile-Content">
                 <div class="app-left">
                     <div class="title-one"><p class="title-conOne">1.线索录入、学员选班、预约教师...所有的操作轻松完成，不再受时间和环境的制约，随时随地即可办公，充分利用碎片时间，全面提高工作效率！带来全新办公体验！</p></div>
                     <div class="title-three"><p class="title-conOne">2.家长可通过App及时了解每节课的进度学生的考勤，做教师/课程评价。全面建立教师评价数据，提高机构教学质量！</p></div>
                 </div>
                 <div class="app-center">
                    <img src="{IMG_PATH}edus/special/mobile-Img01.gif" class="" alt="" title=""/>
                 </div>
                <div class="app-right">
                 <div class="title-one" style="background-color:#26a3e8;"><p class="title-conOne">3.全面打通与pc端的数据对接，实时、动态的数据推送服务，完全打开机构内部部门之间信息壁垒，提高机构整体运作能力！</p></div>
                     <div class="title-three" style="background-color:#a273ff;"><p class="title-conOne" style="padding-top:3px;">4.丰富、可视化的数据分析功能，App为企业决策人员提供包括市场、销售、财务、教务等在内的各类数据报表，通过手机即可查看、对比分析，并提供量化分析模型，为企业决策提供精准的依据！</p></div>
                
                </div>
             </div>                   
            </div>        
        </div> 
          <div class="successful" style="margin-top:50px;">
             <div class="successful-subject"><img src="{IMG_PATH}edus/special/successful-subject.gif" class="" alt="" title=""/></div>
             <div class="succ-con" style="margin-top:30px;">
                <img src="{IMG_PATH}edus/special/successful-img01.png"/>
             <img src="{IMG_PATH}edus/special/successful-img02.png" style="margin-left:2px;"/>
             <img src="{IMG_PATH}edus/special/successful-img03.png" style="margin-left:3px;"/>
             <img src="{IMG_PATH}edus/special/successful-img04.png" style="margin-left:3px;"/>
             <img src="{IMG_PATH}edus/special/successful-img05.png" style="margin-left:2px;"/>
              <img src="{IMG_PATH}edus/special/successful-img06.png" style="margin-top:20px;"/>
               <img src="{IMG_PATH}edus/special/successful-img07.png" style="margin-left:2px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img08.png" style="margin-left:3px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img09.png" style="margin-left:3px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img10.png" style="margin-left:2px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img11.png" style="margin-top:20px;"/>
               <img src="{IMG_PATH}edus/special/successful-img12.png" style="margin-left:2px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img13.png" style="margin-left:3px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img14.png" style="margin-left:3px; margin-top:20px;"/>
             <img src="{IMG_PATH}edus/special/successful-img15.png" style="margin-left:2px; margin-top:20px;"/>
             </div>
         </div>
         <div class="industry">
        <div class="industry-con">
         <div class="industry-subject"><img src="{IMG_PATH}edus/special/industry-subject.png" class="" alt="" title=""/></div>
         <div class="ind-con">
             <div class="ind-img1"><img src="{IMG_PATH}edus/special/industry-img01.png" class="" alt="" title=""></div>
             <div class="ind-right"><img src="{IMG_PATH}edus/special/industry-img02.png" class="" alt="" title=""></div>
         </div>
           </div>
         </div>
{template "special","footer"}   
