<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="jc-banner"></div>
		<div class="jc-block1">
			<div class="m-content">
				<p class="jc-b1-tit"></p>
				<div class="jc-b1-con">
					<div class="jc-b1-right">
						<div class="item1">
							<p><font color="#c91d45">公司名称：</font>淄博捷程教育信息咨询有限公司</p>
						</div>
						<div class="item2">
							<p><span><font color="#c91d45">所属行业：</font>中小学辅导</span><span style="margin-left:32px;"><font color="#c91d45">公司规模：</font>200-500人</span></p>
						</div>
						<div class="item3">
							<p><font color="#c91d45">应用模块：</font>edus一对一教务管理系统、学员端系统、财务管理、教师管理</p>
						</div>	
						<div class="item4">
							<p class="tit">公司介绍：</p>
							<p class="con">“以父母情怀，做教育产业”——捷程教育是一家结合了优质教育资源和先进信息技术，专注于中国教育服务领域的高科技教育机构。公司核心管理人员都是国内首屈一指的教育管理专家，拥有丰富的教学管理经验和良好的行业口碑。捷程教育制定实施“以结果为导向，以学生为中心”的服务匹配模式。根据每个学生的需求和喜好,量身定制个性化辅导方案，同时匹配全职的专业辅导小组进行1对1辅导，捷程教育以提高学生的成绩、激发学习兴趣和学生全方位的提高为目标，已经赢得了成千上万家长和学生的信赖。</p>
						</div>					
					</div>
				</div>
			</div>
		</div>
		<div class="jc-block2">
			<div class="m-content">
				<div class="jc-b2-tit"></div>
				<div class="jc-b2-con">
					<div class="each">
						<div class="left">01</div>
						<div class="right">缺少监控机制，校长无法监督工作执行过程，不能保证工作执行后取得预期效果；</div>
					</div>
					<div class="each" style="margin-top:11px;">
						<div class="left">02</div>
						<div class="right">财务信息管理杂乱，数据量大，查询、统计需花费大量时间；</div>
					</div>
					<div class="each" style="margin-top:11px;">
						<div class="left">03</div>
						<div class="right">学校教学管理水平的提高不能完全依赖教师，急需全面改善教学流程；</div>
					</div>	
					<div class="each" style="margin-top:11px;">
						<div class="left">04</div>
						<div class="right">学员的信息众多，查询繁琐，处理流程复杂，掌握学生信息难；</div>
					</div>
					<div class="each" style="margin-top:11px;">
						<div class="left">05</div>
						<div class="right">学校传统的逐级管理模式下，部门之间缺乏沟通，人员职能随之模式化，应变能力差，缺少协同工具来实现跨部门信息对称和反馈。</div>
					</div>														
				</div>
			</div>
		</div>
		<div class="jc-block3">
			<div class="m-content">
				<p class="jc-b3-tit"></p>
				<div class="jc-b3-top">针对捷程教育的管理和教学难点，EDUS教务管理系统融入先进的协同管理理念，运用领先的网络技术，切实有效的解决学校管理中的关键流程，把日常的财务、教务教学、学员等信息在学校、部门、个人之间进行及时高效、全程共享的沟通和处理；关注学生的成长和教师的专业，注重学生和教师的长远发展。全方位、多元化的学员、家长参与评价，促进教师和学员的互动，提高教师教学质量，增强满意度，提升机构竞争力。</div>
				<div class="jc-b3-sub">
					<div class="each">
						<div class="tit">财务管理</div>
						<p>1、针对财务信息管理杂乱难题，可为edus教务拥有强大的财务管理能力，帮助捷程教育机构方便、快捷的抓取各个分校的收费和支出数据，方便汇总，及时化报表统计，提供给校长进行数据决策分析，帮助校长和财务合理分配资金，实现机构利益最大化，降低机构运营风险。</p>
					</div>
					<div class="each" style="margin-left:8px;">
						<div class="tit">教师管理</div>
						<p>2、机构老师如果没有清晰的岗位职责和检查，仅靠责任心的管理不堪一击，这是很多机构都会遇到的问题。可为EDUS教师管理，支持教师、助教档案管理，教师课程表，所带班级学员信息，任课时间段统计，空闲时间段管理，教师授课评估，上课日志管理，高效辅助教师的任课水平，提高机构的教学质量，增强机构的核心竞争力。</p>
					</div>
					<div class="each" style="margin-left:8px;">
						<div class="tit">学员管理</div>
						<p>3、可为edus学员管理系统提供学员基本信息、学员成绩、学员考勤、学员课程表等信息的查看，还可对课程进行预约、评价的操作；学员通过本系统可查看个人信息，机构领导可根据学员评价了解教师授课能力，以提高教学服务质量，家长也可随时查看孩子考勤情况，以掌握孩子的学习动态。捷程再也不怕学员信息查询难了。</p>
					</div>
					<div class="each" style="margin-left:8px;">
						<div class="tit">效率提升</div>
						<p>4、可为edus教务系统涉及教育培训机构在具体应用中的每个模块，各模块的关键管理要素都能通过信息化的手段形成有效的管理，模块与模块之间，通过信息的互通能更紧密的结合，形成完整而全面的规范化管理，提升工作效率，杜绝管理漏洞。再也不会出现部门管理信息孤岛的情况。</p>
					</div>															
				</div>
			</div>
		</div>
		<div class="jc-block4">
			<div class="m-content">
				<div class="jc-b4-tit"></div>
				<div class="jc-b4-con">
					<div class="item1">
						<p class="tit">校长</p>
						<p class="con">系统帮助校长实时了解各部门运作状况，关注重大商机和重要交易，做出准确决策，合理制定公司运营策略，提高营业收入和市场份额，降低营销成本和经营风险，能有效提升新客户获取量和控制客户流失，全面提升企业的经营管理。</p>
					</div>
					<div class="item2">
						<p class="tit">教务</p>
						<p class="con">Edus教务管理系统方便、快捷的抓取各分校的收费和支出数据，汇总提供给校长进行数据分析决策，降低了业务人员、学员与财务人员之间不必要的一些矛盾，实现了财务动态化、准确化、及时化的报表统计。教务人员通过系统轻松记录教师工作量、工作成果、客户反馈，量化考核教师员工，提高员工积极性。</p>						
					</div>	
					<div class="item3">
						<p class="tit">信息化</p>
						<p class="con">系统解决了捷程教育机构学员咨询、学员报读方案、学员报名缴费、欠费学员、学员上课、学员续费情况、学员补课情况，这些信息都存放在不同的Excel表中，很难将一个学员的所有情况关联起来分析。而可为edus教务系统可以导出数据信息进行学员信息化的管理，大大减少了学校管理学生的成本。</p>	
					</div>									
				</div>
			</div>	
		</div>
		<div class="jc-block5">
			<div class="m-content">
				<p class="jc-b5-tit"></p>
				<div class="jc-b5-con">
					<div class="jc-b5-sub">
						<div class="jc-b5-logo"></div>
						捷程教育教务主任指出，对我们来说，产品比较单一的时候依靠人来管理，但随着产品越来越多，依靠人的管理模式已经不能满足需求。从管理角度看，太依靠人也是问题。信息系统的全面上线让我们从依靠人转变为依靠系统、依靠可为，用数字说话就是更可靠。EDUS教务软件结合实际，正常运用框架模式，学员的课时费可以直接在软件上操作完成，签到表终于可以退休了，直接由学员刷卡精确计算，学生家长也可以随时登陆学员系统查看孩子的上课情况，加强家校联系，家长对我们的信心更强啦，非常感谢可为edus教务软件对我们的帮助，希望我们以后常合作！ 
						<span class="jc-b5-word">——淄博捷程教育信息咨询有限公司</span>
					</div>
				</div>
			</div>	
		</div>
{template "special","footer"} 