<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="kuakao-banner">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="kuakao-banner-btn">点击咨询详情</div></a>
		</div>
		<div class="kuakao-block1">
			<div class="m-content">
				<div class="kuakao-b1-tit"></div>
				<div class="kuakao-b1-con">
					<div class="b1-tit"></div>
					<div class="b1-tit-line"></div>
					<div class="clearfix"></div>
					<div class="b1-sub-left">
						<p class="name"><b>公司名称：</b>跨考教育</p>
						<p class="industry"><b>所属行业：</b>考研培训</p>
						<p class="scale"><b>公司规模：</b>300-500人</p>
						<p class="product"><b>应用模块：</b>多校区管理、市场营销、财务管理、<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;排课管理、教师学员考勤、课程管理、<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报表分析；</p>
					</div>
					<div class="b1-sub-right">
						<p class="tit">公司介绍：</p>
						<p class="con">跨考教育，是一家专注于考研、保研等培训领域的教育科技企业。跨考教育在全国创立2大全日制教学基地，10个直营分校，100余个加盟分校，拥有行业顶级的160多位考研全职名师， 200多位择校择专业资深咨询顾问，600余位高素质教学服务保障团队，1500多名考研各界状元的辅导顾问团队，累计服务学员超过50万。跨考教育始终坚持以高端个性化考研辅导为特色，为考生量身定制打造了小班精英辅导(精英计划)、全日制集训辅导(魔鬼集训营)、定向直播辅导(研播网、跨考在线)、教材教辅精品辅导(跨考图书)4大特色辅导体系，其教学产品质量与学员考试通过率均为行业领先水平。公司于2015年3月成功资本化并上市，成为考研行业第一家A股上市公司。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="kuakao-block2">
			<div class="kuakao-b2-tit"></div>
			<div class="section1">
				<div class="m-content">
					<div class="section1-tit"></div>
					<div class="con">
						<div class="each">
							<p class="tit">1、没有数据支持市场费用投入分配</p>
							<p class="con">机构通过线下活动、线上推广获得学员信息，无法计算哪种方式的效益最大，认为统计活动投入产出比费时费力，需要快速、准确的市场报表规划下一步市场活动。</p>
						</div>
						<div class="each" style="margin-left:10px;">
							<p class="tit">2、学员信息无法快速准确分配</p>
							<p class="con">机构传统的线索分配周期长，常造成线索的浪费和丢失，需要能够按条件自动分配或通过专岗进行分配，并且监督销售的跟进回访。</p>
						</div>
						<div class="each" style="margin-left:10px;">
							<p class="tit">3、无法为决策层提供数据分析支撑</p>
							<p class="con">数据量巨大、且分散在不同的部门里，手工整理、统计数据耗时耗力，并且不一定准确，无法为领导提供实时、最新的数据动态。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section2">
				<div class="m-content">
					<div class="section2-tit"></div>
					<div class="con">
						<div class="each">
							<div class="tit">1、销售工作安排紊乱，跟进情况无法全部掌握</div>
							<div class="line"></div>
							<p class="con">销售每天从市场部得到几条、十几条的信息，合理的安排不同学员的跟进频率较难，快速的查到跟进学员的沟通次数、邀请上门试听学员准时提醒、讲座活动邀约安排等都存在问题。</p>
						</div>
						<div class="each" style="margin-left:24px;">
							<div class="tit">2、销售工作交接麻烦，新员工能力提升慢</div>
							<div class="line"></div>
							<p class="con">离职销售人员手中资源怎么快速交接;新入职销售怎么能快速上手，复制优秀销售人员业务能力等。</p>
						</div>
						<div class="each" style="margin-top:20px;">
							<div class="tit">3、销售主管对销售工作无法实时掌握</div>
							<div class="line"></div>
							<p class="con">对于分配给销售的学员线索有没有及时回访？有没有按计划进行跟进？月预期收入能不能合理预估都是存在的问题。</p>
						</div>
						<div class="each" style="margin-top:20px;margin-left:24px;">
							<div class="tit">4、对销售人员的能力分析没有数据支撑</div>
							<div class="line"></div>
							<p class="con">每个销售工作量，工作能力情况没有准确、持续的数据做分析，没法给出有效的指导，销售离职率居高不下，人力成本无法控制。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section3">
				<div class="m-content">
					<div class="section3-tit"></div>
					<div class="con">
						<div class="each">
							<div class="tit">1、收费方式和收费途径众多，无法快速核实收费明细</div>
							<div class="line"></div>
							<p class="con">学生可以通过前台报名缴费、直接交给咨询师、财务室缴费等途径缴费，收费方式也分为现金、刷卡、第三方缴费等，总部无法用人工的方法快速核实收费明细，容易出现资金监管漏洞。</p>
						</div>
						<div class="each" style="margin-top:19px;">
							<div class="tit">2、优惠方式多种多样，优惠金额无法快速准确计算</div>
							<div class="line"></div>
							<p class="con">不同校区不同来源渠道的学员可能有不同的优惠政策，怎么保证收费是按照正确的优惠条件给予优惠？不符合优惠条件的学员怎么控制优惠漏洞，特殊优惠学员怎么进行审批？</p>
						</div>
						<div class="each" style="margin-top:19px;">
							<div class="tit">3、退费流程繁琐引起投诉率过高、间接影响企业口碑</div>
							<div class="line"></div>
							<p class="con">学员退费时需要各级主管的签字，需要计算剩余课时金额、扣除当时的优惠费用，计算公式复杂，退费原因统计困难，严重影响各部门的工作效率和服务质量。</p>
						</div>
					</div>
				</div>
			</div>
			<div class="section4">
				<div class="m-content">
					<div class="section4-tit"></div>
					<div class="con">
						<div class="each">
							<div class="head head-left">
								<p class="con">一对一管理</p>
							</div>
							<p class="subcon">学员无法全面掌握老师的时间表，约课困难，学员不清楚老师的空闲时间，导致每次预约课程都被其他人提前预约，需要软件提供老师的空闲时间表，供学生预约课程；课时消耗记录统计不准确，排课和调课无法有效的通知学员，无法实现信息的共享和统计，出现家校纠纷。</p>
						</div>
						<div class="each" style="margin-left:24px;">
							<div class="head head-right">
								<p class="con">一对多管理</p>
							</div>
							<p class="subcon">排课没有科学的方法，导致老师的利用率不高；排课需要实时了解教室的空闲时间，合理安排授课场地；老师手工记录的课时数据和教务的统计有偏差，授课老师临时有事时需要调课，无法及时通知排课人员。助教人员不能及时的与家长进行沟通，家长也无法及时了解学生在学校的情况；手工的考勤管理常出现错误，补课管理混乱、课时计算麻烦。</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="kuakao-block3">
			<div class="m-content">
				<div class="kuakao-b3-tit"></div>
				<div class="kuakao-b3-con">
					<div class="item">
						<div class="tit">
							<div class="number">1.</div>
							<div class="word">建立集成统一的信息共享平台，提高工作效率和信息沟通</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								帮助机构建立包括市场、销售、教务、财务、教学、考勤、排课等为一体的信息化共享平台，打通各业务部门的信息交流壁垒，提高员工工作效率，提升机构业务运作水平。并提供持久优化和完善的解决方案，着眼企业未来信息规划与业务发展。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">2.</div>
							<div class="word">提供集团对分子机构、校区的统一管理</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								在集团运营管理中，总部可以轻松掌握各机构、校区的经营状况，辅助各分校精细化管理、高效能作业，达到财务、业务一体化的集团管控，并做到合理分配、调度资源，总部有效协调提升子机构的业务能力。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">3.</div>
							<div class="word">实现市场成本精准投放</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								通过市场活动线索来源渠道数据生成多维度报表分析，达到市场活动成本控制和准确投放。通过视图报表能够清晰的看到各类市场活动项目投入了多少物力、人力，获得了多少线索，投入产出比一目了然。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">4.</div>
							<div class="word">销售过程精细化管控</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								系统化的跟进过程管理，帮助销售人员有效计划、安排工作，每个阶段的跟进任务、沟通记录通过系统进行管理，系统数据汇总报表为销售主管提供各销售员的实时数据报表，帮助管理层把控销售过程， 促进成单率。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">5.</div>
							<div class="word">以集团全局的视角构建财务管理体系</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								不仅可支持各个校区正常财务收费流程，也可支持定金、欠缴、申请降价、减免、退费等特殊情况的处理。对于欠费学员，系统提供了相应管理控制机制，确保及时收回欠款。系统支持总部统一制定产品优惠标准。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">6.</div>
							<div class="word">智能排课引擎有效提升排课效率和准确率</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								排课系统支持智能化合理有序的安排过滤教师、教室、学员资源，支持教师、助教档案管理，教师课程表、所带班级学员信息关联查询，任课时间段统计，空闲时间段管理，实现教学资源利用效率最大化。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">7.</div>
							<div class="word">提供管理人员、学员、教师交流互动</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								支持学员通过学员端系统或学员APP随时随地对学员基本信息、学员成绩、学员考勤、学员课程、教程回访等信息的查看，还可对课程进行预约、评价等操作。教师、教务人员也可查看、解答学生提交的信息，有效促进多方位的沟通。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">8.</div>
							<div class="word">支持多校区多业务模式管理</div>
						</div>
						<div class="sub">
							<div class="line"></div>
							<div class="con">
								针对一对一、一对多教学模式提供不同业务流程，分支机构、校区用户权限划分，不同业务模式的分校区在总部的管理下统一进行资源调度。
							</div>
						</div>
					</div>
					<div class="item">
						<div class="tit">
							<div class="number">9.</div>
							<div class="word">提供自定义报表分析</div>
						</div>
						<div class="sub" style="height:151px;">
							<div class="line" style="height:151px;"></div>
							<div class="con">
								支持灵活、可操作的客户自定义的报表功能，根据自身管理需求定义出具有独特管理思想的数据报表。市场、销售、财务、运营报表灵活定制，并支持不同的视图展现形式，为企业提供独有的数据分析体系。
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="kuakao-block4">
			<div class="m-content">
				<div class="kuakao-b4-tit"></div>
				<div class="con">
					<div class="each">
						<div class="pic1"></div>
						<p class="tit">招生管理收益</p>
						<p class="con">通过可为erp管理系统能够清晰的看到哪种市场手段、哪一次市场活动带来的收益效果最好，为机构决策层提供了准确的数据分析报表，使用系统后，机构的平均费用降低了38%左右，同时通过系统的线索分配策略，分配效率大大的提升，通过实用中验证，线索学员转化率提升60%以上。</p>
					</div>
					<div class="each" style="margin-left:10px;">
						<div class="pic2"></div>
						<p class="tit">财务管理收益</p>
						<p class="con">校长能够实时掌握总部及分支机构费用以及盈利和支出的费用，有效降低运营风险，实现资金效益最大化；帮助教务人员明确详细的收入和支出数据，提升了业务运转效率，降低了业务人员与财务人员之间不必要的矛盾，实现了财务动态化、准确化、及时化报表统计；提高了前台出纳人员收费的规范性，避免了收费人员与家长在财务方面的纠纷。</p>
					</div>
					<div class="each" style="margin-left:10px;">
						<div class="pic3"></div>
						<p class="tit">教务管理收益</p>
						<p class="con">通过可视化排课流程，大大缩短了排课周期，提高了排课准确性和教务人员管理水平；快速实现了教师的工作量统计，任课时间统计、教室资源管理、教师授课评估、上课日志管理等等，有助提高授课水平，提升机构教学质量；提供教师和学员周、月、日的日常考勤管理，通过系统考勤，统计带班费实现对教师工资绩效的管理。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="kuakao-block5">
			<div class="m-content">
				<div class="kuakao-b5-tit"></div>
				<div class="kuakao-b5-con">
					<div class="b5-logo"></div>
					<div class="b5-con">
						跨考教育校长谈与可为的合作：“可为erp系统是我见过管理最全面的系统，通过多次的了解和深入使用后，越发觉得系统所传达的管理思想很受用，很贴合我们的业务，很好的解决了我们现存的问题。同时实施服务流程非常规范，服务工程师也很专业、技术很到位。”
						<p class="b5-con-sub">——跨考教育</p>
					</div>
				</div>
			</div>
		</div>
{template "special","footer"} 