<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="wb-banner">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="wb-banner-btn">点击咨询详情</div></a>
		</div>
		<div class="wb-block1">
			<div class="m-content">
				<div class="wb-b1-tit"></div>
				<div class="wb-b1-con">
					<div class="wb-b1-left">
						<p class="wb-b1-item1"><font color="#ef5824">公司名称：</font>河南万邦教育科技有限公司</p>
						<p class="wb-b1-item2"><font color="#ef5824">所属行业：</font>K12全科培训</p>
						<p class="wb-b1-item3"><font color="#ef5824">公司规模：</font>100人以上</p>
						<p class="wb-b1-item4"><font color="#ef5824">应用模块：</font>招生；销售；财务；教务一对一；一对多管理；刷卡考勤；家校互通。</p>
						<p class="wb-b1-item5"><font color="#ef5824">公司介绍：</font>河南万邦教育科技有限公司于2014年4月9日在安阳工商局登记注册，业务经理是韩永峰，办公地址位于有3300多年的建城史，500年建都史，是甲骨文的故乡--安阳，安阳市北关区灯塔路654号三楼，较好的产品和专业的销售和技术团队，在公司发展壮大的2年里，为客户提供最好的产品、良好的技术支持、健全的售后服务，河南万邦教育科技有限公司先后在安阳，南阳，郑州等地建立起自营的教育培训中心。主要业务是K12全科的一对一培训和个性化小班，从招生到报名收费，分班排课，老师备课上课刷卡制卡考勤全业务链条都采用了可为EDUS教务管理系统。 </p>
					</div>
				</div>
			</div>
		</div>
		<div class="wb-block2">
			<div class="m-content">
				<div class="wb-b2-tit"></div>
				<div class="wb-b2-top">户主要业务在一对一上，但也有个性化小班，从招生到报名收费，分班排课，老师备课上课刷卡制卡考勤都需要用系统管理，但是他们的校区不大，没有在岗位上分的那么清楚，前台接待一个人要从学员信息录入收钱分班排课全部搞定，这是一些中小培训机构的共同的需求。要求系统不仅要有标准化的流程而且要兼顾灵活性应用的业务场景。</div>
				<div class="wb-b2-center">
					<div class="wb-b2-center-pic"></div>
					<p class="wb-b2-center-text">万邦教育业务总流程</p>
				</div>
				<div class="wb-b2-bottom">
					<div class="wb-b2-bottom-con">
						<div class="item1">
							<p class="tit">市场部</p>
							<p class="con">系统需要通过学员信息来源过滤信息，学员不用必须分配电话顾问，可以直接分配给销售顾问和校区，校区经理再分配给销售顾问，市场人员只是录入和导入线索，销售经理分配电话顾问或者校区和课程顾问。</p>
						</div>
						<div class="item2">
							<p class="tit">销售部</p>
							<p class="con">系统需解决如何给学员转校区功能，如何把学员分配老师快捷、准确化，如何知道哪个老师的时间最匹配如何管控销售跟单，怎么知道销售今天有没有回访客户，信息来了有没有及时回访。同时，需详细记录学员的基本信息。</p>
						</div>	
						<div class="item3">
							<p class="tit">财务部</p>
							<p class="con">财务信息管理杂乱，数据量大，查询、统计需花费大量时间；学员订单收费紊乱，订单状态难以确定，管理无法周密进行，财务人员统计整合工作量大，容易出错。</p>
						</div>	
						<div class="item4">
							<p class="tit">教务部</p>
							<p class="con">支持课程表的手工、批量编排，支持教室管理，课程表、授课教师、教室等互相组合，支持冲突检测，自动检测课程表中存在的时间、教室、教师冲突，避免排课错误。系统需记录学员考勤并记录请假原因！</p>
						</div>
						<div class="item5">
							<p class="tit">教学部</p>
							<p class="con">分配学生了解学生上课时间，以及老师和学员的课时消耗；看老师剩余课时，均衡老师的任务量；方便财务人员统计结算，查询老师空闲时间，定位合适老师。同时，需要完成一对一和班课时间段学员的课时统计！</p>
						</div>																								
					</div>
					<p class="wb-b2-center-text">企业管理难点分析</p>
				</div>
			</div>
		</div>
		<div class="wb-block3">
			<div class="m-content">
				<div class="wb-b3-tit"></div>
				<div class="wb-b3-top">
					<div class="wb-b3-top-pic"></div>
				</div>
				<div class="wb-b3-item1">
					<div class="conL each">
						<p class="tit">市场部门</p>
						<p class="con" style="margin-top:20px;">在系统数据字典里设置学员来源渠道分类，查询的时候可以按照学生的来源渠道进行过滤查询，学员分配流程，根据客户的需求，可以设置多个分配流程，可以按校区或者角色进行分配。</p>
						<p class="con"> 市场部可以根据业务角色权限，可以批量导入线索客户，设置判断条件，电话顾问邀约上门的一定是课程顾问跟踪，记录线索学员的跟进记录。</p>
					</div>
				</div>
				<div class="wb-b3-line"></div>
				<div class="wb-b3-item2">
					<div class="conR each">
						<p class="tit" style="margin-top:10px;">销售部</p>
						<p class="con" style="margin-top:20px;">系统里可以设置学员转校，软件过滤能实现一次性多选，或者单选，具体可以设置按照不同角色和权限的人员进行操作。</p>
						<p class="con"> 系统里暂存金额栏目，可以在后台设置成客户需要的模块名称，电子账户，销售下订单，跟进客户的需求显示客户需要的字段名称，系统收完费之后自动显示订单状态，潜在学员可以绑定课程和乐器进行销售，在订单类型里，可以添加乐器销售。</p>
					</div>					
				</div>
				<div class="wb-b3-line" style="margin-top:46px;"></div>
				<div class="wb-b3-item3">
					<div class="conL each">
						<p class="tit" style="margin-top:31px;">财务管理</p>
						<p class="con" style="margin-top:20px; text-indent:0;">财务收费，系统可以设置查询，按日期查看学员收费情况明细列表，按照客户的需求可以设置金额汇总报表，包括收完款后，可以查看到订单的状态情况，系统可以设置学员上次头像，可以看到学员的图片。</p>
					</div>
				</div>
				<div class="wb-b3-line" style="margin-top:49px;"></div>	
				<div class="wb-b3-item4">
					<div class="conR each">
						<p class="tit" style="margin-top:60px;">教务管理</p>
						<p class="con" style="margin-top:20px;text-indent:0;">通过系统考勤处理，系统能随时统计学员和老师的课时消耗情况，按部门和角色去划分，哪些人能查看的权限，报表可以日期，课程类型，统计每个学员的课时统计报表，针对乐器销售人员，可以选择老师进行销售，最后统计老师的乐器销售量。</p>
					</div>					
				</div>							
			</div>
		</div>
		<div class="wb-block4">
			<div class="m-content">
				<div class="wb-b4-tit"></div>
				<div class="wb-b4-con">
					<div class="item1">
						<div class="sub">
							<p>能够有效的管理市场招生和销售情况，有效的管理客户信息，提高客户的满意度。能够有效的分析市场数据，提高招生率。</p>
						</div>
					</div>
					<div class="item2">
						<div class="sub">
							<p>总部随时能够了解各校区的收费情况，费用明细，提高财务监管，减少收费过程中遇到的财务风险，为企业财务预算战略提供有效的数据分析。</p>
						</div>
					</div>
					<div class="item3">
						<div class="sub">
							<p>教务人员能够合理的分配老师的时间，统计老师的课时，最大化的利用老师的时间，提高机构的资源最大化，随时统计学员的课时统计，学员课时提醒，提高学员的满意度。</p>
						</div>
					</div>										
				</div>
			</div>
		</div>
		<div class="wb-block5">
			<div class="m-content">
				<div class="wb-b5-tit"></div>
				<div class="wb-b5-con">
					<div class="wb-b5-logo"></div>
					通过近两年应用可为EDUS教务系统，规范了我们机构的管理流程，增加了总校对分校的垂直管理力度。同时也减少和我们很多部门的统计分析的工作量，感谢可为专业的实施和服务团队的服务。预期在未来的合作中实现共赢发展。
					<p class="wb-b5-link">——河南万邦教育科技有限公司</p>
				</div>
			</div>
		</div>
{template "special","footer"}