<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="mad-banner">
			<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank">
				<div class="mad-banner-btn">点击咨询详情</div>
			</a>
		</div>
		<div class="mad-block1">
			<div class="m-content">
				<p class="mad-b1-tit"></p>
				<div class="mad-b1-con">
					<div class="each1"></div>
					<div class="each2">
						<p class="item"><font color="#ffae00"><strong>公司名称：</strong></font>曼安迪（北京）国际教育咨询有限公司</p>
						<p class="item" style="margin-top:12px;"><font color="#ffae00"><strong>所属行业：</strong></font>艺术培训</p>
						<p class="item" style="margin-top:12px;"><font color="#ffae00"><strong>公司规模：</strong></font>500-1000人</p>
						<p class="item" style="margin-top:12px;"><font color="#ffae00"><strong>应用模块：</strong></font>edus教务管理系统、学员端系统、教学管理、决策分析管理</p>
						<p class="item-con" style="margin-top:5px;"><font color="#ffae00"><strong>公司简介：</strong></font>曼安迪国际艺术中心(M&D)成立于2011年，在北京共设立三家分支教学机构，立足朝阳区、昌平区、海淀区。曼安迪选用国内最专业的艺术课程，为3-16岁的少年儿童提供舞蹈、音乐、国学、钢琴、演讲等专业的进阶教育培训。曼安迪的核心课程主要有：国标、声乐（美声、民族、通俗、童声合唱团）、国学小书院、钢琴、演讲。教师均拥有丰富的海内外、电视台、比赛交流的演出经验，及对少儿心理的指导经验。教学管理模式先进，推出培训教育新概念，让孩子将艺术教育、素质教育融为一体，课程体系化，教学可视化，管理规范化，将教育综合化。让我们曼安迪助推花朵走向他们曼妙、多彩、绽放的人生，承载孩子们的艺术梦想，搭乘坚强的翅膀，尽情的翱翔！</p>
					</div>
					<div class="each3"></div>
				</div>
			</div>
		</div>
		<div class="mad-block2">
			<div class="m-content">
				<p class="mad-b2-tit"></p>
				<div class="mad-b2-con">
					<div class="each" style="margin-left:-24px;"><p class="con">数据统计不及时，无法对内部经营管理和外部市场动作发生的变化作出及时的判断。</p>
					</div>
					<div class="each" style="margin-left:8px;"><p class="con">市场形势复杂多变，管理系统不能快速实施，跟不上节奏</p>	
					</div>
					<div class="each" style="margin-left:8px;"><p class="con">学员及家长不能了解培训效果，无法了解学员的成长历程</p>
					</div>
					<div class="each" style="margin-left:8px;"><p class="con">学员服务品牌形象难以规范，学员流失率极高</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mad-block3">
			<div class="m-content">
				<p class="mad-b3-tit"></p>
				<div class="mad-b3-con">
					<div class="tops">通过提高学员管理效率，管理流程标准化，实时获取多层级决策分析数据，构建高效的功能平台等方面来解决曼安迪国际艺术中心问题，提高行业间的竞争力，360度满足企业不同发展阶段的需求。</div>
					<p class="tit1">学员管理</p>
					<div class="con1">根据条件将学员信息分配到相应部门人员，提高团队协作效率；记录补充学员信息，学员信息备档，保证学员资料的完整性；对付费学员的课程安排，考勤、扣费；学员可以灵活转班、插班、休学、退学、自动续班等，灵活变更相应课程及管理方式。</div>
					<p class="tit2">教学管理</p>
					<div class="con2">记录班级详情，排课信息，关联所有班级学员。所有书籍，日常班级考勤；课程管理，记录教师上课明细；学员教师评价，教师给家长反馈信息。让家长及时了解培训效果，关注孩子成长历程。</div>
					<p class="tit3">智能决策分析</p>
					<div class="con3">学员来源分析，统计分析每项市场活动价值；班级学员结构分析，为课程研发提供重要信息；分析教师上课质量，合理安排学员课程；统计学员人数，合理安排机构资源。转化率、续费率、插班、流失、财务对比等各项数据自动生成各种样式报表，按需索取，再也不用因担心数据统计不及时而出现的管理漏洞。</div>
				</div>
			</div>
		</div>
		<div class="mad-block4">
			<div class="m-content">
				<p class="mad-b4-tit"></p>
				<div class="mad-b4-con">
					<div class="each">
						<div class="left">学员、家长</div>
						<div class="right" style="line-height:68px;">学员可查看个人信息，预约、评价课程，家长可随时查看孩子培训情况，以掌握孩子的学习动态。</div>
					</div>
					<div class="each" style="margin-top:17px;">
						<div class="left">机构领导</div>
						<div class="right" style="line-height:27px;margin-top:9px;">系统帮助管理层智能分析，掌控全局，实时数据，科学决策。合理制定公司运营策略，全面提升企业的经营管理。领导也可根据学员评价了解教师授课能力，提高教学服务质量，提升学员满意度，提升机构竞争力。</div>
					</div>	
					<div class="each" style="margin-top:17px;">
						<div class="left">授课教师</div>
						<div class="right" style="line-height:68px;">制定学员学习计划，布置作业，在系统中实现与学员的互动。系统帮助教师快速反馈，解决问题，提高服务满意度。</div>
					</div>									
				</div>
			</div>
		</div>
		<div class="mad-block5">
			<div class="m-content">
				<p class="mad-b5-tit"></p>
				<div class="mad-b5-con">
					“系统很好，很多功能都是我们必须的”，曼安迪（北京）国际教育学校评价如是说。可为EDUS教务管理系统，操作简单易用，不但方便了学校、教育主管、教师与家长的沟通交流，而且降低了学校教师的工作量，提高了工作效率；改善学校的管理体系，优化管理流程，降低教育成本，最大限度地开发了利用现有的教育资源，促进了学校的信息化建设。工作人员的服务也很到位，每次都能及时响应和解决我们的问题，为我们机构的良好发展做出了及时的贡献，感谢你们！ 
					<p class="sub">——曼安迪（北京）国际教育咨询有限公司</p>
					<div class="mad-b5-logo"></div>
				</div>
			</div>
		</div>
	{template "special","footer"}