<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
        <div class="renhe-banner">
              <div class="banner-top"></div>
              <div class="banner-bottom"></div>
        </div>
        <div class="renhe-content">
            <div class="renhe-introduction">
                <p class="renhe-introduction-T"><b>公司名称：</b>武汉荣昌仁和会计咨询服务有限公司
                <br><b>所属行业：</b>资格认证培训<br><b>公司规模：</b>1000-2000人<br><b>应用模块：</b>多校区平台、考勤、学员端、CRM
                </p>
             </div>
            <div class="renhe-company">
                <div class="renhe-company-img"><img src="{IMG_PATH}edus/special/Img-one-left.jpg" class="" alt="" title=""/></div>
                <div class="renhe-company-T">
                <p class="renhe-company-article">      逾十年来，仁和会计教育一直坚持“诚信办学，严谨治校”，努力打造行业品质，建立资深名师团队，实施社会服务。仁和会计拥有专职讲师团队500余人，还特邀众多中国顶级会计权威名师，组成强大的教学教研团队。团队成员均拥有高级讲师、注册会计师、注册税务师、注册资产评估师等高级职称，有着丰富的真帐实战 大型财团及一线教学的经验。仁和会计设置的课程，既有针对会计资格类的会计从业资格证，初、中级职称考前培训；又有满足不同学员层次的会计实际操作、财务电算化培训；还有根据企业需求，为企业量身打造的成本核算、财务管理、税收筹划等财务管控高端课程。</p>
                
                </div>
            </div>
            <div class="renhe-Administration-title"></div>
            <div class="renhe-Administration-content">
                 <div class="Administration-cont1">
                     <p class="cont1">1、市场招生跟进：</p>
                    <p class="cont2">接听众多咨询电话、接待上门客户，很忙却难以把控客户；不清楚经手的客户后续分配给了谁，跟进结果如何；每个月底都需要编制大量的报表，上报给领导，不允许出错，压力巨大。</p>
                 </div>
                 <div class="Administration-cont2">
                        <img src="{IMG_PATH}edus/special/Img-question-1.jpg" class="" alt="" title=""/>
                 </div>
                  <div class="Administration-cont3">
                     <p class="cont1">2、教务管理：</p>
                    <p class="cont3">市场竞争激烈，无法第一时间清晰的了解市场动态，及时调整产品竞争策略，包括课程体系及产品价格的定义；班级、学员、授课老师太多，排课需考虑因素复杂，很难排出科学合理的课表；对授课老师的业绩及工资的核算、能力考核，工作量巨大，且容易出错；优惠申请材料多，流程复杂；收费、退费、学生换课、课时记录难；月底报表统计不及时，不准确的。</p>
                 </div>
                 <div class="clear"></div>
                 <div class="Administration-cont4">
                        <img src="{IMG_PATH}edus/special/Img-question-2.jpg" class="" alt="" title=""/>
                 </div>
                 <div class="Administration-cont5">
                     <p class="cont1">3、考勤管理：</p>
                    <p class="cont4">学员的考勤管理关系到收费以及后续的学习进度安排，需要严谨缜密的统计，上课教师的考勤状况同样重要，需要通过考勤核算工资，绩效等。但是靠手工的统计，不仅工作量太大，切易出错。</p>
                 </div>
                  <div class="Administration-cont6">
                        <img src="{IMG_PATH}edus/special/Img-question-three.jpg" class="" alt="" title=""/>
                 </div>
                 <div class="clear"></div>
                 <div class="Administration-cont7">
                     <p class="cont1">4、学员端管理：</p>
                    <p class="cont4">学员需要一个平台可以随时查询自己的机构培训的状况，如课表，剩余课时，作业，以及进行在线的教学交流 。</p>
               </div>
               <div class="Administration-cont8">
                        <img src="{IMG_PATH}edus/special/Img-question-four.jpg" class="" alt="" title=""/>
                 </div>
               <div class="Administration-cont9">
                     <p class="cont1">5、多校区管理：</p>
                    <p class="cont5">培训机构越做越大，一家家分校的设立鼓舞人心，但是问题接踵而至，这么多校区，如何实现统一管理，如何随时了解各个校区的经营状况，现在粗放式的管理是满足不了领导层管理需求的。</p>
               </div>
            </div>
            <div class="renhe-Plan-title"></div>
        </div>
        <div class="renhe-fangan-bg">
        <div class="renhe-fangan-content">
              <p class="fangan-cont1"><b>北京可为时代科技有限公司咨询顾问屈庚从业务角度出发，非常专业的对仁和教育的业务管理做了分析。在我国教育培训行业快速发展的大环境下，管理粗放、信息环节薄弱、决策依据不充分已经成为发展的主要障碍之一。哪里有需求哪里就会有系统，为了实现最优化管理目标，有效进行教务教学管理、财务管理等核心的管理，运用edus教务管理系统真正让系统与公司的业务并行运行，实现企业的信息化管理，已经势在必行。</b></p>
              <div class="fangan-educational-Tit">
              <p class="fangan-edu-tit"><b>及时调整产品竞争策略，第一时间了解最新行业动态。能够合理有序的安排教师、教室、学员资源，统筹时间和计划，实现教学
资源利用效率最大化。</b></p>
              </div>
              <div class="edu-con">
                   <div class="edu-con-left">
                      <div class="left-con1"><b>教师管理</b></div>
                      <div class="left-con2">可为EDUS支持教室档案管理，教室占用列表统计，教室时段设置，合<br>理安排教室的使用资源，保障教室资源利用率最大化。</div>
                      <div class="clear"></div>
                      <div class="left-con3"><b>教材管理</b></div>
                      <div class="left-con4">可为EDUS支持建立教材资料库，详细列示教材明细，快速统计教材销售情况，学员购买、库存情况。更好的辅助机构掌握动态教材管理。</div>
                      <div class="clear"></div>
                       <div class="left-con3"><b>补课管理</b></div>
                      <div class="left-con4">可为EDUS支持学员补课管理，包括学员补课、学院分配管理、学员预约等。</div>
                      <div class="clear"></div>
                      <div class="left-con3"><b>进度列表</b></div>
                      <div class="left-con4">可为EDUS支持进度列表管理，实时记录班级课程进度情况，系统可随时查看班级是否正常上课。</div>
                      <div class="clear"></div>
                       <div class="left-con3"><b>学员选班</b></div>
                      <div class="left-con4">学员选班管理是对所有学员进行选班、退班、转班等功能的操作模块；帮助老师准确提高学员分班效率。</div>
                      <div class="clear"></div>
                      <div class="left-con3"><b>班级管理</b></div>
                      <div class="left-con4">主要是对班级信息的管理，客户可建立对应班级，制定班级课程，设定班级招生人数限制。</div>
                      <div class="clear"></div>
                   </div>
                   <div class="edu-con-right"><img src="{IMG_PATH}edus/special/edu-rightImg.png" class="" alt="" title=""/></div>
                   <div class="clear"></div>
              </div>
              <div class="course-Adminstration-Tit">
              </div>
              <div class="course-cont">
                    <p class="course-cont1">支持可视化排课流程，拖拽式操作对课程表中所有课程快速调整，大大缩短了排课周期，提高排课准确性，提高了教务人员管理效率，通过系统合理安排教师资源，教室资源，支持教师课时统计、空闲度统计，老师课表，学生课表，教室课表，班级课表查看，让课程管理和日常排课清晰有序。</p>
                    <p class="course-cont2">EDUS教务系统支持针对于不同校区，不同专业，不同班级课程进行开班管理，根据课程的性质将班级设为一对一小班管理或者一对多大班教学方式。然后将一对一和一对多分别进行管控。</p>
                    <p class="course-cont3">体统支持机构根据实际情况，制定自己的优惠标准，包括常规课程优惠、产品套餐优惠、赠课时优惠、针对学员特殊申请优惠、以及预留自定义优惠，实现全方位优惠管理；结合教育机构特性，优惠时定金、食宿费、教材费、综合性费用不可优惠，只针对学费、活动费优惠，系统实现自动区分，并且能够灵活设置。</p>
                    <p class="course-cont4">好用的培训机构收费系统让课时收费管理简单轻松，机构总部制定收费标准，实现整体管控各个分校的收费，学员报名后和学员签订合同，前台收银员可以根据机构制定的收费标准和优惠标准进行相关的收费业务并打印收据。</p>
              </div>
              <div class="Area-Administration-Tit">
              </div>
              <div class="Area-One">
              <p class="Area-one-tit"><b>区域管理列表</b></p>
              <p class="Area-one-con">EDUS教务系统用户可在此定义企业内部组织机构，根据企业的内部结构进而设定企业内部的管理级别。可以清楚了解集团下属的分支机构情况，以及每个地域的分支机构的特点。可以不断梳理企业管理流程和架构，梳理每个流程是否合理，帮助企业高效管理，支持企业集团化发展架构。</p>
              </div>
               <div class="Area-Two">
              <p class="Area-one-tit"><b>部门管理</b></p>
              <p class="Area-one-con">EDUS教务系统管理人员可以根据企业的需求设定企业内部的部门，并可对部门进行分级管理。方便查看每个部门人员的管理情况。系统内可以对企业内部的部门灵活变更。</p>
              </div>
               <div class="Area-Three">
              <p class="Area-one-tit"><b>校区管理</b></p>
              <p class="Area-one-con">EDUS教务系统支持多个分校或教学区，总部可更快捷更有力的监管各分部、分校，学员档案、财务信息、教学情况等。校区管理很好的权限化分管理。既保证总部可以随时掌控分校区的运营状况，也可以自己独立运营。</p>
              </div>
               <div class="Area-Four">
              <p class="Area-one-tit"><b>业务模式管理</b></p>
              <p class="Area-one-con">系统对外集成其它业务系统，应用系统集成功能使教务系统与其它业务系统各个数据可以相互关联，相互传递，减少了人工干预，从而减少了出错率，提高了工作效率。</p>
              </div>
               <div class="Area-Five">
              <p class="Area-one-tit"><b>教室管理</b></p>
              <p class="Area-one-con">系统支持教室管理，可以系统化管理教室，清晰明了的查看教室列表，具体教室的使用情况，何时有课，何时空闲，便于企业合理的使用教室资源。</p>
              </div>
              <div class="Area-Six">
              <p class="Area-one-tit"><b>角色管理</b></p>
              <p class="Area-one-con">用户可以通过选择角色来快速地为同一类型的人员设置权限，便于管理，简化操作。不同校区可以自定义设置人员的相关行政角色。</p>
              </div>
              <div class="Area-Seven">
              <p class="Area-one-tit"><b>人员管理</b></p>
              <p class="Area-one-con">按照系统流程和不同部门角色来管理，不同所属机构，总部、部门、分校来划分管理，每个员工档案信息和级别角色相关联，对不同员工角色有不同权限划分，让企业内部员工管理实现级别和角色管理，每个员工等于有一个个人成长档案，让员工管理时，不再级别、岗位、权限混乱。</p>
              </div>
               <div class="CRM-Administration-Tit"></div>
               <div class="CRM-Administration-Con">
               <div class="left">
                      <div class="CRM-Con1">
                         <div class="CRM-Area-icon1"> <img src="{IMG_PATH}edus/special/Area-icon1.png" class="" alt="" title=""/></div>
                          <p class="CRM-tit1">营销计划管理</p>
                           <p class="Content1">系统根据企业业务运营的不同阶段帮助制定不同的市场活动计划；按照计划进行预算的规划以及人员调配、物料调配，完成对市场活动的把控；支持对计划唯独的自定义设计。</p>
                       </div>
                      <div class="CRM-Con2">
                         <div class="CRM-Area-icon1"> <img src="{IMG_PATH}edus/special/Area-icon2.png" class="" alt="" title=""/></div>
                          <p class="CRM-tit1">市场活动管理</p>
                           <p class="Content1">通过区分不同的营销学员对象来规划网络推广营销和地推营销的层次；通过学员线索和商机的获取数量及质量来定义营销活动的成功指标，并评估营销效率。</p>
                       </div>
                       <div class="clesr"></div>
                       <div class="CRM-Con4">
                         <div class="CRM-Area-icon4"> <img src="{IMG_PATH}edus/special/Area-icon3.png" class="" alt="" title=""/></div>
                          <p class="CRM-tit1">销售报表</p>
                           <p class="Content1">系统报表分析，能有效管理多校区集团的实时数据，可从不同的纬度选择不同的分析指标，进行同比环比的数据统计，尽请查看各校区业务情况、老师教学情况、财务盈亏情况等。</p>
                       </div>
                        <div class="CRM-Con5">
                         <div class="CRM-Area-icon4"> <img src="{IMG_PATH}edus/special/Area-icon4.png" class="" alt="" title=""/></div>
                          <p class="CRM-tit1">销售报表</p>
                           <p class="Content1">系统报表分析，能有效管理多校区集团的实时数据，可从不同的纬度选择不同的分析指标，进行同比环比的数据统计，尽请查看各校区业务情况、老师教学情况、财务盈亏情况等。</p>
                       </div>
                       </div>
                     <div class="right">
                      <div class="CRM-Con3">
                         <div class="CRM-Area-icon3"> <img src="{IMG_PATH}edus/special/Area-icon5.png" class="" alt="" title=""/></div>
                          <p class="CRM-tit1">营销计划管理</p>
                           <p class="Content1">系统根据企业业务运营的不同阶段帮助制定不同的市场活动计划；按照计划进行预算的规划以及人员调配、物料调配，完成对市场活动的把控；支持对计划唯独的自定义设计。</p>
                           <p class="Content1"><b>针对仁和具体功能模块：</b></p>
                           <p class="Content1">1、线索Leads&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2、回访记录<br>3、试听课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4、邀请上门列表&nbsp;<br>5、Leads分配TMK&nbsp;&nbsp;&nbsp;6、潜在学员&nbsp;<br>7、收取定金&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8、潜在学员分配销售&nbsp;<br>9、客户池管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10、无效Leads&nbsp;<br>11、选课报班</p>
                       </div>
                     </div>
                   </div> 
               <div class="Money-Administration-Tit"></div>
               <div class="Money-Administration-Con">
                    <div class="Green-one">
                    <p class="Tit-green"><b>收费管理</b></p>
                    <p class="Tit-green-con">机构总部制定收费标准，财务根据收购标准<br>和优惠标准进行相关的收费业务并打印收据；总部可以实时查看<br>各分校的财务数据，系统可自动区分定金和<br>学费，降低财务管理难度。</p></div>
                     <div class="Green-two">
                     <p class="Tit-green-con">提供完善的退费方案，解决<br>退费时，课时和费用带来的难题，根据学员<br>课时消耗情况系统自动生成学院应退费金额，有理有据<br>
减少退费时所带来的财务纠纷。</p>
                    <p class="Tit-green" style="color:#ec5264;padding-top:6px;"><b>退费管理</b></p>
                    </div>
                    <div class="Green-three">
                    <p class="Tit-green" style="color:#3866c2;"><b>合同管理</b></p>
                    <p class="Tit-green-con">支持合同相关的付款、应收、账户、消耗<br>情况的关联查看，不仅能记录学生的合同信息，同时能将<br>和对定金信息、账户资金、资金流动记录、应收款<br>进行追踪，方便财务人员对账。 </p></div>
               </div>
               </div>   
            </div>
        </div>
        <div class="renhe-Value">
         <div class="renhe-Value-title"></div>
         <div class="renhe-Value-Con">
            <div class="Value-One">
                 <img src="{IMG_PATH}edus/special/Value-img1.jpg" class="" alt="" title=""/>
                 <div class="Value-1">
                   <p class="Value-ConT">1、通过可为EDUS教务软件的实施，实现了仁和教育的信息化管理，摒弃了低效落后的手工管理模式，全面实现电子化流程，彻底摆脱了种类繁多的Excel表格；通过系统流程引导各环节员工业务操作，并由系统控制降低出错机率，业务管理更规范、更可控。</p>
                   </div>
            </div>
             <div class="Value-One" style="margin-left:10px;">
                 <img src="{IMG_PATH}edus/special/Value-img2.jpg" class="" alt="" title=""/>
                 <div class="Value-1">
                   <p class="Value-ConT">2、系统对于市场的意义：录入学员信息比以前Excel更简单方便，录入错误系统会提示，大大降低了录入时的出错机率。日常业务所需的报表在系统中都即时自动生成，提高了工作效率。潜在学员的管理更智能化，市场活动管理更直观！</p>
                   </div>
            </div>
          <div class="Value-One" style="float:right">
                 <img src="{IMG_PATH}edus/special/Value-img3.jpg" class="" alt="" title=""/>
                 <div class="Value-1">
                   <p class="Value-ConT">3、系统对于机构领导、教务应用效果：不同级别、岗位的员工因其职责权责不同，其可操作的功能，可访问和操作的数据权限也不同，这一点在edus教务系统中有很好的体现。Edus教务系统的图形数据报表直观易懂，作为管理者，可从不同的维度对业务指标进行分析。最重要的是，要获取这些数据，随时都可以看到最新的统计数据。将教育机构管理者从琐事中解放出来，让管理回归管理本身。</p>
                   </div>
            </div>         
         </div>
        </div>
{template "special","footer"}        