<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
        <div class="XinTong_banner">
             <div class="XinTong_banner_center">
                   <a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="XinTong_banner_but1">点击咨询</div></a>
                   <a href="http://edus.keweisoft.com/case"><div class="XinTong_banner_but2">更多案例</div></a>
             </div>
         </div>
        <div class="XinTong_Company">
            <div class="XinTong_Company_Title"></div>
            <div class="XinTong_Company_Content">
                <div class="XinTong_Company_T">
                   <p class="T_Con">新通教育</p>
                   <div class="T_Content">北京新通时代教育咨询有限公司(以下简称新通教育)创办于1996年，从成立之初就致力于积极拓展全球优质教育资源，致力于不断提升中国学子全球竞争力。经过多年的稳健发展，已经成长为中国出国服务行业的翘楚和国内领先的国际化教育集团，在中国以及全球已创建30余家分支机构，服务网络遍布中国经济发达地区和世界主要发达国家。
       新通教育首创“360°成长规划”，为中国学生独家构建了一个涵盖“语言培训—国际学术课程—海外游学—留学咨询—留学方案规划—入学及签证申请—海外延续服务—就业求职指导”等服务在内的一站式、系统化、全方位的国际教育服务体系，弥补了各个阶段的断层。为中国学子在接受海外教育之前，提供了更长期的教育规划、更充分的学术准备、更完善的个性拓展及人格塑造，有效地节省了学生的时间和精力，极大地提高了学子们留学申请和未来就业的竞争力。 </div>
                </div>
            
            </div>
        </div>
        <div class="XinTong_News">
           <div class="Xintong_News_Title"></div>
           <div class="XinTong_News_Content">
              <div class="News_T1">这一次，可为与新通教育甜蜜宣布“缘来是你”<br>
                                   北京可为 新通教育<br>
                                   签订战略合作！<br>
                                    日期：2017年1月20日<br>
                                    合作共赢<br><br>
              这是通往留学信息化管理未来的一次旅行。<br>
                                对于中小型留学机构来说，信息化意味着什么？<br>
                                          对于可为来说，创新意味着什么？<br>
                               面对技术不断发展，并对业务影响逐渐加深的当下培训行业，新通教育与北京可为一同完成了一件意义非凡的事。
                        </div>
           </div>
           <div style="width: 1040px;margin:0 auto;">
                <div class="News_one">
                    <div class="News_oneCon">在留学培训行业来看，战略合作的初衷，源于面对当下教育市场的困局。对于培训机构来说，教学不易，而且我们不只是要做教学，我们要做到的服务至上的统一化管理教学。一方面，新通教育的分支机构很多，要把所有分支整体划一的整成列队，整合十分困难，客户的增量也会给优质的教学服务提高带来难度；另一方面，在技术上，中小型机构很难招聘大量的技术研发人员，创新需要投入巨大的成本。未来，机构不仅要可为的技术服务，也需要可为的运营服务，同时引入新的管理思想，更好地服务更多的客户。新通教育希望能通过可为，吸收领先的ERP信息化管理思想，实现共赢的局面。
                    </div>
                 </div>
               <div class="News_two">
                  <div class="News_oneCon">对于我们可为来说与新通教育的长期合作，当下是一个非常重要的里程碑。此次合作是基于技术对机构运营管理影响越来越深入的背景。而整个留学培训环境的市场变化，让可为与新通教育的合作更加迫切，这意味着我们从单纯的技术服务模式，进一步提升到解决留学机构运营信息化方案形式上来，这意味着双方的合作将更加适应行业的发展趋势。平台技术与业务的结合越来越紧密，在这个信息化管理过程中，我们如何让技术平台的建设嫁接到业务上，让业务更平台化？可为与新通教育共同抓住这个机遇，双方一起投入更多的资源去努力，实现更紧密的合作。</div>
               </div>
           </div>
           
        </div>
        <div class="clear"></div>
        <div class="XinTong_Implementat">
             <div class="XinTong_Implementat_Title"></div>  
             <div class="XinTong_Implement_Content">
                <div class="Implement_img01">
                  <img src="{IMG_PATH}edus/special/XT_Implementation_img1.png" class="" alt="" title="">
                </div>
                <div class="Implement_img02">
                  <img src="{IMG_PATH}edus/special/XT_Implementation_img2.png" class="" alt="" title="">
                </div>
                <div class="Implement_img03">
                  <img src="{IMG_PATH}edus/special/XT_Implementation_img3.png" class="" alt="" title="">
                </div>
             
             </div>
        
        </div>
        <div class="clear"></div>
{template "special","footer"}