<!DOCTYPE html>
<html>
  <head>
    <title>{if $catid && !$modelid}{$catname} — {/if}{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9"/>
    <link type="text/css" href="{CSS_PATH}edus/head.css" rel="stylesheet">
    <link href="{CSS_PATH}edus/special-case.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}edus/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}edus/common.js"></script>
  </head>
  <body>  
    {template "content","head"}
		<div class="ws-banner">
			<div class="ws-banner-center">
				<a href="http://tb.53kf.com/webCompany.php?arg=10140145&style=5" target="_blank"><div class="ws-banner-btn-left">点击咨询</div></a>
				<a href="http://edus.keweisoft.com/case/" target="_blank"><div class="ws-banner-btn-right">更多案例</div></a>
			</div>
		</div>
		<div class="ws-block1">
			<div class="m-content">
				<p class="ws-b1-tit"></p>
				<div class="ws-b1-con">
					<div class="left">
						<p class="con"><span class="tit">公司介绍：</span>青岛维申科技文化有限公司，是青岛首家集合众多国内、省内以及当地一线教育培训品牌于一体的大型、综合类教育广场，一站式解决广大学生和家长的学习需求。教育广场项目在前期大量调研的基础上，并联合青岛甚至山东省知名教育培训品牌，倾力打造黄岛区新型商业模式，为学生即家长创造优质的教育资源平台。</p>
					</div>
					<div class="right">
						<div class="con">
							<p style="margin-top:15px;"><span class="tit">公司名称：</span>青岛维申文化教育科技有限公司</p>
							<p style="margin-top:40px;"><span class="tit">所属行业：</span>教育培训</p>
							<p style="margin-top:40px;"><span class="tit">公司规模：</span>100-500</p>
							<p style="margin-top:40px;"><span class="tit">应用模块：</span>多校区平台，考勤管理，学员端管理系统，CRM</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ws-block2">
			<div class="m-content">
				<p class="ws-b2-tit"></p>
				<div class="ws-b2-con">
					<div class="item1">校区过多统一规划管理困难：各校区之间管理制度差异大难以统一管理；</div>
					<div class="item2">考勤难统计：老师考勤，学员考勤机构很难统计，教务统计很困难，财务统计发工资也很困难；</div>
					<div class="item3">学员的相关信息太多、太繁杂：不管是查询、整理还是修改过程都很繁琐，容易出错，处理的流程复杂，导致学员信息管理难；</div>
					<div class="item4">销售管理困难：销售是培训机构非常重要的部门，销售管理不顺利，导致机构失去利润来源，直接影响机构的生存发展；</div>
					<div class="item5">随着培训机构的不断增加，生源竞争日趋激烈，盲目投资于市场收效甚微。面对与日俱增的竞争压力，招生工作难以进行。</div>
				</div>
			</div>
		</div>
		<div class="ws-block3">
			<div class="m-content">
				<div class="ws-b3-tit"></div>
				<p class="ws-b3-subtit">可为时代根据维申文化教育科技的具体问题，制定了有效而具体的解决方案，可为EDUS教务管理系统融入先进的协同管理理念，切实有效的解决<br>学校管理中的关键流程。</p>
				<div class="ws-b3-con">
					<div class="item">
						<div class="left"><span class="number">01</span><span class="word">多校区管理</span></div>
						<div class="right">可为EDUS系统支持多个分校或教学区，方便培训机构总校管理，总部可更快捷有力的监管各分部、分校，学员档案、财务信息、教学情况等。使各个分校区进行良好的沟通，加强之间的联系，让管理更加精细化。</div>
					</div>
					<div class="item" style="float:right">
						<div class="left"><span class="number">02</span><span class="word">考勤管理</span></div>
						<div class="right">可为EDUS含有刷卡制卡系统，实现老师学生每次上课刷卡上课 ，让学员及老师按时打卡来统计出勤情况，这样及解决了考勤统计的问题，也解决了财务统计出勤来发放工资的问题。</div>
					</div>
					<div class="item" style="margin-top:24px;">
						<div class="left"><span class="number">03</span><span class="word">学员管理</span></div>
						<div class="right">可为EDUS学员管理系统提供学员的基本信息、学员成绩、学员考勤、学员课程表等信息查看，还可对课程进行预约、评价操作；学员通过系统可查看个人信息，家长也可随时查看孩子考勤情况，以掌握孩子学习动态。</div>
					</div>
					<div class="item" style="margin-top:24px; float:right">
						<div class="left"><span class="number">04</span><span class="word">营销管理</span></div>
						<div class="right">系统包含市场营销管理模块，CRM管理系统是机构能够有效的进行市场营销活动，高效的获取目标学员的基本信息管理，将学员信息进行合理的分配管理，大大的增加机构的招生率，同时增加了企业利润。</div>
					</div>															
				</div>
			</div>
		</div>
		<div class="ws-block4">
			<div class="m-content">
				<p class="ws-b4-tit"></p>
				<div class="ws-b4-con">
					<div class="left">
						<div class="center-pic"></div>
						<p class="con">1、完善的考勤管理模块让所有的老师、学员出勤统计更加容易、高效;强大完善的统计报表，方便管理者查看和对比。财务可以通过统计报表进行财务管理，发放工资等事务更加方便。</p>
					</div>
					<div class="center">
						<div class="center-pic"></div>
						<p class="con">2、通过可为EDUS教务系统的管理，维申文化教育实现学员信息的自动化管理，摒弃了低效落后的手工管理模式，全面实现电子化流程;彻底摆脱了种类繁多的Excel表格。通过系统流程引导各环节员工业务操作，并由系统控制降低出错机率，业务管理更规范。</p>
					</div>
					<div class="right">
						<div class="center-pic"></div>
						<p class="con">3、市场营销管理系统使任一时刻都可看到实时的营销途径所带来的生源分析饼图，数据及时，直观，省事。可以随时分析某段时间各种营销渠道带来多少客户，已成交的学员中，分别来源于哪些营销渠道，再也不用安排每月文员统计了。</p>
					</div>
				</div>
			</div>
		</div>
		<div class="ws-block5">
			<div class="m-content">
				<p class="ws-b5-tit"></p>
				<div class="ws-b5-con">
					<div class="con">
						EDUS教务系统不仅简单易用、贴近业务需求 ，更投入巨大精力改进用户体验，在保持系统先进功能的同时，让用户的操作简单直观，快捷清晰。可为时代售前顾问和青岛维申文化教育领导层进行了充分的沟通交流，了解学校的战略管控需求，借鉴交流管理经验，根据学校的真实需求制定切合客户本身的教务管控方案。未来企业的竞争，在很大程度上取决于管理的竞争，归根结底是信息的竞争。这就需要开发与应用事前有预测、决策，事中有规划、控制，事后有核算、分析的信息化企业管理系统。随着EDUS教务管理软件在教育培训领域的深入应用和实践，结合可为本地化服务优势，必将为培训学校和教育主管部门在“科学化、精细化、专业化”加快学校管理信息化进程等方面，促进教育事业更好更快发展。
						<p class="tail">——青岛维申科技文化有限公司</p>
						<div class="pic"></div>
					</div>
				</div>
			</div>
		</div>
{template "special","footer"} 