<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={CHARSET}" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>可为官网--会员注册</title>
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}member_common.js"></script>
<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
<script type="text/javascript" src="{JS_PATH}dialog.js"></script>
<link href="{CSS_PATH}official/reg.css" rel="stylesheet" type="text/css" />
<link href="{CSS_PATH}official/common.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
<!--
$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});

	$("#username").formValidator({onshow:"{L('input').L('username')}",onfocus:"{L('username').L('between_2_to_20')}"}).inputValidator({min:2,max:20,onerror:"{L('username').L('between_2_to_20')}"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"{L('username').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkname_ajax",
		datatype : "html",
		async:'false',
		success : function(data){
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('user_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	});
	$("#company").formValidator({onshow:"请输入公司名称",onfocus:"公司名称必须2-20位之间"}).inputValidator({min:2,max:20,onerror:"公司名称长度不在规定区间内"});	
	$("#password").formValidator({onshow:"{L('input').L('password')}",onfocus:"{L('password').L('between_6_to_20')}"}).inputValidator({min:6,max:20,onerror:"{L('password').L('between_6_to_20')}"});
	$("#pwdconfirm").formValidator({onshow:"{L('input').L('cofirmpwd')}",onfocus:"{L('passwords_not_match')}",oncorrect:"{L('passwords_match')}"}).compareValidator({desid:"password",operateor:"=",onerror:"{L('passwords_not_match')}"});
	$("#email").formValidator({onshow:"{L('input').L('email')}",onfocus:"{L('email').L('format_incorrect')}",oncorrect:"{L('email').L('format_right')}"}).inputValidator({min:7,max:32,onerror:"{L('email').L('between_7_to_32')}"}).regexValidator({regexp:"email",datatype:"enum",onerror:"{L('email').L('format_incorrect')}"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=member&c=index&a=public_checkemail_ajax",
		datatype : "html",
		async:'false',
		success : function(data){	
            if( data == "1" ) {
                return true;
			} else {
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "{L('deny_register').L('or').L('email_already_exist')}",
		onwait : "{L('connecting_please_wait')}"
	});
	$("#nickname").formValidator({onshow:"{L('input').L('nickname')}",onfocus:"{L('nickname').L('between_2_to_20')}"}).inputValidator({min:2,max:20,onerror:"{L('nickname').L('between_2_to_20')}"}).regexValidator({regexp:"ps_username",datatype:"enum",onerror:"{L('nickname').L('format_incorrect')}"}).ajaxValidator({
			type : "get",
			url : "",
			data :"m=member&c=index&a=public_checknickname_ajax",
			datatype : "html",
			async:'false',
			success : function(data){
				if( data == "1" ) {
					return true;
				} else {
					return false;
				}
			},
			buttons: $("#dosubmit"),
			onerror : "{L('already_exist').L('already_exist')}",
			onwait : "{L('connecting_please_wait')}"
		});

	$(":checkbox[name='protocol']").formValidator({tipid:"protocoltip",onshow:"{L('read_protocol')}",onfocus:"{L('read_protocol')}"}).inputValidator({min:1,onerror:"{L('read_protocol')}"});
	
	{if $member_setting['mobile_checktype']=='2' && $sms_setting['sms_enable']=='1'}
	$("#mobile").formValidator({onshow:"请输入手机号码",onfocus:"请输入手机号码"}).inputValidator({min:1,max:11,onerror:"请输入正确的手机号码"});
	{/if}
	$("#mobile_verify").formValidator({onshow:"请输入手机收到的验证码",onfocus:"请输入手机收到的验证码"}).inputValidator({min:1,onerror:"请输入手机收到的验证码"}).ajaxValidator({
					type : "get",
					url : "api.php",
					data :"op=sms_idcheck&action=id_code",
					datatype : "html",
					{if $member_setting['mobile_checktype']=='2'}
					getdata:{mobile:"mobile"},
					{/if}
					async:"false",
					success : function(data){
						if( data == "1" ) {
							return true;
						} else {
  							return false;
						}
					},
					buttons: $("#dosubmit"),
					onerror : "验证码错误",
					onwait : "请稍候..."
				});

	{$formValidator}

	{if !isset($_GET['modelid']) && !isset($_GET['t']) && !empty($member_setting['showregprotocol'])}
		show_protocol();
	{/if}
});

function show_protocol() {
	art.dialog({lock:false,title:'{L('register_protocol')}',id:'protocoliframe', iframe:'?m=member&c=index&a=register&protocol=1',width:'500',height:'310',yesText:'{L('agree')}'}, function(){
		$("#protocol").attr("checked",true);
	});
}

</script>
</head>
<body>
{template "content","header"}
<div class="m-content f-top">
	<embed width="1040" height="100" wmode="transparent" type="application/x-shockwave-flash" src="{IMG_PATH}official/melody.swf"><a href="#" class="f-top-link" target="_blank"></a>		
</div>
<div id="content">
	<div class="r-mid">
	<p class="r-mid-tit">会员注册</p>	
	{if !isset($_GET['t'])}
	<form method="post" action="" id="myform">
		<input type="hidden" name="siteid" value="{$siteid}" />
		<div class="input"><label>用户名：</label><input type="text" id="username" name="username" class="input-text"></div>
		<div class="input"><label>密码：</label><input type="password" id="password" name="password" class="input-text"></div>
		<div class="input"><label>确认密码：</label><input type="password" id="pwdconfirm" name="pwdconfirm" class="input-text"></div>
		<div class="input"><label>邮箱：</label><input type="text" id="email" name="email" class="input-text"></div>
		<div class="input"><label>昵称：</label><input type="text" id="nickname" name="nickname" class="input-text"></div>
		{if $member_setting['choosemodel']}
			<!--是否开启选择会员模型选项-->
			<script language="JavaScript">
				function changemodel(modelid) {
					redirect('{APP_PATH}index.php?m=member&c=index&a=register&modelid='+modelid+'&siteid={$siteid}');
				}	
			</script>

			{loop $forminfos $k $v}
				<div class="input"><label>{if $v['isbase']}<font color=red>*</font>{/if} {$v['name']}：{if $v['tips']}<br />({$v['tips']}){/if}</label>{$v['form']}</div>
			{/loop}
		{/if}
		
		
		{if $sms_setting['sms_enable']=='1'}
		<div class="input"><label> 手机号码：</label><div class="form"><div id="mobile_div"><input type="text" name="mobile" id="mobile" value="" size="15" class="input-text" title="此服务免费,验证码将以短信免费发送到您的手机"> 
			<button onclick="get_verify()" type="button" class="hqyz">获取短信验证码</button> <br><span id="mobileTip"></span>
			</div> 
			<script language="JavaScript">
			<!--
				var times = 120;
				var isinerval;
				function get_verify() {
					var mobile = $("#mobile").val();
					var partten = /^1[3-9]\d{9}$/;
					if(!partten.test(mobile)){
						alert("请输入正确的手机号码");
						$('#mobile').focus();
						return false;
					}
					
					$.get("api.php?op=sms",{ mobile: mobile,random:Math.random()}, function(data){
						if(data=="0") {
							times = 120;
							$(".hqyz").attr("disabled", true);
							isinerval = setInterval("CountDown()", 1000);
						} else if(data=="-1") {
							alert("你今天获取验证码次数已达到上限");
						} else if(data=="-100") {
							$('#code').val('');
							alert("验证码已失效，请点击图片验证码获取新的验证码！");
							$('#code').focus();
						} else if(data=="-101") {
							alert("验证码错误！");
							$('#code').focus();
						} else {
							alert("短信发送失败");
						}
					});
					
				}
				function CountDown() {
					if (times < 1) {
						$(".hqyz").html("获取短信验证码").attr("disabled", false);
						clearInterval(isinerval);
						return;
					}
					$(".hqyz").html(times+"秒后重新获取");
					times--;
				}
			//-->
			</script>
		    </div></div>
			<div class="input"><label>短信码：</label><input type="text" name="mobile_verify" id="mobile_verify" value="" size="14" class="input-text"></div>	
		
		{/if}		
		{if $member_setting['enablcodecheck']=='1'}
		<div class="input"><label>验证码：</label><input type="text" id="code" name="code" style="width:128px; margin-right:8px;" size="10" class="input-text">{form::checkcode('code_img', '4', '14', 120, 38)}</div>
		{/if}
		<div class="submit"><label></label><input type="submit" id="submit" name="dosubmit" value="立即注册"></div>
		<p class="r-login"><a href="">已有账号登录</a></p>		
	</form>
	{/if}
	</div>
</div>
{template 'content', 'footer'}