<!DOCTYPE html>
<html>
  <head>
    <title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
    <meta charset="utf-8" />
    <meta name="author" content="keweisoft.com" />
    <meta name="keywords" content="{$SEO['keyword']}" />
    <meta name="description" content="{$SEO['description']}" />
    <link type="text/css" rel="stylesheet" href="{CSS_PATH}official/common.css">
    <link type="text/css" rel="stylesheet" href="{CSS_PATH}official/user-center.css">
    <link type="text/css" rel="stylesheet" href="{CSS_PATH}official/hover.css">
    <link type="text/css" rel="stylesheet" href="{CSS_PATH}official/bootstrap.min.css">
    <link href="{CSS_PATH}official/guestbook.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{JS_PATH}official/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}official/index.js"></script>
	<script type="text/javascript" src="{JS_PATH}formvalidator.js" charset="UTF-8"></script> 
	<script type="text/javascript" src="{JS_PATH}formvalidatorregex.js" charset="UTF-8"></script>
	<link href="{CSS_PATH}table_form.css" rel="stylesheet" type="text/css" />  
	<style type="text/css">
	 th,td{border:none !important;font-size: 14px !important;}
	 .button{border:none !important;background: #f93 !important; color:#fff !important;}
	</style>   
  </head>
  <body>
  {template "content","header"}

<!--main-->
<div class="m-content">
<div class="crumbs"><a href="{siteurl($siteid)}">网站首页</a><span> &gt; </span><a href="{APP_PATH}index.php?m={ROUTE_M}&siteid={$siteid}">留言板</a></div>
	<div class="m-content" style="margin-top:15px;margin-bottom:15px;overflow:hidden;">
		{template "member","left"}
		<div style="width:800px; float:left;margin-left:20px;">
			<form action="{APP_PATH}index.php?m=guestbook&c=index&a=register&siteid={$siteid}" method="post" name="myform" id="myform">
			<table cellspacing="1" cellpadding="0" class="table_form" width="800px">
			<tbody>
			<tr> 
			<th>用户名：</th>
			<td><span>{$username}</span></td>
			</tr>
			<tr>
			  <th style="vertical-align:top;">填写留言：</th>
			  <td><textarea name="introduce" cols="40" rows="5" class="input-text" id="introduce" style='width:540px;height:170px; background:none;'></textarea></td>
			</tr>
			{if $setting[1]['enablecheckcode']=='1'}
			<tr>
			       <th>验证码：</th>
			       <td><input name="code" type="text" id="code" size="10"  class="input-text"/> {form::checkcode('code_img','4','14',110,30)}</td>
			</tr>
			{/if}
			<tr> 
			<th></th>
			<td><input type="submit" value="提交" name="dosubmit" class="button box-shadow-outset"></td>
			</tr> 
			</tbody></table>
			</form>
		      <div class="box boxsbg cboxs">
		        <div class="tag_a"> {pc:guestbook action="lists" siteid="$siteid"  order="guestid desc" num="6" return="dat" page="$page"}
		          {loop $dat $v}
		          <table class="ltable" width="95%" border="0"  align="center">
		            <tr>
		            <td width="25%">用户：{$v[username]}</td>
		            <td>时间：{date('Y-m-d H:i:s',$v[addtime])} </td>
		            </tr>
		            <tr>
		              <td colspan="4"><span><b>留言内容：</b>&nbsp;{$v[introduce]}</span></td>
		             </tr>
		            <tr>
		              <td colspan="4"><span class="huifu"><b>管理员回复：</b>&nbsp;{$v[reply]}</span></td>
		            </tr>
		          </table>
		          {/loop}
		          <div class="g-page">{$pages}</div>
		          {/pc} </div>
		      </div>			
		</div>
	</div>
</div>
<script type="text/javascript">
<!--
	$(function(){
	$.formValidator.initConfig({autotip:true,formid:"myform",onerror:function(msg){}});

	$("#introduce").formValidator({onshow:"请输入留言内容",onfocus:"请输入留言内容"}).inputValidator({min:10,max:200,onerror:"10-100个字之间"});
 	$("#code").formValidator({onshow:"请输入验证码",onfocus:"验证码不能为空"}).inputValidator({min:1,max:999,onerror:"验证码不能为空"}).ajaxValidator({
	    type : "get",
		url : "",
		data :"m=pay&c=deposit&a=public_checkcode",
		datatype : "html",
		async:'false',
		success : function(data){	
            if(data == 1)
			{
                return true;
			}
            else
			{
                return false;
			}
		},
		buttons: $("#dosubmit"),
		onerror : "验证码错误",
		onwait : "验证中"
	});
 	})
//-->
</script>
{template "content","footer"}
