/*market*/
.market-banner{
	width: 360px;
	height: 167px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.p-content{
	width:92%;
	margin: 10px auto 0px;
	overflow: hidden;
}
.pc-item{
	width:100%;
	padding-bottom:19px;
	border-bottom: 1px solid #e1e1e1;
	margin-top: 10px;
}
.market-pic1{
	width:100%;
	height: 208px;
	background: url(../../images/m/market-pic1.png) center center no-repeat;
	background-size: 281px 208px;
}
.market-pic2{
	width:100%;
	height: 161px;
	background: url(../../images/m/market-pic2.png) center center no-repeat;
	background-size: 280px 161px;
}
.market-pic3{
	width:100%;
	height: 187px;
	background: url(../../images/m/market-pic3.png) center center no-repeat;
	background-size: 291px 187px;
}
.market-pic4{
	width:100%;
	height: 223px;
	background: url(../../images/m/market-pic4.png) center center no-repeat;
	background-size: 280px 223px;
}
.market-pic5{
	width:100%;
	height: 172px;
	background: url(../../images/m/market-pic5.png) center center no-repeat;
	background-size: 280px 172px;
}
.market-pic6{
	width:100%;
	height: 186px;
	background: url(../../images/m/market-pic6.png) center center no-repeat;
	background-size: 300px 186px;
}
.market-pic7{
	width:100%;
	height: 178px;
	background: url(../../images/m/market-pic7.png) center center no-repeat;
	background-size: 281px 178px;
}
.p-btn{
	width:85%;
	height: 30px;
	background: #ff0000;
	line-height: 30px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
	margin:0 auto;
}

.pc-tit{
	font-size: 14px;
	color:#666;
	text-align:center;
	margin-top: 15px; 
}
.pc-con{
	width:100%;
	font-size:12px;
	color:#666;
	line-height: 18px;
	text-indent: 24px;
	margin-top: 5px;
}

/*sales*/
.sales-banner{
	width: 360px;
	height: 163px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.sales-head-tit1{
	font-size: 14px;
	color:#666;
	background: url(../../images/m/sales-ico1.png) left center no-repeat;
	padding-left:36px;
}
.s-content{
	width:96%;
	margin: 0 auto;
	overflow: hidden;
}
.sht1-left{
	width:28%;
	height: 83px;
	float: left;
	background: url(../../images/m/sales-pic1.png) center center no-repeat;
	background-size: 85px 83px;
	margin-top: 20px;
}
.sht1-right{
	width: 70%;
	height: 63px;
	float: left;
	margin-left:6px;
	font-size: 12px;
	line-height: 18px;
	color:#666;
	text-indent: 24px;
	padding-top:23px;
}
.sales-head-tit2{
	text-align: right;
	font-size: 14px;
	color:#666;
	background: url(../../images/m/sales-ico2.png) right center no-repeat;
	padding-right: 36px;
	margin-top: 20px;
}
.sht2-right{
	width:26%;
	height:80px;
	float: right;
	background: url(../../images/m/sales-pic2.png) center center no-repeat;
	background-size: 81px 80px;
	margin-top: 20px;
}
.sht2-left{
	width: 70%;
	height: 70px;
	float: right;
	margin-right: 8px;
	font-size: 12px;
	line-height: 18px;
	color:#666;
	text-indent: 24px;
	margin-top: 20px;
	padding-top:10px;	
}
.sales-head-tit3{
	font-size:14px;
	color:#666;
	margin-top:20px;
	background: url(../../images/m/sales-ico3.png) left center no-repeat;
	padding-left:36px;
}
.sht3-left{
	width:28%;
	height: 82px;
	float: left;
	margin-top: 20px;
	background: url(../../images/m/sales-pic3.png) center center no-repeat;
	background-size: 86px 82px;
}
.sht3-right{
	width:70%;
	height: 82px;
	margin-top: 20px;
	float: left;
	margin-left: 6px;
	font-size: 12px;
	line-height: 18px;
	color:#666;
	text-indent: 24px;	
}
.sales-pro-head{
	width: 100%;
	height: 36px;
	background: url(../../images/m/sales-center-bg.jpg) left center repeat-x;
	text-align: center;
	line-height: 36px;
	color:#333;
	font-size:16px;
	margin-top: 20px;
}
.sales-pro-content{
	width:90%;
	margin: 16px auto 0px;
	padding-bottom:18px;
	border-bottom: 1px dashed #898989;
}
.sp-pic1{
	width:100%;
	height: 252px;
	background: url(../../images/m/sales-pic4.png) center center no-repeat;
	background-size: 280px 252px;
}
.sp-tit{
	font-size:14px;
	color:#666;
	text-align: center;
	margin-top: 10px;
	font-weight: bold;
}
.sp-con{
	font-size:12px;
	color:#666;
	line-height: 18px;
	text-indent: 24px;
	margin-top: 6px;
}
.sp-pic2{
	width:100%;
	height: 280px;
	background: url(../../images/m/sales-pic5.png) center center no-repeat;
	background-size: 280px 280px;
}
.sp-pic3{
	width:100%;
	height: 250px;
	background: url(../../images/m/sales-pic6.png) center center no-repeat;
	background-size: 280px 250px;
}
.sp-pic4{
	width:100%;
	height: 238px;
	background: url(../../images/m/sales-pic7.png) center center no-repeat;
	background-size: 280px 238px;
}
.sp-pic5{
	width:100%;
	height: 248px;
	background: url(../../images/m/sales-pic8.png) center center no-repeat;
	background-size: 280px 248px;
}
.sp-pic6{
	width:100%;
	height: 298px;
	background: url(../../images/m/sales-pic9.png) center center no-repeat;
	background-size: 280px 298px;
}
.sp-pic7{
	width:100%;
	height: 280px;
	background: url(../../images/m/sales-pic10.png) center center no-repeat;
	background-size: 280px 280px;
}
/*client*/
.client-banner{
	width:360px;
	height: 149px;
	margin: 6px auto 0px;
	overflow: hidden;	
}
.client-pic1{
	width:100%;
	height: 288px;
	background: url(../../images/m/client-pic1.png) center center no-repeat;
	background-size: 280px 288px;
}
.client-pic2{
	width:100%;
	height: 277px;
	background: url(../../images/m/client-pic2.png) center center no-repeat;
	background-size: 280px 277px;
}
.client-pic3{
	width:100%;
	height: 271px;
	background: url(../../images/m/client-pic3.png) center center no-repeat;
	background-size: 280px 271px;
}
.client-pic4{
	width:100%;
	height: 271px;
	background: url(../../images/m/client-pic4.png) center center no-repeat;
	background-size: 280px 271px;
}
.client-pic5{
	width:100%;
	height: 280px;
	background: url(../../images/m/client-pic5.png) center center no-repeat;
	background-size: 280px 280px;
}
.client-pic6{
	width:100%;
	height: 280px;
	background: url(../../images/m/client-pic6.png) center center no-repeat;
	background-size: 280px 280px;
}
.client-pic7{
	width:100%;
	height: 275px;
	background: url(../../images/m/client-pic7.png) center center no-repeat;
	background-size: 280px 275px;
}
.client-pic8{
	width:100%;
	height: 244px;
	background: url(../../images/m/client-pic8.png) center center no-repeat;
	background-size: 280px 244px;
}

/*financial*/
.order-banner{
	width: 360px;
	height: 167px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.op-pic1{
	width:100%;
	height: 241px;
	background: url(../../images/m/financial-pic1.png) center center no-repeat;
	background-size: 280px 241px;
}
.op-pic2{
	width:100%;
	height: 224px;
	background: url(../../images/m/financial-pic2.png) center center no-repeat;
	background-size: 280px 224px;
}
.op-pic3{
	width:100%;
	height: 274px;
	background: url(../../images/m/financial-pic3.png) center center no-repeat;
	background-size: 280px 274px;
}
.op-pic4{
	width:100%;
	height: 158px;
	background: url(../../images/m/financial-pic4.png) center center no-repeat;
	background-size: 280px 158px;
}
.op-pic5{
	width:100%;
	height: 277px;
	background: url(../../images/m/financial-pic5.png) center center no-repeat;
	background-size: 280px 277px;
}
.op-pic6{
	width:100%;
	height: 193px;
	background: url(../../images/m/financial-pic6.png) center center no-repeat;
	background-size: 280px 193px;
}
.op-pic7{
	width:100%;
	height: 211px;
	background: url(../../images/m/financial-pic7.png) center center no-repeat;
	background-size: 280px 211px;
}
/*cost*/
.cost-banner{
	width: 360px;
	height: 148px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.cp-pic1{
	width:100%;
	height: 252px;
	background: url(../../images/m/teaching-pic1.png) center center no-repeat;
	background-size: 280px 252px;
}
.cp-pic2{
	width:100%;
	height: 213px;
	background: url(../../images/m/teaching-pic2.png) center center no-repeat;
	background-size: 280px 213px;
}
.cp-pic3{
	width:100%;
	height: 246px;
	background: url(../../images/m/teaching-pic3.png) center center no-repeat;
	background-size: 280px 246px;
}
.cp-pic4{
	width:100%;
	height: 244px;
	background: url(../../images/m/teaching-pic4.png) center center no-repeat;
	background-size: 280px 244px;
}
.cp-pic5{
	width:100%;
	height: 276px;
	background: url(../../images/m/teaching-pic5.png) center center no-repeat;
	background-size: 280px 276px;
}
.cp-pic6{
	width:100%;
	height: 221px;
	background: url(../../images/m/teaching-pic6.png) center center no-repeat;
	background-size: 280px 221px;
}
.cp-pic7{
	width:100%;
	height: 241px;
	background: url(../../images/m/teaching-pic7.png) center center no-repeat;
	background-size: 280px 241px;
}
/*service*/
.service-banner{
	width: 360px;
	height: 166px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.service-subPic{
	width: 294px;
	height: 128px;
	background: url(../../images/m/service-subPic.png) center center no-repeat;
	background-size: 294px 128px;
	margin: 22px auto 10px;
}
.sep-pic1{
	width:100%;
	height: 192px;
	background: url(../../images/m/service-pic1.png) center center no-repeat;
	background-size: 280px 192px;
}
.sep-pic2{
	width:100%;
	height: 186px;
	background: url(../../images/m/service-pic2.png) center center no-repeat;
	background-size: 280px 186px;
}
.sep-pic3{
	width:100%;
	height: 152px;
	background: url(../../images/m/service-pic3.png) center center no-repeat;
	background-size: 280px 152px;
}
.sep-pic4{
	width:100%;
	height: 158px;
	background: url(../../images/m/service-pic4.png) center center no-repeat;
	background-size: 280px 158px;
}
.sep-pic5{
	width:100%;
	height: 188px;
	background: url(../../images/m/service-pic5.png) center center no-repeat;
	background-size: 280px 188px;
}
.sep-pic6{
	width:100%;
	height: 247px;
	background: url(../../images/m/service-pic6.png) center center no-repeat;
	background-size:280px 247px;
}
.sep-pic7{
	width:100%;
	height: 175px;
	background: url(../../images/m/service-pic7.png) center center no-repeat;
	background-size: 280px 175px;
}
/*access*/
.access-banner{
	width: 360px;
	height: 148px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.access-sub-con{
	width:90%;
	margin:20px auto;
	font-size: 12px;
	line-height: 18px;
	color:#666;
	text-indent: 24px;			
}
.ap-pic1{
	width:100%;
	height: 156px;
	background: url(../../images/m/access-pic1.png) center center no-repeat;
	background-size: 164px 156px;
}
.ap-pic2{
	width:100%;
	height: 127px;
	background: url(../../images/m/access-pic2.png) center center no-repeat;
	background-size: 202px 127px;
}
.ap-pic3{
	width:100%;
	height: 114px;
	background: url(../../images/m/access-pic3.png) center center no-repeat;
	background-size: 124px 114px;
}
.ap-pic4{
	width:100%;
	height: 177px;
	background: url(../../images/m/access-pic4.png) center center no-repeat;
	background-size: 185px 177px;
}
.ap-pic5{
	width:100%;
	height: 160px;
	background: url(../../images/m/access-pic5.png) center center no-repeat;
	background-size: 159px 160px;
}
.ap-pic6{
	width:100%;
	height: 146px;
	background: url(../../images/m/access-pic6.png) center center no-repeat;
	background-size: 126px 146px;
}
.ap-pic7{
	width:100%;
	height: 107px;
	background: url(../../images/m/access-pic7.png) center center no-repeat;
	background-size: 153px 107px;
}
.ap-pic8{
	width:100%;
	height: 132px;
	background: url(../../images/m/access-pic8.png) center center no-repeat;
	background-size: 187px 132px;
}
.ap-pic9{
	width:100%;
	height: 108px;
	background: url(../../images/m/access-pic9.png) center center no-repeat;
	background-size: 189px 108px;
}
/*oa*/
.staff-banner{
	width: 360px;
	height: 148px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.stp-pic1{
	width:100%;
	height: 231px;
	background: url(../../images/m/oa-pic1.png) center center no-repeat;
	background-size: 280px 231px;
}
.stp-pic2{
	width:100%;
	height: 176px;
	background: url(../../images/m/oa-pic2.png) center center no-repeat;
	background-size: 280px 176px;
}
.stp-pic3{
	width:100%;
	height: 269px;
	background: url(../../images/m/oa-pic3.png) center center no-repeat;
	background-size: 280px 269px;
}
.stp-pic4{
	width:100%;
	height: 296px;
	background: url(../../images/m/oa-pic4.png) center center no-repeat;
	background-size: 280px 296px;
}
.stp-pic5{
	width:100%;
	height: 211px;
	background: url(../../images/m/oa-pic5.png) center center no-repeat;
	background-size: 280px 211px;
}
.stp-pic6{
	width:100%;
	height: 280px;
	background: url(../../images/m/oa-pic6.png) center center no-repeat;
	background-size: 280px 280px;
}
.stp-pic7{
	width:100%;
	height: 204px;
	background: url(../../images/m/oa-pic7.png) center center no-repeat;
	background-size: 280px 204px;
}

/*expend*/
.expend-banner{
	width: 360px;
	height: 148px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.ep1-head,.ep2-head{
	width: 96%;
	height: 28px;
	margin: 0 auto;
}
.ep1-head ul li,.ep2-head ul li{
	display: block;
	width: 50%;
	float: left;
	height: 100%;
	background: #dde6ff;
	text-align: center;
	line-height: 28px;
	font-size: 12px;
	color:#666;
}
.ep-on{
	background: #7189f2 !important;
	color:#fff !important;
}
.ep1-con,.ep2-con{
	width: 90%;
	margin:15px auto 0px;
}
.ep1-con-item,.ep2-con-item{
	font-size:12px;
	color:#666;
	line-height: 18px;
}
.expend-center-pic{
	width: 100%;
	height: 186px;
	background: url(../../images/m/expend-pic1.png) center center no-repeat;
	background-size: 196px 186px;
	margin:16px auto 26px;
}
.expend-center-btn{
	width:85%;
	height: 30px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	line-height: 30px;
	background: #ff0000;
	border-radius: 5px;
	margin: 0 auto 20px;
}
.expend-center-line{
	width: 90%;
	height: 2px;
	margin:0 auto;
	border-bottom: 1px dashed #898989;
}
.expend-center-tit{
	text-align: center;
	font-size:16px;
	color:#0e0e0e;
	line-height: 22px;
	margin-top: 17px;
	font-weight: bold;
}
.expend-center-block{
	width:309px;
	height: 200px;
	margin: 20px auto;
}
.ecb-item1{
	width:144px;
	height: 100px;
	background: #55cbd5;
	float: left;
	padding:0px 5px;
}
.ecb-item2{
	width:144px;
	height: 100px;
	background: #fd7873;
	float: left;
	padding:0px 5px;
}
.ecb-item3{
	width:144px;
	height: 100px;
	background: #e56699;
	float: left;
	padding:0px 5px;
}
.ecb-item4{
	width:144px;
	height: 100px;
	background: #2391ea;
	float: left;
	padding:0px 5px;
}
.ecb-itit{
	font-size:12px;
	color:#fff;
	line-height: 22px;
	text-align: center;
	border-bottom: 1px dashed #fff;
	font-weight:bold;
}
.ecb-icon{
	font-size: 10px;
	line-height: 12px;
	color:#fff;
	margin-top: 3px;
}
/*analysis*/
.analysis-banner{
	width: 360px;
	height: 148px;
	margin: 6px auto 0px;
	overflow: hidden;
}
.ana-tab-head{
	width:100%;
	height: 30px;
	background: #f3f6ff;
	margin-top:10px;
}
.ath-item{
	display: block;
	height: 30px;
	float: left;
	margin-left: 7%;
	line-height: 30px;
	font-size:14px;
	color:#666;
}
.ath-on{
	height: 29px;
	border-bottom: 1px solid #d20f46;
	color:#d20f46;
}
.ana-tab-con{
	width:96%;
	margin-top: 15px;
	margin-bottom:15px;
}
.atc-item{
	width: 309px;
	margin:0 auto;
}
.atc-list1{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico1.jpg) center center no-repeat;
	background-size: 309px 46px;
}
.atc-list1 span,.atc-list2 span,.atc-list3 span,.atc-list4 span,.atc-list5 span,.atc-list6 span,.atc-list7 span,.atc-list8 span,.atc-list9 span,.atc-list10 span,.atc-list11 span{
	display: inline-block;
	font-size:12px;
	color:#666;
	float: left;
	margin-top: 4px;
}
.atc-ico2,.atc-ico3{
	margin-left:19px;
}
.atc-ico5{
	margin-left:45px;
}
.atc-list2{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico2.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list3{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico3.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list4{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico4.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list5{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico5.jpg) center center no-repeat;
	background-size: 309px 46px;
}
.atc-list6{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico6.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list7{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico7.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list8{
	width: 227px;
	height: 46px;
	padding-left:82px;
	background: url(../../images/m/ana-ico8.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list9{
	width: 205px;
	height: 46px;
	padding-left:106px;
	background: url(../../images/m/ana-ico9.jpg) center center no-repeat;
	background-size: 309px 46px;
}
.atc-list10{
	width: 205px;
	height: 46px;
	padding-left:106px;
	background: url(../../images/m/ana-ico10.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}
.atc-list11{
	width: 205px;
	height: 46px;
	padding-left:106px;
	background: url(../../images/m/ana-ico11.jpg) center center no-repeat;
	background-size: 309px 46px;
	margin-top: 7px;
}

.anp-pic1{
	width:100%;
	height: 216px;
	background: url(../../images/m/analysis-pic2.png) center center no-repeat;
	background-size: 280px 216px;
}
.anp-pic2{
	width:100%;
	height: 239px;
	background: url(../../images/m/analysis-pic3.png) center center no-repeat;
	background-size: 280px 239px;
}
.anp-pic3{
	width:100%;
	height: 224px;
	background: url(../../images/m/analysis-pic4.png) center center no-repeat;
	background-size: 280px 224px;
}
.anp-pic4{
	width:100%;
	height: 188px;
	background: url(../../images/m/analysis-pic5.png) center center no-repeat;
	background-size: 280px 188px;
}
.anp-pic5{
	width:100%;
	height: 216px;
	background: url(../../images/m/analysis-pic6.png) center center no-repeat;
	background-size: 280px 216px;
}
/*crm-advantage*/
.crm_promotionbanner{
	width:360px;
	height:148px;
	margin: 6px auto 0px;
	overflow:hidden;
}
.crm_promotionContent{
	width:100%;
	overflow:hidden;
	}
.crm_promotion_tit1{
	width:90px;
	height:24px;
	background:url(../../images/m/circle.png) left center no-repeat;
	font-size:18px;
	font-weight:bold;
	color:#ff8201;
	margin-top:20px;
	margin-left:14px;
	padding-left:12px;
	line-height: 24px;
	}
.crm_proDiff1{
	width:311px;
	height:111px;
	float:left;
}
.crm_proDiff2{
	width:311px;
	height:111px;
	float:right;
	margin-top:10px;
}
.crm_proDiff3{
	width:311px;
	height:111px;
	float:left;
	margin-top:10px;
	}
.crm_proDiff4{
	width:311px;
	height:111px;
	float:right;
	margin-top:10px;
}
.crm_promotion_tit2{
	width:178px;
	height:24px;
	line-height: 24px;
	background:url(../../images/m/circle.png) left center no-repeat;
	font-size:18px;
	font-weight:bold;
	color:#ff8201;
	margin-top:20px;
	margin-left:14px;
	padding-left:12px;
	
	}
.crm_proFountion1{
	width:300px;
    height:78px;
	margin-top:10px;
	background:url(../../images/m/crm_proFountionbg.png) center center no-repeat;
	margin-right:auto;
	margin-left:auto;
}
.left1{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion1.png) center top no-repeat;
	background-size: 51px 41px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:38px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
	}
.right{
	width:222px;
	float:right;
	}
.rightContentTit1{
	width:221px;
	font-size:12px;
	color:#666666;
	border-bottom:1px dashed #898989;
	line-height:22px;
	float:right;
	margin-top:4px;
	margin-right:6px;
	}

.rightContentone{
	width:85px;
	height:17px;
	font-size:12px;
	color:#666666;
	background:url(../../images/m/circleh.png) left center no-repeat;
	float:left;
	padding-left:8px;
	margin-top:14px;
	margin-top:2px;
	}
.rightContenttwo{
	width:85px;
	height:17px;
	font-size:12px;
	color:#666666;
	background:url(../../images/m/circleh.png) left center no-repeat;
	padding-left:8px;
	float:right;
	margin-top:2px;
	}
.rightContentthree{
	width:85px;
	height:17px;
	font-size:12px;
	color:#666666;
	background:url(../../images/m/circleh.png) left center no-repeat;
	padding-left:8px;
	float:left;
	margin-top:2px;
	}
.butcheng{
	width:60px;
	height:20px;
	display:inline-block;
	font-size:12px;
	color:#ffffff;
	text-align:center;
	background-color:#fe8101;
	float:right;
	margin-right:14px;
	margin-top:4px;
	line-height:18px;
	}
.crm_proFountion2{
	width:300px;
    height:79px;
    background:url(../../images/m/crm_proFountionbg.png) center center no-repeat;
	margin-right:auto;
	margin-left:auto;
	margin-top:6px;
}
.left2{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion2.png) center top no-repeat;
	background-size: 40px 35px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:38px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
	}
.left3{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion3.png) center top no-repeat;
	background-size: 36px 38px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:38px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
	}
.left4{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion4.png) center top no-repeat;
	background-size: 29px 33px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:38px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
	
	}
.left5{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion5.png) center top no-repeat;
	background-size: 38px 34px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:42px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
	}
.left6{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion6.png) center top no-repeat;
	background-size: 38px 34px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:38px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
}
.left7{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion7.png) center top no-repeat;
	background-size: 35px 31px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:42px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
}
.left8{
	width:61px;
	float:left;
	background:url(../../images/m/crm_proFountion8.png) center top no-repeat;
	background-size: 38px 32px;
	font-size:12px;
	font-weight:bold;
	color:#5792e2;
	padding-top:42px;
	text-align:center;
	margin-left:6px;
	margin-top:10px;
}
.crm_promotion_tit3{
	width:200px;
	height:24px;
	line-height: 24px;
	background:url(../../images/m/circle.png) left center no-repeat;
	font-size:18px;
	font-weight:bold;
	color:#ff8201;
	margin-top:10px;
	margin-left:14px;
	padding-left:12px;
	}
.RectangularOne{
	width:154px;
	height:86px;
	float:left;
	background-color:#55cbd5;
}
.rec-con{
	width:308px;
	margin:15px auto 0px;
}
.title_1{
	width:138px;
	text-align:center;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
	border-bottom:1px dashed #FFFFFF;
	line-height:20px;
	margin:0 auto;
}
.title_1_Content{
	font-size:12px;
	color:#FFFFFF;
	margin-left:8px;
	line-height:16px;
	}
.RectangularTwo{
	width:154px;
	height:86px;
	float:right;
	background-color:#fd7873;
}
.RectangularThree{
	width:154px;
	height:86px;
	float:left;
	background-color:#e56699;
	}
.RectangularFour{
	width:154px;
	height:86px;
	float:right;
	background-color:#2391ea;
	}
.RectangularFive{
	width:154px;
	height:86px;
	float:left;
	background-color:#4b54b8;
	}
.RectangularSix{
	width:154px;
	height:86px;
	float:right;
	background-color:#d53978;
}
.RectangularSeven{
	width:154px;
	height:86px;
	float:left;
	background-color:#42c3ed;
	}
.RectangularEight{
	width:154px;
	height:86px;
	float:right;
	background-color:#f89e56;
}
.RectangularNine{
	width:154px;
	height:86px;
	float:left;
	background-color:#9360fc;
	}
.RectangularTen{
	width:154px;
	height:86px;
	float:right;
	background-color:#5f71fc;
}
.Rectsubline{
	width:308px;
	height: 1px;
	margin:20px auto;
	border-bottom: 1px dashed #898989;
}
.Recttab{
	width:308px;
	height: 234px;
	margin: 0 auto 20px;
	border-bottom: 1px dashed #898989;
}
.Rt-head{
	width: 100%;
	height: 30px;
}
.Rth-item{
	width:154px;
	height: 30px;
	line-height: 30px;
	font-size:14px;
	color:#333;
	text-align: center;
	font-weight: bold;
	float: left;
	background: #f3f2fe;
	cursor: pointer;
}
.Rth-on{
	color:#fff;
	background: #f00;
}
.Rt-con{
	width:308px;
	height: 194px;
}
.Rtcon-item{
	padding-left:3px;
	width: 305px;
	height: 194px;
}
.rti-left{
	width:142px;
	height: 50px;
	float: left;
	margin-top: 10px;
}
.rti-right{
	width:142px;
	height: 50px;
	float: left;
	margin-top: 10px;
	margin-left:18px;
}
.rti-tit{
	font-size:12px;
	color:#333;
	text-align: center;
	margin-top: 15px;
}
.rti-item1{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu1.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item2{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu2.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item3{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu3.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item4{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu4.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item5{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu5.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item6{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu6.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item7{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu7.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
.rti-item8{
	width:54px;
	height: 54px;
	background: url(../../images/m/crm_proSolu8.png) center center no-repeat;
	float: left;
	text-align: center;
	line-height: 54px;
	font-size: 12px;
	color:#fefdfd;
	margin: 16px 10px;
}
